<div class="container-fluid">
    <div class="page-header">
        <h1>Storage</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
        <div class="col-md-offset-6 col-md-3">
            <span class="pull-right">
                <button class="btn btn-primary btn-lg" ng-click="storages.create()">Add Storage</button>
            </span>
        </div>
    </div>
    <div class="row blade-view" ng-repeat="storage in storages.list | filter:search">
        <div class="col-md-2 col-sm-4">
            <div class="row">
                <div class="col-md-1 vertical-line-for-assigned">
                    <span class="vertical-text-for-assigned">ceph</span>
                </div>
                <div class="col-md-offset-1 col-md-10 set-top-margin pull-right">
                    <div>
                        <div class="heading" ng-bind="storage.name"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 set-top-margin">
            <div class="sub-heading">Cluster</div>
            <div class="cluster_name" ng-bind="storages.getClusterName(storage.clusterid)"></div>
        </div>
        <div class="col-md-2 col-sm-3 set-top-margin">
            <div class="sub-heading">Type</div>
            <div class="cluster_name">{{storage.type}}</div>
        </div>
        <div class="col-md-2 col-sm-3 set-top-margin">
            <div class="sub-heading">Storage Profile</div>
            <div class="cluster_name">SAS</div>
        </div>
        <div class="col-md-1 col-sm-4 set-top-margin">
            <div class="sub-heading">Size</div>
            <div class="cluster_name">{{storages.getFormatedSize(storage.size)}}</div>
        </div>
        <div class="col-md-2 col-sm-2 set-top-margin">
            <div class="sub-heading">Alerts</div>
            <div class="sub-heading">
                <span>0</span>
                <i class="fa fa-2x set-margin" ng-class="storage.alerts>0?'fa-times-circle critical':'fa-check-circle-o ok'"></i>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 set-top-margin">
            <a class="pull-right add-cursor-pointer" data-animation="am-flip-x" data-template="views/storage/object/objectstorage-list-actions.tpl.html"
            bs-dropdown="ellipsis">
          <i class="fa fa-ellipsis-v fa-4x elipsis-color"></i>
        </a>
        </div>
    </div>
</div>
