<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#/storage">Storage</a></li>
        <li>Pools</li>
    </ol>
    <div class="page-header">
        <h1>Pools</h1>
    </div>
    <div class="row form-group" ng-if="storages.list.length > 0">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
        <div class="col-md-6">
            <ul>
                <span class="list-inline" ng-repeat="(key, value) in storages.paramsObject">
                    <li ng-if="storages.isArray(value)" ng-repeat="subdata in value">
                        <span class="label label-info">
                        {{key}} : {{subdata}}
                         <a href="" ng-click="storages.clearSearchQuery(key,$index)"><span class="pficon pficon-close cross-button"></span></a>
                        </span>
                    </li>
                    <li ng-if="!storages.isArray(value)">
                        <span class="label label-info">
                        {{key}} : {{value}}
                         <a href="" ng-click="storages.clearSearchQuery(key,null)"><span class="pficon pficon-close cross-button"></span></a>
                        </span>
                    </li>
                </span>
            </ul>
        </div>
        <div class="col-md-3">
            <span class="pull-right">
                <button class="btn btn-primary btn-lg" ng-click="storages.create()">Add Storage</button>
            </span>
        </div>
    </div>
    <center ng-if="storages.clusters.length > 0 && storages.list.length == 0">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="fa fa-database"></i>
            </div>
            <h1>Add Storage Pools</h1>
            <p> There are no storage pools currently defined. Click Add Storage to create RADOS object storage.</p>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" ng-click="storages.create()">
                Add Storage
                </button>
            </div>
        </div>
    </center>
    <center ng-if="storages.clusters.length == 0">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="fa fa-database"></i>
            </div>
            <h1>Add Storage Pools</h1>
            <p> There are currently no Ceph clusters defined. Storage pools must be added to an existing cluster.</p>
            <p> Start by creating or importing a cluster.</p>
            <p> You may return here to add more pools after the cluster is created.</p>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" ng-click="storages.createCluster()">
                Create Cluster
                </button>
            </div>
        </div>
    </center>
    <div class="list-group list-view-pf storage-list">
        <div class="list-group-item listview list-view-pf-stacked" ng-repeat="storage in storages.list | filter:search">
            <div class="list-view-pf-actions">
                <div class="dropdown pull-right dropdown-kebab-pf">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight-{{$index}}" bs-dropdown="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                        <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownKebabRight-{{$index}}">
                        <li><a ng-click="storages.remove(storage)">Remove</a></li>
                        <li><a ng-click="(storages.edit(storage))" >Edit</a></li>
                    </ul>
                </div>
            </div>
            <div class="list-view-pf-main-info pool-list-main-info">
                <div class="list-view-pf-left">
                    <label class="pficon pficon-running" ng-if="storage.status !== 0"></label>
                    <label class="pficon pficon-ok" ng-if="storage.status === 0"></label>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-additional-info justify-equal-space-around">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <div>
                            <p>
                                <strong ng-bind="storage.name"></strong>
                                <small> on</small>
                                <strong ng-bind="storages.getClusterName(storage.clusterid)"></strong>
                            </p>
                        </div>
                        <div class="list-group-item-text">
                            <span ng-if="storage.type === 'erasure_coded'">Erasure Coded</span>
                            <span ng-if="storage.type === 'replicated'">Standard</span>
                        </div>
                    </div>

                        <div class="list-view-pf-additional-info-item">
                            <c3chart bindto-id="donut-pool-usage-chart-{{$index}}">
                                <chart-column column-id="Free" column-values="{{100 - storage.usage.percentused | number:1}}" column-color="#CCCCCC" column-type="donut"
                                />
                                <chart-column column-id="Using" column-values="{{storage.usage.percentused | number:1}}" column-color="{{storage.usage.percentused >= 90 ? '#CC0000' : storage.usage.percentused >= 80 ? '#EC7A08' : '#3F9C35'}}"
                                column-type="donut" />
                                <chart-donut title="{{storage.usage.percentused | number:1}}%" width="5" show-label="false" />
                                <chart-legend show-legend="false"></chart-legend>
                                <chart-size chart-height="80"></chart-size>
                                <chart-tooltip show-tooltip="false"></chart-tooltip>
                            </c3chart>
                            <div ng-class="{'overlap-donut-left' : (storage.usage.total > 0)}">
                            <strong ng-bind=" storage.usage.used | bytes "></strong> of {{ storage.usage.total | bytes }}
                            used
                            </div>
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Replicas</strong>{{storage.replicas }}
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>OSDs</strong>{{storage.slus.length }}
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>PGs</strong>{{storage.options1.pg_num }}
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Quotas</strong>
                            <span ng-if="storage.quota_enabled">
                                <span ng-if="storage.quota_params.quota_max_bytes !== undefined">{{storage.quota_params.quota_max_bytes | bytes}}</span>
                                <span ng-if="storage.quota_params.quota_max_bytes !== undefined && storage.quota_params.quota_max_objects !== undefined">, </span>
                            <span ng-if="storage.quota_params.quota_max_objects !== undefined">{{storage.quota_params.quota_max_objects}} objects</span>
                            </span>
                            <span ng-if="!storage.quota_enabled">Disabled</span>
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Alerts</strong>
                            <p class="alert-count">
                                <a ng-href="#/events?searchmessage={{storage.name}} on {{storages.getClusterName(storage.clusterid)}}"  ng-if="(storage.almwarncount + storage.almcritcount) > 0">{{storage.almwarncount + storage.almcritcount}}</a>
                                <span class="pficon" ng-class="(storage.almwarncount + storage.almcritcount)>0? ((storage.almcritcount > 0)?'pficon-error-circle-o' : 'pficon-warning-triangle-o' ):'pficon-ok'"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listing"  ng-show="storage.storageid==storages.editPool.storageid">
                <form class="form-horizontal close_icon">
                    <div class = "content-thirty">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Pool Name</label>
                            <div class="col-md-5">
                                <input type= "text" id="poolName" class="form-control" ng-model= "storages.editPool.name"></input>
                            </div>
                        </div>
                        <div class="form-group" ng-show="storages.editPool.type === 'erasure_coded'">
                            <label class="col-md-5 control-label">EC profile</label>
                            <div class="col-md-5" >
                                <select pf-select ng-model="storages.editPool.options.ecprofile" id="ecprofile" class="form-control"
                                ng-options="ecprofile.value for ecprofile in storages.ecprofiles"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="storages.editPool.type === 'replicated'">
                            <label class="col-md-5 control-label">Replicas</label>
                            <div class="col-md-5" >
                                <input type="number" id="replicas" class="form-control" ng-model = "storages.editPool.replicas" min="1" max="5" required></input>
                            </div>
                        </div>
                    </div>
                    <div class = "content-sixty">
                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="quotas" ng-model="storages.editPool.quota_enabled">Enable Quotas</input>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="quotaMaxPercentage" ng-model="storages.enable_max_percentage"
                                        ng-disabled="!storages.editPool.quota_enabled">Max percentage used</input>
                                    </label>
                                </div>
                            </div>
                            <div class= "col-md-3">
                                 <div class="input-group">
                                    <input type="number" id="quotaPercentageValue" class="form-control"
                                    ng-model="storages.maxPercentage" ng-disabled="!storages.enable_max_percentage" min= "1" max="100" ></input>
                                    <span class="input-group-addon">%</span>
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="quotaMaxObjects" ng-model="storages.enable_quota_max_objects"
                                        ng-disabled="!storages.editPool.quota_enabled">Max number of objects</input>
                                    </label>
                                </div>
                            </div>
                            <div class ="col-md-3">
                                    <input type="number" id="quotasMaxObjectsValue" class="form-control"
                                    ng-model="storages.editPool.quota_params.quota_max_objects"
                                    ng-disabled="!storages.enable_quota_max_objects" min="1" ></input>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="fa fa-2x fa-check" ng-click="storages.update(storage);storages.editPool.storageid=undefined;" data-toggle="tooltip" title="save">
                        </a>&nbsp;&nbsp;
                        <a class="pficon fa-2x pficon-close" ng-click="storages.editPool.storageid=undefined" data-toggle= "tooltip" title="close">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>