    <div class="form-body">
        <form name="storage.form" class="form-horizontal" ng-if="!storage.summary" novalidate>
            <!-- General Configuration -->
            <div class="form-group" ng-class="{'has-error': storage.form.poolName.$dirty && storage.form.poolName.$error.required}">
                <label class="col-md-2 control-label">Pool Name</label>
                <div class="col-md-2">
                    <input type="text" id="poolName" name="poolName" class="form-control" ng-model="storage.name" required></input>
                </div>
                <div class="col-md-3">
                    <span class="help-block" ng-if="storage.form.poolName.$dirty && storage.form.poolName.$error.required">Pool Name cannot be empty</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': storage.form.poolsToCreate.$error.min}" ng-if="storage.poolWithRbd != 'true'">
                <label class="col-md-2 control-label">Pools to Create</label>
                <div class="col-md-2">
                    <input type="number" id="poolsToCreate" name="poolsToCreate" class="form-control" ng-model="storage.count" min="1" required></input>
                </div>
                <div class="col-md-3">
                    <span class="help-block" ng-if="storage.form.poolsToCreate.$error.min">The value cannot be lesser than 1</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="type">Type</label>
                <div class="col-md-2">
                    <select pf-select ng-model="storage.type" id="type" class="form-control" ng-options="type for type in storage.types"></select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': storage.form.replicas.$error.min || storage.form.replicas.$error.max}" ng-if="storage.type === 'Standard'">
                <label class="col-md-2 control-label">Replicas</label>
                <div class="col-md-2">
                    <input type="number" id="replicas" name="replicas" class="form-control" ng-model="storage.replicas" min="1" max="5" required></input>
                </div>
                <div class="col-md-3">
                    <span class="help-block" ng-if="storage.form.replicas.$error.min || storage.form.replicas.$error.max">The value must be in range 1 to 5</span>
                </div>
            </div>
            <div class="form-group" ng-if="storage.type === 'Erasure Coded'">
                <label class="col-md-2 control-label">EC Profile</label>
                <div class="col-md-2">
                    <select pf-select ng-model="storage.ecprofile" id="ecprofile" name="ecprofile" class="form-control" ng-options="ecprofile.text for ecprofile in storage.ecprofiles"></select>
                </div>
                <div class="col-md-3">
                    <em>{{storage.ecprofile.k}} Chunks of data; can loose up to {{storage.ecprofile.m}} <ng-pluralize count="storage.ecprofile.m" when="{'1': 'host', 'other': 'hosts'}"></ng-pluralize>
                    </em>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="profile">Storage Profile</label>
                            <div class="col-md-2">
                                <select pf-select ng-model="storage.profile" id="profile" class="form-control" ng-options="profile.name for profile in storage.profiles" ng-change="storage.changeStorageProfile(storage.profile)"></select>
                            </div>
                            <div class="col-md-8">
                                <p class="form-control-static">{{storage.slusFiltered.length}} OSDs</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': storage.form.pgs.$error.min}">
                            <div class="col-md-offset-2 col-md-10">
                                <p class="text-info">
                                    <strong>Note:</strong>&nbsp;Be aware that the PG count per pool value is critical for cluster performance and stability. Please visit the Ceph PGs per Pool Calc tool to better understand what value should be used.</p>
                            </div>
                            <label class="col-md-2 control-label" for="profile">Placement Groups</label>
                            <div class="col-md-2">
                                <input type="number" id="pgs" name="pgs" class="form-control" ng-model="storage.pgs" min="0" required></input>
                            </div>
                            <div class="col-md-3">
                                <span class="help-block" ng-if="storage.form.pgs.$error.min">The value cannot be less than 0</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End: General Configuration -->
            <!-- Quotas -->
            <div class="form-group">
                <div class="col-md-12">
                    <h5>
                        <i class="fa fa-angle-down" style="min-width:10px;" ng-show="storage.expandQuotas"></i>
                        <i class="fa fa-angle-right" style="min-width:10px;" ng-show="!storage.expandQuotas"></i>
                        <a href="" ng-click="storage.expandQuotas=!storage.expandQuotas">Quotas</a>
                    </h5>
                </div>
                <div class="col-md-12" ng-show="storage.expandQuotas">
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="storage.quota.enabled" id="quotas">Enable Quotas</input>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (storage.form.quotaPercentageValue.$error.min || storage.form.quotaPercentageValue.$error.max)}">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="storage.quota.percentage.enabled" id="quotaMaxPercentage" ng-disabled="!storage.quota.enabled">Max percentage used</input>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" id="quotaPercentageValue" class="form-control" name="quotaPercentageValue" ng-model="storage.quota.percentage.value"
                                ng-disabled="!storage.quota.percentage.enabled" min="1" max="100"></input>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span>{{storage.getQuotaPercentageSize(storage.quota.percentage.value) | bytes}} of {{storage.getQuotaTotalSize() | bytes}}</span>
                        </div>
                        <div class="col-md-offset-2 col-md-5">
                            <span class="help-block" ng-if="storage.form.quotaPercentageValue.$error.min || storage.form.quotaPercentageValue.$error.max">The value must be in range 1 to 100.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': storage.form.quotasMaxObjectsValue.$error.min}">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="storage.quota.objects.enabled" id="quotaMaxObjects" ng-disabled="!storage.quota.enabled">Max number of objects</input>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="number" id="quotasMaxObjectsValue" name="quotasMaxObjectsValue" class="form-control" ng-model="storage.quota.objects.value"
                            ng-disabled="!storage.quota.objects.enabled" min="1"></input>
                        </div>
                        <div class="col-md-offset-2 col-md-5">
                            <span class="help-block" ng-if="storage.form.quotasMaxObjectsValue.$error.min">The value must be in greater than 0.</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Quotas -->
        </form>
        <div ng-show="storage.summary">
            <strong>Pools to create on {{storage.cluster.name}}</strong>
            <div class="row">
                <div class="col-md-12">
                    <div class="storage-pool" ng-repeat="pool in storage.pools">
                        <div class="row">
                            <div class="col-md-2">
                                <strong class="title">Name</strong>
                                <div class="value">{{pool.name}}</div>
                            </div>
                            <div class="col-md-2">
                                <strong class="title">Type</strong>
                                <div class="value">{{pool.type}}</div>
                            </div>
                            <div class="col-md-2">
                                <strong class="title">Storage Profile</strong>
                                <div class="value">{{pool.profile.name}}</div>
                            </div>
                            <div class="col-md-1" ng-if="pool.type === 'Standard'">
                                <strong class="title">Replicas</strong>
                                <div class="value">{{pool.replicas}}</div>
                            </div>
                            <div class="col-md-1" ng-if="pool.type === 'Erasure Coded'">
                                <strong class="title">EC Profile</strong>
                                <div class="value">{{pool.ecprofile.text}}</div>
                            </div>
                            <div class="col-md-2">
                                <strong class="title">Optimized For</strong>
                                <div class="value">{{pool.capacity | bytes}}</div>
                            </div>
                            <div class="col-md-1">
                                <strong class="title">OSDs</strong>
                                <div class="value">{{storage.slusFiltered.length}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <strong class="title">Journal</strong>
                                <div class="value">Optimized
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-lg btn-primary" ng-click='storage.prepareSummary()' ng-if="!storage.summary"
        ng-disabled="storage.form.$invalid">Next</button>
        <button type="button" class="btn btn-lg btn-primary" ng-click='storage.submit()' ng-if="storage.summary">Submit</button>
        <button type="button" class="btn btn-lg btn-default" ng-click='storage.cancel()'>Cancel</button>
    </div>