<div ng-if="!isNavigationShow" class="centerLoading"></div>
<div ng-if="isNavigationShow" class="tendrl-pool-list-view-container container-fluid">
    <h1 class="bold-text">Pools</h1>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select ng-init="poolCntrl.filterBy = 'name'" ng-disabled="poolCntrl.poolList.length === 0" ng-model="poolCntrl.filterBy" class="btn btn-default dropdown-toggle" ng-change="poolCntrl.searchBy = {}">
                                <option value="name">Name</option>
                                <option value="clusterName">Cluster Name</option>
                                <option value="">Status</option>
                                <option value="">Type</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" id="filter" ng-model="poolCntrl.searchBy[poolCntrl.filterBy]" placeholder="Filter By {{poolCntrl.filterBy}}...">
                    </div>
                </div>
                <div class="form-group sorting-section">
                    <div class="dropdown btn-group">
                        <select ng-init="poolCntrl.orderBy = 'name'" ng-model="poolCntrl.orderBy" ng-disabled="poolCntrl.poolList.length === 0" ng-change="poolCntrl.displayArg()">
                            <option value="name" class="selected">Name</option>
                            <option value="">Utilization</option>
                            <option value="clusterName" class="selected">Cluster Name</option>
                            <option value="">Status</option>
                        </select>
                    </div>
                    <button ng-init="poolCntrl.ascOrder = ''" ng-disabled="poolCntrl.poolList.length === 0" class="btn btn-link" type="button">
                        <span ng-if="poolCntrl.ascOrder !== ''" class="fa fa-sort-alpha-desc" ng-click="poolCntrl.ascOrder = ''"></span>
                        <span ng-if="poolCntrl.ascOrder !== '-'" class="fa fa-sort-alpha-asc" ng-click="poolCntrl.ascOrder = '-'"></span>
                    </button>
                </div>
                <div class="toolbar-pf-action-right">
                    <div class="form-group toolbar-pf-view-selector">
                        <div class="row">
                            <div class="col-md-6">
                                <button ng-if="clusterId.length>0" class="btn btn-primary  pull-right" ng-click="poolCntrl.createPool()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>{{poolCntrl.filteredPoolList.length}} Pools</h5>
                </div>
            </div>
        </div>
    </div>
    <center ng-if="poolCntrl.poolList.length === 0">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-resource-pool"></i>
            </div>
            <h1>No Pools Detected.</h1>
            <p>Pools are detected when you <a ui-sref="import-cluster">create or import a cluster</a></p>
            <p>If you have already cluster created or imported and still do not see Pools, make sure the Pools are configured correctly.
            </p>
        </div>
    </center>
    <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="pool in poolCntrl.filteredPoolList = (poolCntrl.poolList | filter: poolCntrl.searchBy | orderBy: poolCntrl.ascOrder + poolCntrl.orderBy)">
        <div class="list-group-item">
            <div class="list-view-pf-left col-md-1">
                {{pool.status}}
            </div>
            <div class="col-md-1 text-center bold-text pool-name">{{pool.name}}</div>
            <div class="col-md-3">
                {{pool.utilization}}
            </div>
            <div class="col-md-1">
                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">Cluster</div>
                    <h5 class="pull-left counts cluster-name">{{pool.clusterName}}</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">Replicas</div>
                    <h5 class="pull-left">{{pool.replicaCount}}</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">OSDs</div>
                    <h5 class="pull-left counts">{{pool.osdCount}}</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">PGs</div>
                    <h5 class="pull-left">{{pool.pgCount}}</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">Quotas</div>
                    <h5 class="pull-left">{{pool.quotas}}</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">Alerts</div>
                    <h5 class="pull-left counts">{{pool.alertCount}}</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="list-view-pf-actions">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight12">
                            <li><a>Edit</a></li>
                            <li><a>Grow PGs</a></li>
                            <li><a>Remove</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 horizontal-line"></div>
    </div>
</div>
