.tendrl-pool-list-view-container {
    .bold-text {
        font-weight: bold;
    }

    .sorting-section {
        border-right: none;
    }

    .cluster-name {
        color: $color-boston-blue;
        text-transform: capitalize;
    }

    .pool-name {
        text-transform: capitalize;
    }

    .list-group {
        margin-bottom: 0px;
    }
    
}