<div class="wizard-step-view">
  <form name="form" class="form-horizontal" novalidate>

    <div class="form-group">
      <label class="col-md-2 control-label" for="cluster">Cluster</label>
      <div class="col-md-4">
        <p ng-bind="volume.cluster_name" id="cluster" class="form-control-static"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="volumeName">Name</label>
      <div class="col-md-4">
        <p id="volumeName" name="volumeName" class="form-control-static" ng-bind="volume.name"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="copyCount">No.of Copies</label>
      <div class="col-md-4">
        <select pf-select ng-model="volume.copyCount" id="" class="form-control" ng-options="copyCount for copyCount in volume.copyCountList" ng-change="">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="targetSize">Expand Size</label>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" id="textInput" name="targetSize" class="form-control" ng-model="volume.targetSize" ng-change="volume.calculateCapacity()"></input>
          <div class="input-group-btn">
            <select pf-select ng-model="volume.targetSizeUnit" id="targetSizeUnit" class="form-control form-size-selector" ng-options="
            targetSizeUnit.unit for targetSizeUnit in volume.targetSizeUnits" ng-disabled="true"></select>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="form-group">
      <label class="col-md-2 control-label" for="tier">Storage Tier</label>
      <div class="col-md-4">
        <select pf-select ng-model="volume.tier" id="tier" class="form-control" ng-options="tier.type for tier in volume.tierList">
        </select>
      </div>
    </div> -->
    
    <div class="form-group">
      <label class="col-md-2 control-label">Current Size</label>
      <div class="col-md-4">
        <div class="progress-description">
          {{volume.capacity.totalFormatted}} &nbsp;
          <span class="text-muted">{{volume.capacity.percentage}}% used</span>
        </div>
      </div>
    </div>
   
    <div class="form-group">
      <label class="col-md-2 control-label">New Size</label>
      <div class="col-md-4">
        <div class="progress-description">
          {{volume.newcapacity.totalFormatted}} &nbsp;
          <span class="text-muted">{{volume.newcapacity.percentage}}% used</span>
        </div>
        <div class="progress volume-size-progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': volume.newcapacity.percentage + '%', 'background-color': volume.getCapacityProgressColor(volume.newcapacity.percentage)}">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
