<div class="wizard-step-view">
  <form name="form" class="form-horizontal" novalidate>

    <div class="form-group">
      <label class="col-md-2 control-label" for="cluster">Cluster</label>
      <div class="col-md-4">
        <select pf-select ng-model="volume.cluster" id="cluster" class="form-control" ng-options="cluster.cluster_name for cluster in volume.clusters" ng-change="volume.calaculateClusterFreeSpace()">
        </select>
      </div>
      <div class="col-md-2">
        <div class="volume-cluster-capacity">
          {{volume.cluster.capacity.free}} {{volume.cluster.capacity.unit}} is available
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="textInput">Name</label>
      <div class="col-md-4">
        <input type="text" id="textInput" name="volumeName" class="form-control" ng-model="volume.name"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="textInput">Type</label>
      <div class="col-md-4">
        <div class="btn-group volume-type-btn-group" ng-model="volume.type" bs-radio-group>
          <label class="btn volume-type-btn" ng-class="volume.type === 1 ? 'btn-primary' : 'btn-default'">
            <input type="radio" name="mirrored" value="1">  Mirrored </input>
          </label>
          <label class="btn volume-type-btn" ng-class="volume.type === 2 ? 'btn-primary' : 'btn-default'">
            <input type="radio" name="tiered" value="2"> Tiered </input>
          </label>
          <label class="btn volume-type-btn" ng-class="volume.type === 3 ? 'btn-primary' : 'btn-default'">
            <input type="radio" name="erasure-coded" value="3"> Erasure Coded </input>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="targetSize">Size</label>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" id="textInput" name="targetSize" class="form-control" ng-model="volume.targetSize" ng-disabled="volume.maxAvailableSpace"></input>
          <div class="input-group-btn">
            <select pf-select ng-model="volume.targetSizeUnit" id="targetSizeUnit" class="form-control form-size-selector" ng-options="targetSizeUnit.unit for targetSizeUnit in volume.targetSizeUnits" ng-disabled="volume.maxAvailableSpace">
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="maxAvailableSpace" ng-model="volume.maxAvailableSpace"></input>
            Maximum size available
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
