<div class="wizard-pf-contents" ng-if="createRBDCntrl.step === 1">
    <form class="form-horizontal">
        <!-- replacing id with data-id to pass build errors -->
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="rbdName">RBD Name</label>
            <div class="col-sm-8 col-md-3">
                <input type="text" data-id="rbdName" class="form-control" name="rbdName" ng-model="createRBDCntrl.rbdName" ng-change="createRBDCntrl.updateRBDName()">
                <span ng-if="!createRBDCntrl.rbdName.length" class="error-msg">* RBD name is required</span>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 col-md-2 control-label" for="rbd-count">RBDs to Create</label>
            <div class="col-sm-4 col-md-2">
                <input type="number" data-id="rbd-count" min=1 max=10 class="form-control" ng-model="createRBDCntrl.rbdCount" ng-change="createRBDCntrl.updateRBDName()" required>
            </div>
            <div class="col-sm-6 col-md-8">
                <span ng-repeat="name in createRBDCntrl.rbdNames">{{name}}
                    <span ng-if="$index !== (createRBDCntrl.rbdNames.length-1)">,</span>
                </span>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 col-md-2 control-label" for="cluster-name">Cluster Name</label>
            <div class="col-sm-8 col-md-3">
                <select data-ng-options="cluster.name for cluster in createRBDCntrl.clusterList | filter:cluster.sds_name ='ceph'" data-ng-model="createRBDCntrl.selectedCluster" class="form-control" data-id="cluster-name"></select>
            </div>
            <div class="col-sm-2 col-md-2">
                <span>{{createRBDCntrl.selectedCluster.utilization.available | bytes }} available</span>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 col-md-2 control-label" for="target-size">Target Size</label>
            <div class="col-sm-5 col-md-2">
                <input type="number" data-id="target-size" ng-model="createRBDCntrl.targetSize" class="form-control">
            </div>
            <div class="col-sm-2 col-md-1">
                <select data-ng-options="unit for unit in createRBDCntrl.sizeUnits" data-ng-model="createRBDCntrl.selectedUnit" class="form-control"></select>
            </div>
            <div class="col-sm-3 col-md-3" ng-if="createRBDCntrl.targetSize && createRBDCntrl.rbdCount">
                <span>{{createRBDCntrl.targetSize * createRBDCntrl.rbdCount}} {{createRBDCntrl.selectedUnit}} needed ({{createRBDCntrl.rbdCount}} RBDs at {{createRBDCntrl.targetSize}} {{createRBDCntrl.selectedUnit}} each)</span>
            </div>
        </div>
        <div class="form-group" ng-if="createRBDCntrl.isSizeGreater()">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-md-6">
                <span class="pficon pficon-warning-triangle-o"></span> Storage needed exceeds the amount of storage available in this cluster
            </div>
        </div>
    </form>
</div>