<div class="tendrl-cluster-container container-fluid">
    <div class="page-header">
        <div class="col-md-3 pull-right">
        	<div class="row">
        		<div class="col-md-6">
        			<button class="btn btn-primary pull-right" ng-click="cluster.importCluster()">Import</button>
        		</div>
        		<div class="col-md-6">
        			<input type="text" class="form-control" placeholder="Search" ng-model="cluster.search">
        		</div>
        	</div>
        </div>
        <h1>Clusters</h1>
    </div>
</div>