.tendrl-import-cluster-modal {

	.content {
		margin-top: 20px;
	}

	.center-content {
		text-align: center;
		margin-top: 20px;
	}

	.paragraph-content {
		margin-top: 20px;
		margin-left: 20px;
	}

}

