//@import 'compass/css3/box-shadow';
@import 'modules/usm_colors';

.cluster-configuration {
    .journal-size-value{
        width: 55px;
    }
    .journal-size-unit{
        min-width: 60px;
        float: right;
        margin-left: 2px
    }
}
.cluster-hosts-panel {
    &:after {
        display: block;
        content: "";
        background: #ccc;
        position: relative;
        height: 2px;
        margin: 35px 20px 0px 20px;
    }
}

.cluster-hosts-panel .avaliable-hosts-count {
    font-weight: 600;
}

.cluster-add-host-row {
    background-color: lightgrey;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}

.available-hosts-list {
    .host-row {
        //@include box-shadow(1px 1px 3px black);
        box-shadow:1px 1px 3px black;
        margin: 5px 0px;
        padding: 5px;
        border-radius: 2px;

        &:hover {
            background-color: #D5ECF9;
            border-bottom-color: #A7CADF;
        }
    }

    .host-col-middle {
        margin-top: 10px;
        text-align: center;
    }

    .host-col-host-type {
        min-width: 120px;
    }

    .host-col-select {
        color: #267DA1;
    }
}

.cluster-summary {
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    border: 1px solid #e3e3e3;
    margin-right: -20px;

    @media (min-width: 768px) {
        .dl-horizontal dt {
            width: 100px;
        }

        .dl-horizontal dd {
            margin-left: 120px;
        }
    }
}

.cluster-volumes-panel {
    &:after {
        display: block;
        content: "";
        background: #ccc;
        position: relative;
        height: 2px;
    }
}

.table-volumes {
    margin-top: 5px;
}

.create-cluster-progress {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 12px;
}

.error-msg-color {
    color: #c00;
}

.networks {
    margin-top: 20px;
    .header {
        font-size: 13px;
    }
}
