.cluster-detail {
    .row {
        margin: 0px;
    }
    .vertical-bar-cluster-name {
        width: 10px;
        background-color: red;
        transform-origin: left bottom 0;
        float: left;
        width: 20px;
        background-color: gray;
        margin: -20px;
        color: #fff;
        vertical-align: middle;
        line-height: 1em;
        padding: 5px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        text-transform: uppercase;
        word-wrap: break-word;
    }
    .dashboard {
        margin-left: -20px;
        padding-left: 10px;
        padding-right: 0px;
        margin-right: -20px;
        margin-top: -10px;
        padding-top: 10px;
    }
    .title{
      font-size:16px;
      display:block;
      font-weight: 600;
    }
    .card-box {
        margin: 10px 10px 0px 10px;
        background-color: #f5f5f5;
        border: solid 1px #ccc;
    }
    .left-align {
        text-align: left;
        padding-left: 40px;
    }
    .card {
        box-shadow: 2px 2px 2px #c5c5c5;
        background-color: #fff;
        margin: 10px 10px 0 10px;
        padding: 20px;
        overflow:auto;
        border-radius: 5px;
    }
    .equal-space {
      margin: 10px 10px 0px 0px;
    }
    .center-content {
        text-align: center;
    }
    .left-content {
        text-align: left;
    }
    .card-content {
        font-size: 20px;
        padding-top: 10px;
        height: 35px;
    }
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .border-right {
        border-right: solid 1px lightgray;
    }
    .border-left {
        border-left: solid 1px lightgray;
    }
    .border-bottom {
        border-bottom: solid 1px lightgray;
    }
    .noborder {
        border: none;
    }
    .vertical-center {
        vertical-align: middle;
    }
    .subline {
        font-size: 14px;
        padding: 5px 0px;
    }
    .dashboard .title,
    .card-title {
        font-size: 16px;
    }
    .pad-me {
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-big-text {
        display: block;
        font-size: 20px;
    }
    .bold {
        font-weight: bold;
    }
    .cluster-name {
        font-weight: 400;
        font-size: 22px;
        margin-top: -10px;
    }
    .cluster-name-subline {
        font-size: 17px;
        font-weight: 400;
        padding-bottom: 15px;
    }
    .legend {
        font-weight: 600;
        font-size: 13px !important;
    }
    .rotate {
        float: left;
        font-size: 16px;
        font-weight: 600;
        margin-left: -31px;
        margin-top: 254px;
        transform: rotate(270deg)
    }
}
