.cluster-detail {

    .cluster-contain {
        margin-top: 0;
        padding-top: 20px;
    }

    .card-pf-title {
        margin:10px 0px !important;
    }

    .custom-breadcrumb {
        font-size: 20px;
    }

    .add-cursor-pointer {
       cursor: pointer;
    }

    .cluster-utilization {
        margin-top: 2%;
    }

    .utilization-align {
        text-align: -moz-left;
    }

    .status-notification {
        font-size: 15px;
    }

}
