.cluster-detail {

    .cluster-contain {
        margin-top: 0;
        padding-top: 20px;
    }

    .card-pf-title {
        margin:10px 0px !important;
    }

    .custom-breadcrumb {
        font-size: 17px;
        padding: 8px;
    }

    .add-cursor-pointer {
       cursor: pointer;
    }

    .cluster-utilization {
        margin-top: 2%;
    }

    .utilization-align {
        text-align: -moz-left;
    }

    .status-notification {
        font-size: 15px;
    }

    .margin-for-storage-profile {
        margin-top: 70px;
    }

    .trend-label-flat-pf {
        display: none !important;
    }

    .system-performance {
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .time-slot {
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .custom-height {
        min-height: 254px;
    }
}
