.dashboard {

    .dashboard-contain {
        margin-top: 0;
        padding-top: 10px;
    }

    .utilization {
        margin-top: 111px;
    }

    .status-notification {
        font-size: 15px;
    }

    .margin-for-storage-type {
        margin-top: 6%;
    }

    .margin-for-storage-profile {
        margin-top: 75px;
    }

    .main-contain {
        min-height: 896px;
    }

    .custom-height {
        min-height: 316px;
    }

    .indicator-for-clusters {
        margin-top: 46px;
        font-size: 14px;
        .lost-quorum {
            margin-top: 14px;
        }
    }

    .trend-label-flat-pf {
        display: none !important;
    }

    .system-performance {
        color: black;
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .time-slot {
        color: black;
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .add-cursor-pointer {
        cursor: pointer;
    }

    .common-card-height {
        min-height: 110px;
    }

    .dashboard-contain .progress-bar {
        line-height : 37px;
    }

    .dashboard-contain .progress-description {
        margin-bottom : -1px;
    }

    .cluster-info {
        margin-top: 70px;
    }

    .cluster-size-label {
        font-size: smaller;
    }

    .c3-chart-arcs-title{
    font-size:1.8em;
    }

}

