.dashboard {
    padding-bottom: 10px;
    margin-top: 0;
    .card-pf-heading {
        margin: 0 -20px -1px !important;
    }
    .table-content > tr {
        padding-top: 0px !important;
    }
    .card-pf-body {
        margin: 0px 0 !important;
    }
    .bold {
        font-weight: bold;
    }
    .dashboard-card-capacity {
        min-height: 470px;
        .capacity-info {
            text-align: center;
            margin-top: 30px;
            font-size: 11px;
        }
        .free-space-value {
            font-size: 30px;
            display: block;
        }
        .used-total-space {
            font-size: 15px;
            display: block;
        }
        .c3-chart-arcs-title {
            font-size: 18px;
        }
        .usage-trending {
            min-height: 80px;
            border-top: 1px solid #E0E0E0;
            font-size: 11px;
        }
        .usage-trending-content {
            min-height: 60px;
            display: block;
        }
        .usage-trending-footer {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}