.dashboard {

    .dashboard-contain {
        margin-top: 0;
        padding-top: 20px;
    }

    .card-pf-title {
        margin:10px 0px !important;
    }

    .utilization {
        margin-top: 2%;
    }

    .status-notification {
        font-size: 15px;
    }

    .margin-for-storage-type {
        margin-top: 6%;
    }

    .margin-for-storage-profile {
        margin-top: 11%;
    }

    .main-contain {
        min-height: 896px;
    }

    .custom-height {
        min-height: 254px;
    }

    .indicator-for-clusters {
        margin-top: 46px;
        font-size: 14px;
        .lost-quorum {
            margin-top: 14px;
        }
    }

    .trend-label-flat-pf {
        display: none !important;
    }

    .system-performance {
        color: black;
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .time-slot {
        color: black;
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .add-cursor-pointer {
        cursor: pointer;
    }

}
