.databox {
    display: inline-block;
    font-size: 0;
    margin-bottom: 30px;
    min-width: 130px;
    padding: 0;
    vertical-align: top;
    width: 100%;
    border-radius: 2px;
    box-shadow: 3px 3px 11px black;
    margin-top: 12px;
    background-color: #fff !important;
}

.databox .databox-right {
    color: #555;
    display: inline-block;
    margin: 0;
    padding: 10px 10px;
    position: relative;
    vertical-align: top;
    width: 100%;
    border-radius: 12px;
    text-align: center;
}

.databox .databox-right.bordered {
    border-left: 1px solid #fff;
}

.databox .databox-right.bordered-thick {
    border-left: 3px solid #fff;
}

.databox .databox-right[class*="bg-"] {
    color: #fff;
}

.databox .databox-number {
    display: block;
    font-size: 15px;
    line-height: 26px;
    margin: 2px;
    position: relative;
    color: #fb6e52 !important;
    word-wrap: break-word;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens:auto;
}

.databox .verified-col-icon {
    color: #3F9C35;
    font-size: 24px !important;
}

@media only screen and (max-width: 768px) {
    .scroll-for-smaller-screen {
        height: 218px;
        overflow: scroll;
        overflow-x: hidden;
    }
}
