.host-overview-detail {

    .custom-height {
        min-height: 97px;
    }

    .card-pf-title {
        margin:10px 0px !important;
    }

    .host-container {
        margin-top: 0;
        padding-top: 20px;
    }

    .status-notification {
        font-size: 15px;
    }

    .trend-label-flat-pf {
        display: none !important;
    }

    .system-performance {
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
        font-size: 16px;
    }

    .time-slot {
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .network-detail {
        margin-top: 26px;
        font-size: 15px;
        .network-detail-padding {
            padding: 6%;
        }
        .ip-address-detail {
            margin-top: -12px;
        }
    }

    .utilization-data-block {
        margin-top: 48px;
        margin-left: -40px;
    }

    .utilization-data-block .used-data-block {
        font-size: large;
    }

    .utilization-data-block .total-data-block {
        font-size: smaller;
    }

}