@import 'modules/angular-motion';
@import 'modules/angular-growl';
@import 'modules/c3';
@import 'modules/usm_colors';
@import 'dashboard';
@import 'wizard-new';
@import 'cluster-new';
@import 'hosts';
@import 'storage-new';
@import 'login-page';
@import 'blade-view';
@import 'volume';
@import 'cluster-detail';
@import 'usm-icon';
@import 'events';
@import 'storage-profile-disks';
@import 'pagination';
@import 'ldap-add-user';
@import 'blockdevice-list';
@import 'cluster-osd-detail';
@import 'storage-list-view';
@import 'host-detail';
@import 'import-cluster';
@import 'branding';
@import 'about';

//---------- Guage Disable ---------
.c3-chart-arc .c3-gauge-value, .c3-chart-arcs-gauge-min, .c3-chart-arcs-gauge-max
{
    display:none;
}
.adjust-gauge  .c3-chart-arcs .c3-chart-arcs-gauge-unit{
    font-size:10px;
}
//---------------------------------
.content-wrapper{
    background-color: #fff !important;
}

.ok {
  color: #3F9C35;
}
.critical {
   color: #CC0000;
 }
.warning {
   color: #EC7A08;
 }

.no-left-padding{
    padding-left:0px !important;
}

.error-validation-msg {
    color:#CC0000;
}

.textbox-with-red-border {
    border: 1px solid #cc0000;
}

.form-size-selector {
    width: 55px !important;
}

.progress-dropdown {
    width: 300px;
    right: 0px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
    }

    .content {
        height: 250px;
        overflow-y:auto;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-progress {
        margin-bottom: 5px;
    }

    .accept-button-margin {
        margin-top: -2px;
    }

    .text-align-margin {
        margin-top: 3px;
    }
}

.dropdown-menu.progress-dropdown.discovered-host-dropdown {
    width: 320px!important;
}

.admin-dropdown {
    width:250px;
    right: 20px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
    }

    .content {
        height: 400px;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-progress {
        margin-bottom: 5px;
    }
}

.alert-dropdown {
    width:300px;
    right: 20px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
        font-size: 14px;
    }

    .count {
        background-color: #cc0000;
    }

    .content {
        height: 300px;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-item-text {
        display: inline;
    }

    .icon {
        padding: 5px;
        font-size: 15px;
    }
}

.margin-top-for-discovered-hosts {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    height: 93vh;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}

.div-with-scroll {
    height: 218px;
    overflow: scroll;
    overflow-x: hidden;
}

.left-check-icon  {
    margin-left : 45px;
    color:#3F9C35;
}

.user-search-feedback span {
    top: 7px;
    right: 22px;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

.listing {
    width: 100%;
    display: flex;
    height: auto;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    padding-top: 15px;
    padding-bottom: 15px;
    .content-thirty {
        float: left;
        width: 30%;
    }
    .content-sixty {
        float: left;
        width: 60%;
    }
    .close_icon {
    width: 100%;
    }
}

.listview {
    display: block !important;
}
.storage-header{
    border-bottom: 1px solid #eeeeee;
}
.nav > .dropdown > a > .pficon{
    font-size:16px;
    color: #cfcfcf;
}
.list-inline .cross-button {
    color: white;
}
.brand-name-img{
    height:20px;
}
.no-left-pad{
    padding-left:0px;
}
.justify-equal-space-around{
    justify-content: space-around;
}

.c3-shape {
    cursor: default !important;
}

.c3-arc {
    cursor: default !important;
}
.overlap-donut-left{
    margin-left:-18px;
}
.cursor-pointer{
    cursor:pointer;
}
.trend-title-big-pf {
    display: none;
}
.trend-title-small-pf {
    display: none;
}
.card-pf-aggregate-status .card-pf-title{
    font-size:16px;
}
.trend-title-compact-big-pf{
    font-size:16px;
    font-weight:600;
}
.no-data-available {
    height: 151px;
    padding-top: 51px;
}