.navbar-product-name {
    font-size: 15px;
    font-weight: 600;
    color:#F1F1F1;
    padding-left: 10px;

    &:hover {
        color: #F1F1F1;
        text-decoration: none;
    }
}

.test {
    font-size: 20px;
}
