@import 'modules/angular-motion';
@import 'modules/angular-growl';
@import 'modules/c3';
@import 'modules/usm_colors';
@import 'dashboard';
@import 'wizard-new';
@import 'cluster-new';
@import 'hosts';
@import 'storage-new';
@import 'login-page';
@import 'blade-view';
@import 'volume';
@import 'cluster-detail';
@import 'usm-icon';
@import 'discovered-host';
@import 'events';
@import 'storage-profile-disks';
@import 'pagination';
@import 'ldap-add-user';
@import 'blockdevice-list';
@import 'cluster-osd-detail';
@import 'storage-list-view';
@import 'host-detail';
@import 'import-cluster';
@import 'branding';
@import 'about';

//---------- Guage Disable ---------
.c3-chart-arc .c3-gauge-value, .c3-chart-arcs-gauge-min, .c3-chart-arcs-gauge-max
{
    display:none;
}
.adjust-gauge  .c3-chart-arcs .c3-chart-arcs-gauge-unit{
    font-size:10px;
}
//---------------------------------
.content-wrapper{
    background-color: #fff !important;
}

.ok {
  color: #4AD170;
}
.critical {
   color: #E35C5C;
 }
.warning {
   color: #FF8C1B;
 }

.no-left-padding{
    padding-left:0px !important;
}

.panel-clusters {
    padding: 0px;
}
.selected-hosts-list {
    padding-top:10px;
}

.selected-hosts-list li {
    padding: 5px;
}

.selected-hosts-list a {
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
}

.add-hosts-modal-dialog {
    width: 800px;
}

.table-hosts-to-add {
    border: 1px solid #dddddd;
}

.cluster-new-hosts-action {
    font-size: 20px;
}

.host-details-th {
    margin-left: 17px;
}

.add-host-control {
    border: 1px solid #BABABA;
    padding: 2px 6px;
    margin-right: 5px;

    &:focus {
        border-color: #66AFE9;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    }
}

host-is-mon {
    padding-top: 5px;
}

.host-is-mon-icon {
    opacity: 0.2;
}

.host-is-mon-link {
    outline: 0;
    color: #333;

    &:active, &:focus {
        outline: 0;
        color: #333;
    }
}

.first {
    margin-top: 15%;
    margin-left: 40%;
}

.cluster-summary-host-header-text {
    margin-right: 12px;
}

.cluster-summary-host-header {
    cursor: pointer;
    color: $usmcolor;
}

.error-validation-msg {
    color: red;
}

.textbox-with-red-border {
    border: 1px solid red;
}

.form-size-selector {
    width: 55px !important;
}

.task-icon {
    font-size: 12px;
}

.task-icon-count {
    border-radius: 10px;
}

.progress-dropdown {
    width: 300px;
    right: 0px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
    }

    .content {
        height: 250px;
        overflow-y:auto;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-progress {
        margin-bottom: 5px;
    }

    .accept-button-margin {
        margin-top: -2px;
    }

    .text-align-margin {
        margin-top: 3px;
    }
}

.dropdown-menu.progress-dropdown.discovered-host-dropdown {
    width: 320px!important;
}

.admin-dropdown {
    width:250px;
    right: 20px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
    }

    .content {
        height: 400px;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-progress {
        margin-bottom: 5px;
    }
}

.alert-dropdown {
    width:300px;
    right: 20px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
        font-size: 14px;
    }

    .count {
        background-color: #E35C5C;
    }

    .content {
        height: 300px;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-item-text {
        display: inline;
    }

    .icon {
        padding: 5px;
        font-size: 15px;
    }
}

.pic-height {
    line-height:175px;
}
.position {
    position:relative;
}

.notification-text {
    top: 1px;
    left: 16px;
    position: absolute;
    font-size: 9px;
    font-weight: 700;
    border: solid 1px #000;
    background-color: #E35C5C;
    color: #fff;
    width: 15px;
    height: 13px;
    border-radius: 5px;
}

.pic-align  {
    text-align: center;
}

.margin-top-for-discovered-hosts {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    height: 93vh;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}

.adjust_button {
    margin-top: -14px;
}

.div-with-scroll {
    height: 218px;
    overflow: scroll;
    overflow-x: hidden;
}

.adjust-check-icon  {
    margin-left : 5px;
}

.left-check-icon  {
    margin-left : 45px;
    color:green;
}

.elipsis-color {
    color : #bbb;
}
 
@media only screen and (max-width:768px){
    #percentage {
        margin-top:35px;
    }

    #desktop    {
        display : none;
    }

    .blade-view {
        min-height:0px;
    }

    .blade-view .set-top-margin {
        margin-top:10px;
    } 

    .cluster-link    {
        display:block;
        width:700px;
    }

    .heading-mobile {
        font-size: 18px;
        font-weight: 600;
    }
    .row-height {
        height: 25px;
    }

    .set-padding{
        padding-right:2px;
    }

    .exclamation-margin {
        margin-top:9px;
    }
}

@media only screen and (min-width:769px){
    #mobile   {
        display : none;
    }
}
/* ---  dashboard heatmap ---*/
.heatmap-card-pools {
    .legends {
        padding-top: 20px;
    }
    .legend {
        font-size: 11px;
        display: block;
        padding-bottom: 10px;
    }
    .legend-square {
        padding-right: 10px;
    }
    .legend-l0 {
        color: #cc0000;
    }
    .legend-l1 {
        color: #EC7A08;
    }
    .legend-l2 {
        color: #F9D67A;
    }
    .legend-l3 {
        color: #d4f0fa;
    }
    .heat-map-title {
        display: block;
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 5px;
    }
    .heat-map {
        height: 160px;
        width: 160px;
    }
    .heat-l0 {
        background-color: #cc0000;
    }
    .heat-l1 {
        background-color: #EC7A08;
    }
    .heat-l2 {
        background-color: #F9D67A;
    }
    .heat-l3 {
        background-color: #d4f0fa;
    }
    .square {
        float: left;
        position: relative;
        width: 18.5%;
        padding-bottom: 18.5%;
        margin: 0.7%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.user-search-feedback span {
    top: 7px;
    right: 22px;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

.listing {
    width: 100%;
    display: flex;
    height: auto;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    padding-top: 15px;
    padding-bottom: 15px;
    .content-thirty {
        float: left;
        width: 30%;
    }
    .content-sixty {
        float: left;
        width: 60%;
    }
    .close_icon {
    width: 100%;
    }
}

.listview {
    display: block !important;
}
.storage-header{
    border-bottom: 1px solid #eeeeee;
}
.nav > .dropdown > a > .pficon{
    font-size:16px;
    color: #cfcfcf;
}
.list-inline .cross-button {
    color: white;
}
.brand-name-img{
    height:20px;
}
.no-left-pad{
    padding-left:0px;
}
.justify-equal-space-around{
    justify-content: space-around;
}

.c3-shape {
    cursor: default !important;
}

.c3-arc {
    cursor: default !important;
}