.storage-list{
    .alert-count{
        margin-bottom: 0;
    }

    .pool-list-main-info{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .poolNameBox{
        width:250px;
        text-overflow:ellipsis;
    }
}