.form-page {
    height: 100%;
    .form-body {
        height: 100%;
    }
    .form-header {
        margin-left: -20px;
        margin-top: -40px;
        margin-right: -20px;
        height: 100px;
        padding: 20px;
        font-size: 16px;
        background-color: #F5F5F5;
        border-bottom: 1px solid;
        border-color: #DDD;
    }
    .form-content {
        padding-top: 20px;
        padding-left: 30px;
    }
    .form-footer{
        height: 60px;
        padding: 15px;
        font-size: 16px;
        background-color: #F5F5F5;
        border-bottom: 1px solid;
        border-color: #DDD;
        width:100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.storage-openstack {
    .storage-group {
        padding-bottom: 20px;
        padding-right: 20px;
    }
    .storage-item {
        background-color: #F5F5F5;
        padding-left: 5px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        .header {
            font-size: 14px;
            max-width: 300px;
            .title {
                margin-left: 2px;
                text-transform: capitalize;
            }
            .desc {
                margin-left: 20px;
            }
        }
        .disabled {
            opacity: 0.4;
        }
    }
    .storage-pool {
        background-color: white;
        border: 1px solid black;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        
        .row {
            padding: 15px;
        }
        .col-md-2 {
            min-height: 50px;
        }
        .title {
            font-size: 12px;
            font-weight: 600;
            display: block;
        }
        .value {
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
        }
        .replica-edit {
            max-width: 120px;
            transition: none;
        }
        .capacity-edit {
            max-width: 120px;
            .size-selector {
                min-width: 50px;
            }
        }
        .actions {
            margin-top: 5px;
            font-size: 20px;
            text-align: center;
            span {
                margin-right: 10px;
                cursor: pointer;
                &:hover {
                    font-size: 22px;
                }
            }
        }
    }
}
