.wizard {
    margin-top: -20px;

    .wizard-top {
        font-size: 16px;
        background-color: #F5F5F5;
        border-bottom: 1px solid;
        border-color: #DDD;

        .step {
            float: left;
        }

        .step-default {           
            color:#aaaaaa;
        }
    
        .step-active {
            color:#199DDE;
        }

        .step-visited {
            color: #000;
        }

        .step-line {
            margin: 0 auto;
            text-align: center;
            font-size: 8px;
            position:relative;
            z-index:10;
            &:after {
                display: block;
                content: "";
                background: #ccc;
                position: relative;
                height: 2px;
                width: 100%;
                top: -7px;
                z-index:-1;
            }
        }

        .step-line-last {
            &:after {
                width: 50%;
            }
        }

        .step-text {
            padding-right: 30px;
        }
    }

    .wizard-content {
        padding-top: 20px;
        padding-bottom: 10px;
    }

     .wizard-bottom {   
    }
}
