<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-host-detail-container">
    <div ng-if="hostDetailCntrl.hostDataAvailable === false" class="spinner spinner-lg"></div>
    <div ng-if="hostDetailCntrl.hostDataAvailable">
        <ol class="breadcrumb custom-breadcrumb">
            <li><a ui-sref="host">Hosts</a></li>
            <li>
                <i class="pficon" ng-class="{'pficon-error-circle-o': (hostDetailCntrl.hostStatus !== 'UP'), 'pficon-ok': (hostDetailCntrl.hostStatus === 'UP')}"></i>
                <span uib-tooltip-html="'{{hostDetailCntrl.hostName}}'">{{hostDetailCntrl.hostName}}</span>
            </li>
        </ol>
        <ul class="nav nav-tabs host-detail-nav">
            <li class="pointer" ng-repeat="(key,value) in hostDetailCntrl.tabList" ng-class="{'active': hostDetailCntrl.isTabSet(value)}">
                <a href="" ng-click="hostDetailCntrl.setTab(value)">{{key}}</a>
            </li>
        </ul>
    </div>
    <div ng-if="hostDetailCntrl.activeTab === 1">
        <div ng-if="hostDetailCntrl.isDataLoading" class="spinner spinner-lg"></div>
        <div ng-if="!hostDetailCntrl.isDataLoading" class="tendrl-host-detail-body">
            <div class="container-card">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="row bg-white">
                                <div class="card-pf card-pf-accented card-pf-utilization">
                                    <div class="card-pf-heading">
                                        <h2 class="card-pf-title">Summary</h2>
                                    </div>
                                    </hr>
                                    <div class="card-pf-body card-size">
                                        <div class="alert-summary">
                                            <div class="row remove-right-margin" ng-repeat="summary in hostDetailCntrl.summaryHost">
                                                <div class="col-md-4">
                                                    <strong>{{summary[0]}}</strong>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="host-name col-md-12" uib-tooltip-html="'{{summary[1]}}'" ng-if="summary[0] === 'Status' || summary[0] === 'Cluster'" ng-class="{'pficon-error-circle-o': (hostDetailCntrl.hostStatus !== 'UP'), 'pficon-ok': (hostDetailCntrl.hostStatus === 'UP')}">
                                                        {{summary[1]}}
                                                    </div>
                                                    <div class="col-md-12" uib-tooltip-html="'{{summary[1]}}'" ng-if="summary[0] !== 'Status' && summary[0] !== 'Cluster'"> 
                                                        {{summary[1]}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-pf card-pf-accented card-pf-utilization">
                            <div class="card-pf-heading">
                                <h2 class="card-pf-title">Utilization</h2>
                            </div>
                            <div class="card-pf-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <div pf-utilization-trend-chart config="hostDetailCntrl.hostUtilizationConfig.cpu" chart-data="hostDetailCntrl.hostUtilizationData.cpu" center-label="hostDetailCntrl.hostUtilizationCenterLabel.cpu" donut-config="hostDetailCntrl.hostUtilizationDonutConfig.cpu" sparkline-config="hostDetailCntrl.hostUtilizationSparklineConfig.cpu" sparkline-chart-height="hostDetailCntrl.hostUtilizationCustChartHeight.cpu"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <div pf-utilization-trend-chart config="hostDetailCntrl.hostUtilizationConfig.memory" chart-data="hostDetailCntrl.hostUtilizationData.memory" center-label="hostDetailCntrl.hostUtilizationCenterLabel.memory" donut-config="hostDetailCntrl.hostUtilizationDonutConfig.memory" sparkline-config="hostDetailCntrl.hostUtilizationSparklineConfig.memory" sparkline-chart-height="hostDetailCntrl.hostUtilizationCustChartHeight.memory"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <div pf-utilization-trend-chart config="hostDetailCntrl.hostUtilizationConfig.swap" chart-data="hostDetailCntrl.hostUtilizationData.swap" center-label="hostDetailCntrl.hostUtilizationCenterLabel.swap" donut-config="hostDetailCntrl.hostUtilizationDonutConfig.swap" sparkline-config="hostDetailCntrl.hostUtilizationSparklineConfig.swap" sparkline-chart-height="hostDetailCntrl.hostUtilizationCustChartHeight.swap"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <div pf-utilization-trend-chart config="hostDetailCntrl.hostUtilizationConfig.storage" chart-data="hostDetailCntrl.hostUtilizationData.storage" center-label="hostDetailCntrl.hostUtilizationCenterLabel.storage" donut-config="hostDetailCntrl.hostUtilizationDonutConfig.storage" sparkline-config="hostDetailCntrl.hostUtilizationSparklineConfig.storage" sparkline-chart-height="hostDetailCntrl.hostUtilizationCustChartHeight.storage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cards-pf">
                    <div class="col-md-12">
                        <div class="col-md-3" pf-card head-title="IO Trends" show-top-border="false" show-titles-separator="false">
                            <trends-chart config="hostDetailCntrl.iopsConfig" chart-data="hostDetailCntrl.hostIops" tool-type="'K'"></trends-chart>
                            <!-- <trends-chart config="hostDetailCntrl.latencyConfig" chart-data="hostDetailCntrl.cephLatencyData" tool-type="'ms'"></trends-chart> -->
                        </div>
                        <div class="col-md-3" pf-card head-title="Throughput Trends" show-top-border="false" show-titles-separator="false">
                            <trends-chart config="hostDetailCntrl.clusterNetworkConfig" chart-data="hostDetailCntrl.hostClusterNetwork" tool-type="'KBps'"></trends-chart>
                            <trends-chart ng-if="hostDetailCntrl.sdsName === 'ceph'" config="hostDetailCntrl.publicNetworkConfig" chart-data="hostDetailCntrl.hostPublicNetwork" tool-type="'KBps'"></trends-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
