<div class="tendrl-user-add-view-container">
    <div class="container-fluid">
        <!--Heading section-->
        <ol class="breadcrumb custom-breadcrumb">
            <li><a ui-sref="users">Users</a></li>
            <li>
                <span>
                Add User
            </span>
            </li>
        </ol>
        <div class="row">
            <div class="alert alert-danger col-md-7" ng-if="addUserCntrl.errorMsg.length > 0">
                <span class="pficon pficon-error-circle-o"></span>
                <label ng-bind="addUserCntrl.errorMsg"></label>
            </div>
        </div>
        <p> Add a new local user. All user information will be stored internally in Tendrl.
        </p>
        <form class="form-horizontal" name="addUserCntrl.addUserForm" ng-submit="addUserCntrl.addUser()">
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label" for="username">User ID</label>
                <div class="col-sm-8 col-md-6">
                    <input type="text" class="form-control" data-id="username" name="username" ng-model="addUserCntrl.user.username" minlength="4" ng-maxlength="20" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label" for="name">Name</label>
                <div class="col-sm-8 col-md-6">
                    <input type="text" class="form-control" data-id="name" name="name" ng-model="addUserCntrl.user.name" required/>
                </div>
            </div>
            <div class="form-inline form-group">
                <label class="col-sm-4 col-md-1 control-label" for="email">Email</label>
                <div class="col-sm-8 col-md-3">
                    <input type="email" class="form-control width-full" data-id="email" name="userEmail" ng-model="addUserCntrl.user.email" required/>
                </div>
                <label class="col-sm-2 col-md-2 control-label" for="email-notification">Email Notifications</label>
                <div class="col-sm-8 col-md-4 email_padding">
                    <input bs-switch ng-model="addUserCntrl.user.notification" data-id="email-notification" type="checkbox" value="addUserCntrl.user.notification" ng-true-value="true" ng-false-value="false">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label" for="password">Password</label>
                <div class="col-sm-8 col-md-6 inner-addon">
                    <input type="{{ addUserCntrl.typePassword ? 'text' : 'password' }}" data-id="password" aria-describedby="passwordStatus" name="password" ng-model="addUserCntrl.user.password" minlength="9" ng-maxlength="128" required/>
                    <span id="passwordStatus" class="showPassword" ng-click="addUserCntrl.toggleTypePassword()">
                        <span ng-if="addUserCntrl.typePassword === true">
                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                        </span>
                    <span ng-if="addUserCntrl.typePassword === false">
                            <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 col-md-1 control-label cp-padding" for="password">Confirm Password</label>
                <div class="col-sm-8 col-md-6 inner-addon">
                    <input type="{{ addUserCntrl.confirmPassword ? 'text' : 'password' }}" data-id="password" aria-describedby="passwordStatus" name="confirmPassword" ng-model="addUserCntrl.user.confirmPassword" minlength="9" ng-maxlength="128" required/>
                    <span id="passwordStatus" class="showPassword" ng-click="addUserCntrl.toggleConfirmPassword()">
                        <span ng-if="addUserCntrl.confirmPassword === true">
                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                        </span>
                    <span ng-if="addUserCntrl.confirmPassword === false">
                            <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label" for="role">Select a Role</label>
                <div class="col-sm-8 col-md-6">
                    <div class="radio radio-class">
                        <label>
                            <input type="radio" name="role" id="role1" value="admin" ng-model="addUserCntrl.user.role"> <strong>Admin</strong>
                            <br> The Admin role permits the user to manage Tendrl and all storage operations.
                        </label>
                    </div>
                    <div class="radio radio-class">
                        <label>
                            <input type="radio" name="role" id="role2" value="normal" ng-model="addUserCntrl.user.role"> <strong>Normal User</strong>
                            <br> The Normal user role permits the user to provision storage but cannot manage the Tendrl applications.
                        </label>
                    </div>
                    <div class="radio radio-class">
                        <label>
                            <input type="radio" name="role" id="role3" value="limited" ng-model="addUserCntrl.user.role"> <strong>Read-only User</strong>
                            <br> The Read-only user role permits the user to access Tendrl in read-only mode, which means the user cannot actively manage storage. This role is ideal for users interested in monitoring the storage.
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline bottom-button">
                <label class="col-sm-2 col-md-1 control-label"></label>
                <div class="col-sm-8 col-md-6">
                    <button type="submit" class="btn btn-primary btn-lg submit-button" ng-disabled="addUserCntrl.formSubmitInProgress">
                        <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" data-ng-class="{'hidden': addUserCntrl.formSubmitInProgress !== true }">
                    </i>
                        <span>Save</span>
                    </button>
                    <button ui-sref="users" class="btn btn-default btn-lg">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
