.tendrl-host-list-view-container {

    .bold-text {
        font-weight: bold;
    }

    .counts {
        color: $color-boston-blue;

        &:hover {
            cursor: pointer;
        }
    }

    .list-group {
        margin-bottom: 0px;

        .list-group-item{
            .list-view-pf-left {
                text-align: left;
            }
        }

        .list-view-icon-failure {
            color: $color-red;
        }
    }

}