<div ng-if="!isNavigationShow" class="centerLoading"></div>
<div ng-if="isNavigationShow" class="tendrl-host-list-view-container">
    <div class="container-fluid">
        <!-- heading section-->
        <h1 class="bold-text">Hosts</h1>
        
        <!-- Actions section -->
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <form class="toolbar-pf-actions">
              <div class="form-group toolbar-pf-filter">
                <label class="sr-only" for="filter">Name</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <!-- Search By -->
                    <select ng-init="hostCntrl.filterBy = 'name'" ng-disabled="hostCntrl.hostList.length === 0" ng-model="hostCntrl.filterBy" class="btn btn-default dropdown-toggle" ng-change="hostCntrl.searchBy = {}">
                      <option value="name">Name</option>
                      <option value="cluster_name">Cluster</option>
                      <option value="role">Role</option>
                      <option value="status">Status</option>
                    </select>
                  </div><!-- /btn-group -->
                  <input ng-disabled="hostCntrl.hostList.length === 0" type="text" class="form-control" id="filter" ng-model="hostCntrl.searchBy[hostCntrl.filterBy]" placeholder="Filter By {{hostCntrl.filterBy}}...">
                </div><!-- /input-group -->
              </div>
              <div class="form-group">
                <div class="dropdown btn-group">
                    <!-- Order By -->
                    <select ng-init="hostCntrl.orderBy = 'name'" ng-disabled="hostCntrl.hostList.length === 0" ng-model="hostCntrl.orderBy" class="btn btn-default dropdown-toggle">
                      <option value="name">Name</option>
                      <option value="cluster_name">Cluster</option>
                      <option value="storage['percent_used']">Storage</option>
                      <option value="cpu['percent_used']">CPU</option>
                      <option value="memory['percent_used']">Memory</option>
                      <option value="role">Role</option>
                    </select>
                </div>
                <button ng-init="hostCntrl.ascOrder = ''" ng-disabled="hostCntrl.hostList.length === 0" class="btn btn-link" type="button">
                  <span ng-if="hostCntrl.ascOrder !== ''" class="fa fa-sort-alpha-desc" ng-click="hostCntrl.ascOrder = ''">
                  </span>
                  <span ng-if="hostCntrl.ascOrder !== '-'" class="fa fa-sort-alpha-asc" ng-click="hostCntrl.ascOrder = '-'">
                  </span>
                </button>
              </div>
              <div class="toolbar-pf-action-right">
                <div class="form-group toolbar-pf-view-selector">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button class="btn btn-primary pull-right">Add</button>
                        </div>
                    </div>
                </div>
              </div>
            </form>

            <!-- result row -->
            <div class="row toolbar-pf-results">
              <div class="col-sm-12">
                <h5 ng-if="hostCntrl.hostList.length !== 0">{{hostCntrl.filteredHostList.length}} Hosts</h5>
              </div><!-- /col -->
            </div>

          </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->

    <!-- list all host -->
    <div class="container-fluid">
        <center ng-if="hostCntrl.hostList.length === 0">
            <div class="blank-slate-pf">
                <div class="blank-slate-pf-icon">
                    <i class="pficon pficon-container-node"></i>
                </div>
                <h1>No Hosts Detected.</h1>
            </div>
        </center><div ng-if="hostCntrl.isDataLoading" class="dataLoading"></div>
        <div ng-if="!hostCntrl.isDataLoading" class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="host in hostCntrl.filteredHostList=(hostCntrl.hostList | filter: hostCntrl.searchBy | orderBy : hostCntrl.ascOrder + hostCntrl.orderBy)">
            <div class="list-group-item">
                <div class="col-md-2" ng-class="{ 'list-view-pf-left': clusterId === undefined }">
                    <span title="{{host.status}}" ng-if="host.status ==='UP'" class="pficon pficon-ok list-view-pf-icon-success"></span>
                    <span title="{{host.status}}" ng-if="host.status !=='UP'" class="fa fa-arrow-circle-o-down list-view-icon-failure"></span>
                    <a href="">{{host.name}}</a>
                </div>
                <div  class="col-md-2">
                    <div class="list-view-pf-additional-info-item donut-chart" chart-title="Storage" chart-data="host.storage">
                    </div>
                </div>
                <div  class="col-md-2">
                    <div class="list-view-pf-additional-info-item donut-chart" chart-title="CPU" chart-data="host.cpu">
                    </div>
                </div>
                <div  class="col-md-2">
                    <div class="list-view-pf-additional-info-item donut-chart" chart-title="Memory" chart-data="host.memory">
                    </div>
                </div>
                <div  class="col-md-1">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <b>  Cluster  </b>
                        <h5>
                            {{host.cluster_name}}
                        </h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div ng-show="host.cluster_name !== 'Unassigned'" class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <b>  Role  </b>
                        <h5 ng-if="host.role !== undefined">{{host.role}}</h5>
                        <h5 ng-if="host.role === undefined">NA</h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div ng-show="host.cluster_name !== 'Unassigned'" class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <b>  Alerts  </b><h5 class="counts">{{host.alert_count}}</h5>
                    </div>
                </div>
                <div class="col-md-1">
                  <div class="list-view-pf-actions">
                      <div class="dropdown pull-right dropdown-kebab-pf">
                          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <span class="fa fa-ellipsis-v"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight12">
                              <li><a href="">Forget</a></li>
                              <li><a href="">Remove</a></li>
                              <li><a href="">Replace</a></li>
                          </ul>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 horizontal-line"></div>
        </div>
    </div>
</div>
