<div class="cluster-detail-osd">
  <span class="pull-left">
      <a href="" ng-click="osddetail.isLeftSidebarShow=!osddetail.isLeftSidebarShow">
        <span ng-if="osddetail.isLeftSidebarShow"> Hide Sidebar </span>
        <span ng-if="!osddetail.isLeftSidebarShow"> Show Sidebar </span>
      </a>
  </span>
  <div class="row">
    <div ng-class="osddetail.isLeftSidebarShow?'col-md-offset-1 col-md-8':'col-md-9'">
      <div class="row">
        <div class="col-md-3">
          <span ng-if="osddetail.type === 'Cluster'">
            <label>Group By:</label>
            <select class="form-control" ng-model="osddetail.groupBy" ng-change="osddetail.performGroupBy()">
              <option value="node">Host</option>
              <option value="storageprofile">Storage Profile</option>
            </select>
          </span>
          <span ng-if="osddetail.type === 'Host'">
            <label>Storage Profile:</label>
            <select class="form-control" ng-model="osddetail.selectByStorageProfile.storageprofile"
              ng-options="profile.value as profile.name for profile in osddetail.storageProfileArray">
            </select>
          </span>
        </div>
        <div class="col-md-offset-1 col-md-7">
          <label>Filter By:</label>
          <form ng-if="osddetail.type === 'Cluster'" ng-init="osddetail.searchBy = {name:'Host',value:'node'}">
            <div class="form-group toolbar-pf-filter">
                <div class="input-group">
                    <div class="input-group-btn dropdown">
                        <button aria-expanded="false" aria-haspopup="true" bs-dropdown="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            {{osddetail.searchBy.name}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="osddetail.searchByText={};osddetail.searchBy={name:'Host',value:'node'}">Host</a></li>
                            <li><a ng-click="osddetail.searchByText={};osddetail.searchBy={name:'OSD',value:'name'}">OSD</a></li>
                            <li><a ng-click="osddetail.searchByText={};osddetail.searchBy={name:'Storage Profile',value:'storageprofile'}">Storage Profile</a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" placeholder="Filter by {{osddetail.searchBy.name}}..." class="form-control" ng-model="osddetail.searchByText[osddetail.searchBy.value]">
                    <span class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
          </form>
          <form ng-if="osddetail.type === 'Host'">
            <div class="form-group toolbar-pf-filter">
                <div class="input-group">
                    <div class="input-group-btn dropdown">
                        <button aria-expanded="false" aria-haspopup="true" bs-dropdown="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            OSD Name
                        </button>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" placeholder="Filter by OSD Name..." class="form-control" ng-model="osddetail.searchByText.name">
                    <span class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-6 col-md-5">
          <div class="row">
            <div class="col-md-6">
              <label> {{osddetail.totalSelectedOSDs.length}} OSD Selected </label>
            </div>
            <div class="col-md-6">
              <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" bs-dropdown="dropdown">
                  Action
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation">
                    <a role="menuitem" href="" ng-click="osddetail.osdActionChange('mark_up')"> Mark UP </a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" href="" ng-click="osddetail.osdActionChange('mark_in')"> Mark IN </a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" href="" ng-click="osddetail.osdActionChange('mark_out')"> Mark OUT </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <!-- Left side filter bar -->
 <nav class="left-sidebar" ng-class="osddetail.isLeftSidebarShow?'left-sidebar-expand':'left-sidebar-collapse'">
  <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse ng-class="osddetail.isLeftSidebarShow?'panel-group-expand':'panel-group-collapse'">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a bs-collapse-toggle ng-click="osddetail.activeFilter='osd_status'">
              Filter by OSD Status
            </a>
          </h4>
        </div>
        <div class="panel-collapse" ng-class="osddetail.activeFilter==='osd_status'? 'in': 'collapse'" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <div class="checkbox" ng-repeat="data in osddetail.filterList.OSDStatus">
              <label>
                <input type="checkbox" ng-model="data.checked" ng-disabled="!data.enabled"/><i class="{{data.icon}}"></i> {{data.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a bs-collapse-toggle ng-click="osddetail.activeFilter='pg_status'">
              Filter by PG Status
            </a>
          </h4>
        </div>
        <div class="panel-collapse" ng-class="osddetail.activeFilter==='pg_status'? 'in': 'collapse'" role="tabpanel" bs-collapse-target>
          <div class="panel-body scroll-for-filter">
            <div class="checkbox" ng-repeat="filter in osddetail.filterList.PGStatus">
              <label>
                <input type="checkbox" ng-model="filter.checked" ng-change="osddetail.isShowAllOsdByPgStatusFilter()">{{filter.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a bs-collapse-toggle ng-click="osddetail.activeFilter='utilization'">
              Filter by Utilization
            </a>
          </h4>
        </div>
        <div class="panel-collapse" ng-class="osddetail.activeFilter==='utilization'? 'in': 'collapse'" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <div class="checkbox" ng-repeat="data in osddetail.filterList.Utilization">
              <label>
                <input type="checkbox" ng-model="data.checked" ng-disabled="!data.enabled"/>{{data.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End of filter bar -->
  <div class="row">
    <div ng-class="osddetail.isLeftSidebarShow?'col-md-offset-2 col-md-7':'col-md-9'">
      <div ng-if="osddetail.type === 'Cluster'" ng-repeat="(key, data) in osddetail.osdListGroupBy">
        <div class="custom-panel-heading" role="tab">
          <h4>
            {{key}} ({{osddetail.filteredOSD[$index].length}})
          </h4>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat="osd in osddetail.filteredOSD[$index]=(data | filter:osddetail.applyFilter | filter: osddetail.searchByText)">
            <div class="osd-box" ng-click="osddetail.selection.activeOsd=osd" ng-class="osddetail.selection.activeOsd===osd?'selected-osd':''">
              <div class="osd-box-content">
                <div class="osd-box-osd-name">
                  <div class="pull-right">
                    <i ng-class="osddetail.filterList.OSDStatus[osd.status].icon"></i>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-change="osddetail.maintainTotalSelectedOsds()" ng-model="osddetail.selection.allSelectedOsds[osd.sluid]"> {{osd.name}}
                    </label>
                  </div>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" ng-class="osddetail.filterList.Utilization[osd.usage.status].icon" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width:osd.usage.percentused+'%'}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="osddetail.type === 'Host'">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat="osd in osddetail.filteredOSD[$index]=(osddetail.osdList | filter:osddetail.applyFilter | filter: osddetail.searchByText | filter: osddetail.selectByStorageProfile )">
          <div class="osd-box" ng-click="osddetail.selection.activeOsd=osd" ng-class="osddetail.selection.activeOsd===osd?'selected-osd':''">
            <div class="osd-box-content">
              <div class="osd-box-osd-name">
                <div class="pull-right">
                  <i ng-class="osddetail.filterList.OSDStatus[osd.status].icon"></i>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-change="osddetail.maintainTotalSelectedOsds()" ng-model="osddetail.selection.allSelectedOsds[osd.sluid]"> {{osd.name}}
                  </label>
                </div>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" ng-class="osddetail.filterList.Utilization[osd.usage.status].icon" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width:osd.usage.percentused+'%'}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="right-sidebar">
          <div class="right-sidebar-contain" ng-if="osddetail.selection.activeOsd">
            <h2>
              <i ng-class="osddetail.filterList.OSDStatus[osddetail.selection.activeOsd.status].icon"></i>
              <label ng-bind="osddetail.selection.activeOsd.name"></label>
              <span ng-if="osddetail.selection.activeOsd.type === 1" class="badge">Data</span>
              <span ng-if="osddetail.selection.activeOsd.type === 2" class="badge">Journal</span>
            </h2>
            <hr>
            <div class="selected-osd-detail">
              <label>Device Path:</label>
              <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.options1.device"></small></div>
            </div>
            <div class="selected-osd-detail">
              <label>Utilization:</label>
              <div class="detail-content">
                <small>
                  {{osddetail.selection.activeOsd.usage.used | bytes }} used of
                  {{osddetail.selection.activeOsd.usage.total | bytes }} total
                </small>
              </div>
            </div>
            <div class="selected-osd-detail">
              <label>Host:</label>
              <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.node"></small></div>
            </div>
            <div class="selected-osd-detail">
              <label>Storage Profile:</label>
              <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.storageprofile"></small></div>
            </div>
            <div class="selected-osd-detail">
              <i class="fa fa-angle-down" ng-show="osddetail.expandJournal"></i>
              <i class="fa fa-angle-right" ng-show="!osddetail.expandJournal"></i>
              <a href="" ng-click="osddetail.expandJournal=!osddetail.expandJournal">
                <label>Journal for {{osddetail.selection.activeOsd.name}}</label>
              </a>
              <div ng-if="osddetail.expandJournal">
                <div class="selected-osd-detail">
                  <label>Device Path:</label>
                  <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.options1.journal.osdjournal"></small></div>
                </div>
                <div class="selected-osd-detail">
                  <label>Capacity:</label>
                  <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.options1.journal.size | bytes "></small></div>
                </div>
                <div class="selected-osd-detail">
                  <label>Storage Profile:</label>
                  <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.storageprofile"></small></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
