<div class="cluster-detail-osd">
  <div class="row">
    <div class="col-md-3">
      <span class="pull-left">
        <i class="filter-icon" ng-class="osddetail.isLeftSidebarShow?'fa fa-chevron-circle-left':'fa fa-chevron-circle-right'" ng-click="osddetail.isLeftSidebarShow=!osddetail.isLeftSidebarShow"></i>
      </span>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <span>
            <label>Filter By:</label>
            <select class="form-control" ng-init="osddetail.searchData = 'host'" ng-model="osddetail.searchData" ng-change="osddetail.searchByText = {}">
              <option value="host">Host</option>
              <option value="osd">OSD</option>
              <option value="storageprofile">Storage Profile</option>
            </select>
          </span>
        </div>
        <div class="col-md-8">
          <span>
            <label class="search-by-hidden">Search By:</label>
            <form class="search-pf has-button" role="form">
              <div class="form-group has-clear">
                <div class="search-pf-input-group pull-left">
                  <label class="sr-only" for="search1">Search</label>
                  <input ng-if="osddetail.searchData === 'host'" type="search" placeholder="Filter by host..." class="form-control" ng-model="osddetail.searchByText.options1.node" id="search1">
                  <input ng-if="osddetail.searchData === 'osd'" type="search" placeholder="Filter by OSD Name..." class="form-control" ng-model="osddetail.searchByText.name" id="search1">
                  <input ng-if="osddetail.searchData === 'storageprofile'" type="search" placeholder="Filter by Storage Profile..." class="form-control" ng-model="osddetail.searchByText.storageprofile" id="search1">
                  <button style="display: none;" aria-hidden="true" class="clear" type="button"><span class="pficon pficon-close"></span></button>
                </div>
              </div>
            </form>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <span>
        <div>
          <label>Show:</label>
        </div>
        <div class="show-inline">
          <div>
             <input type="radio" id="utilization" ng-change="osddetail.isUtilizationShow=true" ng-model="osddetail.showValueForOsd" value="utilization">
             <label for="utilization">Utilization</label>
          </div>
          <div class="radio-button-separator">
             <input type="radio" id="weight" ng-change="osddetail.isUtilizationShow=false" ng-model="osddetail.showValueForOsd" value="weight">
             <label for="weight">Weight</label>
          </div>
        </div>
      </span>
    </div>
  </div>
  <hr>
  <!-- Left side filter bar -->
 <nav class="left-sidebar" ng-class="osddetail.isLeftSidebarShow?'left-sidebar-expand':'left-sidebar-collapse'">
    <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse ng-class="osddetail.isLeftSidebarShow?'panel-group-expand':'panel-group-collapse'">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a bs-collapse-toggle>
              Filter by OSD Status
            </a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <div class="checkbox" ng-repeat="data in osddetail.filterList.OSDStatus">
              <label>
                <input type="checkbox" ng-model="osddetail.filter[$index]" ng-disabled="!data.enable"/><i class="{{data.icon}}"></i> {{data.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a bs-collapse-toggle>
              Filter by PG Status
            </a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <div class="checkbox" ng-repeat="filter in osddetail.filterList.PGStatus" ng-class="{'separator': filter.subdata}">
              <label>
                <input type="checkbox">{{filter.name}}
              </label>
               <div ng-if="filter.subdata" class="nested-checkbox">
                <div class="checkbox" ng-repeat="subfilter in filter.subdata">
                  <label>
                    <input type="checkbox">{{subfilter.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a bs-collapse-toggle>
              Filter by Utilization
            </a>
          </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
          <div class="panel-body">
            <div class="checkbox" ng-repeat="filter in osddetail.filterList.Utilization">
              <label>
                <input type="checkbox">{{filter.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End of filter bar -->

  <div class="row">
    <div ng-class="osddetail.isLeftSidebarShow?'col-md-offset-2 col-md-7':'col-md-offset-1 col-md-8'">
      <div class="row">
        <div class="col-md-offset-6 col-md-3">
          <div class="selected-osd-separator pull-right"><label> {{osddetail.utils.keys(osddetail.selection.allSelectedOsds).length}} OSD Selected</label></div>
        </div>
        <div class="col-md-3">
          <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" bs-dropdown="dropdown">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" href="" ng-click="osddetail.osdActionChange('mark_up')"> Mark UP </a>
              </li>
              <li role="presentation">
                <a role="menuitem" href="" ng-click="osddetail.osdActionChange('mark_in')"> Mark IN </a>
              </li>
              <li role="presentation">
                <a role="menuitem" href="" ng-click="osddetail.osdActionChange('mark_out')"> Mark OUT </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div ng-class="osddetail.osdList.length > 12 ? 'div-with-scroll': ''">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="osd in filteredOSD=(osddetail.osdList | filter:osddetail.applyFilter | filter: osddetail.searchByText)">
                <div class="osd-box" ng-click="osddetail.selection.activeOsd=osd" ng-class="osddetail.selection.activeOsd===osd?'selected-osd':''">
                  <div class="osd-box-content">
                    <div class="osd-box-osd-name">
                      <div class="pull-right">
                        <i ng-class="osd.status===0?'pficon pficon-ok':osd.status===1?'pficon pficon-warning-triangle-o':osd.status===2?'pficon pficon-warning-triangle-o':'fa-arrow-circle-o-down down-color'"></i>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-change="osddetail.filterSelectedOsd(osddetail.selection.allSelectedOsds)" ng-model="osddetail.selection.allSelectedOsds[osd.sluid]"> {{osd.name}}
                        </label>
                      </div>
                    </div>
                    <div class="progress" ng-if="osddetail.isUtilizationShow">
                      <div class="progress-bar" ng-class="osd.utilization.used>=95?'progress-bar-full':osd.utilization.used>=85?'progress-bar-near-full':'progress-bar-normal'" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width:osd.utilization.used+'%'}">
                      </div>
                    </div>
                    <div ng-if="!osddetail.isUtilizationShow">
                      <span class="osd-box-osd-weight">
                        <center>{{osd.weight}}</center>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="sidebar-nav-fixed pull-right affix right-sidebar">
          <div class="right-sidebar-contain">
            <h2>
              <i ng-class="osddetail.filterList.OSDStatus[osddetail.selection.activeOsd.status].icon"></i>
              <label ng-bind="osddetail.selection.activeOsd.name"></label>
              <span>
                <button ng-if="osddetail.selection.activeOsd.type === 1" class="btn btn-success">Data</button>
                <button ng-if="osddetail.selection.activeOsd.type === 2" class="btn btn-success">Journal</button>
              </span>
            </h2>
            <hr>
            <div class="selected-osd-detail">
              <label>Device Path:</label>
              <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.options1.device"></small></div>
            </div>
            <div class="selected-osd-detail">
              <label>Host:</label>
              <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.options1.node"></small></div>
            </div>
            <div class="selected-osd-detail">
              <label>Storage Profile:</label>
              <div class="detail-content"><small ng-bind="osddetail.selection.activeOsd.storageprofile"></small></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
