<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-host-bricks-view-container">
    <div class="container-fluid">
        <!-- heading section-->
        <div class="alert alert-danger" ng-show="vm.errorMsg.length">
            <button type="button" class="close" ng-click="vm.removeErrMsg()" aria-hidden="true">
                <span class="pficon pficon-close"></span>
            </button>
            <span class="pficon pficon-error-circle-o"></span>
            <label>{{vm.errorMsg}}</label>
        </div>
        <h1 class="bold-text">Brick Details</h1>
        <!-- Actions section -->
        <div class="row toolbar-pf">
            <div class="col-sm-12">
                <form class="toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter" ng-class="{'disable-pointer': vm.brickList.length === 0}">
                        <pf-filter id="brickFilter" config="vm.filterConfig"></pf-filter>
                    </div>
                </form>
                <div class="row toolbar-pf-results">
                    <div class="pull-left">
                        <h5 ng-if="vm.brickList.length !== 0">{{vm.filteredBrickList.length}} 
                            <ng-pluralize count="vm.filteredBrickList.length" when="{'one': 'Brick',
                       'other': 'Bricks'}"></ng-pluralize>
                        </h5>
                    </div>
                    <div class="pull-left" ng-show="vm.stoppedBrickCnt">
                        <span uib-tooltip="Stopped" class="fa ffont fa-stop-circle-o"></span>
                        <h5>{{vm.stoppedBrickCnt}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <center ng-if="!vm.isDataLoading && vm.brickList.length === 0">
            <div class="blank-slate-pf">
                <div class="blank-slate-pf-icon">
                    <i class="pficon pficon-container-node"></i>
                </div>
                <h1>No Bricks Detected</h1>
            </div>
        </center>
        <center ng-if="!vm.isDataLoading && vm.filteredBrickList.length === 0 && vm.brickList.length !== 0" class="empty-filter-list">
            <div class="blank-slate-pf">
                <div class="message">No results match the filter criteria</div>
                <div class="suggestion">
                    <div class="title">Suggestions</div>
                    <div>Please try selecting other filter criteria.</div>
                </div>
            </div>
        </center>
        <div ng-show="vm.isDataLoading" class="spinner spinner-lg"></div>
        <div class="table-class" ng-show="!vm.isDataLoading && vm.brickList.length !== 0 && vm.filteredBrickList.length !== 0">
            <pf-table-view id="hostDetailView" config="vm.hostDetailConfig" columns="vm.hostDetailColumns" items="vm.filteredBrickList" action-buttons="vm.actionButtons">
            </pf-table-view>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 horizontal-line"></div>
    </div>
</div>
