.tendrl-host-bricks-view-container {
    .flex-table {
        .ft-column {
            .status-icons {
                font-size: 18px;
                vertical-align: sub;
                margin-right: 4px;
            }
            &.ft-actions {
                /*.launch-btn {
                    width: 125px;
                }*/
            }
            &.ft-main {
                flex-grow: 1.5;
            }
            .brick-path {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
