<div class="tendrl-utilisation-chart">
    <div class="used-percentage" uib-tooltip-html="'{{vm.used}}% Used'" tooltip-placement="auto">{{vm.used}}% Used</div>
    <div class="progress">
        <div class="progress-bar" ng-class="{'progress-bar-warning': (vm.used > 75 && vm.used <= 90), 'progress-bar-danger': (vm.used > 90) }" role="progressbar" aria-valuenow="{{vm.used}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.used}}%;" data-toggle="tooltip" title="{{vm.used}}% Used">
            <span class="sr-only">{{vm.used}}% Used</span>
        </div>
        <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="{{100-vm.used}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100-vm.used}}%;" data-toggle="tooltip" title="{{100-vm.used}}% Available">
            <span class="sr-only">{{100-vm.used}}% Available</span>
        </div>
    </div>
    <div class="used-percentage" uib-tooltip-html="'{{vm.total}}'" tooltip-placement="auto">{{vm.total}}</div>
</div>
