<div class="wizard-pf-contents device-conf-view-container" ng-if="createCephClusterCntrl.selectedStep === 4">
    <h3>Available Disk Device</h3>
    <div class="alert alert-info alert-dismissable" ng-if="createCephClusterCntrl.showJournalErrorMsg">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-info"></span>
        <strong>{{createCephClusterCntrl.journalErrorMsg}}</strong>
    </div>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <!-- Search By -->
                            <select ng-model="createCephClusterCntrl.journalFilterBy.property" class="btn btn-default dropdown-toggle">
                                <option value="fqdn">Host Name</option>
                                <option value="storage_disks.device">Device Name</option>
                            </select>
                        </div>
                        <!-- /btn-group -->
                        <input type="text" class="form-control" id="filter" placeholder="Filter By {{createCephClusterCntrl.journalFilterBy.property}}..." ng-model="createCephClusterCntrl.journalFilterBy.value">
                    </div>
                    <!-- /input-group -->
                </div>
            </form>
        </div>
        <!-- /col -->
    </div>
    <div ng-if="createCephClusterCntrl.isDataLoading" class="spinner spinner-lg"></div>
    <!-- /row -->
    <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="host in createCephClusterCntrl.filteredDiskList=(createCephClusterCntrl.availableHostForJournal | filter: createCephClusterCntrl.filterList) track by $index" ng-if="host.selectedRole !== 'Monitor' &&  host.storage_disks.length && !createCephClusterCntrl.isDataLoading">
        <div class="list-group-item">
            <div class="col-md-12">
                <div class="col-md-1">
                    <i class="fa fa-angle-right angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="!host.isExpanded"></i>
                    <i class="fa fa-angle-down angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="host.isExpanded"></i>
                </div>
                <div class="list-view-pf-left col-md-3">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <strong>{{host.fqdn}}</strong>
                        <h5>
                         {{host.totalNodeInDevice}} Devices
                        </h5>
                    </div>
                </div>
                <div class="list-view-pf-left col-md-3">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <div class="bold-text">Journal Size</div>
                        <div class="label">
                            <div class="col-md-6">
                                <input min="1" class="form-control" type="number" data-id="journalSize" ng-model="host.journalSize" ng-init="host.journalSize = 5" ng-change="createCephClusterCntrl.changePartitionLimit(host)">
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" data-id="journal-size-unit" data-ng-options="unit for unit in createCephClusterCntrl.diskConf.diskUnits" data-ng-model="host.customselectedUnit" ng-init="host.customselectedUnit = 'GB'"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-view-pf-left col-md-2">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <div class="bold-text">Journal Configration</div>
                        <div class="label">
                            <select class="form-control" id="journal-configration" ng-options="type for type in createCephClusterCntrl.diskConf.journalConfigrationType" ng-model="host.selectedJournalConfigration" ng-change="createCephClusterCntrl.getJournalMap(host)"></select>
                        </div>
                    </div>
                </div>
                <!-- <div class="list-view-pf-left col-md-3" ng-if="host.selectedJournalConfigration === 'Dedicated'">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <div class="bold-text">Partitions per Device (Max = {{host.maxLimit}})</div>
                        <div class="col-md-12">
                            <div class="col-md-4 remove-padding">
                                <input class="form-control" min="1" type="number" data-id="partitionSize" ng-model="host.partitionSize" max="{{host.maxLimit}}" required>
                            </div> 
                            <div class="col-md-3 remove-padding"><strong>per 1</strong></div>
                            <div class="col-md-5 remove-padding">
                                <select class="form-control" data-id="journal-configration" ng-change="" data-ng-options="type for type in createCephClusterCntrl.diskConf.partitionType" data-ng-model="host.selectedPartitionType" ng-init="host.selectedPartitionType = 'SSD'"></select>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div ng-class="{'horizontal-line': host.isExpanded}"></div>
        <div class="table-container" ng-if="host.isExpanded">
            <table class="table table-striped table-bordered table-hover" ng-if="host.selectedJournalConfigration === 'Dedicated'">
                <thead>
                    <tr>
                        <th>OSD</th>
                        <th>Journal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disk in host.storage_disks">
                        <td class="osd">
                            <div class="bold-text">{{disk.device || "NA"}}</div>
                            <div>{{(disk.ssd) === true ? "SSD" : "NON-SSD"}}, {{(disk.size | bytes)}}</div>
                        </td>
                        <td>{{disk.journal || "NA"}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-hover" ng-if="host.selectedJournalConfigration !== 'Dedicated'">
                <thead>
                    <tr>
                        <th>OSD</th>
                        <th>Type</th>
                        <th>Raw Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disk in host.storage_disks">
                        <td class="bold-text">
                            {{disk.device || "NA"}}
                        </td>
                        <td>{{(disk.ssd) === true ? "SSD" : "NON-SSD"}}</td>
                        <td>{{(disk.size | bytes)}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row unallocated-disks" ng-if="host.unallocated_disks.length && host.isExpanded">
            <div class="col-md-2 bold-text">Unallocated Disks:</div>
            <div class="col-md-10 unallocated-disks-name">
                <span ng-repeat="disk in host.unallocated_disks">{{disk}}
                    <span ng-if="$index !== (host.unallocated_disks.length-1)">, </span>
                </span>
            </div>
        </div>
    </div>
</div>