<div class="wizard-pf-contents" ng-if="createCephClusterCntrl.selectedStep === 1">
    <form class="form-horizontal" name="createCephClusterCntrl.createCluster" >
        <!-- replacing id with data-id to pass build errors -->
        <div class="form-group">
            <label class="col-sm-3 col-md-2 control-label" for="storageService">Storage Service</label>
            <div class="col-sm-8 col-md-3">
            <label class="control-label" data-id="storage-service" name="storageService">{{createCephClusterCntrl.storageService || "NA"}}</label>
            </div>
        </div>
        <div class="form-group required" ng-class="{'has-error': createCephClusterCntrl.createCluster.cephClusterName.$dirty && createCephClusterCntrl.createCluster.cephClusterName.$error.required }">
            <label class="col-sm-3 col-md-2 control-label" for="cephClusterName">Name</label>
            <div class="col-sm-4">
                <input type="text" data-id="ceph-cluster-name" class="form-control" name="cephClusterName" ng-model="createCephClusterCntrl.cephClusterName" required />
            </div>
            <span ng-show="createCephClusterCntrl.createCluster.cephClusterName.$dirty && createCephClusterCntrl.createCluster.cephClusterName.$error.required" class="error-msg">* Cluster name is required</span>
        </div>
                <div class="form-group required">
            <label class="col-md-2 control-label" for="descriptionInput-markup">Intended Usage</label>
            <div class="col-md-10">
                <div class="radio">
                    <label ng-disabled="createCephClusterCntrl.enableProIntendedUsage">
                        <input type="radio" name="intendedUsageRadio" id="production" value="production" ng-model="createCephClusterCntrl.intendedUsage" ng-checked="createCephClusterCntrl.intendedUsage === 'production'" ng-disabled="!createCephClusterCntrl.enableProIntendedUsage">
                        <strong class="control-label" for="production">Production</strong> (Requires atleast 3 Nodes)
                        <div>
                            <p>For storing data in a live application environment.</p>
                        </div>
                    </label>
                </div>
                <div class="radio">
                    <label ng-disabled="createCephClusterCntrl.enablePOCIntendedUsage">
                        <input type="radio" name="intendedUsageRadio" id="poc" value="poc" ng-checked="createCephClusterCntrl.intendedUsage === 'poc'" ng-model="createCephClusterCntrl.intendedUsage" ng-disabled="!createCephClusterCntrl.enablePOCIntendedUsage">
                        <strong class="control-label" for="poc">Evaluation or Demonstration(Proof of Concept)</strong> (Requires atleast 1 Node)
                        <div>
                            <p>For a proof of concept or demonstration environment only.</p>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>