<div class="wizard-pf-contents device-conf-view-container" ng-if="createCephClusterCntrl.selectedStep === 3">
    <h3>Available Disk Device</h3>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <!-- Search By -->
                            <select ng-disabled="createCephClusterCntrl.diskList.length === 0" ng-model="createCephClusterCntrl.diskFilterBy.property" class="btn btn-default dropdown-toggle">
                                <option value="fqdn">Host Name</option>
                                <option value="disks.devices.device_name">Device Name</option>
<!--                                 <option value="disks.devices.size">Size</option> -->
                                <option value="disks.devices.vendor">Vendor</option>
                            </select>
                        </div>
                        <!-- /btn-group -->
                        <input ng-disabled="createCephClusterCntrl.diskList.length === 0" type="text" class="form-control" id="filter" ng-model="createCephClusterCntrl.diskFilterBy.value" placeholder="Filter By {{createCephClusterCntrl.diskFilterBy.property}}...">
                    </div>
                    <!-- /input-group -->
                </div>
            </form>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="host in createCephClusterCntrl.filteredDiskList=(createCephClusterCntrl.selectedNodeList | filter: createCephClusterCntrl.filterList) track by $index">
        <div class="list-group-item">
            <div class="ng-scope col-md-12">
                <div class="col-md-1">
                    <i class="fa fa-angle-right angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="!host.isExpanded"></i>
                    <i class="fa fa-angle-down angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="host.isExpanded"></i>
                </div>
                <div class="list-view-pf-left col-md-3">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <strong>{{host.fqdn}}</strong>
                        <h5>
                         {{host.totalNodeInDevice}} Devices, {{host.stats.storage.total | bytes}} Total Raw Capacity
                        </h5>
                    </div>
                </div>
                <div class="list-view-pf-left col-md-3">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <div class="bold-text">Journal Size</div>
                        <div class="label">
                            <div class="col-md-6">
                                <input min="1" class="form-control" type="number" data-id="journalSize" ng-model="host.journalSize" ng-init="host.journalSize = 5">
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" data-id="journal-size-unit" data-ng-options="unit for unit in createCephClusterCntrl.diskConf.diskUnits" data-ng-model="host.customselectedUnit"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-view-pf-left col-md-2">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <div class="bold-text">Journal Configration</div>
                        <div class="label">
                            <select class="form-control" data-id="journal-configration" data-ng-options="type for type in createCephClusterCntrl.diskConf.journalConfigrationType" data-ng-model="host.selectedJournalConfigration"></select>
                        </div>
                    </div>
                </div>
                <div class="list-view-pf-left col-md-3" ng-if="host.selectedJournalConfigration === 'Dedicated'">
                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                        <div class="bold-text">Partitions per Device</div>
                        <div>
                            <div class="col-md-4 remove-padding">
                                <input class="form-control" min="0" type="number" data-id="partitionSize" ng-model="host.partitionSize" required>
                            </div> 
                            <div class="col-md-2 remove-padding"><strong>per 1</strong></div>
                            <div class="col-md-6 remove-padding">
                                <select class="form-control" data-id="journal-configration" ng-change="createCephClusterCntrl.diskConf.partitionValue(host.SelectedpartitionType, host)" data-ng-options="type for type in createCephClusterCntrl.diskConf.partitionType" data-ng-model="host.selectedPartitionType"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{'horizontal-line': host.isExpanded}"></div>
        <div class="table-container" ng-show="host.isExpanded">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Device</th>
                        <th>Vendor</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Raw Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disk in host.disks.devices | filter: createCephClusterCntrl.filterNestedList">
                        <td>{{disk.device_name || "NA"}}</td>
                        <td>{{disk.vendor || "NA"}}</td>
                        <td>{{disk.model || "NA"}}</td>
                        <td>{{(disk.ssd).toLowerCase() === "true" ? "SSD" : "NON-SSD"}}</td>
                        <td>{{(disk.size | bytes)}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>