<div class="wizard-pf-contents device-conf-view-container" ng-if="createCephClusterCntrl.selectedStep === 4">
    <h3>Subnets</h3>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <!-- Search By -->
                            <select ng-disabled="createCephClusterCntrl.diskList.length === 0" ng-model="createCephClusterCntrl.subnetFilterBy.property" class="btn btn-default dropdown-toggle">
                                <option value="networks.eth0.ipv4">Ip Addr</option>
                            </select>
                        </div>
                        <!-- /btn-group -->
                        <input ng-disabled="createCephClusterCntrl.diskList.length === 0" type="text" class="form-control" id="filter" ng-model="createCephClusterCntrl.subnetFilterBy.value" placeholder="Filter By IP Address...">
                    </div>
                    <!-- /input-group -->
                </div>
            </form>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="host in createCephClusterCntrl.filteredDiskList=(createCephClusterCntrl.selectedNodeList | filter: createCephClusterCntrl.filterList) track by $index">
        <div class="list-group-item">
            <div class="ng-scope col-md-12">
            	<div class="col-md-1">
                    <i class="fa fa-angle-right angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="!host.isExpanded"></i>
                    <i class="fa fa-angle-down angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="host.isExpanded"></i>
                </div>
                <div class="col-md-2">
					<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked stack-left">
						<strong>{{host.networks.subnet}}</strong>
					</div>  
				</div>
				<div class=" col-md-2">
					<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
						<strong>Interfaces</strong>
						<h5>{{host.networks.eth0.length}}</h5>
					</div>
				</div>
				<div class=" col-md-1">
					<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
						<strong>Speed</strong>
						<h5>{{host.networks.speed || "NA"}}</h5>
					</div>
				</div>
				<div class=" col-md-2">
					<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.clusterNetworkCheckbox" name="clusterNetworkCheckbox">
						<h5>Cluster Network</h5>
					</div>
				</div>
				<div class="col-md-2">
					<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.publicNetworkCheckbox" name="publicNetworkCheckbox">
						<h5>Public Network</h5>
					</div>
				</div>
				<div class="col-md-2">
					<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.rgwNetworkCheckbox" name="rgwNetworkCheckbox">
						<h5>RGW Network</h5>
					</div>
				</div>
            </div>
        </div>
        <div ng-class="{'horizontal-line': host.isExpanded}"></div>
        <div class="table-container" ng-show="host.isExpanded">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>IP Address</th>
                        <th>Interface</th>
                        <th>Speed</th>
                        <th>Cluster Network</th>
                        <th>Public Network</th>
                        <th>RGW Network</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="eth in host.networks.eth0 | filter: createCephClusterCntrl.filterNestedList">
                        <td>{{host.fqdn || "NA"}}</td>
                        <td>{{eth.ipv4 || "NA"}}</td>
                        <td>{{eth.interface || "NA"}}</td>
                        <td>{{eth.speed}}</td>
                        <td><input type="checkbox" ng-model="eth.clusterNetworkCheckbox" name="clusterNetworkCheckbox"></td>
                        <td><input type="checkbox" ng-model="eth.publicNetworkCheckbox" name="publicNetworkCheckbox"></td>
                        <td><input type="checkbox" ng-model="eth.rgwNetworkCheckbox" name="rgwNetworkCheckbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 
		<div class="col-md-12 list-view-container">
			<div pf-list-view class="example-list-view" id="exampleListView" config="createCephClusterCntrl.config" items="createCephClusterCntrl.selectedNodes() | filter: createCephClusterCntrl.searchBy" custom-scope="createCephClusterCntrl.customScope">
				<div class="list-group-item">
					<div class="ng-scope col-md-12">
						<div class="list-group-item-heading ng-binding col-md-2">
							<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
								<strong>{{host.networks.subnet}}</strong>
							</div>  
						</div>
						<div class="list-group-item-heading ng-binding col-md-2">
							<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
						<strong>Interface</strong>
						<h5>{{host.networks.eth0.length}}</h5>
							</div>
						</div>
						<div class="list-group-item-heading ng-binding col-md-2">
							<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
							<strong>Speed</strong>
							<h5>{{host.networks.speed}}</h5>
							</div>
						</div>
						<div class="list-group-item-heading ng-binding col-md-2 list-view-pf-additional-info-item-stacked">
							<div class="list-view-pf-additional-info-item">
							<input type="checkbox" ng-model="host.clusterNetworkCheckbox" name="clusterNetworkCheckbox">
							<h5>Cluster Network</h5>
							</div>
						</div>
						<div class="list-group-item-heading ng-binding col-md-2 list-view-pf-additional-info-item-stacked" >
							<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.clusterPublicNetwork" name="clusterPublicNetwork">
						<h5>Public Network</h5>
							</div>
						</div>
						<div class="list-group-item-heading ng-binding col-md-2 list-view-pf-additional-info-item-stacked">
							<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.clusterRGW" name="clusterRGW Network">
						<h5>RGW Network</h5>
							</div>
						</div>
					</div>
				</div>
				<list-expanded-content>
				<table st-table="disks" st-safe-src="$parent.item.network.eth0" class="table table-striped">
					<thead>
						<tr>
							<th st-sort="device_name">Device</th>
							<th st-sort="vendor">Vendor</th>
							<th st-sort="model">Model</th>
							<th st-sort="ssd">Type</th>
							<th st-sort="rawCapacity">Raw Capacity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="disk in disks">
							<td>{{disk.device_name}}</td>
							<td>{{disk.vendor}}</td>
							<td>{{disk.model}}</td>
							<td>{{disk.ssd === "True" ? "SSD" : "Non SSD"}}</td>
							<td>{{disk.size | bytes}}</td>
						</tr>
					</tbody>
				</table>
			</list-expanded-content>
		</div>
	</div> -->
</form>
</div>