<div class="wizard-pf-contents device-conf-view-container" ng-if="createCephClusterCntrl.selectedStep === 4">
    <h3>Subnets</h3>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <!-- Search By -->
                            <select ng-disabled="createCephClusterCntrl.diskList.length === 0" ng-model="createCephClusterCntrl.subnetFilterBy.property" class="btn btn-default dropdown-toggle">
                                <option value="networks.eth0.subnet">Ip Addr</option>
                            </select>
                        </div>
                        <!-- /btn-group -->
                        <input ng-disabled="createCephClusterCntrl.diskList.length === 0" type="text" class="form-control" id="filter" ng-model="createCephClusterCntrl.subnetFilterBy.value" placeholder="Filter By IP Address...">
                    </div>
                    <!-- /input-group -->
                </div>
            </form>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="host in createCephClusterCntrl.filteredDiskList=(createCephClusterCntrl.selectedNodeList | filter: createCephClusterCntrl.filterList) track by $index">
        <div class="list-group-item">
            <div class="col-md-12">
            	<div class="col-md-1">
                    <i class="fa fa-angle-right angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="!host.isExpanded"></i>
                    <i class="fa fa-angle-down angle-expand" aria-hidden="true" ng-click="createCephClusterCntrl.expandList(host)" ng-show="host.isExpanded"></i>
                </div>
                <div class="col-md-2">
					<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked stack-left">
						<strong>{{host.networks.eth0.subnet}}</strong>
					</div>  
				</div>
				<div class=" col-md-2">
					<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
						<strong>Interfaces</strong>
						<h5>{{host.networks.eth0.ipv4.length}}</h5>
					</div>
				</div>
				<div class=" col-md-1">
					<div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
						<strong>Speed</strong>
						<h5>{{host.networks.eth0.speed || "NA"}}</h5>
					</div>
				</div>
				<div class=" col-md-2">
					<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.networks.eth0.selectedNetworkList.clusterNetworkCheckbox" ng-change = "createCephClusterCntrl.changeSelectedNetwork(host.networks.eth0.selectedNetworkList, 'clusterNetworkCheckbox')" name="clusterNetworkCheckbox">
						<h5>Cluster Network</h5>
					</div>
				</div>
				<div class="col-md-2">
					<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.networks.eth0.selectedNetworkList.publicNetworkCheckbox" ng-change = "createCephClusterCntrl.changeSelectedNetwork(host.networks.eth0.selectedNetworkList, 'publicNetworkCheckbox')" name="publicNetworkCheckbox">
						<h5>Public Network</h5>
					</div>
				</div>
				<div class="col-md-2">
					<div class="list-view-pf-additional-info-item">
						<input type="checkbox" ng-model="host.networks.eth0.selectedNetworkList.rgwNetworkCheckbox" ng-change = "createCephClusterCntrl.changeSelectedNetwork(host.networks.eth0.selectedNetworkList, 'rgwNetworkCheckbox')" name="rgwNetworkCheckbox">
						<h5>RGW Network</h5>
					</div>
				</div>
            </div>
        </div>
        <div ng-class="{'horizontal-line': host.isExpanded}"></div>
        <div class="table-container" ng-show="host.isExpanded">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>IP Address</th>
                        <th>Interface</th>
                        <th>Speed</th>
                        <th>Cluster Network</th>
                        <th>Public Network</th>
                        <th>RGW Network</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="eth in host.networks.eth0.selectedNetworkList.ipFlags | filter: createCephClusterCntrl.filterNestedList">
                        <td>{{host.fqdn || "NA"}}</td>
                        <td>{{eth.ip || "NA"}}</td>
                        <td>{{host.networks.eth0.interface || "NA"}}</td>
                        <td>{{host.networks.eth0.speed || "NA"}}</td>
                        <td><input type="checkbox"  ng-model="eth.clusterNetworkCheckbox" ng-change = "createCephClusterCntrl.allCheckboxSelected(host.networks.eth0.selectedNetworkList, 'clusterNetworkCheckbox')" name="clusterNetworkCheckbox"></td>
                        <td><input type="checkbox" ng-model="eth.publicNetworkCheckbox" ng-change = "createCephClusterCntrl.allCheckboxSelected(host.networks.eth0.selectedNetworkList, 'publicNetworkCheckbox')"  name="publicNetworkCheckbox"></td>
                        <td><input type="checkbox"  ng-model="eth.rgwNetworkCheckbox" ng-change = "createCephClusterCntrl.allCheckboxSelected(host.networks.eth0.selectedNetworkList, 'rgwNetworkCheckbox')"  name="rgwNetworkCheckbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>