<div class="wizard-pf-contents" ng-if="createFileShareCntrl.settings.step === 2">
    <form class="form-horizontal">
        <div class="form-group required">
            <div class="col-md-2 col-sm-4">
                <label class="control-label" for="optimizedOptions">Optimized For</label>
            </div>
            <div class="col-md-6 col-sm-8">
                <select data-ng-options="option for option in createFileShareCntrl.settings.optimizedOptions" data-ng-model="createFileShareCntrl.settings.selectedOption" class="form-control" data-id="optimizedOptions"></select>
            </div>
        </div>
</div>
</form>
</div>
