.tendrl-cluster-list-view-container {
    .bold-text {
        font-weight: bold;
    }
    .sorting-section {
        border-right: none;
    }
    .cluster-name {
        color: $color-boston-blue;
        text-transform: capitalize;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
    }
    .host-name {
        text-transform: initial;
    }
    .container-fluid {
        margin-top: 15px;
        .list-group {
            margin-bottom: 0px;
            .list-group-item {
                .list-group-item-header {
                    .list-view-pf-expand {
                        margin-top: 30px;
                        .fa-angle-down {
                            cursor: pointer;
                            font-size: 17px;
                            margin-right: 5px;
                            margin-top: 2px;
                            width: 10px;
                        }
                    }
                    .display {
                        display: block;
                    }
                    .list-view-pf-main-info .list-view-pf-body .error-message {
                        color: $color-red !important;
                    }
                }
                &.list-view-pf-expand-active {
                    border-color: $color-silver;
                }
                .list-group-item-container {
                    border-top-color: $color-silver;
                    max-height: 265px;
                    overflow: auto;
                    .list-view-pf-main-info {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        .list-view-pf-description {
                            flex: 1 0 15%;
                        }
                    }
                }
                .list-view-pf-main-info {
                    .pficon-error-circle-o {
                        padding-left: 5px;
                    }
                    .list-view-pf-description {
                        width: 20%;
                        flex: 1 0 15%;
                        .list-group-item-heading {
                            width: calc(25% - 20px);
                        }
                        .list-group-item-text {
                            width: calc(65% - 125px);
                        }
                    }
                    .list-view-pf-additional-info {
                        flex: 1 0 50%;
                        width: 123%;
                        .list-view-pf-additional-info-item {
                            flex: 1 0;
                        }
                    }
                }
            }
        }
    }
    .not-available {
        margin-left: 38px;
    }
    .container-fluid {
        .list-view-pf-view {
            margin-top: 0;
        }
    }
    .import-btn {
        width: 110px;
    }
}
