<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-cluster-list-view-container container-fluid">
    <h1 class="bold-text">Clusters</h1>
    <div class="container-fluid">
        <div class="row toolbar-pf">
            <div class="col-sm-12">
                <form class="toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter">
                        <label class="sr-only" for="filter">Name</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button ng-disabled="clusterCntrl.clusterList.length === 0" type="button" class="btn btn-default dropdown-toggle filterSelect" ng-model="clusterCntrl.filterBy" ng-change="clusterCntrl.searchBy = {}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{clusterCntrl.filterByValue}} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-class="{'selected':(clusterCntrl.filterBy === 'name')}"><a href="" ng-click="clusterCntrl.changingFilterBy('name')">Name</a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <input ng-disabled="clusterCntrl.clusterList.length === 0" type="text" class="form-control" id="filter" ng-model="clusterCntrl.searchBy[clusterCntrl.filterBy]" placeholder="Filter by {{clusterCntrl.filterPlaceholder}}">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class="form-group">
                        <div class="dropdown btn-group">
                            <button type="button" ng-disabled="clusterCntrl.clusterList.length === 0" class="btn btn-default dropdown-toggle filterSelect" ng-model="clusterCntrl.orderBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{clusterCntrl.orderByValue}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-class="{'selected':(clusterCntrl.orderBy === 'name')}"><a href="" ng-click="clusterCntrl.changingOrderBy('name')">Name</a></li>
                                <li ng-class="{'selected':(clusterCntrl.orderBy === 'status')}"><a href="" ng-click="clusterCntrl.changingOrderBy('status')">Status</a></li>
                                <li ng-class="{'selected':(clusterCntrl.orderBy === 'sdsVersion')}"><a href="" ng-click="clusterCntrl.changingOrderBy('sdsVersion')">Cluster Version</a></li>
                                <li ng-class="{'selected':(clusterCntrl.orderBy === 'managed')}"><a href="" ng-click="clusterCntrl.changingOrderBy('managed')">Managed</a></li>
                            </ul>
                        </div>
                        <button ng-init="clusterCntrl.ascOrder = ''" ng-disabled="clusterCntrl.clusterList.length === 0" class="btn btn-link" type="button">
                            <span ng-if="clusterCntrl.ascOrder !== ''" class="fa fa-sort-alpha-desc" ng-click="clusterCntrl.ascOrder = ''"></span>
                            <span ng-if="clusterCntrl.ascOrder !== '-'" class="fa fa-sort-alpha-asc" ng-click="clusterCntrl.ascOrder = '-'"></span>
                        </button>
                    </div>
                </form>
                <div class="row toolbar-pf-results">
                    <div class="col-sm-12">
                        <h5 ng-if="clusterCntrl.clusterList.length !== 0">{{clusterCntrl.filteredClusteredList.length}} 
                            <ng-pluralize count="clusterCntrl.clusterList.length" when="{'one': 'Cluster',
                       'other': 'Clusters'}"></ng-pluralize>
                        </h5>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <center ng-if="!clusterCntrl.isDataLoading && (clusterCntrl.clusterList.length === 0 || clusterCntrl.clusterNotPresent)">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-cluster"></i>
            </div>
            <h1>No Clusters Detected</h1>
            <p>Ensure Tendrl server and node agents were successfully installed, and verify the Tendrl services are correctly configured.
            </p>
        </div>
    </center>
    <center ng-if="!clusterCntrl.isDataLoading && clusterCntrl.filteredClusteredList.length === 0 && clusterCntrl.clusterList.length !== 0" class="empty-filter-list">
        <div class="blank-slate-pf">
            <div class="message">No results match the filter criteria</div>
            <div class="suggestion">
                <div class="title">Suggestions</div>
                <div>Please try selecting other filter criteria.</div>
            </div>
            <a href="" class="clear-filter-link" ng-click="clusterCntrl.clearAllFilters()">Clear All Filters</a>
        </div>
    </center>
    <div ng-if="clusterCntrl.isDataLoading" class="spinner spinner-lg"></div>
    <div class="list-group list-view-pf list-view-pf-view" ng-repeat="cluster in clusterCntrl.filteredClusteredList = (clusterCntrl.clusterList | filter: clusterCntrl.searchBy | orderBy: [clusterCntrl.ascOrder + clusterCntrl.orderBy, 'name']) track by $index">
        <div class="list-group-item" ng-class="{'list-view-pf-expand-active': cluster.isExpanded}">
            <div class="list-group-item-header" ng-click="clusterCntrl.expandCluster($event, cluster)">
                <div class="list-view-pf-expand">
                    <span class="fa fa-angle-right" ng-show="!cluster.isExpanded" ng-click="clusterCntrl.expandCluster($event,cluster)"></span>
                    <span class="fa fa-angle-down" ng-show="cluster.isExpanded" ng-click="clusterCntrl.expandCluster($event, cluster)"></span>
                </div>
                <div class="list-view-pf-actions">
                    <button class="btn btn-default" ng-show="cluster.managed === 'Yes' && cluster.importStatus === 'done'" ng-click="clusterCntrl.goToClusterDetail(cluster)" tooltip-enable="clusterCntrl.flag" ng-mouseover="clusterCntrl.addTooltip($event)" uib-tooltip="Details">Details</button>
                    <button class="btn btn-default" ng-show="cluster.managed === 'Yes' && cluster.importStatus === 'done'" ng-click="clusterCntrl.redirectToGrafana(cluster, $event)" tooltip-enable="clusterCntrl.flag" ng-mouseover="clusterCntrl.addTooltip($event)" uib-tooltip="Dashboard">Dashboard</button>
                    <button class="btn btn-default profiling-btn" ng-disabled="$root.userRole === 'limited' || clusterCntrl.profilingButtonClick" ng-show="cluster.managed === 'Yes' && cluster.importStatus === 'done'" ng-click="clusterCntrl.doProfilingAction($event, cluster, cluster.isProfilingEnabled === 'Enabled' ? 'Disable' : 'Enable', cluster.clusterId)" tooltip-enable="clusterCntrl.flag" ng-mouseover="clusterCntrl.addTooltip($event)" uib-tooltip="cluster.isProfilingEnabled === 'Enabled' ? 'Disable Profiling' : 'Enable Profiling'">{{cluster.isProfilingEnabled === 'Enabled' ? "Disable Profiling" : "Enable Profiling"}}
                        <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" data-ng-class="{'hidden': clusterCntrl.profilingButtonClick !== true }"></i>
                    </button>
                    <button class="btn btn-default import-btn" ng-show="(cluster.managed === 'No' && $root.userRole !=='limited')" ng-disabled="cluster.message === 'Cluster Misconfigured' || cluster.importStatus === 'in_progress' || (cluster.managed === 'Yes' && cluster.importStatus === 'done') || cluster.importStatus === 'failed'" ng-click="clusterCntrl.goToImportFlow(cluster)" tooltip-enable="clusterCntrl.flag" ng-mouseover="clusterCntrl.addTooltip($event)" uib-tooltip="Import">Import&nbsp;</button>
                </div>
                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                        <i ng-class="{'pficon pficon-warning-triangle-o': (cluster.status === 'HEALTH_ERR' || cluster.status === 'HEALTH_WARN'), 'pficon pficon-ok': (cluster.status === 'HEALTH_OK'), 'fa fa-question': (cluster.managed !== 'Yes')}"></i>
                    </div>
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading cluster-name bold-text counts" uib-tooltip-html="'{{cluster.name}}'" tooltip-placement="auto bottom-left">
                                {{cluster.name}}
                            </div>
                        </div>
                        <div class="list-view-pf-additional-info">
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <div class="bold-text">Cluster Version</div>
                                <h5 class="pull-left counts">{{cluster.sdsName}} {{cluster.sdsVersion}}</h5>
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <div class="bold-text">Managed</div>
                                <h5 class="pull-left counts">{{cluster.managed}}</h5>
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <div class="bold-text">Volume Profiling</div>
                                <h5 class="pull-left counts">{{cluster.isProfilingEnabled}}</h5>
                            </div>
                            <div class="list-view-pf-additional-info-item cluster-text" ng-class="{'error-message': (cluster.message === 'Cluster Misconfigured'), 'warning-message': (cluster.message === 'Import Failed')}">
                                {{cluster.importStatus === 'in_progress' ? "Importing cluster" : cluster.message}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item-container container-fluid scroll" ng-show="cluster.isExpanded">
                <div class="close">
                    <span class="pficon pficon-close" ng-click="clusterCntrl.closeExpandedView(cluster)"></span>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': clusterCntrl.isTabSet(cluster, 1)}"><a href="" ng-click="clusterCntrl.setTab(cluster, 1)">Hosts</a></li>
                        <li ng-class="{'active': clusterCntrl.isTabSet(cluster, 2)}" ng-show="cluster.errors.length"><a href="" ng-click="clusterCntrl.setTab(cluster, 2)">Messages</a></li>
                    </ul>
                    <div class="list-group list-view-pf list-view-pf-view" ng-repeat="host in cluster.hosts | orderBy: 'fqdn'" ng-show="cluster.activeTab === 1">
                        <div class="list-group-item">
                            <div class="list-view-pf-main-info">
                                <div class="list-view-pf-left">
                                    <span uib-tooltip-html="'{{host.status}}'" ng-if="host.status ==='UP'" class="pficon pficon-ok list-view-pf-icon-success status-icons"></span>
                                    <span uib-tooltip-html="'{{host.status}}'" ng-if="host.status ==='DOWN'" class="fa fa-arrow-circle-o-down list-view-icon-failure status-icons"></span>
                                </div>
                                <div class="list-view-pf-body">
                                    <div class="list-view-pf-description">
                                        <div class="list-group-item-heading cluster-name host-name bold-text counts" uib-tooltip-html="'{{host.fqdn}}'" tooltip-placement="auto bottom-left">
                                            {{host.fqdn}}
                                        </div>
                                    </div>
                                    <div class="list-view-pf-additional-info">
                                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                            <div class="bold-text">Role</div>
                                            <h5 class="pull-left counts">{{host.role}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-view-pf list-view-pf-view error-list" ng-repeat="message in cluster.errors" ng-show="cluster.activeTab === 2 && cluster.errors.length">
                        <div class="list-group-item">
                            <div class="list-view-pf-main-info">
                                <div class="list-view-pf-body">
                                    <div class="list-view-pf-description">
                                        <div class="list-group-item-heading">
                                            {{message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center ng-show="cluster.activeTab === 2 && !cluster.errors.length">
                        <div class="blank-slate-pf">
                            <div class="blank-slate-pf-icon">
                                <i class="pficon pficon-cluster"></i>
                            </div>
                            <h1>No Messages found.</h1>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
