<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-cluster-list-view-container container-fluid">
    <h1 class="bold-text">Clusters</h1>
    <div class="container-fluid">
        <div class="row toolbar-pf">
            <div class="col-sm-12">
                <form class="toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter">
                        <label class="sr-only" for="filter">Name</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <select ng-disabled="clusterCntrl.clusterList.length === 0" ng-model="clusterCntrl.filterBy" class="btn btn-default dropdown-toggle" ng-change="clusterCntrl.searchBy = {}">
                                    <option value="name">Name</option>
                                </select>
                            </div>
                            <!-- /btn-group -->
                            <input type="text" class="form-control" id="filter" ng-model="clusterCntrl.searchBy[clusterCntrl.filterBy]" placeholder="Filter By {{clusterCntrl.filterBy}}...">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class="form-group">
                        <div class="dropdown btn-group">
                            <select ng-disabled="clusterCntrl.clusterList.length === 0" ng-model="clusterCntrl.orderBy" class="btn btn-default dropdown-toggle">
                                <option value="name">Name</option>
                                <option value="status">Status</option>
                                <option value="sdsVersion">Cluster Version</option>
                                <option value="managed">Managed</option>
                            </select>
                        </div>
                        <button ng-init="clusterCntrl.ascOrder = ''" ng-disabled="clusterCntrl.clusterList.length === 0" class="btn btn-link" type="button">
                            <span ng-if="clusterCntrl.ascOrder !== ''" class="fa fa-sort-alpha-desc" ng-click="clusterCntrl.ascOrder = ''"></span>
                            <span ng-if="clusterCntrl.ascOrder !== '-'" class="fa fa-sort-alpha-asc" ng-click="clusterCntrl.ascOrder = '-'"></span>
                    </div>
                </form>
                <div class="row toolbar-pf-results">
                    <div class="col-sm-12">
                        <h5 ng-if="clusterCntrl.clusterList.length !== 0">{{clusterCntrl.filteredClusteredList.length}} 
                            <ng-pluralize count="clusterCntrl.clusterList.length" when="{'one': 'Cluster',
                       'other': 'Clusters'}"></ng-pluralize>
                        </h5>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <center ng-if="!clusterCntrl.isDataLoading && (clusterCntrl.clusterList.length === 0 || clusterCntrl.clusterNotPresent)">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-cluster"></i>
            </div>
            <h1>No Clusters Detected.</h1>
            <p>If you have already cluster created or imported and still do not see Clusters, make sure the Clusters are configured correctly.
            </p>
        </div>
    </center>
    <div ng-if="clusterCntrl.isDataLoading" class="spinner spinner-lg"></div>
    <div class="container-fluid" ng-if="!clusterCntrl.isDataLoading">
        <div class="list-group list-view-pf list-view-pf-view" ng-repeat="cluster in clusterCntrl.filteredClusteredList = (clusterCntrl.clusterList | filter: clusterCntrl.searchBy | orderBy: clusterCntrl.ascOrder + clusterCntrl.orderBy + 'name') track by $index">
            <div class="list-group-item" ng-class="{'list-view-pf-expand-active': cluster.isExpanded}">
                <div class="list-group-item-header" ng-click="clusterCntrl.expandCluster($event, cluster)">
                    <div class="list-view-pf-expand">
                        <span class="fa fa-angle-right" ng-show="!cluster.isExpanded" ng-click="clusterCntrl.expandCluster($event,cluster)"></span>
                        <span class="fa fa-angle-down" ng-show="cluster.isExpanded" ng-click="clusterCntrl.expandCluster($event, cluster)"></span>
                    </div>
                    <div class="list-view-pf-actions">
                        <button class="btn btn-default" ng-click="clusterCntrl.goToClusterDetail(cluster)" ng-class="{'hide-button': cluster.managed !== 'Yes'}">Cluster Details</button>
                        <button class="btn btn-default import-btn" ng-show="cluster.managed === 'No'" ng-disabled="cluster.message === 'Cluster Misconfigured' || cluster.importStatus === 'in_progress'" ng-click="clusterCntrl.goToImportFlow(cluster)" ng-class="{'hide-button': ($root.userRole ==='limited' || cluster.managed !== 'No')}">Import Cluster</button>
                        <button class="btn btn-default" ng-show="cluster.managed === 'Yes'" ng-click="clusterCntrl.redirectToGrafana(cluster, $event)">Launch Dashboard</button>
                        <div class="dropdown pull-right dropdown-kebab-pf" ng-class="{'hide-button': (cluster.managed !== 'Yes' || $root.userRole === 'limited')}">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="clusterCntrl.showKababMenu($event, cluster)">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight12" ng-class="{display: cluster.isKababOpened}">
                                <li><a ng-show="cluster.isProfilingEnabled === 'Enabled'" ng-click="clusterCntrl.doProfilingAction($event, cluster, 'Disable')">Disable Profiling</a></li>
                                <li><a ng-show="cluster.isProfilingEnabled !== 'Enabled'" ng-click="clusterCntrl.doProfilingAction($event, cluster, 'Enable')">Enable Profiling</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                            <i class="pficon" ng-class="{'pficon-error-circle-o': (cluster.status === 'HEALTH_ERR'), 'pficon-ok': (cluster.status === 'HEALTH_OK'), 'pficon-warning-triangle-o': (cluster.status === 'HEALTH_WARN')}" ng-show="cluster.managed === 'Yes'"></i>
                        </div>
                        <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                                <div class="list-group-item-heading cluster-name bold-text counts" uib-tooltip-html="'{{cluster.name}}'" tooltip-placement="auto bottom-left">
                                    {{cluster.name}}
                                </div>
                                <div class="list-group-item-text" ng-class="{'error-message': (cluster.message === 'Cluster Misconfigured')}">
                                    {{cluster.message}}
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info">
                                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                    <div class="bold-text">Cluster Version</div>
                                    <h5 class="pull-left counts">{{cluster.sdsVersion}}</h5>
                                </div>
                                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                    <div class="bold-text">Managed</div>
                                    <h5 class="pull-left counts">{{cluster.managed}}</h5>
                                </div>
                                <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                    <div class="bold-text">Volume Profile</div>
                                    <h5 class="pull-left counts">{{cluster.isProfilingEnabled}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item-container container-fluid" ng-show="cluster.isExpanded">
                    <div class="close">
                        <span class="pficon pficon-close" ng-click="clusterCntrl.closeExpandedView(cluster)"></span>
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li ng-class="{'active': clusterCntrl.isTabSet(cluster, 1)}"><a href="" ng-click="clusterCntrl.setTab(cluster, 1)">Hosts</a></li>
                            <li ng-class="{'active': clusterCntrl.isTabSet(cluster, 2)}" ng-show="cluster.errors.length"><a href="" ng-click="clusterCntrl.setTab(cluster, 2)">Messages</a></li>
                        </ul>
                        <div class="list-group list-view-pf list-view-pf-view" ng-repeat="host in cluster.hosts | orderBy: 'fqdn'" ng-show="cluster.activeTab === 1">
                            <div class="list-group-item">
                                <div class="list-view-pf-main-info">
                                    <div class="list-view-pf-left">
                                        <span uib-tooltip-html="'{{host.status}}'" ng-if="host.status ==='UP'" class="pficon pficon-ok list-view-pf-icon-success status-icons"></span>
                                        <span uib-tooltip-html="'{{host.status}}'" ng-if="host.status !=='UP'" class="fa fa-arrow-circle-o-down list-view-icon-failure status-icons"></span>
                                    </div>
                                    <div class="list-view-pf-body">
                                        <div class="list-view-pf-description">
                                            <div class="list-group-item-heading cluster-name host-name bold-text counts" uib-tooltip-html="'{{host.fqdn}}'" tooltip-placement="auto">
                                                {{host.fqdn}}
                                            </div>
                                        </div>
                                        <div class="list-view-pf-additional-info">
                                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                                <div class="bold-text">Role</div>
                                                <h5 class="pull-left counts">{{host.role}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group list-view-pf list-view-pf-view" ng-repeat="message in cluster.errors" ng-show="cluster.activeTab === 2 && cluster.errors.length">
                            <div class="list-group-item">
                                <div class="list-view-pf-main-info">
                                    <div class="list-view-pf-body">
                                        <div class="list-view-pf-description">
                                            <div class="list-group-item-heading bold-text">
                                                {{message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <center ng-show="cluster.activeTab === 2 && !cluster.errors.length">
                            <div class="blank-slate-pf">
                                <div class="blank-slate-pf-icon">
                                    <i class="pficon pficon-cluster"></i>
                                </div>
                                <h1>No Messages found.</h1>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
