<div class="container-fluid blockdevice-list">
    <div class="page-header">
        <h1>RBDs</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
        <div class="col-md-offset-6 col-md-3">
            <span class="pull-right">
                <button class="btn btn-primary btn-lg" ng-click="rbds.create()">Add</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group list-view-pf">
                <div ng-repeat="rbd in rbds.list | filter:search">
                    <block-device-item details="rbd" remove="rbds.remove(rbd)" resize="rbds.showResizeForm(rbd)"></block-device-item>
                    <div class="list-group-item list-item-resize" ng-if="rbd.resize">
                        <form name="form" class="form-horizontal resize-form">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="type">Target Size</label>
                                <div class="col-md-2">
                                    <storage-size-selector default="rbd.targetSize" on-change="rbds.updateSize(rbd, newSize)"></storage-size-selector>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary" ng-click="rbds.resize(rbd)">Save</button>
                                    <button class="btn btn-default" ng-click="rbds.cancelResize(rbd)">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>