<div class="container-fluid blockdevice-list">
    <div class="page-header">
        <h1>RBDs</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
        <div class="col-md-offset-6 col-md-3">
            <span class="pull-right">
                <button class="btn btn-primary btn-lg" ng-click="rbds.create()">Add</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group list-view-pf">
                <div ng-repeat="rbd in rbds.list | filter:search">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                        <div class="list-view-pf-actions">
                            <button class="btn btn-default" ng-click="rbds.showResizeForm(rbd)">Resize</button>
                            <button class="btn btn-default" ng-click="rbds.remove(rbd)">Remove</button>
                        </div>
                        <div class="list-view-pf-main-info">
                            <div class="list-view-pf-body">
                                <div class="list-view-pf-description">
                                    <div class="list-group-item-heading">{{rbd.name}}</div>
                                    <div class="list-group-item-text">on
                                        <strong>{{rbd.clustername}}</strong>
                                    </div>
                                </div>
                                <div class="list-view-pf-additional-info">
                                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                        <strong>{{rbd.size}}</strong>
                                    </div>
                                    <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                        <strong>Backing Pool</strong>{{rbd.storagename}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item list-item-resize" ng-if="rbd.resize">
                        <form name="form" class="form-horizontal resize-form">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="type">Target Size</label>
                                <div class="col-md-2">
                                    <input type="number" id="targetSizeValue" name="targetSizeValue" class="form-control" ng-model="rbd.targetSize.value" min="1"
                                    required></input>
                                </div>
                                <div class="col-md-1">
                                    <select pf-select ng-model="rbd.targetSize.unit" id="targetSizeUnit" name="targetSizeUnit" class="form-control" ng-options="unit for unit in rbds.sizeUnits"></select>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary" ng-click="rbds.resize(rbd)">Save</button>
                                    <button class="btn btn-default" ng-click="rbds.cancelResize(rbd)">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
