<div class="container-fluid blockdevice-list">
    <div class="page-header">
        <h1>RBDs</h1>
    </div>
    <div class="row" ng-if = "rbds.list.length > 0">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
        <div class="col-md-offset-6 col-md-3">
            <span class="pull-right">
                <button class="btn btn-primary btn-lg" ng-click="rbds.create()">Add</button>
            </span>
        </div>
    </div>
    <center ng-if="rbds.clusters.length > 0 && rbds.list.length == 0">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="fa fa-database"></i>
            </div>
            <h1>Add Block Storage</h1>
            <p> There are no RBDs currently defined. Click Add Storage to create RADOS Block Devices.</p>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" ng-click="rbds.create()">
                Add Storage
                </button>
            </div>
        </div>
    </center>
    <center ng-if="rbds.clusters.length == 0">
         <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="fa fa-database"></i>
            </div>
            <h1>Add Block Storage</h1>
            <p> There are currently no Ceph clusters defined. Block Storage must be added to an existing cluster.</p>
            <p> Start by creating or importing a cluster.</p>
            <p> You may return here to add block devices after the cluster is created.</p>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" ng-click="rbds.createCluster()">
                Create Cluster
                </button>
            </div>
        </div>
    </center>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group list-view-pf">
                <div ng-repeat="rbd in rbds.list | filter:search">
                    <block-device-item details="rbd" remove="rbds.remove(rbd)" resize="rbds.showResizeForm(rbd)"></block-device-item>
                    <div class="list-group-item list-item-resize" ng-if="rbd.resize">
                        <form name="form" class="form-horizontal resize-form">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="type">Target Size</label>
                                <div class="col-md-2">
                                    <storage-size-selector default="rbd.targetSize" on-change="rbds.updateSize(rbd, newSize)"></storage-size-selector>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary" ng-click="rbds.resize(rbd)">Save</button>
                                    <button class="btn btn-default" ng-click="rbds.cancelResize(rbd)">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>