<div class="container-fluid tasks-page">
    <ol class="breadcrumb">
        <li><a href="#/events">Admin</a></li>
        <li>Tasks</li>
    </ol>
    <div class="page-header">
        <h1>Tasks</h1>
    </div>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group col-sm-4 toolbar-pf-filter">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model-options="{ debounce: 1000 }" ng-change="tasks.applyFilter('search',tasks.searchQuery)" ng-model="tasks.searchQuery"><span class="input-group-addon" ng-click="tasks.applyFilter('search',tasks.searchQuery)"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="dropdown" ng-class="fromdateselector?'open':''">
                        <a class="dropdown-toggle" id="fromDateDropdown" role="button" bs-dropdown="dropdown" ng-click="fromdateselector=!fromdateselector">
                            <div class="input-group">
                                <input type="text" placeholder="From" class="form-control" data-ng-model="tasks.fromDateTimeFilter" ng-blur="fromdateselector=false"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="tasks.fromDateTimeFilter" data-on-set-time="fromdateselector=false"
                            ng-change="tasks.applyFilter('from',tasks.fromDateTimeFilter)" />
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="dropdown" ng-class="todateselector?'open':''">
                        <a class="dropdown-toggle" id="toDateDropdown" role="button" bs-dropdown="dropdown" ng-click="todateselector=!todateselector">
                            <div class="input-group">
                                <input type="text" placeholder="To" class="form-control" data-ng-model="tasks.toDateTimeFilter" ng-blur="todateselector=false"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="tasks.toDateTimeFilter" data-on-set-time="todateselector=false"
                            ng-change="tasks.applyFilter('to',tasks.toDateTimeFilter)" />
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-12"><br/><label>Show: </label>
                    <label ng-repeat="status in tasks.taskStatus">
                        <input type="checkbox" name="tasks.selectedStatus" value="{{status}}" ng-checked="tasks.selectedStatus.indexOf(status) > -1"
                        ng-click="tasks.toggleSelection(status)"> {{status}} &nbsp;</label>
                </div>
            </form>
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>{{tasks.totalCount}} Results</h5>
                    <p>Active filters:</p>
                    <ul class="list-inline" ng-repeat="(key, value) in tasks.filterObject">
                        <li>
                            <span class="label label-info" ng-if="!(key === 'status' && value.length === 0)">
                      {{key}} : <span ng-if="key === 'from' || key === 'to'">{{value | date:'medium'}}</span>
                          <span ng-if="!(key === 'from' || key === 'to')">{{value}}</span>
                      <a href="" ng-click="tasks.clearFilter(key)"><span class="pficon pficon-close"></span></a>
                            </span>
                        </li>
                    </ul>
                    <p><a ng-click="tasks.resetFilters()">Clear All Filters</a></p>
                </div>
                <!-- /col -->
            </div>
        </div>
    </div>

    <div class="row form-group toolbar-pf-view-selector">
        <ul class="pagination pull-right">
            <li>
                <a ng-click="tasks.paginate(tasks.pageNo-1)" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
            <li ng-show="tasks.pageNo > 3"><a ng-click="tasks.paginate(1)">1</a></li>
            <li ng-show="tasks.pageNo > 4"><a> ... </a></li>
            <li ng-show="tasks.pageNo > 2">
                <a ng-click="tasks.paginate(tasks.pageNo-2)" ng-bind="tasks.pageNo-2"></a>
            </li>
            <li ng-show="tasks.pageNo > 1">
                <a ng-click="tasks.paginate(tasks.pageNo-1)" ng-bind="tasks.pageNo-1"></a>
            </li>
            <li>
                <a class="selected-page" ng-click="tasks.paginate(tasks.pageNo)" ng-bind="tasks.pageNo"></a>
            </li>
            <li ng-show="tasks.pageNo < tasks.totalPages">
                <a ng-click="tasks.paginate(tasks.pageNo+1)" ng-bind="tasks.pageNo+1"></a>
            </li>
            <li ng-show="(tasks.pageNo+1) < tasks.totalPages">
                <a ng-click="tasks.paginate(tasks.pageNo+2)" ng-bind="tasks.pageNo+2"></a>
            </li>
            <li ng-show="(tasks.pageNo+3) < tasks.totalPages"><a> ... </a></li>
            <li ng-show="(tasks.pageNo+2) < tasks.totalPages">
                <a ng-click="tasks.paginate(tasks.totalPages)" ng-bind="tasks.totalPages"></a>
            </li>
            <li>
                <a ng-click="tasks.paginate(tasks.pageNo+1)" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="list-group list-view-pf">
        <div class="list-group-item" ng-repeat="task in tasks.list">
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <label class="pficon pficon-running fa-spin" ng-if="!task.completed"></label>
                    <label class="pficon pficon-ok" ng-if="task.completed && task.status == 1"></label>
                    <label class="pficon pficon-error-circle-o" ng-if="task.completed && (task.status === 2 || task.status === 3)"></label>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-additional-info justify-equal-space-around">
                        <div class="list-view-pf-additional-info-item task-name">
                            <label><a ng-href="#/tasks/{{task.id}}">{{task.name}}</a></label>
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <p><label>Started</label><br/>{{task.timestamp | date:'medium'}}</p>
                        </div>
                        <div class="list-view-pf-additional-info-item">
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <p><label>Last updated</label><br/>{{task.lastupdated | date:'medium'}}</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>