<div class="modal" tabindex="-1" role="dialog"  ng-controller="FirstController as first">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title"> Discovered Hosts </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="max-height:200px;overflow-y:auto;">
                    <div>
                        <input type="text" ng-model="query.hostname" class="search-query" placeholder="Search">
                        <button type="submit" class="btn" style="margin-bottom:4px;margin-left:-3px;"><i class="fa fa-search"></i></button>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="discoveredHost in first.discoveredHosts| filter:query ">
                                <td ng-bind="discoveredHost.hostname"></td>
                                <td>
                                    <button class="btn btn-default" type="button" ng-show="discoveredHost.state === 'UNACCEPTED' || discoveredHost.state === 'ACCEPTING'" ng-click="first.acceptHost(discoveredHost)" ng-disabled="discoveredHost.state === 'ACCEPTING'">
                                        <span class="fa fa-check" ng-show="discoveredHost.state==='UNACCEPTED'">Accept</span>
                                        <div ng-show="discoveredHost.state==='ACCEPTING'">
                                            <span class="fa fa-spinner fa-spin"></span>
                                            Accepting
                                        </div>
                                    </button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg " ng-if="first.discoveredHosts.length > 1" ng-click="first.acceptAllHosts();">Accept All</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>