<div class="hosts container-fluid">
    <div class="page-header">
        <div class="col-md-3 pull-right" ng-if="hosts.list.length > 0">
            <input type="text" class="form-control" placeholder="Search" ng-model="hosts.search">
        </div>
        <h1>Hosts</h1>
        <div class="col-md-6">
            <ul>
                <span class="list-inline" ng-repeat="(key, value) in hosts.paramsObject">
                    <li ng-if="hosts.isArray(value)" ng-repeat="subdata in value">
                        <span class="label label-info">
                        {{key}} : {{subdata}}
                         <a href="" ng-click="hosts.clearSearchQuery(key,$index)"><span class="pficon pficon-close cross-button"></span></a>
                        </span>
                    </li>
                    <li ng-if="!hosts.isArray(value)">
                        <span class="label label-info">
                        {{key}} : {{value}}
                         <a href="" ng-click="hosts.clearSearchQuery(key,null)"><span class="pficon pficon-close cross-button"></span></a>
                        </span>
                    </li>
                </span>
            </ul>
        </div>
    </div>
    <center ng-if="hosts.list.length == 0">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-container-node"></i>
            </div>
            <h1>No hosts detected.</h1>
            <p>Hosts are detected when you accept a node or <a href="" ng-click="hosts.createNewCluster()">create a cluster</a></p>
            <p>If you have already cluster created and still do not see hosts, make sure the hosts are configured correctly.</p>
        </div>
    </center>

    <div class="list-group list-view-pf" ng-repeat="host in hosts.list | filter:hosts.search">
        <div class="list-group-item">
            <div class="list-view-pf-actions">
                <div class="dropdown pull-right dropdown-kebab-pf">
                    <button
                        aria-expanded="false" aria-haspopup="true"
                        bs-dropdown="dropdown" type="button"
                        id="dropdownKebabRight" class="btn btn-link dropdown-toggle">
                        <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul aria-labelledby="dropdownKebabRight" role="menu" class="dropdown-menu dropdown-menu-right">
                        <li ng-if="host.state == 3">
                            <a ng-click="hosts.reinitialize(host)">
                                <i class="fa fa-repeat"></i> Reinitialize
                            </a>
                        </li>
                        <li ng-if="host.clusterid === '00000000-0000-0000-0000-000000000000'">
                            <a ng-click="hosts.removeHost(host)">
                                <i class="fa fa-trash"></i> Forget
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="pficon-running fa-spin fa-2x" ng-if="host.state === 1" title="Initializing..."></span>
                    <span class="pficon-error-circle-o fa-2x" ng-if="host.state === 3" title="Failed"></span>
                    <span class="pficon-warning-triangle-o fa-2x" ng-if="host.state === 2 && host.status === 1" title="Warning"></span>
                    <span class="pficon-ok fa-2x" ng-if="host.state === 2 && host.status === 0" title="Ok"></span>
                    <span class="pficon-error-circle-o fa-2x" ng-if="host.state === 2 && host.status === 2" title="Error"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-additional-info">
                        <div class="list-group-item-heading">
                            <a ng-if="host.state === 2 && host.cluster_name !== 'Unassigned'" ng-href="#/hosts/{{host.nodeid}}" ng-bind="host.hostname"></a>
                            <p ng-if="host.state !== 2 || host.cluster_name === 'Unassigned'" ng-bind="host.hostname"></p>
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-donut-chart" ng-if="host.state == 2">
                            <c3chart bindto-id="donut-storage-usage-chart-{{$index}}">
                                <chart-column column-id="Free" column-values="{{100 - host.utilizations.storageusage.percentused | number:1}}" column-color="#CCCCCC" column-type="donut"
                                />
                                <chart-column column-id="Using" column-values="{{host.utilizations.storageusage.percentused | number:1}}" column-color="{{host.utilizations.storageusage.percentused >= 90 ? '#CC0000' : host.utilizations.storageusage.percentused >= 80 ? '#EC7A08' : '#3F9C35'}}"
                                column-type="donut" />
                                <chart-donut title="{{host.utilizations.storageusage.percentused | number:1}}%" width="5" show-label="false" />
                                <chart-legend show-legend="false"></chart-legend>
                                <chart-size chart-height="80"></chart-size>
                                <chart-tooltip show-tooltip="false"></chart-tooltip>
                            </c3chart>
                            <div>Storage</div>
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-donut-chart" ng-if="host.state == 2">
                            <c3chart bindto-id="donut-cpu-usage-chart-{{$index}}">
                                <chart-column column-id="Free" column-values="{{100 - host.utilizations.cpupercentageusage | number:1}}" column-color="#CCCCCC" column-type="donut"
                                />
                                <chart-column column-id="Using" column-values="{{host.utilizations.cpuusage.percentused | number:1}}" column-color="{{host.utilizations.cpuusage.percentused >= 90 ? '#CC0000' : host.utilizations.cpuusage.percentused >= 80 ? '#EC7A08' : '#3F9C35'}}"
                                column-type="donut" />
                                <chart-donut title="{{host.utilizations.cpuusage.percentused | number:1}}%" width="5" show-label="false" />
                                <chart-legend show-legend="false"></chart-legend>
                                <chart-size chart-height="80"></chart-size>
                                <chart-tooltip show-tooltip="false"></chart-tooltip>
                            </c3chart>
                            <div>CPU</div>
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-donut-chart" ng-if="host.state == 2">
                            <c3chart bindto-id="donut-memory-usage-chart-{{$index}}">
                                <chart-column column-id="Free" column-values="{{100 - host.utilizations.memoryusage.percentused | number:1}}" column-color="#CCCCCC" column-type="donut"
                                />
                                <chart-column column-id="Using" column-values="{{host.utilizations.memoryusage.percentused | number:1}}" column-color="{{host.utilizations.memoryusage.percentused >= 90 ? '#CC0000' : host.utilizations.memoryusage.percentused >= 80 ? '#EC7A08' : '#3F9C35'}}"
                                column-type="donut" />
                                <chart-donut title="{{host.utilizations.memoryusage.percentused | number:1}}%" width="5" show-label="false" />
                                <chart-legend show-legend="false"></chart-legend>
                                <chart-size chart-height="80"></chart-size>
                                <chart-tooltip show-tooltip="false"></chart-tooltip>
                            </c3chart>
                            <div>Memory</div>
                        </div>
                        <div class="list-view-pf-additional-info-item deflex">
                            Cluster <strong ng-bind="host.cluster_name"></strong>
                        </div>
                        <div class="list-view-pf-additional-info-item deflex">
                            Role <strong ng-bind="hosts.getNodeTypeTitle(host)"></strong>
                        </div>
                        <div class="list-view-pf-additional-info-item deflex">
                            <span ng-class="(host.almwarncount + host.almcritcount) > 0 ? 'pficon pficon-error-circle-o' : 'pficon pficon-ok'"></span>
                            <span ng-bind="((host.almwarncount + host.almcritcount) || 'No') + ' Alert(s)'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>