.tendrl-rbd-resize-view-container {
    
    .task-submitted-icon {
        font-size: 50px;
        text-align: center;
    }

    .view-task-progress {
        text-align: center;
        margin-top: 15px;
    }

    .cluster-available {
    	font-size: 10px;
    }
}
