.tendrl-task-list-view-container {
    .toolbar-pf-resultss {
        border-top: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        @media screen and (min-width: 768px) and (max-device-width: 1024px) {
            width: 60%;
        }
        @media screen and (min-width: 1024px) and (max-device-width: 1224px) {
            width: 40%;
        }
        @media screen and (min-width: 1224px) {
            width: 30%;
        }
        .status-options {
            padding-bottom: 10px;
            input[type=checkbox] {
                vertical-align: bottom;
                height: 20px;
                width: 20px;
            }
        }
    }
    .task-list-table {
        max-height: 65vh;
        overflow: auto;
        .list-group-item {
            .task-flow {
                margin-left: 10px;
                align-items: left;
                flex: 1;
                .name {
                    cursor: pointer;
                }
            }
            .status-col {
                flex-grow: 0.5;
            }
            .task-btn {
                width: auto;
            }
        }
    }
    .extra-margin {
        margin-top: 0px;
    }
    .filter-section {
        margin-top: 20px;
    }
    .to-date-calendar {
        border-right: none;
    }
    .invalid-msg {
        margin-top: 21px;
    }
    .remove-right-border {
        border-right: none;
    }
    .horizontal-line {
        background-color: $color-light-grey;
        height: 1px;
    }
    .date-selector {
        position: relative;
    }
    .disable-picker {
        pointer-events: none;
        color: $color-gray;
    }
    .toolbar-pf-filter .form-group:last-child {
        padding-left: 0;
    }
    .toolbar-pf-results > span {
        display: none;
        width: 100% !important;
    }
    .toolbar-pf-filter {
        padding-top: 9px;
    }
    .date-link {
        cursor: pointer;
    }
}
