.tendrl-task-list-view-container {
    .toolbar-pf-results {
        border-top: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        @media screen and (min-width: 768px) and (max-device-width: 1024px) {
            width: 60%;
        }
        @media screen and (min-width: 1024px) and (max-device-width: 1224px) {
            width: 40%;
        }
        @media screen and (min-width: 1224px) {
            width: 30%;
        }
        .status-options {
            padding-bottom: 10px;
            input[type=checkbox] {
                vertical-align: bottom;
                height: 20px;
                width: 20px;
            }
        }
    }
    .task-list-table {
        max-height: 65vh;
        overflow: auto;
        .list-group-item {
            padding-top: 10px;
            padding-bottom: 10px;
            .task-flow {
                margin-left: 10px;
                align-items: left;
                flex: 1;
            }
            .status-col {
                flex-grow: 0.5;
            }
            .task-btn {
                width: auto;
            }
        }
    }

    .extra-margin {
        margin-top: 0px;
    }
    .filter-section {
        margin-top: 20px;
    }
    .to-date-calendar {
        border-right: none;
    }
    .invalid-msg {
        margin-top: 21px;
    }
    .remove-right-border {
        border-right: none;
    }
    .horizontal-line {
        background-color: $color-light-grey;
        height: 1px;
    }
    .date-selector {
        position: relative;
        .from-selector + .pficon,
        .to-selector + .pficon {
            position: absolute;
            top: 27px;
            right: 48px;
            z-index: 10;
            font-size: 13px;
            cursor: pointer;
        }
        .to-selector + .pficon {
            right: 32px;
        }
    }
    .disable-picker {
        pointer-events: none;
        color: $color-gray;
    }
}
