<div class="tendrl-ceph-dashboard-view-container">
    <center class="ceph-dashboard-not-available" ng-if="!vm.cephCluster">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-cluster"></i>
            </div>
            <h1>Ceph Dashboard Not Available.</h1>
        </div>
    </center>
    <div ng-if="vm.cephCluster">
        <full-aggregate-status-card ng-show="vm.showClusterData" status="vm.clusterStatus" show-top-border="true"></full-aggregate-status-card>
        <div class="col-md-12 remove-padding padding-initial push-top">
            <div class="col-md-8 remove-padding">
                <div class="col-md-6 card-bg" ng-class="{'blue-top-border': !vm.showClusterData}">
                    <div pf-utilization-trend-chart config="vm.rawStorageUtilizationConfig" chart-data="vm.rawStorageUtilizationData" center-label="vm.rawStorageUtilizationCenterLabel" donut-config="vm.rawStorageUtilizationDonutConfig" sparkline-config="vm.rawStorageUtilizationSparklineConfig" sparkline-chart-height="vm.rawStorageUtilizationCustChartHeight"></div>
                    <span class="trend-footer-pf col-md-12 text-right time-frame">Last 6 hours</span>
                </div>
                <div class="col-md-3 status-card-adjustment" pf-aggregate-status-card status="vm.hostStatus" show-top-border="{{!vm.showClusterData}}"></div>
                <div class="col-md-3 status-card-adjustment padding-right" pf-aggregate-status-card status="vm.monStatus" show-top-border="{{!vm.showClusterData}}"></div>
                <div class="col-md-3 status-card-adjustment" pf-aggregate-status-card status="vm.osdStatus"></div>
                <div class="col-md-3 status-card-adjustment padding-right" pf-aggregate-status-card status="vm.PGStatus"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="bg-white">
                    <div class="card-pf card-pf-aggregate-status status-card-left" ng-class="{'card-pf-accented': !vm.showClusterData}">
                        <h2 class="card-pf-title status-card-hr">
                        <span>Alerts</span>
                    </h2>
                        <center class="div-with-scroll" ng-show="!vm.alerts.length">
                            <div class="blank-slate-pf">
                                <div class="blank-slate-pf-icon">
                                    <i class="pficon pficon-ok"></i>
                                </div>
                                <h2>No Alerts found.</h2>
                            </div>
                        </center>
                        <div class="div-with-scroll" ng-show="vm.alerts.length">
                            <div class="alert-summary">
                                <div class="row remove-right-margin" ng-repeat="alert in vm.alerts">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <i ng-class="{'pficon pficon-error-circle-o': (alert.severity === 'error'), 'pficon pficon-info': (alert.severity === 'info'), 'pficon pficon-warning-triangle-o': (alert.severity === 'warning')}"></i>
                                    </div>
                                    <div class="col-md-1">
                                        {{alert.severity | capitalize}}
                                    </div>
                                    <div class="col-md-5 text-left ellipsis" uib-tooltip-html="'{{alert.desc}}'">
                                        <div>{{alert.desc || "NA"}}</div>
                                    </div>
                                    <div class="col-md-4 text-left">
                                        <p>{{alert.timeStamp| date: 'dd MMM yyyy HH:mm:ss'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-right">
                <!-- utilization bar chart component -->
                <bar-chart chart-title-data="vm.poolBarChartTitleData" chart-data="vm.poolBarChartData"></bar-chart>
            </div>
            <div class="col-md-6 extra-padding">
                <!-- horizontal bar chart -->
                <bar-chart chart-title-data="vm.rbdBarChartTitleData" chart-data="vm.rbdBarChartData"></bar-chart>
            </div>
        </div>
        <!-- Heat maps -->
        <div class="row reduce-padding">
            <div class="col-md-6 dashboard-heat-map" ng-if="vm.showSystemPerformance">
                <div class="card-pf card-pf-utilization">
                    <h2 class="card-pf-title">{{vm.heatmapTitle}}</h2>
                    <div class="card-pf-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6" ng-repeat="mapData in vm.heatMapData">
                                <div pf-heatmap id="vm.id" chart-title="mapData.title" data="mapData.data" chart-data-available="vm.heatMapdataAvailable" show-legend="vm.showLegends" legend-labels="vm.legendLabels" max-block-size="40" block-padding="2" heatmap-color-pattern="vm.heatmapColorPattern" thresholds="vm.thresholds">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.systemPerformanceLegends;" pf-heatmap-legend legend="vm.legendLabels" legend-colors="vm.heatmapColorPattern">
                    </div>
                </div>
            </div>
            <div class="reduce-padding" ng-if="vm.showTrendChart">
                <div class="col-md-3" pf-card head-title="IO Trends" show-top-border="false" show-titles-separator="false">
                    <trends-chart config="vm.iopsConfig" chart-data="vm.cephIopsData" tool-type="'K'"></trends-chart>
                    <trends-chart config="vm.latencyConfig" chart-data="vm.cephLatencyData" tool-type="'ms'"></trends-chart>
                </div>
                <div class="col-md-3" pf-card head-title="Throughput Trends" show-top-border="false" show-titles-separator="false">
                    <trends-chart config="vm.publicNetworkConfig" chart-data="vm.cephClusterNetworkData" tool-type="'KBps'"></trends-chart>
                    <trends-chart config="vm.clusterNetworkConfig" chart-data="vm.cephPublicNetworkData" tool-type="'KBps'"></trends-chart>
                </div>
            </div>
        </div>
    </div>
</div>
