.tendrl-edit-add-view-container {
    .width-full {
        width: 100%;
    }

    .inner-addon {

        input {
            width: 100%;
        }

        .glyphicon {
            cursor: pointer;
            position: absolute;
            z-index: 1000;
            top: 30%;
            right: 4%;
            background-color: $color-white;
        }
    }
    .email_padding {
        padding-left: 0px;
    }

    .radio-class {
        margin-bottom: 10px;
    }

    .cp-padding {
        padding-left: 0px;
    }

    .form-horizontal {
        display: flex;
        flex-direction: column;
        .form-inline {
            display: flex;
            flex-direction: row;
        }
        .bottom-button {
            bottom: 20px;
            display: flex;
            flex-direction: row;
            & button {
                margin-right: 5px;
            }
        }
    }
}