<div class="tendrl-edit-add-view-container">
    <div class="container-fluid">
        <!--Heading section-->
        <ol class="breadcrumb custom-breadcrumb">
            <li><a ui-sref="users">Users</a></li>
            <li>
                <span>
                Edit User
            </span>
            </li>
        </ol>
        <div ng-if="editUserCntrl.isDataLoading" class="spinner spinner-lg"></div>
        <div class="row">
            <div class="alert alert-danger col-md-7" ng-if="editUserCntrl.errorMsg.length > 0">
                <span class="pficon pficon-error-circle-o"></span>
                <label ng-bind="editUserCntrl.errorMsg"></label>
            </div>
        </div>
        <form class="form-horizontal" name="editUserCntrl.editUserForm" ng-submit="editUserCntrl.editUser()" ng-if="!editUserCntrl.isDataLoading">
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label">User ID</label>
                <div class="col-sm-8 col-md-6">
                    <p>{{editUserCntrl.user.username}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label" for="name">Name</label>
                <div class="col-sm-8 col-md-6">
                    <input type="text" class="form-control" data-id="name" name="name" ng-model="editUserCntrl.user.name" required/>
                </div>
            </div>
            <div class="form-inline form-group">
                <label class="col-sm-4 col-md-1 control-label" for="email">Email</label>
                <div class="col-sm-8 col-md-3">
                    <input type="email" class="form-control width-full" data-id="email" name="userEmail" ng-model="editUserCntrl.user.email" required>
                </div>
                <label class="col-sm-2 col-md-2 control-label" for="email-notification">Email Notifications</label>
                <div class="col-sm-8 col-md-4 email_padding">
                    <input bs-switch type="checkbox" ng-model="editUserCntrl.user.notification" ng-true-value="true" ng-false-value="false">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label cp-padding" for="password">New Password</label>
                <div class="col-sm-8 col-md-6 inner-addon">
                    <input type="{{ editUserCntrl.typePassword ? 'text' : 'password' }}" data-id="password" name="password" ng-model="editUserCntrl.user.password" minlength="9" ng-maxlength="128"/>
                    <span id="passwordStatus" class="showPassword" ng-click="editUserCntrl.toggleTypePassword()">
                        <span ng-if="editUserCntrl.typePassword === true">
                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                        </span>
                    <span ng-if="editUserCntrl.typePassword === false">
                            <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label cp-padding" for="password">Confirm Password</label>
                <div class="col-sm-8 col-md-6 inner-addon">
                    <input type="{{ editUserCntrl.confirmPassword ? 'text' : 'password' }}" data-id="password" aria-describedby="passwordStatus" name="confirmPassword" ng-model="editUserCntrl.user.confirmPassword" minlength="9" ng-maxlength="128">
                    <span id="passwordStatus" class="showPassword" ng-click="editUserCntrl.toggleConfirmPassword()">
                        <span ng-if="editUserCntrl.confirmPassword === true">
                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                        </span>
                    <span ng-if="editUserCntrl.confirmPassword === false">
                            <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
                        </span>
                    </span>
                </div>
            </div>
            <!--             <div class="form-group">
                <label class="col-sm-2 col-md-1 control-label" for="role">Select a Role</label>
                <div class="col-sm-8 col-md-6">
                    <div class="radio radio-class">
                        <label>
                            <input type="radio" name="role" id="role1" value="admin" ng-model="editUserCntrl.user.role"> <strong>Admin</strong>
                            <br> The Admin role permits the user to manage Tendrl and all storage operations.
                        </label>
                    </div>
                    <div class="radio radio-class">
                        <label>
                            <input type="radio" name="role" id="role2" value="normal" ng-model="editUserCntrl.user.role"> <strong>Normal User</strong>
                            <br> The Normal user role permits the user to provision storage but cannot manage the Tendrl applications.
                        </label>
                    </div>
                    <div class="radio radio-class">
                        <label>
                            <input type="radio" name="role" id="role3" value="limited" ng-model="editUserCntrl.user.role"> <strong>Read-only User</strong>
                            <br> The Read-only user role permits the user to access Tendrl in read-only mode, which means the user cannot actively manage storage. This role is ideal for users interested in monitoring the storage.
                        </label>
                    </div>
                </div>
            </div> -->
            <br/>
            <div class="form-group form-inline bottom-button">
                <label class="col-sm-2 col-md-1 control-label"></label>
                <div class="col-sm-8 col-md-6">
                    <button type="submit" class="btn btn-primary btn-lg submit-button" ng-disabled="editUserCntrl.formSubmitInProgress">
                        <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" data-ng-class="{'hidden': editUserCntrl.formSubmitInProgress !== true }">
                    </i>
                        <span>Save</span>
                    </button>
                    <button ui-sref="users" class="btn btn-default btn-lg">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>