.tendrl-file-share-list-view-container {

    .bold-text {
        font-weight: bold;
    }

    .list-group {
        margin-bottom: 0;

        .list-view-icon-failure {
            color: $color-red;
        }
    }

    .cluster-name {
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fileshare-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
        color: #3A90AA;
        font-weight: bold;
    }

}