<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-dashboard-view-container">
    <!-- Dashboard Navigation -->
    <ul class="nav nav-tabs dashboard-nav">
        <li ng-class="{active: (dashboardCntrl.clusterType === 'ceph')}">
            <a class="pointer" ng-click="dashboardCntrl.changeType('ceph')">Ceph</a>
        </li>
        <li ng-class="{active: (dashboardCntrl.clusterType === 'gluster')}">
            <a class="pointer" ng-click="dashboardCntrl.changeType('gluster')">Gluster</a>
        </li>
    </ul>

    <!-- Ceph Dashboard-->
    <div ng-if="dashboardCntrl.isDataLoading" class="spinner spinner-lg"></div>
    <div ng-if="dashboardCntrl.clusterType === 'ceph' && !dashboardCntrl.isDataLoading">
        <ceph-dashboard show-cluster-data="true" ceph-cluster="dashboardCntrl.cephCluster" chart-data="dashboardCntrl.chartData" alerts="dashboardCntrl.alerts"></ceph-dashboard>
    </div>

    <!-- Gluster Dashboard-->
    <div ng-if="dashboardCntrl.isDataLoading" class="spinner spinner-lg"></div>
    <div ng-if="!dashboardCntrl.isDataLoading && dashboardCntrl.clusterType === 'gluster'">
        <gluster-dashboard show-cluster-data="true" gluster-cluster="dashboardCntrl.glusterCluster" chart-data="dashboardCntrl.chartData"volume-overview="dashboardCntrl.volOverviewData" brick-overview="dashboardCntrl.brickOverviewData" alerts="dashboardCntrl.alerts"></gluster-dashboard>
    </div>

</div>
