.tendrl-dashboard-view-container {
	.pointer {
		cursor: pointer;
	}

    .dashboard-nav > li.active > a, .dashboard-nav > li.active > a:focus {
        background-color: $color-light-grey;
        cursor: pointer;
    }
}