<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-dashboard-view-container">
   <label class="label-title">Card with Multiple Trends</label>
      <div pf-card head-title="IO Trends" show-top-border="false"
           show-titles-separator="false" style="width: 25%">
        <trends-chart config="dashboardCntrl.IOPSConfig" chart-data="dashboardCntrl.chartData"></trends-chart>
        <trends-chart config="dashboardCntrl.latencyConfig" chart-data="dashboardCntrl.chartData"></trends-chart>
      </div>

      	<!-- bar chart component -->
		<div class="row">
		    <div class="col-md-12">
		        <bar-chart chart-title-data="dashboardCntrl.chartTitleData" chart-data="dashboardCntrl.chartData"></bar-chart>
		    </div>
		</div>
</div>
