<div class="host-overview-detail ">
    <div class="host-container container-fluid cards-pf">
        <div class="row">
            <!-- Card Part -->
            <div class="col-xs-12 col-sm-6 col-md-12" style="min-height: 896px;">
                <!-- First row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                            <h2 class="card-pf-title">
                                Host Summary
                            </h2>
                            <center><i ng-if="hostoverview.isLoading.summaryData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                            <div ng-if="!hostoverview.isLoading.summaryData" class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <label>Host Role</label>
                                        <div>
                                            <span ng-repeat="role in hostoverview.summary.role">
                                                {{role}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <label>Up Since</label>
                                        <div>{{hostoverview.summary.uptime | date : 'medium' }}</div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <label>Cluster</label>
                                        <div>
                                            <span ng-if="hostoverview.summary.clusterstatus === 0" class="pficon pficon-ok"></span>
                                            <span ng-if="hostoverview.summary.clusterstatus === 1" class="pficon pficon-warning-triangle-o"></span>
                                            <span ng-if="hostoverview.summary.clusterstatus === 2" class="pficon pficon-error-circle-o"></span>
                                            {{hostoverview.summary.clustername}}
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="hostoverview.isOsd" class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!hostoverview.isLoading.summaryData">{{hostoverview.summary.storage_logical_units.TotalSLU}}</span> OSDs
                            </h2>
                            <div class="card-pf-body">
                                <center><i ng-if="hostoverview.isLoading.summaryData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                <p ng-if="!hostoverview.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="hostoverview.summary.storage_logical_units.ErrorSLU>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{hostoverview.summary.storage_logical_units.ErrorSLU}}</span></a>
                                    </span>
                                    <span ng-if="hostoverview.summary.storage_logical_units.WarningSLU>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{hostoverview.summary.storage_logical_units.WarningSLU}}</span></a>
                                    </span>
                                    <span ng-if="hostoverview.summary.storage_logical_units.ErrorSLU===0 && hostoverview.summary.storage_logical_units.WarningSLU===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12" ng-class="hostoverview.isOsd?'col-md-3':'col-md-6'">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!hostoverview.isLoading.summaryData">{{hostoverview.summary.servicedetails.up.length + hostoverview.summary.servicedetails.down.length }}</span> Storage Services
                            </h2>
                            <div class="card-pf-body">
                                <center><i ng-if="hostoverview.isLoading.summaryData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                <p ng-if="!hostoverview.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="hostoverview.summary.servicedetails.up && hostoverview.summary.servicedetails.up.length > 0" class="card-pf-aggregate-status-notification" title="{{hostoverview.summary.servicedetails.up.join()}}">
                                        <span class="pficon pficon-ok"></span>
                                        <span>{{hostoverview.summary.servicedetails.up.length}}</span>
                                    </span>
                                    <span ng-if="hostoverview.summary.servicedetails.down && hostoverview.summary.servicedetails.down.length > 0" class="card-pf-aggregate-status-notification" title="{{hostoverview.summary.servicedetails.down.join()}}">
                                        <span class="fa fa-arrow-circle-o-down critical"></span>
                                        <span>{{hostoverview.summary.servicedetails.down.length}}</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- First row end -->
                <!-- Second row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <span class="pull-left system-performance">Utilization</span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-7">
                                    <span class="pull-right time-slot">
                                        <time-slot time-slot-changed="hostoverview.changeTimeSlotForUtilization(time)"></time-slot>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <center><i ng-if="hostoverview.isLoading.donutChartsData || hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                    <div ng-if="!hostoverview.isLoading.donutChartsData && !hostoverview.isLoading.trendsChartsData" class="card-pf-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                <div ng-if="hostoverview.donutCharts.cpu.data.total > 0">
                                                    <div pf-donut-pct-chart config="hostoverview.donutCharts.cpu.config" data="hostoverview.donutCharts.cpu.data" center-label="hostoverview.donutCharts.cpu.label">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="utilization-data-block">
                                                    <center>
                                                        <strong>CPU</strong>
                                                        <div class="used-data-block">
                                                            {{hostoverview.host.utilizations.cpuusage.percentused | number : 1}}%
                                                        </div>
                                                         <div class="total-data-block">
                                                           Used
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="hostoverview.trendCharts.cpu.data.total>0" pf-sparkline-chart config="hostoverview.trendCharts.cpu.config" chart-data="hostoverview.trendCharts.cpu.data">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <center><i ng-if="hostoverview.isLoading.donutChartsData || hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                    <div ng-if="!hostoverview.isLoading.donutChartsData && !hostoverview.isLoading.trendsChartsData" class="card-pf-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                <div ng-if="hostoverview.donutCharts.memory.data.total > 0">
                                                    <div pf-donut-pct-chart config="hostoverview.donutCharts.memory.config" data="hostoverview.donutCharts.memory.data" center-label="hostoverview.donutCharts.memory.label">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="utilization-data-block">
                                                    <center>
                                                        <strong>Memory</strong>
                                                        <div class="used-data-block">
                                                            {{hostoverview.host.utilizations.memoryusage.used | bytes}}
                                                        </div>
                                                         <div class="total-data-block">
                                                           of {{hostoverview.host.utilizations.memoryusage.total | bytes}}
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="hostoverview.trendCharts.memory.data.total>0" pf-sparkline-chart config="hostoverview.trendCharts.memory.config" chart-data="hostoverview.trendCharts.memory.data">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <center><i ng-if="hostoverview.isLoading.donutChartsData || hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                    <div ng-if="!hostoverview.isLoading.donutChartsData && !hostoverview.isLoading.trendsChartsData" class="card-pf-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                <div ng-if="hostoverview.donutCharts.swap.data.total > 0">
                                                    <div pf-donut-pct-chart config="hostoverview.donutCharts.swap.config" data="hostoverview.donutCharts.swap.data" center-label="hostoverview.donutCharts.swap.label">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="utilization-data-block">
                                                    <center>
                                                        <strong>Swap</strong>
                                                        <div class="used-data-block">
                                                            {{hostoverview.host.utilizations.swapusage.used | bytes}}
                                                        </div>
                                                         <div class="total-data-block">
                                                           of {{hostoverview.host.utilizations.swapusage.total | bytes}}
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="hostoverview.trendCharts.swap.data.total>0" pf-sparkline-chart config="hostoverview.trendCharts.swap.config" chart-data="hostoverview.trendCharts.swap.data">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <center><i ng-if="hostoverview.isLoading.donutChartsData || hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                    <div ng-if="!hostoverview.isLoading.donutChartsData && !hostoverview.isLoading.trendsChartsData" class="card-pf-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                <div ng-if="hostoverview.donutCharts.storage.data.total > 0">
                                                    <div pf-donut-pct-chart config="hostoverview.donutCharts.storage.config" data="hostoverview.donutCharts.storage.data" center-label="hostoverview.donutCharts.storage.label">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="utilization-data-block">
                                                    <center>
                                                        <strong>Storage</strong>
                                                        <div class="used-data-block">
                                                            {{hostoverview.host.utilizations.storageusage.used|bytes}}
                                                        </div>
                                                         <div class="total-data-block">
                                                           of {{hostoverview.host.utilizations.storageusage.total | bytes}}
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="hostoverview.trendCharts.storage.data.total>0" pf-sparkline-chart config="hostoverview.trendCharts.storage.config" chart-data="hostoverview.trendCharts.storage.data">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Second row end -->
                <!--Third row -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <span class="pull-left system-performance">Network</span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-7">
                                    <span class="pull-right time-slot">
                                        <time-slot time-slot-changed="hostoverview.changeTimeSlotForNetwork(time)"></time-slot>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <center><i ng-if="hostoverview.isLoading.donutChartsData || hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                    <div ng-if="!hostoverview.isLoading.donutChartsData && !hostoverview.isLoading.trendsChartsData" class="card-pf-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                <div ng-if="hostoverview.donutCharts.network.data.total > 0">
                                                    <div pf-donut-pct-chart config="hostoverview.donutCharts.network.config" data="hostoverview.donutCharts.network.data" center-label="hostoverview.donutCharts.network.label">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="utilization-data-block">
                                                    <center>
                                                        <strong>Utilization</strong>
                                                        <div class="used-data-block">
                                                            {{hostoverview.host.utilizations.networkusage.used|bytes}}
                                                        </div>
                                                         <div class="total-data-block">
                                                           of {{hostoverview.host.utilizations.networkusage.total | bytes}}
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="hostoverview.trendCharts.network.data.total>0" pf-sparkline-chart config="hostoverview.trendCharts.network.config" chart-data="hostoverview.trendCharts.network.data">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="card-pf-body">
                                        <center><i ng-if="hostoverview.isLoading.summaryData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                        <div ng-if="!hostoverview.isLoading.summaryData" class="network-detail">
                                            <div class="network-detail-padding">
                                                <span class="pficon pficon-ok"></span>
                                                <label>Cluster Network </label>
                                                <div class="ip-address-detail">
                                                    <small>{{hostoverview.host.cluster_ip4}}</small>
                                                </div>
                                            </div>
                                            <div class="network-detail-padding">
                                                <span class="pficon pficon-ok"></span>
                                                <label>Public Network</label>
                                                <div class="ip-address-detail">
                                                    <small>{{hostoverview.host.public_ip4}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <span class="pull-left system-performance">Performance</span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-7">
                                    <span class="pull-right time-slot">
                                        <time-slot time-slot-changed="hostoverview.changeTimeSlotForPerformance(time)"></time-slot>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="card-pf-body">
                                        <center><i ng-if="hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                        <div ng-if="!hostoverview.isLoading.trendsChartsData" pf-trends-chart config="hostoverview.trendCharts.iops.config" chart-data="hostoverview.trendCharts.iops.data"></div>
                                    </div>
                                    <div class="card-pf-body">
                                        <center><i ng-if="hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                        <div ng-if="!hostoverview.isLoading.trendsChartsData" pf-trends-chart config="hostoverview.trendCharts.throughput.config" chart-data="hostoverview.trendCharts.throughput.data"></div>
                                    </div>
                                    <div class="card-pf-body">
                                        <center><i ng-if="hostoverview.isLoading.trendsChartsData" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                                        <div ng-if="!hostoverview.isLoading.trendsChartsData" pf-trends-chart config="hostoverview.trendCharts.latency.config" chart-data="hostoverview.trendCharts.latency.data"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Third row -->
            </div>
        </div><!-- End of Fisrt Big row -->
    </div>
</div>
