<!-- Grow Pg's Modal -->
<div class="modal fade tendrl-grow-pg-view-container" id="growPGModal" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content modal-md">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4>Grow PGs</h4>
            </div>
            <div class="modal-body">
                <div ng-if="poolCntrl.growPGStep === 1">
                    <div class="row warning-section">
                        <div class="col-md-1">
                            <i class="pficon pficon-warning-triangle-o fa-2x"></i>
                        </div>
                        <div class="col-md-11">
                            Increasing PG Count may cause performance degradation in {{poolCntrl.growPGPool.clusterName}}. We recommend Increasing PG's small increments to reduce impact on cluster performance for your users.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h5>Enter the new target size PG Count for <label>{{poolCntrl.growPGPool.name}}</label> and click Save. Use this <a href="http://ceph.com/pgcalc/">PG Calculator</a> to estimate the PGs required.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="pull-right">Cluster</label>
                        </div>
                        <div class="col-md-5">
                            <p>{{poolCntrl.growPGPool.clusterName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="pull-right">Type</label>
                        </div>
                        <div class="col-md-5">
                            <p>{{poolCntrl.growPGPool.type}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="pull-right">New Target Size</label>
                        </div>
                        <div class="col-md-7">
                            <span>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="number" class="form-control" min=1 data-id="target-size" ng-model="poolCntrl.updatedPool.pgCount" ng-change="poolCntrl.getpgCountValue(poolCntrl.updatedPool.pgCount)">
                                </div>
                                <div class="col-md-6 current-pg-num">
                                    <p>Current PG Count is {{poolCntrl.growPGPool.pgCount}}</p>
                                </div>
                            </div>
                            <div class="error-msg" ng-show="poolCntrl.growPGPool.pgCount > poolCntrl.updatedPool.pgNum">The new PG Count must be greater than the current one</div>
                            <div class="row inc-pg-count">
                                <div class="col-md-9">
                                    <input type="radio" name="incPGCount" value="immediate" ng-model="poolCntrl.updatedPool.incPGCnt"> Increase PG count immediately
                                </div>                                
                            </div>
                            <div class="row inc-pg-count">
                                <div class="col-md-9">
                                    <input type="radio" name="incPGCount" value="gardual" ng-model="poolCntrl.updatedPool.updatedIncPGCnt"> Increase PG count gradually
                                </div>                                
                            </div>
                        </span>
                        </div>
                    </div>
                </div>
                <div ng-if="poolCntrl.growPGStep === 2">
                    <div class="task-submitted-icon">
                        <i class="pficon" ng-class="{'pficon-error-circle-o': poolCntrl.errorInProcess, 'pficon-ok': !poolCntrl.errorInProcess}"></i>
                    </div>
                    <div>
                        <h1 class="text-center" ng-show="poolCntrl.errorInProcess"><label>Grow PGs Task failed.</label></h1>
                        <div  ng-show="!poolCntrl.errorInProcess">
	                        <h1 class="text-center"><label>Grow PGs Task Submitted</label></h1>
	                        <div class="text-center"> A task has been submitted to increase
	                            <label>
	                                {{poolCntrl.growPGPool.name}} </label> in
	                            <label>{{poolCntrl.growPGPool.clusterName}}</label> with additional placement groups(PGs). You will be notified when processing is complete.
	                        </div>
                        </div>
                    </div>
                    <div class="view-task-progress">
                        <div class="row">
                            <div class="col-md-6">
                                <button ng-disabled="poolCntrl.errorInProcess" class="btn btn-primary btn-lg" ng-click="poolCntrl.viewTaskProgress('#growPGModal')">View Task Progress</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" ng-if="poolCntrl.growPGStep === 1">
                    <div class="col-md-offset-6 col-md-3">
                        <button class="btn btn-default btn-md" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default btn-primary pull-left" ng-disabled="poolCntrl.growPGPool.pgCount > poolCntrl.updatedPool.pgNum" ng-click="poolCntrl.growPGs()">Grow PGs</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
