<nav class="nav-pf-vertical nav-pf-vertical-with-secondary-nav" ng-controller="navController as navCtrl">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="menu in navCtrl.menus" ng-class="{'active':menu.active, 'persistent-secondary':menu.hasSubMenus}"
        data-target="#{{menu.label}}">
            <a ui-sref="{{menu.href}}" class="cursor-pointer"> <span ng-class="menu.icon"></span> <span class="list-group-item-value">{{menu.label}}</span> </a>
            <div id="{{menu.label}}" class="nav-pf-persistent-secondary" ng-if="menu.hasSubMenus">
                <div class="persistent-secondary-header">
                    <a class="secondary-collapse-toggle-pf cursor-pointer" data-toggle="collapse-secondary-nav"></a>
                    <span>{{menu.label}}</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="submenu in menu.subMenus" ng-class="{'active':submenu.active}">
                        <a ui-sref="{{submenu.href}}">
                            <span class="list-group-item-value" ng-bind="submenu.title"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>