<div class="sub-menu-container">
    <a ui-sref="{{subMenuCtrl.menu.href}}({{subMenuCtrl.menu.stateParams | json}})" class="cursor-pointer" ng-if="subMenuCtrl.menu.hasSubMenus === false">
        <span class="list-group-item-value">{{subMenuCtrl.menu.label}}</span>
    </a>
    <a ng-click="subMenuCtrl.toggleSubmenu()" class="cursor-pointer" role="button" data-toggle="collapse" ng-if="subMenuCtrl.menu.hasSubMenus">
        <span class="list-group-item-value">{{subMenuCtrl.menu.label}}</span>
        <i class="fa angle-icons" ng-class="subMenuCtrl.isSubmenuExpand? 'fa fa-angle-down' : 'fa fa-angle-right'" aria-hidden="true"></i>
    </a>
    <div id="{{subMenuCtrl.menu.label}}" class="nav-pf-persistent-secondary" ng-if="subMenuCtrl.menu.hasSubMenus">
        <ul ng-if="subMenuCtrl.isSubmenuExpand">
            <li class="list-group-item" ng-repeat="submenu in subMenuCtrl.menu.subMenus" ng-class="{'active':subMenuCtrl.submenu.active}">
                <a ui-sref="{{submenu.href}}" class="cursor-pointer">
                    <span class="list-group-item-value">{{submenu.label}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
