<h1>Task</h1>
<h3>{{task.detail.name}}
    <span ng-class="task.detail.status > 1 ? 'pficon-error-circle-o': (task.detail.status === 1 ? 'pficon-ok': 'pficon-running fa-spin' )"></span>
</h3>
<h4>Time Submitted : {{task.detail.statuslist[0].Timestamp | date : 'MMM d yyyy, hh:mm:ss a'}} </h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Status</a></li>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Execution Steps</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody ng-repeat="step in task.detail.statuslist">
    <tr>
      <td ng-bind="$index +1 "></td>
      <td ng-bind="step.Message"></td>
      <td ng-bind="step.Timestamp  | date : 'MMM d yyyy, hh:mm:ss a'"></td>
    </tr>
  </tbody>
</table>

<div class="progress-description" ng-if="task.subTasks.length > 0" style="padding-top:10px;">
  <span class="count">Sub Tasks</span>
</div>

<table class="table table-striped table-bordered" ng-repeat="subtask in task.subTasks">
  <thead>
    <tr>
      <th>#</th>
      <th>Execution Steps</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody ng-repeat="step in subtask.statuslist">
    <tr>
      <td ng-bind="$index +1 "></td>
      <td ng-bind="step.Message"></td>
      <td ng-bind="step.Timestamp  | date : 'MMM d yyyy, hh:mm:ss a'"></td>
    </tr>
  </tbody>
</table>