.tendrl-user-setting-modal-container {
    min-height:375px;
    .width-full {
        width: 100%;
    }

    .passwordTooltip {
      background-color: $color-black;
      padding: 0px;
      font-size: 14px;
      font-family: inherit;
      .tooltip-inner{
        background-color: $color-black;
        padding: 7px;
      }
      .tooltip-arrow{
        border-color: $color-black;
      }
    }

    .inner-addon {

        input {
            width : 100%;
        }

        .glyphicon {
            cursor: pointer;
            position: absolute;
            z-index: 1000;
            top: 30%;
            right: 8%;
            background-color : $color-white;
        }
    }

    .radio-class {
        margin-bottom: 10px;
    }

    .bottom-button {
        position: fixed;
        bottom: 20px;
        width: 100%;

        .submit {
            padding-left: 0;
            padding-right: 0;
        }

        .cancel {
            padding-left: 0;
            padding-right: 0;
            margin-left: -60px;
        }
    }

    .cp-padding {
        padding-left: 0px;
    }
}
