<div class="dashboard">
    <!-- MAIN CONTENT -->
    <div class="dashboard-contain container-fluid cards-pf">
        <!-- Fisrt Big row -->
        <div class="row">
            <!-- Card Part -->
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!dash.isLoading.summaryData">{{dash.clusters.total}}</span> Clusters
                            </h2>
                            <div class="card-pf-body cluster-info">
                                <div ng-if="dash.isLoading.summaryData" class="spinner"></div>
                                <p ng-if="!dash.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.clusters.error>0" class="card-pf-aggregate-status-notification"><a href="#/clusters?status=error&status=warning" title="{{dash.clusters.error}} clusters need attention">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{dash.clusters.error}}</span></a>
                                    </span>
                                    <span ng-if="dash.clusters.nearfull>0" class="card-pf-aggregate-status-notification"><a href="#/clusters?near_full=true" title="{{dash.clusters.nearfull}} clusters full or near full">
                                        <span class="pficon pficon-resources-almost-full"></span>
                                        <span>{{dash.clusters.nearfull}}</span></a>
                                    </span>
                                    <span ng-if="dash.clusters.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/clusters?alarmstatus=critical&alarmstatus=major" title="{{dash.clusters.criticalAlerts}} active alerts">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.clusters.criticalAlerts}}</span></a>
                                    </span>
                                    <span ng-if="dash.clusters.error===0 && dash.clusters.nearfull===0 && dash.clusters.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <div class="card-pf card-pf-with-action custom-height">
                            <div class="row card-pf-heading">
                                <h2 class="card-pf-title">
                                    Utilization
                                </h2>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-5">
                                        <center><div ng-if="dash.isLoading.utilizationData" class="spinner"></div></center>
                                        <div ng-if="!dash.isLoading.utilizationData">
                                            <div ng-if="dash.utilization.data.total === 0" class="empty-chart-content no-data-available">
                                                <span class="pficon pficon-info"></span>
                                                <span>No data available</span>
                                            </div>
                                            <div ng-if="dash.utilization.data.total>0">
                                                <div pf-donut-pct-chart config="dash.utilization.config" data="dash.utilization.data" center-label="dash.utilization.label">
                                                </div>
                                                <p><small class="cluster-size-label"><label>{{dash.capacity.used | bytes }}</label> of {{dash.capacity.total | bytes }} used</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="utilization">
                                            <div class="row margin-for-storage-profile">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <center><div ng-if="dash.isLoading.trendsChartsData" class="spinner"></div></center>
                                                    <div ng-if="!dash.isLoading.trendsChartsData">
                                                        <div ng-if="dash.trendsCharts.overall.data.total>0" pf-trends-chart config="dash.trendsCharts.overall.config" chart-data="dash.trendsCharts.overall.data">
                                                        </div>
                                                        <div ng-if="dash.trendsCharts.overall.data.dataAvailable" class="pull-left">Last 24 hours</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="card-pf custom-height">
                                    <div class="card-pf-heading">
                                        <h2 class="card-pf-title">
                                            Most Used Storage Profiles
                                        </h2>
                                    </div>
                                    <div class="card-pf-body">
                                        <center><div ng-if="dash.isLoading.summaryData" class="spinner"></div></center>
                                        <div ng-if="!dash.isLoading.summaryData" ng-repeat="profile in dash.utilizationByProfile.profiles" pf-utilization-bar-chart
                                        chart-data="profile.usage" chart-title="profile.subtitle"
                                         threshold-error="dash.utilizationByProfile.threshold.critical" threshold-warning="dash.utilizationByProfile.threshold.warning" footer-label-format='percent'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /row -->
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-9">
                <!-- Second row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action common-card-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!dash.isLoading.summaryData">{{dash.hosts.total}}</span> Hosts
                            </h2>
                            <div class="card-pf-body">
                                <center><div ng-if="dash.isLoading.summaryData" class="spinner"></div></center>
                                <p ng-if="!dash.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.hosts.error>0" class="card-pf-aggregate-status-notification"><a href="#/hosts?status=error&status=warning" title="{{dash.hosts.error}} hosts down">
                                        <span class="fa fa-arrow-circle-o-down"></span>
                                        <span>{{dash.hosts.error}}</span></a>
                                    </span>
                                    <span ng-if="dash.hosts.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/hosts?alarmstatus=critical&alarmstatus=major" title="{{dash.hosts.criticalAlerts}} active alerts">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.hosts.criticalAlerts}}</span></a>
                                    </span>
                                    <span ng-if="dash.hosts.error===0 && dash.hosts.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                    <span ng-if="dash.hosts.unaccepted>0" class="card-pf-aggregate-status-notification"><a href="#/first" title="{{dash.hosts.unaccepted}} hosts discovered">
                                        <span class="pficon pficon-add-circle-o"></span>
                                        <span>{{dash.hosts.unaccepted}}</span></a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action common-card-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!dash.isLoading.summaryData">{{dash.monitors.total}}</span> Monitors
                            </h2>
                            <div class="card-pf-body">
                                <center><div ng-if="dash.isLoading.summaryData" class="spinner"></div></center>
                                <p ng-if="!dash.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.monitors.down>0" class="card-pf-aggregate-status-notification"><a href="#/hosts?status=error&status=warning&role=MON" title="{{dash.monitors.down}} monitors down">
                                        <span class="fa fa-arrow-circle-o-down"></span>
                                        <span>{{dash.monitors.down}}</span></a>
                                    </span>
                                    <span ng-if="dash.monitors.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/hosts?alarmstatus=critical&alarmstatus=major&role=MON" title="{{dash.monitors.criticalAlerts}} active alerts">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.monitors.criticalAlerts}}</span></a>
                                    </span>
                                    <span ng-if="dash.monitors.down===0 && dash.monitors.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action common-card-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!dash.isLoading.summaryData">{{dash.pgs.total}}</span> PGs
                            </h2>
                            <div class="card-pf-body">
                                <center><div ng-if="dash.isLoading.summaryData" class="spinner"></div></center>
                                <p ng-if="!dash.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.pgs.error>0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{dash.pgs.error}}</span>
                                    </span>
                                    <span ng-if="dash.pgs.warning>0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.pgs.warning}}</span>
                                    </span>
                                    <span ng-if="dash.pgs.error===0 && dash.pgs.warning===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- Second row end -->

                <!-- Third row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action common-card-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!dash.isLoading.summaryData">{{dash.pools.total}}</span> Pools
                            </h2>
                            <div class="card-pf-body">
                                <center><div ng-if="dash.isLoading.summaryData" class="spinner"></div></center>
                                <p ng-if="!dash.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.pools.down>0" class="card-pf-aggregate-status-notification"><a href="#/storage?status=error&status=warning" title="{{dash.pools.down}} pools down">
                                        <span class="fa fa-arrow-circle-o-down"></span>
                                        <span>{{dash.pools.down}}</span></a>
                                    </span>
                                    <span ng-if="dash.pools.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/storage?alarmstatus=critical&alarmstatus=major" title="{{dash.pools.criticalAlerts}} active alerts">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.pools.criticalAlerts}}</span></a>
                                    </span>
                                    <span ng-if="dash.pools.down===0 && dash.pools.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action common-card-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!dash.isLoading.summaryData">{{dash.osds.total}}</span> OSDs
                            </h2>
                            <div class="card-pf-body">
                                <center><div ng-if="dash.isLoading.summaryData" class="spinner"></div></center>
                                <p ng-if="!dash.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.osds.down>0" class="card-pf-aggregate-status-notification"><a href="#/clusters?slu_status=down" title="{{dash.osds.down}} OSDs down">
                                        <span class="fa fa-arrow-circle-o-down"></span>
                                        <span>{{dash.osds.down}}</span></a>
                                    </span>
                                    <span ng-if="dash.osds.nearfull>0" class="card-pf-aggregate-status-notification"><a href="#/clusters?slu_near_full=true" title="{{dash.osds.nearfull}} OSDs full or near full">
                                        <span class="pficon pficon-resources-almost-full"></span>
                                        <span>{{dash.osds.nearfull}}</span></a>
                                    </span>
                                    <span ng-if="dash.osds.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/clusters?slualarmstatus=critical&slualarmstatus=major" title="{{dash.osds.criticalAlerts}} active alerts">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.osds.criticalAlerts}}</span></a>
                                    </span>
                                    <span ng-if="dash.osds.down===0 && dash.osds.nearfull===0 && dash.osds.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action common-card-height">
                            <h2 class="card-pf-title">
                                <span ng-if="!dash.isLoading.summaryData">{{dash.objects.total}}</span> Objects
                            </h2>
                            <div class="card-pf-body">
                                <center><div ng-if="dash.isLoading.summaryData" class="spinner"></div></center>
                                <p ng-if="!dash.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.objects.criticalAlerts>0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.objects.criticalAlerts}}</span>
                                    </span>
                                    <span ng-if="dash.objects.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- Third row end-->

                <!-- Fourth row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <h3 class="pull-left system-performance">System Performance</h3>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-7">
                                    <span class="pull-right time-slot">
                                        <span class="add-cursor-pointer" data-animation="am-flip-x" data-template="views/dashboard/dashboard-time-slot-dropdown.tpl.html" bs-dropdown="ellipsis">{{dash.selectedTimeSlot.name}}<b class="caret"></b>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div class="card-pf-body">
                                        <center><label>CPU</label></center>
                                        <div ng-if="dash.systemUtilization.cpu.data.total === 0" class="empty-chart-content no-data-available">
                                            <span class="pficon pficon-info"></span>
                                            <span>No data available</span>
                                        </div>
                                        <div ng-if="dash.systemUtilization.cpu.data.total > 0">
                                            <div pf-donut-pct-chart config="dash.systemUtilization.cpu.config" data="dash.systemUtilization.cpu.data" center-label="dash.systemUtilization.cpu.label">
                                            </div>
                                        </div>
                                        <center><div ng-if="dash.isLoading.trendsChartsData" class="spinner"></div></center>
                                        <div ng-if="!dash.isLoading.trendsChartsData" pf-trends-chart config="dash.trendsCharts.cpu.config" chart-data="dash.trendsCharts.cpu.data">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div class="card-pf-body">
                                        <center><label>Memory</label></center>
                                        <div ng-if="dash.systemUtilization.memory.data.total === 0" class="empty-chart-content no-data-available">
                                            <span class="pficon pficon-info"></span>
                                            <span>No data available</span>
                                        </div>
                                        <div ng-if="dash.systemUtilization.memory.data.total > 0">
                                            <div pf-donut-pct-chart config="dash.systemUtilization.memory.config" data="dash.systemUtilization.memory.data" center-label="dash.systemUtilization.memory.label">
                                            </div>
                                        </div>
                                        <center><div ng-if="dash.isLoading.trendsChartsData" class="spinner"></div></center>
                                        <div ng-if="!dash.isLoading.trendsChartsData" pf-trends-chart config="dash.trendsCharts.memory.config" chart-data="dash.trendsCharts.memory.data">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="card-pf-body">
                                        <center><div ng-if="dash.isLoading.trendsChartsData" class="spinner"></div></center>
                                        <div ng-if="!dash.isLoading.trendsChartsData" pf-trends-chart config="dash.trendsCharts.iops.config" chart-data="dash.trendsCharts.iops.data"></div>
                                    </div>
                                    <div class="card-pf-body">
                                        <center><div ng-if="dash.isLoading.trendsChartsData" class="spinner"></div></center>
                                        <div ng-if="!dash.isLoading.trendsChartsData" pf-trends-chart config="dash.trendsCharts.throughput.config" chart-data="dash.trendsCharts.throughput.data"></div>
                                    </div>
                                    <div class="card-pf-body">
                                        <center><div ng-if="dash.isLoading.trendsChartsData" class="spinner"></div></center>
                                        <div ng-if="!dash.isLoading.trendsChartsData" pf-trends-chart config="dash.trendsCharts.latency.config" chart-data="dash.trendsCharts.latency.data"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Fourth row end -->
            </div>

            <!-- Utilization SideBar -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="card-pf" ng-if="dash.mostUsedPools.length>0">
                            <div class="card-pf-heading">
                                <h2 class="card-pf-title">
                                    Most Used Pools
                                </h2>
                            </div>
                            <div class="card-pf-body">
                                <div ng-repeat="data in dash.mostUsedPools" pf-utilization-bar-chart chart-data="data.data" chart-title="data.title" threshold-error="85" threshold-warning="60" layout=layoutInline footer-label-format='percent'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /row -->
            </div>
        </div><!-- End of Fisrt Big row -->
    </div>
</div>
