<div class="dashboard">
    <!-- MAIN CONTENT -->
    <div class="dashboard-contain container-fluid cards-pf">
        <!-- Fisrt Big row -->
        <div class="row">
            <!-- Card Part -->
            <div class="col-xs-12 col-sm-6 col-md-9">
                <!-- First row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                                    <h2 class="card-pf-title">
                                        <a href="">{{dash.clusters.total}} Clusters</a>
                                    </h2>
                                    <div class="card-pf-body">
                                        <p class="card-pf-aggregate-status-notifications">
                                            <span ng-if="dash.clusters.critical>0" class="card-pf-aggregate-status-notification"><a href="">
                                                <span class="pficon pficon-error-circle-o"></span>
                                                <span>{{dash.clusters.critical}}</span></a>
                                            </span>
                                            <span ng-if="dash.clusters.warning>0" class="card-pf-aggregate-status-notification"><a href="">
                                                <span class="pficon pficon-warning-triangle-o"></span>
                                                <span>{{dash.clusters.warning}}</span></a>
                                            </span>
                                            <span ng-if="dash.clusters.critical===0 && dash.clusters.warning===0" class="card-pf-aggregate-status-notification"><a href="">
                                                <span class="pficon pficon-ok"></span>
                                            </span>
                                            <!-- <div class="indicator-for-clusters">
                                                <div class="near-full">
                                                    <span class="pficon pficon-warning-triangle-o"></span>
                                                    <span> 1 Near Full </span>
                                                </div>
                                                <div class="lost-quorum">
                                                    <span class="pficon pficon-error-circle-o"></span>
                                                    <span> 1 Lost Quorum </span>
                                                </div>
                                            </div> -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9">
                                <div class="card-pf card-pf-aggregate-status card-pf-with-action custom-height">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-3">
                                            <h2 class="card-pf-title">
                                                <a href="">{{dash.capacity.used}} Used</a>
                                                <p><small>of {{dash.capacity.total}} Total</small></p>
                                            </h2>
                                            <div class="card-pf-body">
                                                <div ng-if="dash.utilization.data.total > 0">
                                                    <div pf-donut-pct-chart config="dash.utilization.config" data="dash.utilization.data" center-label="dash.utilization.label"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-9">
                                            <div class="utilization">
                                                <!-- <div class="margin-for-storage-type">
                                                    <div pf-utilization-bar-chart chart-data="dash.utilizationByType.data" chart-title="dash.utilizationByType.title" layout="dash.utilizationByType.layout"></div>
                                                </div> -->
                                                <div class="margin-for-storage-profile">
                                                    <div pf-utilization-bar-chart chart-data="dash.utilizationByProfile.data" chart-title="dash.utilizationByProfile.title" layout="dash.utilizationByProfile.layout"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- First row end-->

                <!-- Second row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="">{{dash.hosts.total}} Hosts</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.hosts.critical>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{dash.hosts.critical}}</span></a>
                                    </span>
                                    <span ng-if="dash.hosts.warning>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.hosts.warning}}</span></a>
                                    </span>
                                    <span ng-if="dash.hosts.critical===0 && dash.hosts.warning===0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                    <span class="card-pf-aggregate-status-notification"><a href="">{{dash.discoveredHostsLength}}
                                    </a><small class="status-notification">To Accept</small></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="">{{dash.monitors.total}} Monitors</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.monitors.critical>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{dash.monitors.critical}}</span></a>
                                    </span>
                                    <span ng-if="dash.monitors.warning>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.monitors.warning}}</span></a>
                                    </span>
                                    <span ng-if="dash.monitors.critical===0 && dash.monitors.warning===0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="">{{dash.pgs.total}} PGs</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.pgs.critical>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{dash.pgs.critical}}</span></a>
                                    </span>
                                    <span ng-if="dash.pgs.warning>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.pgs.warning}}</span></a>
                                    </span>
                                    <span ng-if="dash.pgs.critical===0 && dash.pgs.warning===0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- Second row end -->

                <!-- Third row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="">{{dash.pools.total}} Pools</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.pools.critical>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon-error-circle-o"></span>
                                        <span>{{dash.pools.critical}}</span></a>
                                    </span>
                                    <span ng-if="dash.pools.warning>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.pools.warning}}</span></a>
                                    </span>
                                    <span ng-if="dash.pools.critical===0 && dash.pools.warning===0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                    <span class="card-pf-aggregate-status-notification"><a href="">1
                                    </a><small class="status-notification">Near Full</small></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="">{{dash.osds.total}} OSDs</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.osds.critical>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{dash.osds.critical}}</span></a>
                                    </span>
                                    <span ng-if="dash.osds.warning>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.osds.warning}}</span></a>
                                    </span>
                                    <span ng-if="dash.osds.critical===0 && dash.osds.warning===0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="">{{dash.objects.total}} Objects</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="dash.objects.critical>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{dash.objects.critical}}</span></a>
                                    </span>
                                    <span ng-if="dash.objects.warning>0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{dash.objects.warning}}</span></a>
                                    </span>
                                    <span ng-if="dash.objects.critical===0 && dash.objects.warning===0" class="card-pf-aggregate-status-notification"><a href="">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- Third row end-->

                <!-- Fourth row -->
                <!-- <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <span class="pull-left system-performance">System Performance</span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-7">
                                    <span class="pull-right time-slot">
                                        <span class="add-cursor-pointer" data-animation="am-flip-x" data-template="views/dashboard/dashboard-time-slot-dropdown.tpl.html" bs-dropdown="ellipsis">{{dash.selectedTimeSlot.name}}<b class="caret"></b>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-5">
                                    <div class="card-pf-body" ng-repeat="obj in dash.systemPerformance.slice(0, 2)">
                                        <small>{{obj.title}}</small>
                                        <div pf-trends-chart config="obj.config" chart-data="obj.data"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-7">
                                    <div class="card-pf-body" ng-repeat="obj in dash.systemPerformance.slice(2, 6)">
                                        <small>{{obj.title}}</small>
                                        <div pf-trends-chart config="obj.config" chart-data="obj.data"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

            <!-- Utilization SideBar -->
            <div class="col-xs-12 col-sm-6 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 896px;">
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <!-- <div class="card-pf">
                            <div class="card-pf-heading">
                                <h2 class="card-pf-title">
                                    Most Used Pools
                                </h2>
                            </div>
                            <div class="card-pf-body">
                                <div ng-repeat="data in dash.mostUsedPools" pf-utilization-bar-chart chart-data="data.data" chart-title="data.title" units="data.units" threshold-error="85" threshold-warning="60">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div><!-- /row -->
            </div>
        </div><!-- End of Fisrt Big row -->
    </div>

</div>
