<div class="container-fluid import-cluster">
    <ol class="breadcrumb">
        <li><a ng-href="#/clusters">Clusters</a></li>
        <li>Import Cluster</li>
    </ol>
    <div class="alert alert-danger" ng-if="cluster.error !== undefined">
        <span class="pficon pficon-error-circle-o"></span>
        <span ng-bind="cluster.error"></span>
    </div>
    <div ng-if="cluster.step === 1">
        <section>
            <h2>Select Monitor Host</h2>
            <p>The following hosts do not belong to an existing cluster. Select a monitor host from this list. All cluster configuration
                information will be imported from this host.</p>
        </section>
        <h3>Available Hosts</h3>
        <div class="row">
            <div class="form-group col-md-3 toolbar-pf-filter">
                <input type="text" class="form-control" placeholder="Search" ng-model="cluster.search">
            </div>
            <div class="col-md-offset-6 col-md-3">
                <span class="pull-right">
                 <button class="btn btn-default pull right" ng-click="cluster.loadAllFreeHosts()">Refresh</button>
            </span>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Hostname</th>
                    <th>Address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="host in cluster.freeHosts | filter: cluster.search" ng-click="cluster.selectHost(host)" ng-class="{'row-selection': host === cluster.bootstrapNode}">
                    <td class="check-box-column">
                        <input type="radio" ng-model="cluster.bootstrapNode" ng-value="host">
                    </td>
                    <td ng-bind="host.hostname"></td>
                    <td ng-bind="host.management_ip4"></td>
                    <td>
                        <span class="fa fa-check" ng-if="host.state === 2"> </span>
                        <span class="fa fa-minus" ng-if="host.state !== 2"> </span>
                        {{host.state === 2 ? 'Accepted': 'Unaccepted'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="cluster.step ===2">
        <section>
            <h2>Cluster Summary</h2>
            <p>The following cluster details have been detected. Review and click <strong> Import</strong> to continue importing this
                cluster. Unaccepted hosts will be automatically accepted during import process</p>
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd ng-bind="cluster.clusterSummary.clustername"></dd>
                <dt>Version:</dt>
                <dd ng-bind="cluster.clusterSummary.version"></dd>
                <dt>Cluster ID:</dt>
                <dd ng-bind="cluster.clusterSummary.clusterid"></dd>
            </dl>
        </section>
        <h3>Hosts</h3>
        <div class="row">
            <div class="form-group col-md-3 toolbar-pf-filter">
                <input type="text" class="form-control" placeholder="Search" ng-model="cluster.search">
            </div>
            <div class="col-md-offset-6 col-md-3">
                <span class="pull-right">
                 <button class="btn btn-default pull right" ng-click="cluster.loadClusterDetails()">Refresh</button>
            </span>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="host in cluster.clusterSummary.nodes | filter: cluster.search" ng-class="{'critical': !host.found}">
                    <td ng-bind="host.name"></td>
                    <td class="text-uppercase" ng-bind="host.type"></td>
                    <td>
                        <span class="fa fa-check" ng-if="host.found"> </span>
                        <span class="fa fa-minus" ng-if="!host.found"> </span>
                        {{host.found ? 'Available': 'Not Found'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary" ng-if="cluster.step === 1" ng-disabled="cluster.bootstrapNode === undefined"
        ng-click="cluster.loadClusterDetails(); cluster.search='';">Continue</button>
        <button class="btn btn-primary" ng-if="cluster.step === 2" ng-disabled="cluster.error !== undefined" ng-click="cluster.import()">Import</button>
        <button class="btn btn-default" ng-click="cluster.cancel()">Cancel</button>
    </div>
</div>