<div class="container">
  <div class="page-header page-header-bleed-right">
    <h1>Pools</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Search" ng-model="search">
    </div>
    <div class="col-md-offset-6 col-md-3">
      <span class="pull-right">
        <button class="btn btn-primary btn-lg" ng-click="pools.create()">CREATE</button>
      </span>
    </div>
  </div>
  <div class="row blade-view" ng-repeat="pool in pools.list | filter:search">
    <div class="col-md-2 col-sm-4">
      <div class="row">
        <div class="col-md-1 vertical-line-for-ceph">
          <span class="vertical-text-for-ceph">ceph</span>
        </div>
        <div class="col-md-offset-1 col-md-10 set-top-margin pull-right">
          <div>
            <div class="heading" ng-bind="pool.pool_name"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 set-top-margin">
      <div class="sub-heading">Cluster</div>
      <div class="cluster_name" ng-bind="pool.cluster_name"></div>
    </div>
    <div class="col-md-1 col-sm-4 set-top-margin">
      <div class="sub-heading">Size</div>
      <div class="cluster_name" ng-bind="pool.pool_size"></div>
    </div>
    <div class="col-md-2 col-sm-3 set-top-margin">
      <div class="sub-heading">OSDs</div>
      <div class="cluster_name">128</div>
    </div>
    <div class="col-md-2 col-sm-3 set-top-margin">
      <div class="sub-heading">PGs</div>
      <div class="cluster_name" ng-bind="pool.pg_num"></div>
    </div>
    <div class="col-md-2 col-sm-2 set-top-margin">
      <div class="sub-heading">Alerts</div>
      <div class="sub-heading">
        <span>0</span>
        <i class="fa fa-2x set-margin" ng-class="pool.alerts>0?'fa-times-circle critical':'fa-check-circle-o ok'"></i>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 set-top-margin">
      <a class="pull-right add-cursor-pointer" data-animation="am-flip-x" data-template="views/pool-menu-dropdown.tpl.html" bs-dropdown="ellipsis">
          <i class="fa fa-ellipsis-v fa-4x"></i>
        </a>
    </div>
  </div>
</div>
