<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog storage-profile-disks-dialog" ng-controller="StorageProfileDisksController as vm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Disks</h4>
            </div>
            <div class="modal-body cards-pf">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Storage Profiles</strong>
                        <div class="list-group">
                            <a class="list-group-item" ng-class="{active: storageProfile.name === vm.selectedProfile.name}" href="" ng-repeat="storageProfile in vm.storageProfiles"
                            ng-click="vm.selectStorageProfile(storageProfile)" kt-droppable="vm.diskMoved(storageProfile, data)">
                                <h4 class="list-group-item-heading">{{storageProfile.name}}</h4>
                                <p class="list-group-item-text">{{vm.getDisksForStorageProfile(storageProfile).length}} Disks {{vm.getStorageProfileSize(storageProfile)}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <strong>Available Disks</strong>You may sort disks by dragging and dropping them between profiles
                        <div class="row row-cards-pf">
                            <div class="col-md-4" ng-repeat="storageDisk in vm.getDisksForStorageProfile(vm.selectedProfile)">
                                <div id='disk1' class="card-pf" kt-draggable="storageDisk">
                                    <div class="card-pf-body">
                                        <p>{{storageDisk.hostname}}:{{storageDisk.Name}}</p>
                                    </div>
                                    <div class="card-pf-footer">{{vm.getDiskSize(storageDisk)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.submit();$hide()">Save</button>
            </div>
        </div>
    </div>
</div>
