<div class="tendrl-rebalance-volume-modal-container">
    <div>
        <custom-modal-header title="vm.modalHeader.title" close="vm.modalHeader.close" ng-show="!vm.taskSubmitted"></custom-modal-header>
        <div class="modal-body row" ng-show="!vm.taskSubmitted">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <span class="pficon pficon-warning-triangle-o"></span>
                <strong>Rebalancing may take some time and degrade system performance.</strong>
            </div>
            <div class="row desc-row">
                New bricks have been added to this volume and rebalancing is recommended to fix layout information. Begin by selecting form the options below.
            </div>
            <div class="row desc-row">
                <div class="col-md-12">
                    <div class="row">
                        <input type="radio" name="mode" id="mode1" value="abc" ng-model="vm.fixLayout" ng-checked="true">
                        <label class="bold mode-label" for="mode1">Fix Layout</label>
                    </div>
                    <div class="row mode-desc">
                        Fixes the layout information so that the files can actually go to newly added nodes. This will only fix layout changes and not migrate data. It is recommended after new bricks have been added to an existing volume.
                    </div>
                </div>
            </div>
            <div class="row desc-row">
                <div class="col-md-12">
                    <div class="row">
                        <input type="radio" name="mode" id="mode2" value="xyz" ng-model="vm.fixLayout">
                        <label class="bold mode-label" for="mode2">Fix Layout and migrate data</label>
                    </div>
                    <div class="row mode-desc">
                        Fixes the layout information and migrates existing data. It is recommended after expanding or shrinking an existing volume.
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="vm.taskSubmitted" class="blank-slate-pf modal-body">
        <div class="blank-slate-pf-icon">
            <i class="pficon pficon-ok"></i>
        </div>
        <div>
            <h1><label>Volume Rebalancing Started</label></h1>
            <div class="text-center">Rebalancing of volume {{vm.volume.name}} has begun. You will be notified when processing is complete. You can check progress at any time by viewing details of this volume.</div>
        </div>
        <div class="blank-slate-pf-main-action">
            <button class="btn btn-primary btn-lg" ng-click="vm.viewTaskProgress()">View Task Progress</button>
            <button class="btn btn-lg close-btn" ng-click="vm.closeModal()">Close</button>
        </div>
    </div>
        <custom-modal-footer modal-footer="vm.modalFooter" ng-show="!vm.taskSubmitted"></custom-modal-footer>
    </div>
    
</div>
