.tendrl-import-cluster-container {

    .heading {
        margin-bottom: 30px;
    }

    .cluster-detail {
        padding: 20px;
    }

    .action-button {
        margin-top: 25px;
    }

	.div-with-scroll {
	    height: 167px;
	    overflow: scroll;
	    overflow-x: hidden;
	}
	
}
