.tendrl-import-cluster-container {

    .heading {
        margin-bottom: 30px;
    }

    .cluster-detail {
        padding: 20px;
    }

    .action-button {
        margin-top: 25px;
    }

	.div-with-scroll {
	    max-height: 315px;
	    overflow: scroll;
	    overflow-x: hidden;
	}

    .cluster-list-selectbox {
        width:270px;
        
        & > option {
            text-overflow: ellipsis;
        }
    }
	
}
