<div class="container-fluid import-cluster">
    <ol class="breadcrumb">
        <li><a ui-sref="cluster">Clusters</a></li>
        <li>Import Cluster</li>
    </ol>
    <div>
        <section>
            <h2>Import Cluster</h2>
            <p>Select a host for a cluster you wish to import. Note: Only one cluster can be imported at a given time</p>
        </section>
        <!-- table directive -->
        <table-view heading="Available Hosts" colums="importCluster.colums" table-data="importCluster.freeNodes" selected-data="importCluster.selectedNodes"></table-view>
    </div>
    <div>
        <button class="btn btn-primary" ng-click="importCluster.importCluster()">Import</button>
        <button class="btn btn-default" ng-click="importCluster.cancel()">Cancel</button>
    </div>
</div>