<div class="tendrl-import-cluster-container">
	<!--To-do: do in scss-->

	<div class="row">
		<h1 class="center-text">{{importCluster.heading}}</h1>
	</div>

	<div class="row">
		<div class="col-md-12 center-text" ng-if="importCluster.isShowImportButton">
			<button ng-repeat="flow in importCluster.importFlows" class="btn btn-primary button-padding" ng-click="importCluster.setImportClusterInfo(flow)">{{flow.name}}</button>
		</div>
		<div class="col-md-12 center-text" ng-if="!importCluster.isShowImportButton">
			<generate-form form-attributes="importCluster.selectedFlow.attributes" submit-btn-name="Import Cluster" post-url="{{importCluster.selectedFlow.name}}" form-method="{{importCluster.selectedFlow.method}}" call-back="importCluster.callBack(response)"></generate-form>
		</div>
	</div>
	
</div>