<!DOCTYPE html>
<html class="layout-pf layout-pf-fixed" ng-class="currentURI === '/'?'login-pf':''">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="images/favicon.png" sizes="32x32" />
    <title>tendrl</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body class="usmClientApp" ng-controller="ApplicationController" ng-class="{'cards-pf':(currentURI == '/dashboard')}">
    <nav class="navbar-pf-vertical" ng-if="currentURI === '/'"></nav>
    <nav class="navbar-pf-vertical" ng-if="currentURI !== '/'">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" href="">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/dashboard" style="padding-top:15px; font-size:20px;">
                <img class="nav-brand-name brand-name-img" src="images/name.png" alt="tendrl | Unified Storage Manager"/>
            </a>
        </div>
        <nav class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right navbar-iconic" ng-controller="RequestsController as request">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle nav-item-iconic" href="" data-template="views/base/alert-dropdown.tpl.html"
                        data-animation="am-fade-and-slide-top" bs-dropdown="dropdown" title="Events">
                            <i class="fa fa-bell"></i>
                            <span class="badge" style="position:relative;" ng-if="request.events.length>0" ng-bind="request.events.length"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-item-iconic" ng-href="/#/clusters/new/accept-hosts?from={{currentURI}}" title="Host Discovery">
                            <i class="pficon pficon-container-node"></i>
                            <span class="badge" style="position:relative;" ng-if="request.discoveredHostsLength>0" ng-bind="request.discoveredHostsLength"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle nav-item-iconic" bs-dropdown="dropdown" href="" data-template="views/base/progress-dropdown.tpl.html"
                        data-animation="am-fade-and-slide-top" bs-dropdown="" title="Tasks">
                            <i class="pficon pficon-flag"></i>
                            <span class="badge" style="position:relative;" ng-if="request.tasks.length>0" ng-bind="request.tasks.length"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="modal" class ="nav-item-iconic" ng-click="request.openAboutModal();" title="About">
                            <i class="pficon pficon-help"></i>
                        </a>
                    </li>
                    <li class="dropdown user">
                        <a data-toggle="dropdown" class="dropdown-toggle nav-item-iconic" bs-dropdown="dropdown" href="" data-template="views/base/admin-dropdown.tpl.html"
                        data-animation="am-fade-and-slide-top" title="User">
                            <i class="pficon pficon-user"></i>
                        </a>
                    </li>
                </ul>
        </nav>
    </nav>
    <nav class="nav-pf-vertical nav-pf-vertical-with-secondary-nav" ng-if="currentURI != '/'">
        <ul class="list-group" ng-controller="MenuController">
            <li class="list-group-item" ng-repeat="menu in menus" ng-class="{'active':menu.active, 'persistent-secondary':menu.hasSubMenus}"
            data-target="#{{menu.label}}">
                <a href="#{{menu.href}}"> <span ng-class="menu.icon"></span> <span class="list-group-item-value">{{menu.label}}</span> </a>
                <div id="{{menu.label}}" class="nav-pf-persistent-secondary" ng-if="menu.hasSubMenus">
                    <div class="persistent-secondary-header">
                        <a class="secondary-collapse-toggle-pf cursor-pointer" data-toggle="collapse-secondary-nav"></a>
                        <span>{{menu.label}}</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="submenu in menu.subMenus" ng-class="{'active':submenu.active}">
                            <a href="{{submenu.href}}">
                                <span class="list-group-item-value" ng-bind="submenu.title"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container-fluid container-cards-pf container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary"
    ng-if="(currentURI !== '/')">
        <div class="row" style="height:100%">
            <div class="col-md-12" style="height:100%" ng-view></div>
        </div>
    </div>
    <div ng-if="(currentURI === '/')" ng-view>
    </div>
    <div growl></div>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>