.tendrl-create-gluster-cluster-container {
    .wizard-pf {
        width: auto;
    }
    .create-gluster-cluster-wizard {
        .wizard-pf {
            width: 100%;
            .wizard-pf-steps {
                border: none;
            }
            .wizard-pf-row {
                position: static;
                .wizard-pf-main {
                    overflow: hidden;
                    padding: 0;
                    margin-left: 114px;
                    margin-right: 106px;
                    .wizard-pf-contents {
                        .form-horizontal .control-label {
                            text-align: left;
                        }
                        .list-group {
                            margin-bottom: 0;
                        }
                        .rbd-summary {
                            margin-bottom: 50px;
                            margin-left: 0;
                            .desc {
                                margin-bottom: 30px;
                            }
                            .single-rbd-summary {
                                border: 1px solid $color-white-smoke;
                                .row {
                                    padding: 10px 0;
                                    &:nth-of-type(2n) {
                                        background-color: $color-white-smoke;
                                    }
                                }
                            }
                            .single-rbd-summary:nth-of-type(2n) {
                                background-color: red;
                            }
                        }
                        .pool-summary {
                            .desc {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
                .wizard-pf-main {
                    margin-left: 100px;
                    margin-right: 100px;
                    @media screen and (min-width: 1224px) and (max-device-width: 1823px) {
                        margin-left: 170px;
                        margin-right: 170px;
                    }
                    @media screen and (min-width: 1824px) {
                        margin-left: 253px;
                        margin-right: 253px;
                    }
                }
            }
            .wizard-pf-footer {
                border: none;
                position: static;
                margin-left: 240px;
                text-align: left;
            }
        }
    }
    .create-cluster-summary {
        margin-bottom: 50px;
        margin-left: 0;
        .desc {
            margin-bottom: 30px;
        }
        .single-create-cluster-summary {
            border: 1px solid $color-white-smoke;
            .row {
                padding: 10px 0;
                &:nth-of-type(2n) {
                    background-color: $color-white-smoke;
                }
            }
        }
        .single-create-cluster-summary:nth-of-type(2n) {
            background-color: red;
        }
    }
    .available-host-list {
        background-color: #ededed;
        border-left-color: transparent;
        border-right-color: transparent;
        padding: 10px;
    }
    .remove-stack {
        display: inline;
        color: black;
    }
    .stack-left {
        text-align: left;
        display: initial;
    }
    .available-host-container {
        .warning-icon-adjustment {
            margin-top: 9px;
            margin-left: 6px;
            font-size: 14px;
        }
        .remove-flex {
            display: table-caption;
            padding-left: 60px
        }
    }
    .summary-view-container {
        .div-with-scroll {
            max-height: 170px;
            overflow: auto;
            overflow-x: hidden;
        }
        .osd-div-with-scroll {
            max-height: 250px;
            overflow: auto;
            overflow-x: hidden;
            .table-container {
                width: 90%;
                margin-left: 60px;
                margin-top: 10px;
            }
            .angle-expand {
                font-size: 20px;
                cursor: pointer;
            }
        }
        .list-group-line {
            margin-bottom: 50px;
        }
    }
    .network-container {
        .network {
            width: initial;
        }
        .server-node {
            margin-top: 10px;
        }
        .select-deselect {
            border-top: none;
        }
        .toolbar-pf-filter {
            width: 29%;
        }
        .filter-section {
            border-top: none;
            margin-top: 10px;
            .list-group-item {
                border-top: none;
            }
            .cn-dropdown,
            .pn-dropdown {
                padding-left: 0;
                margin-left: -35px;
            }
        }
        .eth-ip-mapping {
            padding-left: 42px;
        }
    }
}
