<div class="wizard-pf-contents" ng-if="createGlusterClusterCntrl.selectedStep === 1">
    <div ng-show="createGlusterClusterCntrl.availableHostList.length === 0">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <span class="pficon pficon-close"></span>
            </button>
            <span class="pficon pficon-error-circle-o"></span>
            <strong>No Nodes are available for creating a Cluster.</strong>
        </div>
    </div>
    <form class="form-horizontal" name="createGlusterClusterCntrl.createCluster">
        <!-- replacing id with data-id to pass build errors -->
        <div class="form-group">
            <label class="col-sm-3 col-md-2 control-label" for="storageService">Storage Service</label>
            <div class="col-sm-8 col-md-3">
                <label class="control-label" data-id="storage-service" name="storageService">{{createGlusterClusterCntrl.storageService || "NA"}}</label>
            </div>
        </div>
        <div class="form-group required" ng-class="{'has-error': createGlusterClusterCntrl.createCluster.glusterClusterName.$dirty && createGlusterClusterCntrl.createCluster.glusterClusterName.$error.required }">
            <label class="col-sm-3 col-md-2 control-label" for="glusterClusterName">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="glusterClusterName" ng-model="createGlusterClusterCntrl.glusterClusterName" required />
            </div>
            <span ng-show="createGlusterClusterCntrl.createCluster.glusterClusterName.$dirty && createGlusterClusterCntrl.createCluster.glusterClusterName.$error.required" class="error-msg">* Cluster name is required</span>
        </div>
    </form>
</div>
