<div class="wizard-pf-contents summary-view-container" ng-if="createGlusterClusterCntrl.selectedStep === 3">
    <div class="create-cluster-summary row">
        <h3>Cluster Summary</h3>
        <div class="col-md-12 col-sm-12 single-create-cluster-summary">
            <div class="row">
                <div class="col-md-6 col-sm-6">Name</div>
                <div class="col-md-6 col-sm-6">{{createGlusterClusterCntrl.glusterClusterName}}</div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">Available Devices</div>
                <div class="col-md-6 col-sm-6">{{createGlusterClusterCntrl.totalDevices}}</div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">Available Capacity</div>
                <div class="col-md-6 col-sm-6">{{createGlusterClusterCntrl.totalAvailableCapacity | bytes}}</div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">Public Network</div>
                <div class="col-md-6 col-sm-6">{{createGlusterClusterCntrl.selectedClusterNetwork || "NA"}}</div>
            </div>
        </div>
    </div>
    
    <h3>{{createGlusterClusterCntrl.selectedNWHost.length}} Hosts</h3>
    <div class="div-with-scroll">
        <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="host in createGlusterClusterCntrl.summaryHost">
            <div class=" list-group-item ">
                <div class="col-md-12 ">
                    <div class="col-md-4 ">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked stack-left ">
                            <strong>{{host.fqdn}}</strong>
                            <h5>{{host.ifIPMapping.length}} Interfaces, {{host.totalNodeInDevice}} Devices, {{host.availableCapacity | bytes}}</h5>
                        </div>  
                    </div>
                    <div class="col-md-3 ">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked stack-left ">
                            <strong>{{createGlusterClusterCntrl.getCNIfIp(host).if}}</strong>
                            <div>{{createGlusterClusterCntrl.getCNIfIp(host).ip}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 horizontal-line list-group-line"></div>
    </div>
</div>
