.tendrl-create-file-share-container {
    .task-progress-button {
        margin-right: 25px;
    }
    .create-file-share-wizard {
        .wizard-pf {
            width: 100%;
            .wizard-pf-steps {
                border: none;
            }
            .wizard-pf-row {
                position: static;
                .wizard-pf-main {
                    overflow: hidden;
                    padding: 0;
                    margin-left: 114px;
                    margin-right: 106px;
                    .wizard-pf-contents {
                        .form-horizontal .control-label {
                            text-align: left;
                        }
                    }
                }
                @media screen and (min-width: 992px) {
                    .wizard-pf-main {
                        margin-left: 253px;
                        margin-right: 253px;
                    }
                }
            }
            .wizard-pf-footer {
                border: none;
                position: fixed;
                margin-left: 240px;
                text-align: left;
                bottom: 25px;
                left: 230px;
            }
        }
    }
    .tendrl-create-brick-view-container {
        .modal-dialog {
            width: 1000px;
            .brick-path {
                margin-right: -40px;
            }
            .strip-size-unit {
                padding-left: 0;
            }
            .disk-conf {
                margin: 10px 0;
                background-color: $color-white-smoke;
                padding: 10px;
            }
            .storage-devices {
                margin: 0 5px;
            }
            .brick-info-label {
                padding-right: 0;
            }
            .brick-info-value {
                padding-left: 0;
            }
            .brick-names {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .table-container {
                margin-top: 20px;
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
    .advanced-setting-wizard {
        .wizard-pf {
            .wizard-pf-sidebar {
                position: fixed;
                left: 200px;
                top: 315px;
                bottom: 0;
                border-top: 1px solid #d1d1d1;
            }
        }
        .settings-content {
            height: 100%;
            padding: 1em;
            vertical-align: top;
        }
        .settings-footer {
            position: fixed;
            bottom: 55px;
        }
        .protocol-options {
            padding: 0;
            input[type=checkbox] {
                vertical-align: bottom;
                height: 20px;
                width: 20px;
            }
        }
    }
    .review-container {
        .review-table {
            border: 1px solid $color-light-grey;
            margin-top: 20px;
            .review-field-title {
                border-right: 1px solid $color-light-grey;
                margin: 0;
                + review-field-value {
                    margin: 0;
                }
            }
            .value {
                font-weight: normal;
            }
            .row:nth-child(2n+1) {
                background-color: $color-white-smoke;
            }
        }
    }
    .layout-container {
        .table-container {
            width: 100%;
        }
        .list-group-item-container {
            border-top: solid 1px $color-dark-gray;
            .list-group-item {
                margin-left: 15px;
                padding-left: 0;
                margin-right: 15px;
                &:hover {
                    background-color: transparent;
                }
            }
        }
        .toolbar-pf-filter {
            width: 37%;
        }
        .list-container {
            max-height: 60vh;
            overflow: auto;
            overflow-x: hidden;
        }
        .list-view-pf-expand-active {
            border: solid 1px $color-dark-gray;
            &:first-child {
                border-top-color: $color-dark-gray;
            }
        }
    }
}
