<div class="wizard-pf-contents" ng-if="createFileShareCntrl.step === 1">
    <form class="form-horizontal">
        <!-- replacing id with data-id to pass build errors -->
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="cluster-name">Cluster</label>
            <div class="col-sm-8 col-md-3">
                <select data-ng-options="cluster for cluster in createFileShareCntrl.glusterClusterList" data-ng-model="createFileShareCntrl.selectedCluster" class="form-control" data-id="cluster-name"></select>
            </div> 
        </div>
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="fileShareName">Name</label>
            <div class="col-sm-8 col-md-3">
                <input type="text" data-id="fileShareName" class="form-control" name="fileShareName" ng-model="createFileShareCntrl.fileShareName">
                <span ng-if="!createFileShareCntrl.fileShareName.length" class="error-msg">* File Share name is required</span>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="file-share-name">Type</label>
            <div class="col-sm-8 col-md-3">
                <select data-ng-options="type for type in createFileShareCntrl.fileShareTypes" data-ng-model="createFileShareCntrl.selectedType" class="form-control" data-id="file-share-name"></select>
            </div> 
        </div>
        <!-- <div class="form-group required" ng-if="createFileShareCntrl.selectedType !== createFileShareCntrl.fileShareTypes[2]">
            <label class="col-sm-2 col-md-2 control-label" for="replica-count">Replica Count</label>
            <div class="col-sm-4 col-md-2">
                <input type="number" data-id="replica-count" min=1 max=10 class="form-control" ng-model="createFileShareCntrl.replicaCount" required>
            </div>
        </div> -->
        <div class="form-group required" ng-if="createFileShareCntrl.selectedType === createFileShareCntrl.fileShareTypes[2]">
            <label class="col-sm-3 col-md-2 control-label" for="ec-profile">EC Profile</label>
            <div class="col-sm-8 col-md-3">
                <select data-ng-options="profile for profile in createFileShareCntrl.ecProfiles" data-ng-model="createFileShareCntrl.selectedProfile" class="form-control" data-id="ec-profile"></select>
            </div> 
        </div>
    </form>
</div>