<div class="wizard-pf-contents" ng-if="createFileShareCntrl.step === 1">
    <div ng-show="createFileShareCntrl.validateAvaialbleBricks()">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <span class="pficon pficon-close"></span>
            </button>
            <span class="pficon pficon-error-circle-o"></span>
            <strong>There are not enough bricks available in this cluster to continue.</strong>
            <button type="button" class="btn btn-default wizard-pf-back" ng-click="createFileShareCntrl.onCreateBrickModal()">
                Create Brick
            </button>
        </div>
    </div>
    <form class="form-horizontal">
        <!-- replacing id with data-id to pass build errors -->
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="cluster-name">Cluster</label>
            <div class="col-sm-8 col-md-3">
                <select class="form-control" data-id="cluster-name" ng-options="cluster.cluster_name for cluster in createFileShareCntrl.glusterClusterList" ng-model="createFileShareCntrl.selectedCluster" ng-change="createFileShareCntrl.changeSelectedCluster()"></select>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="fileShareName">Name</label>
            <div class="col-sm-8 col-md-3">
                <input type="text" data-id="fileShareName" class="form-control" name="fileShareName" ng-model="createFileShareCntrl.fileShareName">
                <span ng-if="!createFileShareCntrl.fileShareName.length" class="error-msg">* File Share name is required</span>
            </div>
            <div class="col-md-3">
                <span><b>{{createFileShareCntrl.totalBricks}}</b> unclaimed bricks</span>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="file-share-name">Type</label>
            <div class="col-sm-8 col-md-3">
                <select ng-options="type for type in createFileShareCntrl.fileShareTypes" ng-model="createFileShareCntrl.selectedType" class="form-control" data-id="file-share-name" ng-disabled="true"></select>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 col-md-2 control-label" for="replica-count">Replica Count</label>
            <div class="col-sm-4 col-md-2">
                <input type="number" data-id="replica-count" min=2 max=3 class="form-control" ng-model="createFileShareCntrl.replicaCount" ng-change="createFileShareCntrl.validateAvaialbleBricks()" required>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 col-md-2 control-label" for="replica-count">Distribution Count</label>
            <div class="col-sm-4 col-md-2">
                <input type="number" data-id="Distribution-count" min=1 max=4 class="form-control" ng-model="createFileShareCntrl.distributionCount" ng-change="createFileShareCntrl.validateAvaialbleBricks()" required>
            </div>
        </div>
    </form>
</div>
