<div class="wizard-pf-contents layout-container" ng-show="createFileShareCntrl.step === 3">
    <h2>Replica Sets</h2>
    <div ng-if="createFileShareCntrl.nodeDataLoading" class="spinner spinner-lg"></div>
    <div ng-if="!createFileShareCntrl.nodeDataLoading">
        <div class="list-group list-view-pf list-view-pf-view list-container">
            <div class="list-group-item" ng-class="{'list-view-pf-expand-active': set.isExpanded}" ng-repeat="set in createFileShareCntrl.brickDetails track by $index">
                <div class="list-group-item-header">
                    <div class="list-view-pf-expand">
                        <span class="fa fa-angle-right" ng-click="createFileShareCntrl.expandList(set)" ng-show="!set.isExpanded"></span>
                        <span class="fa fa-angle-right fa-angle-down" ng-click="createFileShareCntrl.expandList(set)" ng-show="set.isExpanded"></span>
                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-body">
                            <div class="col-md-4 bold-text">Replica Set {{$index+1}}</div>
                            <div class="col-md-3">{{set.bricks.length}} Bricks</div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item-container container-fluid" ng-show="set.isExpanded">
                    <div class="row">
                        <div class="list-group-item">
                            <div class="table-container ">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr ng-repeat="brick in set.bricks track by $index">
                                            <td>{{createFileShareCntrl.getBrickPath(brick)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
