<span class="chart"></span>
<span class="desc" ng-if="vm.chartData !== undefined">
	<b ng-if="vm.chartTitle !== undefined">{{ vm.chartTitle }}</b>
	<h5 ng-if="vm.chartData.used !== undefined">{{ vm.chartData.used | bytes }}</h5>
	<h5 ng-if="vm.chartData.used === undefined"> {{ vm.chartData.percent_used }} %</h5>
	<span>
		<span ng-if="vm.chartData.total !== undefined">
			of {{vm.chartData.total | bytes}}
		</span>
		used
	</span> 
</span>
<div class="not-available" ng-if="vm.chartData === undefined">
	<i class="pficon pficon-info"></i>
	<div>No Data Available</div>
</div>