<div class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
    <div>
      <h3>Host Configuration</h3>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td><strong>OS Version</strong></td>
          <td ng-bind="hostconfig.host.os.Name + ' ' + hostconfig.host.os.OSVersion "></td>
        </tr>
        <tr>
          <td><strong>Kernel Version</strong></td>
          <td ng-bind="hostconfig.host.os.KernelVersion"></td>
        </tr>
        <tr>
          <td><strong>CPU Model</strong></td>
          <td ng-bind="hostconfig.host.cpus[0].ModelName"></td>
        </tr>
        <tr>
          <td><strong>CPU Sockets</strong></td>
          <td ng-bind="hostconfig.host.cpus[0].Sockets"></td>
        </tr>
        <tr>
          <td><strong>CPU Cores per Socket</strong></td>
          <td ng-bind="hostconfig.host.cpus[0].CoresPerSocket"></td>
        </tr>
        <tr>
          <td><strong>CPU Threads Per Core</strong></td>
          <td ng-bind="hostconfig.host.cpus[0].ThreadsPerCore"></td>
        </tr>
        <tr>
          <td><strong>Physical Memory</strong></td>
          <td ng-bind="hostconfig.host.memory.TotalSize.toUpperCase() | bytes "></td>
        </tr>
        <tr>
          <td><strong>Swap Size</strong></td>
          <td ng-bind="hostconfig.host.memory.SwapTotal.toUpperCase() | bytes "></td>
        </tr>
        <tr>
          <td><strong>SE Linux Mode</strong></td>
          <td ng-bind="hostconfig.host.os.SELinuxMode"></td>
        </tr>
        <tr>
          <td><strong>Cluster Network Address</strong></td>
          <td ng-bind="hostconfig.host.cluster_ip4"></td>
        </tr>
        <tr>
          <td><strong>Public Network Address</strong></td>
          <td ng-bind="hostconfig.host.public_ip4"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
