<div class="row form-page storage-openstack">
    <div class="col-md-12 form-body">
        <div class="form-header">
            <h1>Add Storage for OpenStack</h1>
        </div>
        <div class="form-content">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-md-1 control-label" style="text-align: left" for="cluster">Cluster</label>
                    <div class="col-md-3">
                        <select pf-select ng-model="storage.cluster" id="cluster" class="form-control" ng-options="cluster.name for cluster in storage.clusters"
                        ng-change="storage.onClusterSelected(storage.cluster)"></select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">
                        <h4>OpenStack Services</h4>
                    </label>
                </div>
                <div class="row storage-group">
                    <div class="col-md-12">
                        <div class="storage-item" ng-repeat="openstackStorage in storage.openstackStorages">
                            <div class="header">
                                <input type="checkbox" ng-model="openstackStorage.selected">
                                <span class="title">{{openstackStorage.service}}</span>
                                </input>
                                <span class="text-muted desc">Block Volumes</span>
                            </div>
                            <div class="storage-pool">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="title">Name</span>
                                        <span class="value">{{openstackStorage.name}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="title">Type</span>
                                        <span class="value">{{openstackStorage.type}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="title">Storage Profile</span>
                                        <span class="value">{{openstackStorage.storageProfile}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="title">Replica</span>
                                        <span ng-show="!openstackStorage.edit" class="value">{{openstackStorage.replica}}</span>
                                        <select ng-show="openstackStorage.edit" pf-select ng-model="openstackStorage.replica" id="replica"
                                        class="replica-edit form-control" ng-options="replica for replica in storage.replicaList"></select>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="title">Capacity</span>
                                        <div ng-if="!openstackStorage.edit" class="value">{{openstackStorage.capacity.value}} {{openstackStorage.capacity.unit}}</div>
                                        <div ng-if="openstackStorage.edit" class="value capacity-edit">
                                            <div class="input-group">
                                                <input type="number" ng-model="openstackStorage.capacity.value" class="form-control"></input>
                                                <div class="input-group-btn">
                                                    <select pf-select ng-model="openstackStorage.capacity.unit" class="form-control size-selector" ng-options="capacityUnit for capacityUnit in storage.capacityUnits"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="title">Cache Tier</span>
                                        <span class="value">None</span>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="actions">
                                            <span ng-if="!openstackStorage.edit" class="fa fa-pencil" ng-click="openstackStorage.edit=true"></span>
                                            <span ng-if="openstackStorage.edit" class="fa fa-check" ng-click="openstackStorage.edit=false"></span>
                                            <span ng-if="openstackStorage.edit" class="fa fa-times" ng-click="openstackStorage.edit=false"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-lg btn-default" ng-click='storage.cancel()'>Cancel</button>
            <button type="button" class="btn btn-lg btn-primary" ng-show='storage.isSubmitAvailable()' ng-click='storage.submit()'>Create Storage</button>
        </div>
    </div>
</div>
