<div class="container-fluid storage-new">
    <div class="row">
        <div class="col-md-12">
            <div class="header-item">Add Storage</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="storage-item" ng-click="storages.addGenericStorage()">
                <div class="header">
                    <a>Add Generic Storage</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="storage-item" ng-click="storages.addOpenStackStorage()">
                <div class="header">
                    <a>Add Storage for OpenStack</a>
                </div>
            </div>
        </div>
    </div>
</div>
