.tendrl-user-list-view-container {
    .table-striped {
        margin-top: 10px;
    }
    .edit-button {
        border: 1px solid $color-silver;
    }
    .status-icons {
        font-size: 18px;
        vertical-align: sub;
        margin-right: 5px;
        margin-top: 2px;
    }
    .toolbar-pf-filter {
        border-right: none;
    }
    .table-view-pf-actions {
        li {
            cursor: pointer;
        }
        .toolbar-pf-filter {
            border-right: none;
        }
    }
}