.tendrl-user-list-view-container {
    .table-striped {
        margin-top: 10px;
    }
    .edit-button {
        border: 1px solid #bbb;
    }
    .status-icons {
        font-size: 18px;
        vertical-align: sub;
        margin-right: 5px;
        margin-top: 2px;
    }
}
