<ol class="breadcrumb">
	<li><a href="#/admin">Users</a></li>
	<li>Add User</li>
</ol>

Search for existing users from the configured LDAP directory and map that user to USM

<form class="form-horizontal">
  <div class="form-group">
    <label for="domain" class="col-sm-2 col-md-2 control-label">Domain</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" class="form-control" id="domain" placeholder="Domain">
    </div>
  </div>
    <div class="form-group">
    <label for="lastname" class="col-sm-2 col-md-2 control-label">Name or User ID</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" class="form-control" id="nameuserid" ng-model="" placeholder="Name or User ID">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click=>Search <i class="fa fa-search"></i></button>
    </div>
  </div>
</form>

  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in ldapUsers.userList">
      <td ng-bind="user.username"></td>
      <td ng-bind="user.firstname"></td>
      <td ng-bind="user.lastname"></td>
      <td ng-bind="user.email"></td>
      <td style="text-align: center;">
          <button ng-show="user.imported === false" class="btn btn-primary" ng-click="ldapUsers.addLdapUser(user)"> Import </button>
          <i class="fa fa-check-circle ok" ng-show="user.imported != false"></i>
      </td>
    </tr>
  </tbody>
</table>