<ol class="breadcrumb">
    <li><a href="#/admin">Admin</a></li>
    <li>User</li>
</ol>
  <div class="row dataTables_wrapper">
     <div class="col-md-3 form-group has-feedback user-search-feedback" style="display:-webkit-box;">
            <input type="text" class="form-control" placeholder="Search" ng-model="search"></input>
            <span class="fa fa-search form-control-feedback"></span>
     </div>
    <div class="col-md-offset-4 col-md-5">
      <span class="pull-right">
        <button class="btn btn-primary btn-lg" ng-click="users.addUser()">Add User</button>
        <button class="btn btn-default btn-lg" ng-click="users.addLdapUser()">Add LDAP/AD User</button>
      </span>
    </div>
  </div>
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Type</th>
      <th>Notifications</th>
      <th>Email</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users.userList| filter:search">
      <td ng-bind="user.username"></td>
      <td ng-bind="user.firstname"></td>
      <td ng-bind="user.lastname"></td>
      <td ng-bind="user.role"></td>
      <td>{{user.type === 0 ? "Local" : "Ldap"}}</td>
      <td><i class="fa " ng-class="user.notificationenabled?'fa-check ok':'fa-times critical'"></i></td>
      <td ng-bind="user.email"></td>
      <td><i class="fa " ng-class=" user.status?'fa-check ok':'fa-times critical'"></i></td>
      <td>
      	<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" bs-dropdown="dropdown">
		    Actions
		    <span class="caret"></span>
		  </button>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation">
          <a role="menuitem" href="" ng-click="users.editUser(user.username)"> Edit user </a>
        </li>
        <li role="presentation" ng-if ="user.username!=users.currentUser.username">
          <a role="menuitem" href="" ng-click="users.toggleUserStatus(user)"> {{user.status?'Disable':'Enable'}} user </a>
        </li>
        <li role="presentation">
          <a role="menuitem" href="" ng-click="users.toggleEmailStatus(user)"> {{user.notificationenabled?'Disable':'Enable'}} Notification </a>
        </li>
       <li role="presentation" ng-if ="user.username!=users.currentUser.username">
          <a role="menuitem" href="" ng-click="users.deleteUser(user.username)"> Delete User</a>
        </li>
      </ul>
		</div>
      </td>
    </tr>
  </tbody>
</table>
