<ol class="breadcrumb">
    <li><a href="#/admin">Admin</a></li>
    <li>LDAP/AD Settings</li>
</ol>
<form class="form-horizontal">
  <div class="form-group">
    <label for="ldapauth" ng-hide="ldap.configFound" class="col-sm-2 col-md-2 control-label">Authentication</label>
    <div class="col-sm-1 col-md-1">
      <label for="adauth">AD</label>
      <input type="radio" id="adauth" name="authgroup" value="ad" ng-model="ldap.ldapType">
    </div>
    <div class="col-sm-1 col-md-1">
      <label for="ldapauth">LDAP</label>
      <input type="radio" id="ldapauth" name="authgroup" value="ldap" ng-model="ldap.ldapType">
    </div>
  </div>
  <div class="form-group">
    <label for="ldaphost" class="col-sm-2 col-md-2 control-label">LDAP/AD Host</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" class="form-control" id="ldaphost" ng-model="ldap.ldapServer" placeholder="LDAP/AD host">
    </div>
  </div>
    <div class="form-group">
    <label for="port" class="col-sm-2 col-md-2 control-label">Port</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" class="form-control" id="port" ng-model="ldap.port" placeholder="389">
    </div>
  </div>
    <div class="form-group">
    <label for="basepath" class="col-sm-2 col-md-2 control-label">Base Path Name</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" class="form-control" id="basepath" ng-model="ldap.base" placeholder="Base path name">
    </div>
  </div>
   <div class="form-group">
    <label for="bindaccount" class="col-sm-2 col-md-2 control-label">Bind Account</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" class="form-control" id="bindaccount" ng-model="ldap.domainAdmin" placeholder="Bind Account">
    </div>
  </div>
  <div class="form-group">
    <label for="bindpassword" class="col-sm-2 col-md-2 control-label">Bind Password</label>
    <div class="col-sm-10 col-md-4">
      <input type="password" class="form-control" id="bindpassword" ng-model="ldap.password" placeholder="Bind Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" ng-click="ldap.save()">Save</button>
      <h4 ng-if="ldap.errorMsg===true" class="critical">Error saving configuration</h4>
      <i ng-if="ldap.errorMsg===false" class="ok fa fa-check-circle"> Directory service configuration saved successfully.</i>
    </div>
  </div>
</form>