<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title"> My Settings </h4>
            </div>
            <div class="modal-body" ng-controller="UserEditController as userEdit">
              <form class="form-horizontal">
                  <div class="form-group">
                  <label class="col-sm-2 col-md-4 control-label">Type</label>
                  <div class="col-sm-6 col-md-4">Internal</div>
                </div>
                <div class="form-group">
                  <label for="usedid" class="col-sm-2 col-md-4 control-label">User Id</label>
                  <div class="col-sm-10 col-md-8">
                    <label id="userid" placeholder="User Id">{{userEdit.userId}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstname" class="col-sm-2 col-md-4 control-label">First Name</label>
                  <div class="col-sm-10 col-md-8">
                    <label id="firstname" placeholder="First name">{{userEdit.firstName}}</label>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="lastname" class="col-sm-2 col-md-4 control-label">Last Name</label>
                  <div class="col-sm-10 col-md-8">
                    <label id="lastname" placeholder="Last name">{{userEdit.lastName}}</label>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="email" class="col-sm-2 col-md-4 control-label">Email</label>
                  <div class="col-sm-10 col-md-4">
                    <label id="lastname" placeholder="Email">{{userEdit.email}}</label>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="userEdit.notifications" id="notifications"></input>
                          <span>Email Notifications</span>
                        </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-sm-2 col-md-4 control-label">Old Password</label>
                  <div class="col-sm-10 col-md-8">
                    <input type="password" class="form-control" id="password" ng-model="userEdit.oldpassword"placeholder="Old Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-sm-2 col-md-4 control-label">New Password</label>
                  <div class="col-sm-10 col-md-8">
                    <input type="password" class="form-control" id="password" ng-model="userEdit.password"placeholder="New Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-sm-2 col-md-4 control-label">Confirm Password</label>
                  <div class="col-sm-10 col-md-8">
                    <input type="password" class="form-control" id="password" ng-model="userEdit.confirmpassword"placeholder="Confirm Password">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-10">
                    <button class="btn btn-primary" ng-click="userEdit.saveSettings();$hide()">Save</button>
                    <button class="btn btn-default" ng-click="$hide()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
</div>
