<div class="tendrl-create-volume-container">
	
	<div class="row">
		<h1 class="text-center">Create Volume</h1>
		<div class="col-md-offset-3 col-md-5">
			<div ng-if="createVolume.notification.length" class="toast-pf alert alert-success alert-dismissable">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		            <span class="pficon pficon-close" ng-click="createVolume.closeNotification()"></span>
		        </button>
		        <span class='pficon pficon-ok'></span>
		        {{createVolume.notification}}
		    </div>
		</div>
	</div>

	<generate-form ng-if="!createVolume.formAttributes.isEmpty" form-attributes="createVolume.formAttributes.data" submit-btn-name="Create Volume" post-url="{{createVolume.postUrl.action.url}}" call-back="createVolume.callBack(response)"></generate-form>

</div>