<div class="tendrl-cluster-detail-container container-fluid">
    
    <ol class="breadcrumb custom-breadcrumb">
        <li><a ui-sref="cluster">Cluster</a></li>
        <li>
            <span>
                {{clusterDetail.clusterName}}
            </span>
        </li>
    </ol>
    <ul class="nav nav-tabs">
        <li ng-repeat="(key,value) in clusterDetail.tabList" ng-class="{'active': clusterDetail.isTabSet(value)}">
            <a href="" ng-click="clusterDetail.setTab(value)">
                {{key}}s
            </a>
        </li>
    </ul>
    
    <div ng-if="clusterDetail.activeTab !== undefined">
        <cluster-host-list ng-if="clusterDetail.activeTab === 1"></cluster-host-list>
        <cluster-file-share-list ng-if="clusterDetail.activeTab === 2 && clusterDetail.clusterObj.sds_name ==='glusterfs'"></cluster-file-share-list>
        <cluster-pool-list ng-if="clusterDetail.activeTab === 2 && clusterDetail.clusterObj.sds_name !=='glusterfs'"></cluster-pool-list>
        <cluster-rbd-list ng-if="clusterDetail.activeTab === 3 && clusterDetail.clusterObj.sds_name !=='glusterfs'"></cluster-rbd-list>
    </div>

</div>
