.tendrl-cluster-detail-container{

	.push-top {
        padding-top: 20px;
    }

    .cluster-detail-nav > li.active > a {
        background-color: $color-light-grey;
    }

    .tendrl-dashboard-gluster-view-container, .tendrl-ceph-dashboard-view-container {
	    margin-left: -40px;
	    margin-right: -40px;
	}
}
