.tendrl-header-container {
    height: 58px;
    .brand-name-img {
        height: 20px;
        cursor: pointer;
    }

    .headerName {
        color: $color-white;
        padding: 8px;
    }
    .nav-brand-name-link {
        padding-top: 15px;
        font-size: 20px;
    }
    .notification-container {
        right: 0;
        position: absolute;
        width: 360px;
        border: 1px solid $color-black;
        height: 100vh;
        top: 56px;
        background: $color-white;
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .notification-count {
            margin-left: 10px;
        }
        .angle-expand {
            font-size: 25px;
            margin-top: 20px;
            text-align: center;
            margin-left: 5px;
            cursor: pointer;
        }
        .notification-list-container {
            /*border: 1px solid $color-black;*/
            max-height: 82vh;
            overflow: auto;
            .list-group-item {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .timestamp {
                padding-right: 0;
            }
        }

        .vertical-align {
            display: flex;
            align-items: center;
        }

        .notification_close {
            i {
                cursor: pointer;
            }
        }
    }
    .notice-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .cluster-options {
        margin-top: 19px;
        width: 130px;
    }

    .navigation-hide {
        cursor: default;
        visibility: hidden;
    }

}