.tendrl-header-container {
	
	height: 58px;

	.brand-name-img{
	    height:20px;
	    cursor: pointer;
	}
	
	.nav-brand-name-link {
		padding-top:15px; 
		font-size:20px;
	}

	.alerts-container {
		right: 0;
		position: absolute;
		width: 360px;
		border: 1px solid $color-black;
		height: 100vh;
		top: 56px;
	}

	.event-name {
		white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
	}
}