<nav class="navbar-pf-vertical tendrl-header-container" ng-controller="headerController as header" ng-if="isHeaderShow">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" href="" ng-if="isNavigationShow">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="header.homePage()" class="nav-brand-name-link">
            <img class="nav-brand-name brand-name-img" src="../images/name.png" alt="tendrl | Unified Storage Manager"/>
        </a>
    </div>
    <nav class="collapse navbar-collapse">
        <span class="pull-right" ng-if="notification.message.length">
            <notification notification-type="{{notification.type}}" notification-message="{{notification.message}}" notification-close-call-back="header.notificationClose()"></notification>
        </span>
        <ul class="nav navbar-nav navbar-right navbar-iconic" ng-if="!notification.message.length">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle nav-item-iconic" href="" data-template=""
                data-animation="am-fade-and-slide-top" bs-dropdown="dropdown" title="Events" id="alerts" ng-click="header.setAlertFlag()">
                    <i class="fa fa-bell"></i>
                    <span class="badge"></span>
                </a>
            </li>
            <li class="dropdown">
                <a class="nav-item-iconic" ng-href="" title="Node Discovery">
                    <i class="pficon pficon-container-node"></i>
                    <span class="badge"></span>
                </a>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle nav-item-iconic" bs-dropdown="dropdown" href="" data-template=""
                data-animation="am-fade-and-slide-top" bs-dropdown="" title="Tasks">
                    <i class="pficon pficon-flag"></i>
                    <span class="badge"></span>
                </a>
            </li>
            <li class="dropdown">
                <a data-toggle="modal" class ="nav-item-iconic" title="About">
                    <i class="pficon pficon-help"></i>
                </a>
            </li>
            <li class="dropdown user">
                <a class="dropdown-toggle nav-item-iconic" bs-dropdown="dropdown" href="" data-template=""
                data-animation="am-fade-and-slide-top" title="User" id="usermenu" data-toggle="dropdown">
                    <i class="pficon pficon-user"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="usermenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click = "header.logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
        
    </nav>
    <div ng-if="header.showAlertFlag" class="alerts-container">
        <h2 class="text-center">Notification Drawer</h2>
        <div class="row">
            <div class="col-md-12 horizontal-line"></div>
        </div>
        <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="event in eventList">
        <div class="list-group-item">
            <div class="list-view-pf-left col-md-2">
                <i class="pficon" ng-class="{'pficon-error-circle-o': (event.status === 'error'), 'pficon-info': (event.status === 'info'), 'pficon-warning-triangle-o': (event.status === 'warning')}"></i>
            </div>
            <div class="col-md-10">
                <p class="event-name">{{event.name}}</p>
                <p>{{event.created_at| date: 'dd MMM yyyy HH:mm:ss'}}</p>
            </div>
        </div>
    </div>
    </div>

</nav>
