.tendrl-header-container {
    height: 58px;
    .brand-name-img {
        height: 20px;
        cursor: pointer;
    }
    .headerName {
        color: $color-white;
        padding: 8px;
    }
    .nav-brand-name-link {
        padding-top: 15px;
        font-size: 20px;
    }
    .notification-container {
        overflow: hidden;
        right: 0;
        position: absolute;
        width: 30%;
        border: 1px solid $color-black;
        height: 100vh;
        top: 56px;
        background: $color-white;
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .notification-count {
            margin-left: 10px;

            .highlight-text {
                font-weight: bold;
                color: $color-pacific-blue;
            }
        }
        .clear-filter {
            margin-right: 10px;
        }
        .angle-expand {
            font-size: 25px;
            margin-top: 20px;
            text-align: center;
            margin-left: 5px;
            cursor: pointer;
        }
        .notification-list-container {
            max-height: 82vh;
            overflow: auto;
            .list-group-item {
                padding-top: 10px;
                padding-bottom: 10px;
                border: none;
            }
            .severity {
                padding-right: 0;
                padding-left: 0;
                font-size: 20px;
            }
            .desc {
                padding-left: 10px;
            }
        }
        .vertical-align {
            display: flex;
            align-items: center;
            .alert-title {
                text-align: center;
                font-size: 15px;
            }
        }
        .notification-close {
            i {
                cursor: pointer;
            }
            text-align: end;
        }
        .severity-counts {
            padding: 10px 10px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }
    }
    .cluster-options {
        margin-top: 19px;
        width: 130px;
    }

    .navigation-hide {
        cursor: default;
        visibility: hidden;
    }

    .dropdown-title {
        line-height: 1.2 !important;
    }

    @media screen and (max-width: 992px) {
        .navbar-brand {
            display: none;
        }
    }
}