.tendrl-volume-list-view-container {
    margin-bottom: 10px;
    .list-view-pf-view {
        .list-group-item {
            .volume-name {
                cursor: pointer;
            }
            .vol-type {
                font-weight: normal;
            }
        }
    }
    .flex-table {
        .ft-actions {
            flex-grow: 1.2;
            overflow: visible;
            .dashboard-btn {
                width: auto;
                overflow: visible;
            }
        }
    }
    .toolbar-pf .form-group:last-child {
        padding-left: 0;
    }
    .sort-component {
        padding-top: 10px;
        margin-left: 20px;
    }
    .toolbar-pf-results > span {
        display: none;
    }
}
