.tendrl-volume-list-view-container {
    .list-view-pf-view {
        .list-group-item {
            .vol-name {
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 0;
                padding-right: 0;
                color: $color-boston-blue;
                float: left;
            }
            .vol-type {
                font-weight: normal;
            }
        }
    }

    .flex-table {
        .ft-actions {
            flex-grow: 1.2;
            overflow: visible;
            .dashboard-btn {
                width: auto;
                overflow: visible;
            }
        }
    }
}
