.tendrl-volume-list-view-container {
    margin-bottom: 10px;
    .list-view-pf-view {
        .list-group-item {
        
            .long-volume-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .volume-name {
                    cursor: pointer;
                }
            }
            .vol-type {
                font-weight: normal;
            }
        }
    }

    .icon-red {
        color: $color-pf-red;
    }

    .icon-orange {
        color: $color-pf-orange;
    }

    .flex-table {
        .ft-actions {
            flex-grow: 1.2;
            overflow: visible;
            .dashboard-btn {
                width: auto;
                overflow: visible;
            }
        }
    }
    .toolbar-pf .form-group:last-child {
        padding-left: 0;
    }
    .toolbar-pf-results>span {
        display: none;
    }
}