.tendrl-volume-list-view-container {
    margin-bottom: 10px;
    .list-view-pf-view {
        .list-group-item {
            .volume-name {
                cursor: pointer;
            }
            .vol-type {
                font-weight: normal;
            }
        }
    }

    .flex-table {
        .ft-actions {
            flex-grow: 1.2;
            overflow: visible;
            .dashboard-btn {
                width: auto;
                overflow: visible;
            }   
        }
    }
}
