<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-host-detail-container container-fluid">
    <ul class="breadcrumb custom-breadcrumb" ng-show="!vm.isDataLoading">
        <li><a href="" ng-click="vm.goToClusterHost()">{{vm.clusterName}}</a></li>
        <li>{{vm.hostName}}</li>
    </ul>
    <div ng-if="vm.isDataLoading" class="spinner spinner-lg"></div>
    <div ng-if="!vm.isDataLoading">
        <ul class="nav nav-tabs cluster-detail-nav">
            <li class="pointer" ng-repeat="(key,value) in vm.tabList" ng-class="{'active': vm.isTabSet(value)}">
                <a href="" ng-click="vm.setTab(value)">
                {{key}}
            </a>
            </li>
        </ul>
        <host-brick-details ng-show="vm.activeTab === 1" cluster-id="vm.clusterId" host-id="vm.hostId"></host-brick-details>
    </div>
</div>
