<div class="row margin-top-for-discovered-hosts">
	<div class="col-md-offset-3 col-md-6">
		<div class="available-hosts-list" ng-class="first.discoveredHosts.length > 5 ? 'div-with-scroll': ''">
			<center ng-if="first.discoveredHosts.length > 0"><label>The following hosts are discovered.</label></center>
			<div class="row">
               <div class="col-md-offset-6 col-md-6">
                 <button class="pull-right btn btn-default" ng-if="first.discoveredHosts.length > 1" ng-click="first.acceptAllHosts();">Accept All</button>
               </div>
            </div>
		    <div class="row host-row" ng-repeat="discoveredHost in first.discoveredHosts">
		      <div class="col-md-6" ng-bind="discoveredHost.hostname">
		      </div>
		      <div class="col-md-6 host-col-middle verified-col">
		         <span class="fa fa-lg fa-check-circle-o verified-col-icon" ng-show="discoveredHost.state === 'ACCEPTED'"></span>
		         <button class="btn btn-default adjust_button" type="button" ng-show="discoveredHost.state === 'UNACCEPTED' || discoveredHost.state === 'ACCEPTING'" ng-click="first.acceptHost(discoveredHost)" ng-disabled="discoveredHost.state === 'ACCEPTING'">
		            <span class="fa fa-check" ng-show="discoveredHost.state==='UNACCEPTED'">Accept</span>
		            <div ng-show="discoveredHost.state==='ACCEPTING'">
		              <span class="fa fa-spinner fa-spin"></span>
		              Accepting
		            </div>
		         </button>
		      </div>
		    </div>
		</div>
		<center>
	        <h3><strong>You don't have any clusters<strong></h3>
			<button type="button" class="btn btn-primary" ng-click="first.createCluster()">Create Cluster</button>
			or
			<button type="button" class="btn btn-default">Import Cluster</button>
	    </center>
	</div>
</div>