<div class="row margin-top-for-discovered-hosts blank-slate-pf">
	<div ng-class="first.discoveredHosts.length === 1 ? 'col-lg-offset-4 col-lg-4': first.discoveredHosts.length === 2 ? 'col-lg-offset-2 col-lg-8':'col-lg-12 col-md-12 col-sm-12 col-xs-12'">
		<div class="available-hosts-list">
			<center ng-if="first.discoveredHosts.length > 0">
				<h3><label>The following hosts are discovered.</label></h3>
			</center>
			<div class="row">
				<div class="col-md-offset-6 col-md-6">
					<button class="btn btn-primary btn-lg pull-right accept-all" ng-if="first.discoveredHosts.length > 1" ng-click="first.acceptAllHosts();">Accept All</button>
				</div>
			</div>
			<div ng-class="first.discoveredHosts.length > 6 ? 'div-with-scroll': ''" class="scroll-for-smaller-screen">
				<div clas="row">
					<div ng-class="first.discoveredHosts.length === 1 ? 'col-lg-12': first.discoveredHosts.length === 2 ? 'col-lg-6':'col-lg-4 col-md-6 col-sm-6 col-xs-12'" ng-repeat="discoveredHost in first.discoveredHosts">
						<div class="databox radius-bordered">
							<div class="databox-right">
								<span class="databox-number themesecondary" ng-bind="discoveredHost.hostname"></span>
								<span class="fa fa-lg fa-check-circle-o verified-col-icon" ng-show="discoveredHost.state === 'ACCEPTED'"></span>
								<button class="btn btn-default" type="button" ng-show="discoveredHost.state === 'UNACCEPTED' || discoveredHost.state === 'ACCEPTING'" ng-click="first.acceptHost(discoveredHost)" ng-disabled="discoveredHost.state === 'ACCEPTING'">
						            <span class="fa fa-check" ng-show="discoveredHost.state==='UNACCEPTED'">Accept</span>
						            <div ng-show="discoveredHost.state==='ACCEPTING'">
						              <span class="fa fa-spinner fa-spin"></span>
						              Accepting
						            </div>
						         </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<center>
				<div>
					<div class="blank-slate-pf-icon">
						<i class="fa fa-plus-circle"></i>
					</div>
					<h1>You don't have any clusters</h1>
					<p>You don't have any clusters. you need to create cluster or you can import the clusters</p>

					<div class="blank-slate-pf-main-action">
						<button ng-click="first.createCluster()" class="btn btn-primary btn-lg">
							Create Cluster
						</button>
					</div>
					<div class="blank-slate-pf-secondary-action">
						<button class="btn btn-default">
							Import Cluster
						</button>
					</div>
				</div>
			</center>
	    </div>
	</div>
</div>
