.tendrl-cluster-list-view-container {
    .bold-text {
        font-weight: bold;
    }

    .sorting-section {
        border-right: none;
    }

    .cluster-name {
        color: $color-boston-blue;
        text-transform: capitalize;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
    }

    .list-group {
        margin-bottom: 0px;
    }
}
