<div class="wizard-pf-contents" ng-if="createVolumeCntrl.step === 4">
    <div class="advanced-setting-wizard">
        <div class="wizard-pf">
            <div>
                <div class="wizard-pf-body clearfix">
                    <!-- Sidebar-->
                    <div class="wizard-pf-sidebar" ng-class="{hide: (createVolumeCntrl.step >= 5)}">
                        <ul class="list-group">
                            <li class="list-group-item" ng-class="{active: (createVolumeCntrl.settings.step === 1)}" data-tabgroup="1">
                                <a>
                                    <span class="wizard-pf-substep-title">General</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Steps -->
                    <div class="settings-content">
                        <!--Step 1-->
                        <div ng-include src="'../modules/file-share/create-file-share/settings/step-first.html'"></div>
                    </div>
                    <!-- /.wizard-pf-main -->
                </div>
                <!-- footer -->
                <div class="settings-footer" ng-class="{hide: (createVolumeCntrl.settings.step === 2)}">
                    <div class="col-md-1" ng-if="createVolumeCntrl.settings.step !== 4"></div>
                    <button type="button" class="btn btn-default wizard-pf-back" ng-click="createVolumeCntrl.updateSettingsStep('dec')">
                        <span class="i fa fa-angle-left"></span> Back
                    </button>
                    <button type="button" class="btn btn-primary wizard-pf-next" ng-click="createVolumeCntrl.updateSettingsStep('inc')" ng-disabled="createVolumeCntrl.transportType.length === 0">
                        <span>Next <span class="i fa fa-angle-right"></span></span>
                    </button>
                    <button type="button" ng-click="createVolumeCntrl.cancelCreate()" class="btn btn-default btn-cancel">Cancel</button>
                </div>
                <!--footer -->
            </div>
        </div>
    </div>
</div>
