<div class="wizard-pf-contents layout-container" ng-show="createVolumeCntrl.step === 3">
    <h2>Replica Sets</h2>
    <div class="col-md-12">
        <div class="form-group required">
            <label class="col-sm-3 col-md-2 control-label" for="file-share-name">Bricks per Host</label>
            <div class="col-sm-8 col-md-2">
                <select ng-options="value for value in createVolumeCntrl.bricksPerHostValues" ng-model="createVolumeCntrl.selectedSubVolume" ng-change="createVolumeCntrl.sendglusterBrickMappingPostReq()" class="form-control" data-id="file-share-name"></select>
            </div>
            <div class="col-sm-3 col-md-2">
                <p>Maximum = {{createVolumeCntrl.maxBricksPerHost}}</p>
            </div>
        </div>
    </div>
    <div ng-if="createVolumeCntrl.nodeDataLoading" class="spinner spinner-lg"></div>
    <div class="col-md-12" ng-if="!createVolumeCntrl.nodeDataLoading">
        <div class="alert alert-info alert-dismissable" ng-if="createVolumeCntrl.showBrickMappingErrorMsg">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <span class="pficon pficon-close"></span>
            </button>
            <span class="pficon pficon-info"></span>
            <strong>{{createVolumeCntrl.brickMappingErrorMsg}}<a href="" ng-click="createVolumeCntrl.sendglusterBrickMappingPostReq()"> Please Try Again</a></strong>.
        </div>
        <strong>{{createVolumeCntrl.brickLayoutInfo}}</strong>
        <div class="list-group list-view-pf list-container div-with-scroll" ng-if="!createVolumeCntrl.showBrickMappingErrorMsg">
            <div class="list-group-item" ng-class="{'list-view-pf-expand-active': set.isExpanded}" ng-repeat="set in createVolumeCntrl.brickMapping track by $index">
                <div class="list-group-item-header" ng-click="createVolumeCntrl.expandList(set)">
                    <div class="list-view-pf-expand">
                        <span class="fa fa-angle-right" ng-show="!set.isExpanded"></span>
                        <span class="fa fa-angle-right fa-angle-down" ng-show="set.isExpanded"></span>
                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-body">
                            <div class="col-md-4 bold-text">Replica Set {{$index+1}}</div>
                            <div class="col-md-3">{{set.length}} Bricks</div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item-container container-fluid" ng-show="set.isExpanded">
                    <div class="row">
                        <div class="list-group-item">
                            <div class="table-container ">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr ng-repeat="brick in set track by $index">
                                            <td>{{brick.name}}</td>
                                            <td>
                                                <div><strong>Capacity</strong></div>
                                                <div>{{brick.capacity | bytes}}</div>
                                            </td>
                                            <td>
                                                <div><strong>Device</strong></div>
                                                <div>{{brick.device}}</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
