<div class="tendrl-volume-container container-fluid">
    <div class="page-header">
        <div class="col-md-3 pull-right">
        	<div class="row">
        		<div class="col-md-6">
        			<button ng-repeat="(key, action) in volume.actionList" class="btn btn-primary pull-right" ng-click="volume.performAction(action, key)">{{key}}</button>
        		</div>
        		<div class="col-md-6">
        			<input type="text" class="form-control" placeholder="Search" ng-model="volume.search">
        		</div>
        	</div>
        </div>
        <h1>Volumes</h1>
    </div>
</div>