.create-pool-wizard {
    .wizard-pf {
        width: auto;
        .wizard-pf-sidebar {
            top: 125px;
            height: 78vh;
        }
    }
    .bold-text {
        font-weight: bold;
    }
    .pool-summary {
        margin-bottom: 50px;
        margin-left: 0;
        .desc {
            margin-bottom: 30px;
        }
        .single-pool-summary {
            border: 1px solid $color-white-smoke;
            .row {
                padding: 10px 0;
                &:nth-of-type(2n) {
                    background-color: $color-white-smoke;
                }
            }
        }
        .single-pool-summary:nth-of-type(2n) {
            background-color: red;
        }
    }
    .modal-footer {
        text-align: left;
    }

    .edit-buttons {
        font-size: 30px;
    }

    .create-pool-footer{
        padding-top: 20px;
        padding-left: 20vw;
    }
    .create-pool-content {
        height: 100%;
        padding: 1em;
        vertical-align: top;
        padding-left: 16vw;
    }
    .wizard-pf-sidebar {
        border-top: 1px solid $color-light-grey;
    }
}

.task-submitted {
    left: 0 !important;
    transform: translate(0%, 0%) !important;
    position: relative !important;
}
