<div class="wizard-pf-contents" ng-if="createPoolCntrl.step === 1">
	<form class="form-horizontal">
		<!-- replacing id with data-id to pass build errors -->
		<div class="form-group required">
			<label class="col-sm-2 col-md-3 control-label" for="poolName">Name</label>
			<div class="col-sm-4">
				<input type="text" data-id="pool-name" class="form-control" name="poolName" ng-model="createPoolCntrl.poolName" ng-change="createPoolCntrl.updatePoolName()">
			</div>
			<span ng-if="!createPoolCntrl.poolName.length" class="error-msg">* Pool name is required</span>
		</div>
		<div class="form-group required">
			<label class="col-sm-2 col-md-3 control-label" for="pool-count">Pools to Create</label>
			<div class="col-sm-4 col-md-2">
				<input type="number" min="1" data-id="pool-count" class="form-control" ng-model="createPoolCntrl.poolCount" ng-change="createPoolCntrl.updatePoolName()" required>
			</div>
			<div class="col-sm-8 col-md-5" ng-if = "createPoolCntrl.poolName">
				<span ng-repeat="name in createPoolCntrl.poolNames">{{name}}
					<span ng-if="$index !== (createPoolCntrl.poolNames.length-1)">,</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 col-md-3 control-label" for="pool-type">Type</label>
			<div class="col-sm-8 col-md-3">
				<select data-ng-options="type for type in createPoolCntrl.poolType" data-ng-model="createPoolCntrl.selectedType" class="form-control" data-id="pool-type"></select>
			</div>
			<div ng-if="createPoolCntrl.selectedType === 'Erasure Coded'">
				<label class="col-sm-2 col-md-2 control-label" for="pool-type-EC">E+C Profile</label>
				<div class="col-sm-12 col-md-2">
					<select data-ng-options="type for type in createPoolCntrl.ECType" data-ng-model="createPoolCntrl.selectedEC" class="form-control" data-id="pool-type-EC"></select>
				</div>
			</div>
		</div>
		<div class="form-group required">
			<label class="col-sm-2 col-md-3 control-label" for="pool-count">Replicas</label>
			<div class="col-sm-4 col-md-2">
				<input type="number" min="1" max="10" data-id="replicas" class="form-control" ng-model="createPoolCntrl.replicaCount" required>
			</div>
		</div>

		<div class="form-group required">
			<label class="col-sm-2 col-md-3 control-label" for="cluster-name">Cluster</label>
			<div class="col-sm-8 col-md-3">
				<select data-ng-options="cluster.cluster_name for cluster in createPoolCntrl.cephClusterList" data-ng-model="createPoolCntrl.selectedCluster" class="form-control" data-id="cluster-name"></select>
			</div>
		</div>

		<!-- <div class="form-group required">
			<label class="col-sm-2 col-md-3 control-label" for="journalConfigration">Journal Configration</label>
			<div class="col-sm-12 col-md-2">
				<label class="control-label" data-id="journal-configration" name="journalConfigration">{{createPoolCntrl.journalConfigration || "NA"}}</label>
			</div>
		</div>
		<div class="form-group required">
			<label class="col-sm-2 col-md-3 control-label" for="OSDs">OSD</label>
			<div class="col-sm-12 col-md-2">
				<label class="control-label" data-id="OSDs" name="OSDs">{{createPoolCntrl.OSDs || "NA"}}</label>
			</div>
		</div> -->
		<div class="form-group required">
			<label class="col-sm-3 control-label" for="descriptionInput-markup">PG Count</label>
			<div class="col-sm-9">
				<div class="radio">
					<label>
						<input type="radio" name="PGRadio" id="optionsPGRadios1" value="PGCalulator" ng-modal="createPoolCntrl.PGCountRadio" checked>
						Optimize for production developments
					</label>
				</div>
				<div>
					Use the <a href="http://ceph.com/pgcalc/">PG Calculator</a> to estimate PGs required for production development. Although PG's can be increased at any time later, you cannot decrease the PG's. Using an optimal PG value is always encouraged as increasing PG's after the fact can cause performance degradation during redistribution of data in the cluster.
				</div>
				<label class="col-sm-3 control-label" for="PGCount">Optimised PG Count</label>
				<div class="col-sm-2">
					<input type="number" min="0" data-id="pgCount" class="form-control" ng-model="createPoolCntrl.pgCount" required>
				</div>
			</div>
		</div>
	</form>
</div>
