<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-global-task-detail-view-container container-fluid">
    <ul class="breadcrumb custom-breadcrumb" ng-if="!glbTaskDetailCntrl.isDataLoading && glbTaskDetailCntrl.taskDetail">
        <li><a ui-sref="clusters">All Clusters</a></li>
        <li>
            <a href="" class="no-content">Tasks</a>
        </li>
        <li>
            <i class="breadcrumb-icon" ng-class="{'pficon pficon-ok status-icon': (glbTaskDetailCntrl.taskDetail.status === 'finished')}"></i>
            <span class="cluster-name remove-width">
                {{glbTaskDetailCntrl.taskDetail.flow}}: {{glbTaskDetailCntrl.taskDetail.job_id}}
            </span>
            <span class="tip">{{glbTaskDetailCntrl.taskDetail.job_id}}</span>
        </li>
    </ul>
    <form class="form-horizontal" ng-if="glbTaskDetailCntrl.taskDetail">
        <!-- replacing id with data-id to pass build errors -->
        <br>
        <div class="form-group required">
            <label class="col-sm-3 col-md-1 detail-label">Time Submitted:</label>
            <label class="col-sm-4 col-md-2">{{glbTaskDetailCntrl.taskDetail.created_at | date: 'dd MMM yyyy HH:mm:ss'}}</label>
        </div>
        <div class="form-group required">
            <label class="col-sm-3 col-md-1 detail-label">Status:</label>
            <label class="col-sm-4 col-md-1 status-value"><i ng-class="{'pficon pficon-ok status-icon': (glbTaskDetailCntrl.taskDetail.status === 'finished')}"></i>{{glbTaskDetailCntrl.taskDetail.status === 'finished' ? "Completed": glbTaskDetailCntrl.taskDetail.status}}</label>
            <label class="col-sm-4 col-md-2" ng-show="(glbTaskDetailCntrl.taskDetail.flow === 'ImportCluster') && (glbTaskDetailCntrl.taskDetail.status === 'finished') &&(!$root.selectedClusterOption)"><span class="spinner spinner-xs spinner-inline" ng-show="glbTaskDetailCntrl.showLoadingIcon"></span> <a href="" ng-click="glbTaskDetailCntrl.goToClusterDetail()">View cluster details</a></label>
        </div>
    </form>
    <center ng-if="!glbTaskDetailCntrl.taskDetail && !glbTaskDetailCntrl.isDataLoading">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-cluster"></i>
            </div>
            <h1>No Task Detail Found Detected</h1>
        </div>
    </center>
    <div class="div-with-scroll table-bordered div-with-scroll-logs" ng-if="glbTaskDetailCntrl.taskDetail && glbTaskDetailCntrl.taskDetail.logs.length">
        <div class="row bold-text table-heading">
            Events
        </div>
        <div class="row list-group-item logs" ng-repeat="log in glbTaskDetailCntrl.taskDetail.logs | orderBy: ['-date']" id="log-list-group-item-{{$index+1}}">
            <div class="list-view-pf-left col-md-1">
                <i ng-class="{'pficon pficon-error-circle-o': (log.type === 'error'), 'pficon pficon-warning-triangle-o': (log.type === 'warning')}"></i>
            </div>
            <div class="col-md-1">
                {{log.type}}
            </div>
            <div class="col-md-6">
                {{log.message}}
            </div>
            <div class="col-md-2">
                {{log.date | date: "dd MMM yyyy hh:mm:ss"}}
            </div>
        </div>
    </div>
    <div ng-if="glbTaskDetailCntrl.isDataLoading" class="spinner spinner-lg"></div>
    <div ng-if="glbTaskDetailCntrl.isMessagesLoading" class="spinner spinner-lg"></div>
</div>
