<div class="tendrl-create-brick-modal-container">
    <div ng-show="!vm.taskSubmitted">
        <custom-modal-header title="vm.modalHeader.title" close="vm.modalHeader.close"></custom-modal-header>
        <div class="modal-body">
        	<div ng-show="vm.isDataLoading" class="spinner spinner-lg"></div>
            <div ng-show="!vm.isDataLoading" class="create-brick-wizard">
                <div class="wizard-pf">
                    <div>
                        <div class="wizard-pf-body clearfix">
                            <div class="wizard-pf-steps">
                                <ul class="wizard-pf-steps-indicator">
                                    <li class="wizard-pf-step" ng-repeat="wizardStep in vm.wizardSteps" ng-class="{active: (wizardStep.number === vm.selectedStep)}">
                                        <a><span class="wizard-pf-step-number">{{wizardStep.number}}</span><span class="wizard-pf-step-title">{{wizardStep.name}}</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="wizard-pf-row">
                                <div class="wizard-pf-main">
                                    <div ng-include src="'../../modules/bricks/create-brick/step-first.html'"></div>
                                    <div ng-include src="'../../modules/bricks/create-brick/step-second.html'"></div>
                                    <div ng-include src="'../../modules/bricks/create-brick/step-third.html'"></div>
                                </div>
                                <!-- /.wizard-pf-main -->
                            </div>
                        </div>
                        <!-- /.wizard-pf-body -->
                    </div>
                </div>
            </div>
        </div>
        <custom-modal-footer modal-footer="vm.modalFooter"></custom-modal-footer>
    </div>
    <div ng-show="vm.taskSubmitted" class="blank-slate-pf centered task-submit-screen">
        <div class="blank-slate-pf-icon">
            <i class="pficon pficon-ok"></i>
        </div>
        <div>
            <h1><label>Create Bricks Submitted</label></h1>
            <div class="text-left">A task has been submitted to the background for the create bricks request. You will be notified when processing is complete and the new file share is ready for use.</div>
        </div>
        <div class="blank-slate-pf-main-action">
            <button class="btn btn-primary btn-lg submit-button" ng-click="vm.viewTaskProgress()">View Task Progress</button>
            <button class="btn btn-lg submit-button" ng-click="vm.closeModal()">Close</button>
        </div>
    </div>
</div>
