@import "_variables.scss";

/* Use this for common CSS extesions */

.module-container {
    margin-top: 40px;
    color: $color-night-rider;
    font-size: 17px;
    margin-right: 0px;

    .vertical-line {
        height: 92vh;
        width: 1px;
        border-left: 2px solid $color-dark-gray;
    }

    .icons {
        padding:  10px 10px 0 10px;
        font-size: 25px;
    }

    .nav-links {
        color: $color-night-rider;

        &:hover {
            cursor: pointer;
        }
    }

    .horizontal-line {
        height: 1px;
        width: 100%;
        background-color: $color-dark-gray;
    }

    .text-bold {
        font-weight: bold;
    }
}
