.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: $color-white-smoke;
}

.spinner-lg {
    position : fixed;
    z-index: 100;
    background-position : center;
    left: 50%;
    top: 50%;
    size: 100%;
    height: 50px;
    width: 50px;
}

.capitalize {
    text-transform: capitalize;
}

.bold-text {
    font-weight: bold;
}


.dropdown-menu > li > a.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.error-message {
    color: $color-red;
}

.italic-text {
    font-style: italic;
}
.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
