.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: $color-white-smoke;
}

.filterSelect {
    height: 26px;
}

.spinner-lg {
    position: fixed;
    z-index: 100;
    background-position: center;
    left: 50%;
    top: 50%;
    size: 100%;
    height: 50px;
    width: 50px;
}

.capitalize {
    text-transform: capitalize;
}

.bold-text {
    font-weight: bold;
}

.dropdown-menu>li>a.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: $color-light-grey;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
    /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 750px;
}

.error-message {
    color: $color-red;
}

.italic-text {
    font-style: italic;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.flex-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
    .ft-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        &.list-group-item {
            padding-top: 10px;
            padding-bottom: 10px;
            &.ft-header {
                font-weight: bold;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    .ft-column {
        flex-basis: 0;
        flex-grow: 1;
        padding: 4px;
        @media screen and (min-width: 768px) {
            padding: 6px;
        }
        text-overflow: ellipsis;
        overflow: hidden;
        &.ft-icon {
            display: flex;
            justify-content: center;
            max-width: 34px;
            font-size: 25px;
            @media screen and (min-width: 768px) {
                max-width: 50px;
            }
        }
        &.ft-main {
            flex-grow: 2;
            word-wrap: break-word;
            @media screen and (min-width: 768px) {
                flex-grow: 2;
            }
        }
        &.ft-actions {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            .btn {
                /*width: 90px;*/
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 5px;
            }
        }
    }
    &.list-view-pf-view {
        margin-top: 0px;
        .list-group-item {
            padding-top: 10px;
            padding-bottom: 10px;
            &.list-header {
                padding-top: 0px;
                padding-bottom: 0px;
                height: 30px;
            }
        }
    }
}

.un-auth-user {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.hide-button {
    visibility: hidden;
}

.tendrl-app .container-fluid.container-cards-pf {
    @media screen and (max-device-width: 1024px) {
        width: 100%;
    }
    @media screen and (max-device-width: 480px) {
        width: 145%;
    }
}

.empty-filter-list {
    .message {
        font-size: 16px;
    }
    .suggestion {
        margin-top: 15px;
        color: $color-suva-grey;
        .title {
            font-weight: bold;
        }
    }
    .clear-filter-link {
        display: block;
        margin-top: 20px;
        font-weight: bold;
        &:hover {
            cursor: pointer;
        }
    }
}

.ffont {
    font-size: 29px;
}

.breadcrumb-ffont {
    font-size: 20px;
}

.disable-pointer {
    pointer-events: none;
    color: $color-gray !important;
    cursor: text !important;
    span {
        color: $color-gray !important;
    }
    a {
        pointer-events: none;
        color: $color-gray !important;
    }
}

@media screen and (min-width: 768px) {
    .toolbar-pf-actions .toolbar-pf-filter {
        width: 25%;
    }
}