// Use this utility for color names - http://www.color-blindness.com/color-name-hue/

/* Patternfly color */
$color-pf-orange: #ec7a08;
$color-pf-red: #cc0000;

/* Hue: Grey */
$color-dark-gray: #A9A9A9;
$color-night-rider: #333333;
$color-gray: #808080;
$color-light-grey: #D1D1D1;
$color-silver: #BDBDBD;
$color-nero-grey: #181818;
$color-suva-grey: #898989;
$color-gondola-grey: #363636;

/* Hue: Red */
$color-red: #F00000;

/* Hue: Black */
$color-black: #000000;
$color-blackopaque: #393f44;

/* Hue: Shadow */
$color-shadow: #888888;

/*Hue: Green */
$color-islamic-green: #00A51B;

/*Hue: White */
$color-white-smoke: #EDEDED;
$color-white: #FFFFFF;
$color-white-gainsboro: #DBDBDB;

/*Hue: Blue */
$color-pacific-blue: #00A4BA;
$color-curious-blue: #337AB7;
$color-boston-blue: #3A90AA;
$color-highlight-blue: #bee1f4;

/*Hue: Orange */
$color-mango-tango: #E27100;
$color-tangerine: #EC7A08;
$color-bizarre: #E8D8C9
