// Use this utility for color names - http://www.color-blindness.com/color-name-hue/

/* Hue: Grey */
$color-dark-gray: #A9A9A9;
$color-night-rider: #333333;
$color-gray: #808080;

/* Hue: Red */
$color-red: #F00000;


/*Hue: Green */
$color-islamic-green: #00A51B;

/*Hue: White */
$color-white-smoke: #EAEAEA;
$color-white: #FFFFFF;
$color-white-gainsboro: #DBDBDB;

/*Hue: Blue */
$color-pacific-blue: #00A4BA;
$color-curious-blue: #337AB7;

/*Hue: Orange */
$color-mango-tango: #E27100;
