// Use this utility for color names - http://www.color-blindness.com/color-name-hue/

/* Hue: Grey */
$color-dark-gray: #A9A9A9;
$color-night-rider: #333333;
$color-gray: #808080;

/* Hue: Red */
$color-red: #F00000;

/* Hue: Black */
$color-black: #000000;

/* Hue: Shadow */
$color-shadow: #888888;

/*Hue: Green */
$color-islamic-green: #00A51B;

/*Hue: White */
$color-white-smoke: #EDEDED;
$color-white: #FFFFFF;
$color-white-gainsboro: #DBDBDB;

/*Hue: Blue */
$color-pacific-blue: #00A4BA;
$color-curious-blue: #337AB7;
$color-boston-blue: #3A90AA;

/*Hue: Orange */
$color-mango-tango: #E27100;
$color-tangerine: #EC7A08;
$color-bizarre: #E8D8C9
