@import "_variables.scss";
@import "_base.scss";
@import "../../modules/base/header/header.scss";
@import "../../modules/base/user-setting/user-setting.scss";
@import "../../modules/clusters/cluster-list/cluster-list.scss";
@import "../../modules/clusters/cluster-hosts/cluster-hosts.scss";
@import "../../modules/clusters/cluster-volumes/cluster-volumes.scss";
@import "../../modules/clusters/cluster-events/cluster-events.scss";
@import "../../modules/clusters/cluster-tasks/cluster-tasks.scss";
@import "../../modules/hosts/host-list/host-list.scss";
@import "../../modules/events/event-list/event-list.scss";
@import "../../modules/login/login.scss";
@import "../../modules/events/event-list/event-list.scss";
@import "../../modules/tasks/task-list/tasks.scss";
@import "../../modules/tasks/task-detail/task-detail.scss";
@import "../../modules/tasks/global-task-detail/global-task-detail.scss";
@import "../../modules/users/user-list/users.scss";
@import "../../modules/users/add-user/add-user.scss";
@import "../../modules/users/edit-user/edit-user.scss";
@import "../../modules/users/delete-user/delete-user.scss";
@import "../../modules/base/navigation/navigation.scss";
@import "../../modules/base/navigation/navigation.scss";
@import "../../modules/clusters/import-cluster/import-cluster.scss";
@import "../../modules/clusters/import-cluster/import-fail/import-fail.scss";
@import "../../modules/volumes/volume-list/volume-list.scss";
@import "../../commons/components/utilisation-chart/utilisation-chart.scss";
@import "../../modules/bricks/host-bricks/host-bricks.scss";
@import "../../modules/bricks/volume-bricks/volume-bricks.scss";
@import "../../modules/hosts/host-detail/host-detail.scss";
@import "../../modules/volumes/volume-detail/volume-detail.scss";
@import "../../modules/clusters/cluster-error-list/cluster-error-list.scss";
@import "../../modules/clusters/unmanage-cluster/unmanage-confirm/unmanage-confirm.scss";
@import "../../modules/clusters/unmanage-cluster/unmanage-progress/unmanage-progress.scss";
@import "../../modules/clusters/host-list-modal/host-list-modal.scss";
@import "../../modules/clusters/expand-cluster/expand-cluster.scss";

.tendrl-app {
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .blank-slate-pf {
        background-color: $color-white;
        border: none;
    }

    .custom-breadcrumb {
        font-size: 17px;
        /* padding: 8px;*/
    }

    .center-text {
        text-align: center;
    }

    .cursor-pointer {
        cursor: pointer;
        text-decoration: none;
    }

    .list-group {
        margin-bottom: 0px !important;
    }
}

.margin-fix {
    margin-left: 0px;
    transition: 0.25s;
}

.navbar-pf-vertical .navbar-brand {
    padding: 18px 0 12px;
}

.navbar-pf-vertical .nav-pf-persistent-secondary li>a {
    background-color: transparent;
}

.nav-pf-vertical .list-group-item:hover>a:before {
    background: #39a5dc;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}

.error-msg {
    color: $color-red;
}

.hide-404-template {
    display: none;
}

.show-404-template {
    display: block;
}

.tooltip {
    word-wrap: break-word;
}

.sort-component {
    margin-left: 20px;
    padding-top: 10px;
}