@import "_variables.scss";
@import "_base.scss";
@import "../../modules/base/header/header.scss";
@import "../../commons/components/generate-form-field/generate-form-field.scss";
@import "../../commons/components/sparkline-chart/sparkline-chart.scss";
@import "../../modules/cluster/cluster-list/cluster-list.scss";
@import "../../modules/host/host-list/host-list.scss";
@import "../../modules/file-share/file-share-list/file-share-list.scss";
@import "../../modules/pool/pool-list/pool-list.scss";

.tendrl-app {

    .custom-breadcrumb {
        font-size: 17px;
        padding: 8px;
    }

    .center-text {
        text-align: center;
    }

    .button-padding {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

}
