@import "_variables.scss";
@import "_base.scss";
@import "../../modules/base/header/header.scss";
@import "../../commons/components/generate-form-field/generate-form-field.scss";
@import "../../commons/components/donut-chart/donut-chart.scss";
@import "../../commons/components/sparkline-chart/sparkline-chart.scss";
@import "../../modules/cluster/cluster-list/cluster-list.scss";
@import "../../modules/host/host-list/host-list.scss";
@import "../../modules/file-share/file-share-list/file-share-list.scss";
@import "../../modules/pool/pool-list/pool-list.scss";
@import "../../modules/cluster/import-cluster/import-cluster.scss";
@import "../../commons/components/create-pool/create-pool.scss";
@import "../../modules/rbd/rbd-list/rbd-list.scss";
@import "../../modules/rbd/create-rbd/create-rbd.scss";
@import "../../modules/rbd/resize-rbd/resize-rbd.scss";
@import "../../modules/pool/grow-pg/grow-pg.scss";
@import "../../modules/pool/edit-pool/edit-pool.scss";
@import "../../commons/components/progress-bar/progress-bar.scss";
@import "../../commons/components/trends-chart/trends-chart.scss";
@import "../../commons/components/full-aggregate-status-card/full-aggregate-status-card.scss";
@import "../../modules/file-share/file-share-delete/file-share-delete.scss";
@import "../../modules/file-share/create-file-share/create-file-share.scss";
@import "../../modules/login/login.scss";

.tendrl-app {

    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .blank-slate-pf {
        background-color: $color-white;
        border: none;
    }

    .custom-breadcrumb {
        font-size: 17px;
        padding: 8px;
    }

    .center-text {
        text-align: center;
    }

    .cursor-pointer {
        cursor: pointer;
        text-decoration: none;
    }
    .list-group {
    margin-bottom: 0px !important;
    }

}

.navbar-pf-vertical .navbar-brand {
    padding: 18px 0 12px;
}

.navbar-pf-vertical .nav-pf-persistent-secondary li > a {
    background-color: transparent;
}

.nav-pf-vertical .list-group-item:hover > a:before{
    background: #39a5dc;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}
.error-msg {
    color: $color-red;
}

.hide-404-template {
    display: none;
}

.show-404-template {
    display: block;
}
