<div class="tendrl-list-view-container">

    <!-- Start: List -->
    <div ng-if="!isCreateFormShow">
        <div class="page-header">
            <div class="col-md-3 pull-right">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary pull-right" ng-click="createAction()">Create</button>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
            <h1>{{listName}}s</h1>
        </div>
        <center ng-if="list.length === 0">
            <div class="blank-slate-pf">
                <div class="blank-slate-pf-icon">
                    <i class="pficon pficon-container-node"></i>
                </div>
                <h1>No {{listName}}s detected.</h1>
            </div>
        </center>

        <div ng-if="listName === 'Volume'" class="list-group list-view-pf" ng-repeat="obj in list | filter:search">
            <div class="list-group-item">

                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-additional-info">
                            <div class="list-group-item-heading">
                                <p ng-bind="obj.name"></p>
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <strong>Type</strong>{{obj.vol_type}}
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <strong>Brick count</strong>{{obj.brick_count}}
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <strong>Host</strong>{{obj.hostname}}
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <div class="dropdown btn-group  dropdown-kebab-pf">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-ellipsis-v"></span>
                                    </button>
                                    <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                                        <li><a ng-click="actionPerform('Start', obj)">Start</a></li>
                                        <li><a ng-click="actionPerform('Stop', obj)">Stop</a></li>
                                        <li><a ng-click="actionPerform('Delete', obj)">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="listName === 'Pool'" class="list-group list-view-pf" ng-repeat="obj in list | filter:search">
            <div class="list-group-item">

                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-additional-info">
                            <div class="list-group-item-heading">
                                <p ng-bind="obj.poolname"></p>
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <strong>Min Size</strong>{{obj.min_size}}
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <strong>Pg num</strong>{{obj.pg_num}}
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                <div class="dropdown btn-group  dropdown-kebab-pf">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-ellipsis-v"></span>
                                    </button>
                                    <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                                        <li><a ng-click="actionPerform('Delete', obj)">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End: List -->

    <div ng-if="isCreateFormShow">
        <h1 class="center-text">Create {{listName}}</h1>
        <generate-form form-attributes="createFlow.attributes" submit-btn-name="Create {{listName}}" post-url="{{createFlow.name}}" form-method="{{createFlow.method}}" cluster-id="{{objectId}}" call-back="callBack(response)"></generate-form>
    </div>

</div>