<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-import-cluster-view-container container-fluid">
    <div ng-show="!vm.taskInitiated">
        <ol class="breadcrumb custom-breadcrumb">
            <li><a ui-sref="clusters">Clusters</a></li>
            <li>Import Cluster</li>
        </ol>
        <pf-modal-overlay 
            show-modal="vm.showErrorModal" 
            on-close="vm.closeErrorModal(dismissCause)" 
            modal-id="vm.errorModalId" 
            modal-title="vm.errorModalTitle" 
            modal-body-template="vm.errorModalTemplate" 
            action-buttons="vm.errorModalActionButtons" 
            modal-body-scope="vm.errorCluster">
        </pf-modal-overlay>
        <div ng-show="vm.failedImport" class="alert alert-warning">
            <span class="pficon pficon-warning-triangle-o"></span> Import cluster previously failed with <a ng-click="vm.openImportErrorModal(vm.taskId)" class="alert-link">{{vm.taskId}}</a>. Be sure that all the issues have been corrected and the cluster has been unmanaged before proceeding.
        </div>
        <div class="alert alert-danger" ng-show="vm.errorMsg.length > 0">
            <span class="pficon pficon-error-circle-o"></span>
            <label ng-bind="vm.errorMsg"></label>
        </div>
        <h1 class="bold-text">Import Cluster</h1>
        <div class="container-fluid">
            <div class="row cluster-name">
                <label class="col-sm-2 col-md-1" for="clusterName">Cluster Name</label>
                <div class="col-sm-4 col-md-3">
                    <div class="row">
                        <input class="col-md-12 col-sm-12 cluster-name-input" type="text" name="clusterName" ng-model="vm.clusterName" />
                    </div>
                    <div class="row name-validation-msg">Only alphanumeric and underscore characters are allowed.</div>
                </div>
            </div>
            <div class="row">
                <h3 class="col-sm-12">Ensure all hosts in the cluster are listed below, then click Import to begin importing the cluster.</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 volume-profile">
                    <h3 class="bold-text">Volume Profiling</h3>
                    <input type="radio" name="volumeProfile" value="enable" id="enable" ng-model="vm.enableProfiling" checked>
                    <label for="enable">Enable for all volumes</label>
                    <br>
                    <input type="radio" name="volumeProfile" value="disable" id="disable" ng-model="vm.enableProfiling">
                    <label for="disable">Disable for all volumes</label>
                    <br>
                    <input type="radio" name="volumeProfile" value="leaveAsIs" id="leaveAsIs" ng-model="vm.enableProfiling">
                    <label for="leaveAsIs">Keep current configuration</label>
                </div>
            </div>
            <h2>Discovered Host(s)</h2>
            <div class="row toolbar-pf">
                <div class="col-sm-12">
                    <form class="toolbar-pf-actions">
                        <div class="form-group toolbar-pf-filter" ng-class="{'disable-pointer': vm.hostList.length === 0}">
                            <pf-filter id="importFilter" config="vm.filterConfig"></pf-filter>
                        </div>
                    </form>
                    <!-- /row -->
                </div>
                <!-- /col -->
            </div>
            <div class="row " ng-show="vm.filteredHostList.length ">
                <h3 ng-if="vm.hostList.length !== 0" class="col-sm-12 ">{{vm.filteredHostList.length}} of {{vm.hostList.length}} Discovered
-                    <ng-pluralize count="vm.hostList.length " when="{ 'one': 'Host', 'other': 'Hosts'} "></ng-pluralize> 
-                </h3>
            </div>
            <div ng-if="vm.isDataLoading" class="spinner spinner-lg"></div>
            <center ng-show="!vm.isDataLoading && vm.filteredHostList.length===0 ">
                <div class="blank-slate-pf ">
                    <div class="blank-slate-pf-icon ">
                        <i class="pficon pficon-cluster "></i>
                    </div>
                    <h1>No Hosts Detected</h1>
                </div>
            </center>
            <div class="div-with-scroll  div-with-scroll-logs" ng-show="!vm.isDataLoading && vm.filteredHostList.length!==0 ">
                <pf-table-view id="importTableView" config="vm.tableConfig" columns="vm.tableColumns" items="vm.filteredHostList">
                </pf-table-view>
            </div>
            <div ng-if="!vm.isDataLoading && vm.filteredHostList.length!==0" class="row action-button ">
                <div class="col-sm-8 col-md-6 ">
                    <button class="btn btn-primary btn-lg " ng-click="vm.importCluster() " ng-disabled="vm.importIcon ">
                        <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate " data-ng-class="{ 'hidden': vm.importIcon !==true } ">
                        </i>
                        <span>Import</span>
                    </button>
                    <button class="btn btn-default btn-lg cancel-button " ng-click="vm.importCancel() ">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="vm.taskInitiated" class="blank-slate-pf centered ">
        <div class="blank-slate-pf-icon ">
            <i class="pficon pficon-ok "></i>
        </div>
        <div>
            <h1><label>Import Cluster Task Submitted</label></h1>
            <small> An import cluster task has been submitted. You will be notified when processing is complete and the cluster is ready for use. </small>
        </div>
        <div class="blank-slate-pf-main-action ">
            <button class="btn btn-default btn-lg " ng-click="vm.importCancel() ">Close</button>
            <button class="btn btn-primary btn-lg cancel-button " ng-click="vm.viewTaskProgress() ">View Task Progress</button>
        </div>
    </div>
</div>