.tendrl-import-cluster-view-container {

    .div-with-scroll-logs {
        .container-fluid {
            padding: 0;
        }

        max-height: 500px;
        padding: 0;
        overflow: auto;
        overflow-x: hidden;
        margin: 20px 0;
    }

    .cluster-name {
        font-size: 14px;

        label {
            font-weight: normal;
        }

        .name-validation-msg {
            font-size: 10px;
            font-style: italic;
        }

        .cluster-name-input {
            padding: 1px 5px;
        }
    }

    .alert a {
        cursor: pointer;
    }

    .toolbar-pf-results>span {
        display: none;
    }

    .toolbar-pf .form-group:last-child {
        padding-left: 0;
    }

    .action-button {
        margin-top: 15px;
    }

    .volume-profile {
        font-size: 14px;

        input[type=checkbox],
        i {
            padding: 2px;
        }

        label {
            padding: 2px;
            font-weight: normal;
        }

        .pficon-info {
            color: $color-curious-blue;
            vertical-align: middle;
        }

        .tooltip-inner {
            max-width: 270px;
        }
    }

    .cancel-button {
        margin-left: 5px;
    }

    @media screen and (max-width: 576px) {
        .centered .cancel-button {
            margin-top: 10px;
        }
    }
}