.full-aggregate-component-container{
	.full-width-aggregate{
		text-align: left;
	}
	.full-aggregate-title{
		font-size: 30px;
	}
	.fa-arrow-circle-o-down{
		font-size: 20px;
	}
	.pficon-flag{
		color: #DB0000;
	}
}