<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-create-ceph-cluster-container container-fluid">
    <ol class="breadcrumb">
        <li>
            <a ui-sref="cluster">Clusters</a>
        </li>
        <li class="active"> <strong>Create Cluster</strong>
        </li>
    </ol>
    <h1 class="bold-text">Create Cluster</h1>
    <div class="create-ceph-cluster-wizard" ng-if="!createCephClusterCntrl.taskSubmitted">
        <div class="wizard-pf">
            <div>
                <div class="wizard-pf-body clearfix">
                    <div class="wizard-pf-steps">
                        <ul class="wizard-pf-steps-indicator">
                            <li class="wizard-pf-step" ng-repeat="wizardStep in createCephClusterCntrl.wizardSteps" ng-class="{active: (wizardStep.number === createCephClusterCntrl.selectedStep)}">
                                <a><span class="wizard-pf-step-number">{{wizardStep.number}}</span><span class="wizard-pf-step-title">{{wizardStep.name}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard-pf-row">
                        <div class="wizard-pf-main">

                            <div ng-include src="'../modules/cluster/create-ceph-cluster/step-first.html'"></div>
                            
                            <div ng-include src="'../modules/cluster/create-ceph-cluster/step-second.html'"></div>

                            <div ng-include src="'../modules/cluster/create-ceph-cluster/step-third.html'"></div>

                        </div>
                        <!-- /.wizard-pf-main -->
                    </div>
                </div>
                <!-- /.wizard-pf-body -->
                <div class="modal-footer wizard-pf-footer">
                    <button type="button" class="btn btn-default wizard-pf-back" ng-click="createCephClusterCntrl.backStep(createCephClusterCntrl.selectedStep)" ng-disabled="createCephClusterCntrl.step === 1">
                        <span class="i fa fa-angle-left"></span> Back
                    </button>
                    <button type="button" class="btn btn-primary wizard-pf-next" ng-click="createCephClusterCntrl.nextStep(createCephClusterCntrl.selectedStep)">
                        <span ng-if="createCephClusterCntrl.step !== 3">Next</span>
                        <span ng-if="createCephClusterCntrl.step === 3">Create RBDs</span>
                        <span class="i fa fa-angle-right"></span>
                    </button>
                    <a type="button" class="btn btn-default btn-cancel wizard-pf-cancel wizard-pf-dismiss" ui-sref="rbd">Cancel</a>
                </div>
                <!-- /.wizard-pf-footer -->
            </div>
        </div>
    </div>
    <div ng-if="createCephClusterCntrl.taskSubmitted" class="blank-slate-pf centered">
        <div class="blank-slate-pf-icon">
            <i class="pficon pficon-ok"></i>
        </div>
        <div>
            <h1><label>Create RBD(s) Submitted</label></h1>
            <div class="text-center"> An task has been submitted to the background for each RBD requested. You will be notified when processing is complete and the new RBDs are ready for use. </div>
        </div>
        <div class="blank-slate-pf-main-action">
            <button class="btn btn-primary btn-lg" ng-click="createCephClusterCntrl.viewTaskProgress()">View Task Progress</button>
        </div>
    </div>
</div>