.tendrl-create-ceph-cluster-container {
	.wizard-pf {
	    width: auto;
	}
	.create-ceph-cluster-wizard {
        .wizard-pf {
            width: 100%;

            .wizard-pf-steps {
                border: none;
            }

            .wizard-pf-row {
                position: static;

                .wizard-pf-main {
                    overflow: hidden;
                    padding: 0;
                    margin-left: 114px;
                    margin-right: 106px;

                    .wizard-pf-contents {
                        .form-horizontal .control-label {
                            text-align: left;
                        }

                        .list-group {
                            margin-bottom: 0;
                        }

                        .rbd-summary {
                            margin-bottom: 50px;
                            margin-left: 0;

                            .desc {
                                margin-bottom: 30px;
                            }

                            .single-rbd-summary {
                                border: 1px solid $color-white-smoke;

                                .row {
                                    padding: 10px 0;
                                    
                                    &:nth-of-type(2n) {
                                        background-color: $color-white-smoke;
                                    }
                                }

                            }

                            .single-rbd-summary:nth-of-type(2n) {
                                background-color: red;
                            }
                        }

                        .pool-summary {
                            .desc {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }

                @media screen and (min-width: 992px) {
                    .wizard-pf-main {                        
                        margin-left: 253px;
                        margin-right: 253px;
                    }
                }
            }

            .wizard-pf-footer {
                border: none;
                position: static;
                margin-left: 240px;
                text-align: left;
            }
        }
    }
    .available-host-list{
	    background-color: #ededed;
	    border-left-color: transparent;
	    border-right-color: transparent;
    }
    .remove-stack{
        display: inline;
        color: black;
    }
    .stack-left{
        text-align: left;
        display: initial;
    }
}