<div class="wizard-pf-contents" ng-if="createCephClusterCntrl.selectedStep === 3">
    <form class="form-horizontal">
        <h3>Available Disk Device</h3>

        <div class="row toolbar-pf">
            <div class="col-sm-12">
                <form class="toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter">
                        <label class="sr-only" for="filter">Name</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <!-- Search By -->
                                <select ng-init="createCephClusterCntrl.filterBy = 'host_name'" ng-disabled="createCephClusterCntrl.diskList.length === 0" ng-model="createCephClusterCntrl.filterBy" class="btn btn-default dropdown-toggle" ng-change="createCephClusterCntrl.searchBy = {}">
                                    <option value="host_name">Name</option>
                                    <option value="disks['device_name']">Size</option>
                                </select>
                            </div><!-- /btn-group -->
                            <input ng-disabled="createCephClusterCntrl.diskList.length === 0" type="text" class="form-control" id="filter" ng-model="createCephClusterCntrl.searchBy[createCephClusterCntrl.filterBy]" placeholder="Filter By {{createCephClusterCntrl.filterBy}}...">
                        </div><!-- /input-group -->
                    </div>
                    <div class="form-group">
                        <div class="dropdown btn-group">
                            <!-- Order By -->
                            <select ng-init="createCephClusterCntrl.orderBy = 'host_name'" ng-disabled="createCephClusterCntrl.diskList.length === 0" ng-model="createCephClusterCntrl.orderBy" class="btn btn-default dropdown-toggle">
                                <option value="host_name">Name</option>
                                <option value="role">Role</option>
                            </select>
                        </div>
                        <button ng-init="createCephClusterCntrl.ascOrder = ''" ng-disabled="createCephClusterCntrl.diskList.length === 0" class="btn btn-link" type="button">
                            <span ng-if="createCephClusterCntrl.ascOrder !== ''" class="fa fa-sort-alpha-desc" ng-click="createCephClusterCntrl.ascOrder = ''">
                            </span>
                            <span ng-if="createCephClusterCntrl.ascOrder !== '-'" class="fa fa-sort-alpha-asc" ng-click="createCephClusterCntrl.ascOrder = '-'">
                            </span>
                        </button>
                    </div>
                </form>

            </div><!-- /col -->
        </div><!-- /row -->

               <div class="list-group list-view-pf list-view-pf-equalized-column" ng-repeat="item in createCephClusterCntrl.filteredHostList=(createCephClusterCntrl.diskList.disks | filter: createCephClusterCntrl.searchBy | orderBy : createCephClusterCntrl.ascOrder + createCephClusterCntrl.orderBy)">
                <div class="list-group-item">
                            <div class="ng-scope col-md-12">
                    <div class="list-group-item-heading ng-binding col-md-3">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked stack-left">
                            <strong>{{item.host_name}}</strong>
                            <h5 class="capitalize">
                                4 devices, 11.8 TB Total Raw Capacity
                            </h5>
                        </div>  
                    </div>
                    <div class="list-group-item-heading ng-binding col-md-3">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Journal Size</strong>
                            <div class="label">
                                <div class="col-md-6">
                                    <input min="1" class="form-control" type="number" data-id="journalSize" ng-model="item.journalSize" ng-init="item.journalSize = 5" required>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" data-id="journal-size-unit" data-ng-options="unit for unit in createCephClusterCntrl.customScope.units"  ng-init="item.customselectedUnit='GB'" data-ng-model="item.customselectedUnit"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-heading ng-binding col-md-3">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Journal Configration</strong>
                            <div class="label">
                                <select class="form-control" data-id="journal-configration" data-ng-options="type for type in createCephClusterCntrl.customScope.journalConfigrationType" ng-init="item.SelectedJournalConfigration='Colocated'" data-ng-model="item.SelectedJournalConfigration"></select>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-heading ng-binding col-md-3" ng-if="item.SelectedJournalConfigration === 'Dedicated'">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Partitions per Device</strong>
                            <div>
                                <div class="col-md-6">
                                    <input class="form-control" min="0" type="number" data-id="partitionSize" ng-init="item.partitionSize=4" ng-model="item.partitionSize" required>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" data-id="journal-configration" ng-change ="createCephClusterCntrl.customScope.partitionValue(item.SelectedpartitionType, item)" data-ng-options="type for type in createCephClusterCntrl.customScope.partitionType" ng-init="item.SelectedpartitionType = 'SSD'" data-ng-model="item.SelectedpartitionType"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

<!--         <div class="col-md-12 list-view-container">

            <div pf-list-view class="example-list-view" id="exampleListView" config="createCephClusterCntrl.config" items="createCephClusterCntrl.diskList.disks  | filter: createCephClusterCntrl.searchBy" custom-scope="createCephClusterCntrl.customScope">
                <div class="ng-scope col-md-12">
                    <div class="list-group-item-heading ng-binding col-md-3">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked stack-left">
                            <strong>{{item.host_name}}</strong>
                            <h5 class="capitalize">
                                4 devices, 11.8 TB Total Raw Capacity
                            </h5>
                        </div>  
                    </div>
                    <div class="list-group-item-heading ng-binding col-md-3">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Journal Size</strong>
                            <div class="label">
                                <div class="col-md-6">
                                    <input min="1" class="form-control" type="number" data-id="journalSize" ng-model="item.journalSize" ng-init="item.journalSize = 5" required>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" data-id="journal-size-unit" data-ng-options="unit for unit in customScope.units"  ng-init="item.customselectedUnit='GB'" data-ng-model="item.customselectedUnit"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-heading ng-binding col-md-3">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Journal Configration</strong>
                            <div class="label">
                                <select class="form-control" data-id="journal-configration" data-ng-options="type for type in customScope.journalConfigrationType" ng-init="item.SelectedJournalConfigration='Colocated'" data-ng-model="item.SelectedJournalConfigration"></select>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-heading ng-binding col-md-3" ng-if="item.SelectedJournalConfigration === 'Dedicated'">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                            <strong>Partitions per Device</strong>
                            <div>
                                <div class="col-md-6">
                                    <input class="form-control" min="0" type="number" data-id="partitionSize" ng-init="item.partitionSize=4" ng-model="item.partitionSize" required>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" data-id="journal-configration" ng-change ="customScope.partitionValue(item.SelectedpartitionType, item)" data-ng-options="type for type in customScope.partitionType" ng-init="item.SelectedpartitionType = 'SSD'" data-ng-model="item.SelectedpartitionType"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <list-expanded-content>
                    <table st-table="disks" st-safe-src="$parent.item.disks" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="device_name">Device</th>
                                <th st-sort="vendor">Vendor</th>
                                <th st-sort="model">Model</th>
                                <th st-sort="ssd">Type</th>
                                <th st-sort="rawCapacity">Raw Capacity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="disk in disks">
                                <td>{{disk.device_name}}</td>
                                <td>{{disk.vendor}}</td>
                                <td>{{disk.model}}</td>
                                <td>{{disk.ssd === "True" ? "SSD" : "Non SSD"}}</td>
                                <td>{{disk.size | bytes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </list-expanded-content>
            </div>
        </div> -->
    </form>
</div>