<div class="container-fluid events-page">
    <ol class="breadcrumb">
        <li><a href="#/events">Admin</a></li>
        <li>Events</li>
    </ol>
    <div class="page-header">
        <h1>Events</h1>
    </div>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group col-sm-3 toolbar-pf-filter">
                    <div class="input-group">
                        <div class="input-group-btn dropdown">
                            <button bs-dropdown="dropdown" id="dropdownmenu" class="btn btn-default dropdown-toggle text-capitalize" type="button">
                                {{events.searchEntity}}<span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownmenu">
                                <li><a ng-click="events.setSearchEntity('Cluster')">Cluster</a></li>
                                <li><a ng-click="events.setSearchEntity('Host')">Host</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a ng-click="events.setSearchEntity('Description')">Description</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                        <input type="text" class="form-control" placeholder="Search" ng-model-options="{ debounce: 1000 }" ng-change="events.applyFilter(events.searchEntity,events.searchQuery)"
                        ng-model="events.searchQuery"><span class="input-group-addon" ng-click="events.applyFilter(events.searchEntity,events.searchQuery)"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="dropdown" ng-class="fromdateselector?'open':''">
                        <a class="dropdown-toggle" id="fromDateDropdown" role="button" bs-dropdown="dropdown" ng-click="fromdateselector=!fromdateselector">
                            <div class="input-group">
                                <input type="text" placeholder="From" class="form-control" data-ng-model="events.fromDateTimeFilter" ng-blur="fromdateselector=false"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="events.fromDateTimeFilter" data-on-set-time="fromdateselector=false"
                            ng-change="events.applyFilter('from',events.fromDateTimeFilter)" />
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="dropdown" ng-class="todateselector?'open':''">
                        <a class="dropdown-toggle" id="toDateDropdown" role="button" bs-dropdown="dropdown" ng-click="todateselector=!todateselector">
                            <div class="input-group">
                                <input type="text" placeholder="To" class="form-control" data-ng-model="events.toDateTimeFilter" ng-blur="todateselector=false"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="events.toDateTimeFilter" data-on-set-time="todateselector=false"
                            ng-change="events.applyFilter('to',events.toDateTimeFilter)" />
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label><input type="radio" name="active" ng-model="events.statusFilter" value="active" checked ng-change="events.applyFilter('status','active')"> Active </label>
                    <label><input type="radio" name="active" ng-model="events.statusFilter" value="dismissed" ng-change="events.applyFilter('status','dismissed')"> Dismissed </label>
                    <label><input type="radio" name="active" ng-model="events.statusFilter" value="both" ng-change="events.applyFilter('status','active , dismissed')"> All </label>
                </div>
            </form>
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>{{events.totalCount}} Events</h5>
                    <h5 ng-if="events.warningCount > 0"><a href class="pficon-warning-triangle-o warning" ng-click="events.applyFilter('severity','warning');events.severity='warning'"></a> {{events.warningCount}}</h5>
                    <h5 ng-if="events.criticalCount > 0"><a href class="pficon-error-circle-o critical" ng-click="events.applyFilter('severity','critical');events.severity='critical'"></a> {{events.criticalCount}}</h5>
                    <p>Active filters:</p>
                    <ul class="list-inline" ng-repeat="(key, value) in events.filterObject">
                        <li>
                            <span class="label label-info">
                      {{key}} : {{value | date:'medium'}}
                      <a ng-if="key !== 'status'" href="" ng-click="events.clearFilter(key)"><span class="pficon pficon-close"></span></a>
                            </span>
                        </li>
                    </ul>
                    <p><a ng-click="events.resetFilters()">Clear All Filters</a></p>
                </div>
                <!-- /col -->
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-9 pull-right">
            <ul class="pagination pull-right">
                <li>
                    <a ng-click="events.paginate(events.pageNo-1)" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li ng-show="events.pageNo > 3"><a ng-click="events.paginate(1)">1</a></li>
                <li ng-show="events.pageNo > 4"><a> ... </a></li>
                <li ng-show="events.pageNo > 2">
                    <a ng-click="events.paginate(events.pageNo-2)" ng-bind="events.pageNo-2"></a>
                </li>
                <li ng-show="events.pageNo > 1">
                    <a ng-click="events.paginate(events.pageNo-1)" ng-bind="events.pageNo-1"></a>
                </li>
                <li>
                    <a class="selected-page" ng-click="events.paginate(events.pageNo)" ng-bind="events.pageNo"></a>
                </li>
                <li ng-show="events.pageNo < events.totalPages">
                    <a ng-click="events.paginate(events.pageNo+1)" ng-bind="events.pageNo+1"></a>
                </li>
                <li ng-show="(events.pageNo+1) < events.totalPages">
                    <a ng-click="events.paginate(events.pageNo+2)" ng-bind="events.pageNo+2"></a>
                </li>
                <li ng-show="(events.pageNo+3) < events.totalPages"><a> ... </a></li>
                <li ng-show="(events.pageNo+2) < events.totalPages">
                    <a ng-click="events.paginate(events.totalPages)" ng-bind="events.totalPages"></a>
                </li>
                <li>
                    <a ng-click="events.paginate(events.pageNo+1)" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <center ng-if="!events.totalCount">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="fa fa-bell"></i>
            </div>
            <h1> No matching events found </h1>
        </div>
    </center>

    <div class="list-group list-view-pf">
        <div class="list-group-item" ng-repeat="event in events.list | filter:search">
            <div class="list-view-pf-actions">
                <button class="btn btn-default" ng-click="events.viewDetails(event.event_id)">Details</button>
                <div class="dropdown pull-right dropdown-kebab-pf">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" bs-dropdown="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                        <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownKebabRight" ng-if="!event.acked && event.severity < 5">
                        <li><a ng-click="events.dismiss(event.event_id)">Dismiss</a></li>
                    </ul>
                </div>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="pficon pficon-error-circle-o critical " ng-if="event.severity===1 || event.severity===2"></span>
                    <span class="pficon pficon-info info ok" ng-if="event.severity===5"></span>
                    <span class="pficon pficon-warning-triangle-o warning" ng-if="event.severity===0  || event.severity===3 || event.severity===4"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading text-capitalize">
                            {{events.alarmStatus[event.severity]}}
                        </div>
                        <div class="list-group-item-text">
                            {{event.timestamp | date:'medium'}}
                        </div>
                    </div>
                    <div class="list-view-pf-additional-info">
                        {{event.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>