<h1>Event</h1>
<h3>{{event.detail.nodename}}
   <span class="pficon-error-circle-o critical" ng-if="event.severity===1"></span>
                    <span class="pficon-ok ok" ng-if="event.severity===5"></span>
                    <span class="pficon-warning-triangle-o warning" ng-if="event.severity===0 || event.severity===2 || event.severity===3 || event.severity===4"></span>
</h3>
<h4>Time Submitted : {{event.detail.Timestamp | date : 'MMM d yyyy, hh:mm:ss a'}} </h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Status</a></li>
  <li><a href="#">Logs</a></li>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Execution Steps</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody ng-repeat="step in event.detail.statuslist">
    <tr>
      <td ng-bind="$index +1 "></td>
      <td ng-bind="step.Message"></td>
      <td ng-bind="step.Timestamp  | date : 'MMM d yyyy, hh:mm:ss a'"></td>
    </tr>
  </tbody>
</table>
