<ol class="breadcrumb">
    <li><a href="#/admin">Admin</a></li>
    <li><a href="#/events">Events</a></li>
    <li>Details</li>
</ol>
<h1>{{event.detail.name}}
    <span class="pficon-error-circle-o critical" ng-if="event.detail.severity===1"></span>
    <span class="pficon-ok ok" ng-if="event.detail.severity===5"></span>
    <span class="pficon-warning-triangle-o warning" ng-if="event.detail.severity===0 || event.detail.severity===2 || event.severity===3 || event.severity===4"></span>
</h1>
<h4 ng-if="event.detail.nodename.length > 0"><label>Host :</label> {{event.detail.nodename}}</h4>
<h4><label>Time Submitted :</label> {{event.detail.timestamp | date : 'MMM d yyyy, hh:mm:ss a'}} </h4>
<h4><label>Message :</label> {{event.detail.message}} </h4>
<h4 ng-if="event.detail.cluster_name.length > 0"><label>Cluster :</label> {{event.detail.cluster_name}}</h4>
<h3>History</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Action</th>
            <th>User</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Created</td>
            <td>{{event.detail.context.split(":")[0]}}</td>
            <td ng-bind="event.detail.timestamp | date : 'MMM d yyyy, hh:mm:ss a'"></td>
        </tr>
        <tr ng-if="event.detail.ackedbyuser.length > 0">
            <td ng-bind="event.detail.userackcomment"></td>
            <td ng-bind="event.detail.ackedbyuser"></td>
            <td ng-bind="event.detail.userackedtime | date : 'MMM d yyyy, hh:mm:ss a'"></td>
        </tr>
        <tr ng-if="event.detail.ackedbyevent.length > 0">
            <td ng-bind="event.detail.systemackcomment"></td>
            <td><a ng-href="#/events/{{event.detail.ackedbyevent}}">{{event.detail.ackedbyevent}}</a></td>
            <td ng-bind="event.detail.systemackedtime | date : 'MMM d yyyy, hh:mm:ss a'"></td>
        </tr>
    </tbody>
</table>

<div class="row" ng-if="!event.detail.acked && event.detail.severity < 5">
    <div class="col-md-3">
        <label>Comments</label>
    </div>
    <div class="col-md-12">
        <textarea cols="100" rows="5" ng-model="event.dismissMessage" autofocus></textarea>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" type="button" ng-click="event.dismiss()">Dismiss</button>
    </div>
    <div class="col-md-12" ng-if="event.errorMessage">
        <label class="critical" ng-bind="event.errorMessage">*</label>
    </div>
</div>