<div class="tendrl-rename-pool-modal-container">

    <div ng-if="!renamePoolCntrl.taskSubmitted">
        <!-- Model Header -->
        <custom-modal-header title="renamePoolCntrl.modalHeader.title" close="renamePoolCntrl.modalHeader.close"></custom-modal-header>

        <!-- Rename Body -->
        <div class="modal-body">
            <p>Enter your new name for <strong>{{renamePoolCntrl.renamePoolData.name}}</strong> and click Rename.</p>
            <div class="form-group required col-md-12">
                <label class="col-sm-4 col-md-3 control-label" for="renamePool">Name</label>
                <div class="col-sm-8 col-md-4">
                    <input type="text" data-id="pool-rename" class="form-control" name="renamePool" ng-model="renamePoolCntrl.renamePoolCopy.name">
                </div>
                <span ng-if="!renamePoolCntrl.renamePoolCopy.name.length" class="error-msg">* Pool name is required</span>
            </div>
        </div>

        <!-- Model Footer -->
        <custom-modal-footer modal-footer="renamePoolCntrl.modalFooter"></custom-modal-footer>

    </div>

    <!-- Task Progress  -->
    <div ng-if="renamePoolCntrl.taskSubmitted">
        <div class="task-submitted-icon">
            <i class="pficon" ng-class="{'pficon-error-circle-o': renamePoolCntrl.errorInProcess, 'pficon-ok': renamePoolCntrl.taskSubmitted}"></i>
        </div>
        <div>
            <h1 class="text-center" ng-show="renamePoolCntrl.errorInProcess"><label>Rename Pool Task failed.</label></h1>
            <div ng-show="!renamePoolCntrl.errorInProcess">
                <h1 class="text-center"><label>Rename Pool Task Submitted</label></h1>
                <div class="text-center"> A task has been submitted to edit
                    <label>
                        {{renamePoolCntrl.renamePoolData.name}} </label> in
                    <label>{{renamePoolCntrl.renamePoolData.clusterName}}</label>. You will be notified when processing is complete.
                </div>
            </div>
        </div>
        <div class="view-task-progress">
            <div class="row">
                <div class="col-md-6">
                    <button ng-disabled="renamePoolCntrl.errorInProcess" class="btn btn-primary btn-lg" ng-click="renamePoolCntrl.viewTaskProgress()">View Task Progress</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default btn-lg" ng-click="renamePoolCntrl.closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
