<div ng-if="!isNavigationShow && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="isNavigationShow && clusterData !== null" class="tendrl-task-container">

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="">Tasks</a></li>
            <li>Task Details: Import Cluster</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <div class="cluster-detail">
                    <div class="row">
                        <div class="col-md-1">
                            <label>Status:</label>
                        </div>
                        <div class="col-md-11">
                            {{taskCntrl.status}}
                            <i class="fa fa-refresh" ng-click="taskCntrl.init()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
