.tendrl-task-detail-view-container {
	.detail-label {
		margin-left: 8px;
    }
    .status-value {
        text-transform: capitalize;
	}

    .status-icon{
        margin-right: 5px;
    }

	.div-with-scroll-logs {
        max-height: 700px;
        padding: 0;
        
        .list-group-item:nth-child(2n+1) {
            background-color: $color-white-smoke;
            border-left-color: transparent;
            border-right-color: transparent;
        }

        .table-heading {
            padding: 10px 0 10px 10px;
            font-size: 16px;
            background-color: $color-white-smoke;
            margin-right: 0;
        }

        overflow: auto;
        overflow-x: hidden;
        margin: 20px 0;

        .row {
            margin-left: 0;
        }

        .logs {
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
        }
        .list-group-item {
            border: none;
        }
    }
}