<ol class="breadcrumb">
    <li><a href="#/storage">Storage</a></li>
    <li>Add Storage</li>
</ol>
<div class="form-page storage-new">
    <div class="storage-header">
        <h2 class="title">Add Storage</h2>
    </div>
    <div class="form-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4">Where do you want to add storage?</label>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="cluster">Cluster</label>
                <div class="col-md-3">
                    <select pf-select ng-model="storages.cluster" id="cluster" class="form-control"
                    ng-options="cluster.name for cluster in storages.clusters" ng-change="storages.validateCluster(storages.cluster)"></select>
                </div>
            </div>
            <div class="form-group" ng-if="storages.errorMessage">
                <div class="col-md-4 col-md-offset-2">
                    <p class="text-info">
                    <label class="fa fa-exclamation-circle" ng-bind = "storages.errorMessage"></label>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">What type of storage do you want to add?</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="storages.type" name="optionsStorage" value="object"></input>
                            <strong>Ceph Pool</strong>
                        </label>
                    </div>
                </div>
                <p class="col-md-offset-2 col-md-6">Use when you want to create regular RADOS pool.  This is the default storage for Ceph.</p>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="storages.type" name="optionsStorage" value="block"></input>
                            <strong>Ceph RBD</strong>
                        </label>
                    </div>
                </div>
                <p class="col-md-offset-2 col-md-6">Raw Block device (RBD) is recommended for traditional applications that expect native block storage.  It integrates with Kernel Virtual Machines (KVMs) and allows mounting of block storage devices from Linux or QEMU KVM clients.  Data access is via Librados, RBD, and CephFS (POSIX compliant).</p>
            </div>
        </form>
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-lg btn-primary" ng-click="storages.next()" ng-disabled="storages.errorMessage">Next</button>
        <button type="button" class="btn btn-lg btn-default" ng-click='storages.cancel()'>Cancel</button>
    </div>
</div>