<div ng-if="configdetail.configData===undefined"><center><div class="spinner"></div></center></div>
<div class="row" ng-if="configdetail.configData!==undefined">
  <div class="col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
    <div>
      <h3>Ceph Cluster Configuration</h3>
      <div>
        <p>General Cluster setting and defaults</p>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>Default Authentication</td>
          <td ng-bind="configdetail.configData.cluster_configs.auth_client_required"></td>
        </tr>
        <tr>
          <td>Default Replicas</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_pool_default_size"></td>
        </tr>
        <tr>
          <td>Minimum Replicas</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_pool_default_min_size"></td>
        </tr>
        <tr>
          <td>Bind to IPv6</td>
          <td ng-bind="configdetail.configData.cluster_configs.ms_bind_ipv6"></td>
        </tr>
        <tr>
          <td>OSD down-Out interval</td>
          <td ng-bind="configdetail.configData.cluster_configs.mon_osd_down_out_interval + ' s'"></td>
        </tr>
        <tr>
          <td>OSD Report Timeout</td>
          <td ng-bind="configdetail.configData.cluster_configs.mon_osd_report_timeout + ' s'"></td>
        </tr>
        <tr>
          <td>Default Journal Size</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_journal_size+'MB' | bytes "></td>
        </tr>
        <tr>
          <td>OSD Max Backfills</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_max_backfills"></td>
        </tr>
        <tr>
          <td>OSD Max Scrubs</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_max_scrubs"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
    <div>
      <h3>Notifications</h3>
      <div>
        <p>Generate notifications for the following events</p>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr ng-repeat="data in configdetail.configData.notification_list.notifications">
          <td><div class="text-capitalize">{{data.description}}</div></td>
          <td ng-if="data.enabled">Enabled</td>
          <td ng-if="!data.enabled">Disabled</td>
        </tr>
      </tbody>
    </table>
    <div>
      <h3>Thresholds</h3>
      <div>
        <p>Alert user when the following utilization thresholds have been breached</p>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <th></th>
          <th>Warning (Near Full)</th>
          <th>Critical (Full)</th>
        </tr>
        <tr ng-repeat="data in configdetail.configData.threshold_configs">
          <td><div class="text-capitalize">{{data.description}}</div></td>
          <td>{{data.configs[1].value}}</td>
          <td>{{data.configs[0].value}}</td>
        </tr>
      </tbody>
    </table>
    <label>Polling Interval</label>: {{configdetail.configData.monitoringinterval/60}} Minutes
  </div>
</div>
