<div class="modal fade tendrl-pool-edit-view-container" id="poolEditModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="editModalLabel">Edit Pool</h4>
            </div>
            <div class="edit-pool">
                <div class="row" ng-if="poolCntrl.editPoolStep !== 4">
                    <div class="col-sm-12">Make changes to settings for <b>{{poolCntrl.editPoolObj.name}}</b> and click Save.</div>
                </div>
                <ul class="nav nav-tabs nav-tabs-pf" ng-if="poolCntrl.editPoolStep !== 4" ng-init="poolCntrl.editPoolStep = 1">
                    <li class="cursor-pointer" ng-class="{active: (poolCntrl.editPoolStep === 1)}"><a ng-click="poolCntrl.editPoolStep = 1">General</a></li>
                    <li class="cursor-pointer" ng-class="{active: (poolCntrl.editPoolStep === 2)}" ng-if="poolCntrl.editPoolObj.type === 'replicated'"><a ng-click="poolCntrl.editPoolStep = 2">Replicas</a></li>
                    <li class="cursor-pointer" ng-class="{active: (poolCntrl.step === 3)}"><a ng-click="poolCntrl.editPoolStep = 3">Advanced</a></li>
                </ul>
                <div class="modal-body">
                    <form class="form-horizontal" ng-if="poolCntrl.editPoolStep === 1">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="edit-pool-name">Name </label>
                            <div class="col-sm-9">
                                <label class="control-label" data-id="pool-name" name="poolName">{{poolCntrl.editPoolObj.poolName}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="edit-pool-cluster">Cluster</label>
                            <div class="col-sm-5">
                                <div id="edit-pool-cluster">{{poolCntrl.editPoolObj.clusterName | capitalize}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="edit-pool-type">Type</label>
                            <div class="col-sm-9">
                                <div id="edit-pool-type">{{poolCntrl.editPoolObj.type | capitalize}}</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 control-label" for="quotas">Quotas</label>
                            <div class="col-sm-3">
                                <input bs-switch type="checkbox" ng-model="poolCntrl.editPoolObj.checkboxModelQuotasValue" value="poolCntrl.editPoolObj.checkboxModelQuotasValue" ng-checked="poolCntrl.editPoolObj.checkboxModelQuotasValue">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 col-md-2"></label>
                            <div class="col-sm-12 col-md-10">
                                <div class="col-md-6">
                                    <input type="checkbox" ng-disabled="!(poolCntrl.editPoolObj.checkboxModelQuotasValue)" ng-model="poolCntrl.editPoolObj.checkboxModelQuotasMaxPercentageValue">
                                    <label class="control-label" for="quotasMaxPercentage">Max Percentage used</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" min="1" max="100" ng-disabled="!(poolCntrl.editPoolObj.checkboxModelQuotasValue && poolCntrl.editPoolObj.checkboxModelQuotasMaxPercentageValue)" data-id="quotas-max-used" class="form-control" ng-model="poolCntrl.editPoolObj.quota_max_bytes">
                                </div>
                                <div class="col-md-3" ng-if="poolCntrl.editPoolObj.checkboxModelQuotasValue && poolCntrl.editPoolObj.checkboxModelQuotasMaxPercentageValue">
                                    <span>% {{ ((poolCntrl.editPoolObj.utilization/100) * poolCntrl.editPoolObj.quota_max_bytes) | bytes}} of {{poolCntrl.editPoolObj.utilization | bytes }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 col-md-2"></label>
                            <div class="col-sm-12 col-md-10">
                                <div class="col-md-6">
                                    <input type="checkbox" ng-disabled="!(poolCntrl.editPoolObj.checkboxModelQuotasValue)" ng-model="poolCntrl.editPoolObj.checkboxModelQuotasMaxObjectValue">
                                    <label class="control-label" for="quotasMaxObjects">Max number of objects</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" min="1" ng-disabled="!(poolCntrl.editPoolObj.checkboxModelQuotasValue && poolCntrl.editPoolObj.checkboxModelQuotasMaxObjectValue)" data-id="quotas-max-object" class="form-control" ng-model="poolCntrl.editPoolObj.quota_max_objects">
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" ng-if="poolCntrl.editPoolStep === 2 && poolCntrl.editPoolObj.type === 'replicated'">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="poolCntrl.editPoolObj.checkboxModelReplicas" ng-change="poolCntrl.revertReplicasValue()"> &nbsp; No Changes to Replicas
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="edit-pool-replicas">Replicas</label>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="10" id="edit-pool-replicas" ng-disabled="(poolCntrl.editPoolObj.checkboxModelReplicas)" ng-model="poolCntrl.editPoolObj.editReplicaCount" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="edit-pool-min-replicas">Minimum Replicas</label>
                            <div class="col-sm-5">
                                <input type="number" min="0" ng-disabled="(poolCntrl.editPoolObj.checkboxModelReplicas)" id="edit-pool-min-replicas" ng-model="poolCntrl.editPoolObj.editMinReplicaCount" class="form-control">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" ng-if="poolCntrl.editPoolStep === 3">
                        <div class="form-group required">
                            <label class="col-sm-3 control-label" for="owner">Data-at-Rest Encryption</label>
                            <div class="col-sm-9" ng-init="poolCntrl.checkboxModel.owner.value = false">
                                <input bs-switch ng-model="poolCntrl.editPoolObj.checkboxModelOwnerValue" type="checkbox" value="poolCntrl.editPoolObj.checkboxModelOwnerValue" ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 col-md-3 control-label" for="pool-owner">Owner</label>
                            <div class="col-sm-9 col-md-3">
                                <select ng-disabled="!(checkboxModel.ownerValue)" data-ng-options="owner for owner in createPoolCntrl.owners" ng-model="createPoolCntrl.selectedOwner" class="form-control" data-id="pool-owner"></select>
                            </div>
                        </div>
                        <!-- <div class="form-group required">
							<label class="col-sm-3 control-label" for="owner">Optional Pool Settings</label>
							<div class="col-sm-9" ng-init="poolCntrl.checkboxModel.owner.value = false">
								<input ng-model="poolCntrl.editPoolObj.checkboxModelNoChange" type="checkbox" value="poolCntrl.editPoolObj.checkboxModelNoChange"><label>No Change to Replicas</label></br>
								<input ng-model="poolCntrl.editPoolObj.checkboxModelNoDelete" type="checkbox" value="poolCntrl.editPoolObj.checkboxModelNoDelete"><label>No Delete</label></br>
								<input ng-model="poolCntrl.editPoolObj.checkboxModelNoScrub" type="checkbox" value="poolCntrl.editPoolObj.checkboxModelNoScrub"><label>No Scrub</label></br>
								<input ng-model="poolCntrl.editPoolObj.checkboxModelNoDeepScrub" type="checkbox" value="poolCntrl.editPoolObj.checkboxModelNoDeepScrub"><label>No deept Scrub</label>
							</div>
						</div> -->
                    </form>
                    <div ng-if="poolCntrl.editPoolStep === 4">
                        <div class="task-submitted-icon">
                            <i class="pficon" ng-class="{'pficon-error-circle-o': poolCntrl.errorInProcess, 'pficon-ok': !poolCntrl.errorInProcess}"></i>
                        </div>
                        <div>
                            <h1 class="text-center" ng-show="poolCntrl.errorInProcess"><label>Edit Pool Task failed.</label></h1>
                            <div ng-show="!poolCntrl.errorInProcess">
                                <h1 class="text-center"><label>Edit Pool Task Submitted</label></h1>
                                <div class="text-center"> A task has been submitted to edit
                                    <label>
                                        {{poolCntrl.editPoolObj.name}} </label> in
                                    <label>{{poolCntrl.editPoolObj.clusterName}}</label>. You will be notified when processing is complete.
                                </div>
                            </div>
                        </div>
                        <div class="view-task-progress">
                            <div class="row">
                                <div class="col-md-6">
                                    <button ng-disabled="poolCntrl.errorInProcess" class="btn btn-primary btn-lg" ng-click="poolCntrl.viewTaskProgress('#poolEditModal')">View Task Progress</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-if="poolCntrl.editPoolStep !== 4">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="poolCntrl.EditPool()" ng-disabled="poolCntrl.editPoolObj.poolName.length ===0">Save</button>
            </div>
        </div>
    </div>
</div>
