<!-- <div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div> -->
<div class="tendrl-host-list-view-container">
    <div class="container-fluid">
        <!-- heading section-->
        <h1 class="bold-text">Hosts</h1>
        <!-- Actions section -->
        <div class="row toolbar-pf">
            <div class="col-md-12">
                <form class="toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter">
                        <label class="sr-only" for="filter">Name</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <!-- Search By -->
                                <button ng-disabled="hostCntrl.hostList.length === 0" type="button" class="btn btn-default dropdown-toggle filterSelect" ng-model="hostCntrl.filterBy" ng-change="hostCntrl.searchBy = {}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{hostCntrl.filterByValue}} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-class="{'selected':(hostCntrl.filterBy === 'name')}"><a href="" ng-click="hostCntrl.changingFilterBy('name')">Name</a></li>
                                    <li ng-class="{'selected':(hostCntrl.filterBy === 'cluster_name')}"><a href="" ng-click="hostCntrl.changingFilterBy('cluster_name')">Cluster</a></li>
                                    <li ng-class="{'selected':(hostCntrl.filterBy === 'role')}"><a href="" ng-click="hostCntrl.changingFilterBy('role')">Role</a></li>
                                    <li ng-class="{'selected':(hostCntrl.filterBy === 'status')}"><a href="" ng-click="hostCntrl.changingFilterBy('status')">Status</a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <input ng-disabled="hostCntrl.hostList.length === 0" type="text" class="form-control" id="filter" ng-model="hostCntrl.searchBy[hostCntrl.filterBy]" placeholder="Filter by {{hostCntrl.filterPlaceholder}}">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class="form-group">
                        <div class="dropdown btn-group">
                            <!-- Order By -->
                            <button type="button" ng-disabled="hostCntrl.hostList.length === 0" class="btn btn-default dropdown-toggle filterSelect" ng-model="hostCntrl.orderBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{hostCntrl.orderByValue}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-class="{'selected':(hostCntrl.orderBy === 'name')}"><a href="" ng-click="hostCntrl.changingOrderBy('name')">Name</a></li>
                                <li ng-class="{'selected':(hostCntrl.orderBy === 'cluster_name')}"><a href="" ng-click="hostCntrl.changingOrderBy('cluster_name')">Cluster</a></li>
                                <li ng-class="{'selected':(hostCntrl.orderBy === 'role')}"><a href="" ng-click="hostCntrl.changingOrderBy('role')">Role</a></li>
                            </ul>
                        </div>
                        <button ng-init="hostCntrl.ascOrder = ''" ng-disabled="hostCntrl.hostList.length === 0" class="btn btn-link" type="button">
                            <span ng-if="hostCntrl.ascOrder !== ''" class="fa fa-sort-alpha-desc" ng-click="hostCntrl.ascOrder = ''">
                            </span>
                            <span ng-if="hostCntrl.ascOrder !== '-'" class="fa fa-sort-alpha-asc" ng-click="hostCntrl.ascOrder = '-'">
                            </span>
                        </button>
                    </div>
                </form>
                <div class="row toolbar-pf-results">
                    <div class="col-sm-12">
                        <h5 ng-if="hostCntrl.hostList.length !== 0">{{hostCntrl.filteredHostList.length}} 
                            <ng-pluralize count="hostCntrl.filteredHostList.length" when="{'one': 'Host',
                       'other': 'Hosts'}"></ng-pluralize>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <center ng-if="!hostCntrl.isDataLoading && (hostCntrl.hostList.length === 0)">
            <div class="blank-slate-pf">
                <div class="blank-slate-pf-icon">
                    <i class="pficon pficon-container-node"></i>
                </div>
                <h1>No Hosts Detected</h1>
            </div>
        </center>
        <center ng-if="!hostCntrl.isDataLoading && hostCntrl.filteredHostList.length === 0 && hostCntrl.hostList.length !== 0" class="empty-filter-list">
            <div class="blank-slate-pf">
                <div class="message">No results match the filter criteria</div>
                <div class="suggestion">
                    <div class="title">Suggestions</div>
                    <div>Please try selecting other filter criteria.</div>
                </div>
                <a href="" class="clear-filter-link" ng-click="hostCntrl.clearAllFilters()">Clear All Filters</a>
            </div>
        </center>
        <div ng-show="hostCntrl.isDataLoading" class="spinner spinner-lg"></div>
        <div class="flex-table list-group list-view-pf list-view-pf-view" ng-show="!hostCntrl.isDataLoading">
            <div class="ft-row list-group-item " ng-repeat="host in hostCntrl.filteredHostList=(hostCntrl.hostList | filter: hostCntrl.searchBy | orderBy : hostCntrl.ascOrder + hostCntrl.orderBy)">
                <div class="ft-column ft-icon">
                    <i ng-class="{'fa ffont fa-arrow-circle-o-down': (host.status ==='DOWN'), 'pficon pficon-ok': (host.status ==='UP')}" uib-tooltip-html="'{{host.status}}'" tooltip-placement="auto bottom-left"></i>
                </div>
                <div class="ft-column ft-main host-name bold-text" uib-tooltip-html="'{{host.name}}'" tooltip-placement="auto bottom-left">{{host.name}}</div>
                <div class="ft-column list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">Cluster</div>
                    <div class="pull-left cluster-name" uib-tooltip-html="'{{host.cluster_name}}'" tooltip-placement="auto bottom-left">{{host.cluster_name || "None"}}</div>
                </div>
                <div class="ft-column list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">Role</div>
                    <div class="pull-left">{{host.role}}</div>
                </div>
                <div class="ft-column list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                    <div class="bold-text">Alerts</div>
                    <div class="pull-left counts">{{host.alerts}}</div>
                </div>
                <div class="ft-column ft-actions">
                    <button class="btn btn-default" ng-click="hostCntrl.goToHostDetail(host)" ng-show="hostCntrl.showDetailBtn" tooltip-enable="hostCntrl.flag" ng-mouseover="hostCntrl.addTooltip($event)" uib-tooltip="Details">Details</button>
                    <button ng-show="host.role !== 'Tendrl Server' && host.managed === 'Yes'" class="btn btn-default dashboard-btn" ng-click="hostCntrl.redirectToGrafana(host, $event)" tooltip-enable="hostCntrl.flag" ng-mouseover="hostCntrl.addTooltip($event)" uib-tooltip="Dashboard">Dashboard</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="hostCntrl.filteredHostList.length !== 0">
        <div class="col-md-12 horizontal-line"></div>
    </div>
</div>
</div>
