.tendrl-host-list-view-container {

    margin-bottom: 10px;
    .bold-text {
        font-weight: bold;
    }
    .list-view-pf-view {
        .list-group-item {
            .host-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 0;
                padding-right: 0;
                float: left;
                cursor: pointer;
            }
        }
    }

    .flex-table {
        .ft-column {
            >.cluster-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 50%;
            }

            &.ft-actions {

                overflow: visible;
                .dashboard-btn {
                    width: auto;
                    overflow: visible;
                }
            }
        }
    }
}
