.tendrl-host-list-view-container {
    margin-bottom: 10px;
    .bold-text {
        font-weight: bold;
    }
    .toolbar-pf {
        .form-group:last-child {
            padding-left: 0;
        }
        .hide-border {
            border-right: none;
        }
        .details-link {
            padding-left: 5px;
            cursor: pointer;
        }
    }
    .list-view-pf-view {
        .list-group-item {
            .host-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 0;
                padding-right: 0;
                float: left;
                cursor: pointer;

                .remove-color {
                    color: $color-gondola-grey;
                    text-decoration: none;
                    cursor: grab;
                }
            }
        }
    }
    .flex-table {
        .ft-column {
            >.cluster-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 50%;
            }
            &.ft-actions {
                overflow: visible;
                .dashboard-btn {
                    width: auto;
                    overflow: visible;
                }
            }
        }
    }
    .toolbar-pf-results > span {
        display: none;
    }
}
