<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-alert-list-view-container container-fluid">
    <h1 class="bold-text">Alerts</h1>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter filter-section">
                    <label class="sr-only" for="filter">Cluster</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button ng-disabled="alertCntrl.alertList.length === 0" type="button" class="btn btn-default dropdown-toggle filterSelect" ng-model="alertCntrl.filterBy" ng-change="alertCntrl.searchBy = {}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{alertCntrl.filterByValue}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-class="{'selected':(alertCntrl.filterBy === 'clusterName')}"><a href="" ng-click="alertCntrl.changingFilterBy('clusterName')">Cluster</a></li>
                                <li ng-class="{'selected':(alertCntrl.filterBy === 'fqdn')}"><a href="" ng-click="alertCntrl.changingFilterBy('fqdn')">Host</a></li>
                                <li ng-class="{'selected':(alertCntrl.filterBy === 'severity')}"><a href="" ng-click="alertCntrl.changingFilterBy('severity')">Severity</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" id="filter" ng-model="alertCntrl.searchBy[alertCntrl.filterBy]" placeholder="Filter by {{alertCntrl.filterPlaceholder}}" ng-readonly="alertCntrl.alertList.length === 0">
                    </div>
                </div>
                <div class="form-group date-selector" ng-class="{'disable-picker': (alertCntrl.alertList.length === 0)}">
                    From:
                    <div pf-datepicker options="alertCntrl.fromDateOptions" date="alertCntrl.date.fromDate" ng-model="alertCntrl.date.fromDate" ng-click="alertCntrl.resetCount()" class="from-selector"></div>
                    <i class="pficon pficon-close" ng-click="alertCntrl.clearDate('from')" ng-show="alertCntrl.date.fromDate"></i>
                </div>
                <div class="form-group date-selector to-date-calendar" ng-class="{'disable-picker': (alertCntrl.alertList.length === 0)}">
                    To:
                    <div pf-datepicker options="alertCntrl.toDateOptions" date="alertCntrl.date.toDate" ng-model="alertCntrl.date.toDate" ng-click="alertCntrl.resetCount()" class="to-selector"></div>
                    <i class="pficon pficon-close" ng-click="alertCntrl.clearDate('to')" ng-show="alertCntrl.date.toDate"></i>
                </div>
                <div class="form-group invalid-msg" ng-if="alertCntrl.invalidToDate">
                    <span class="error-msg">*The To date must be greater than the From date</span>
                </div>
                <div class="toolbar-pf-action-right">
                    <div class="form-group toolbar-pf-find">
                        <input name="search-text" id="search-text" type="text" class="form-control" autocomplete="off" placeholder="Search" ng-model="alertCntrl.searchDescText">
                        <button class="btn btn-link btn-find" type="button">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 horizontal-line"></div>
            </div>
            <div class="row toolbar-pf-results">
                <div class="severity-counts">
                    {{alertCntrl.filteredAlertList.length}}
                    <ng-pluralize count="alertCntrl.filteredAlertList.length" when="{'one': 'Alert', 'other': 'Alerts'}"></ng-pluralize>
                </div>
                <div class="severity-counts" ng-show="alertCntrl.severityList.warningAlerts.length" ng-click="alertCntrl.setSeverity('warning')">
                    <i class="pficon pficon pficon-warning-triangle-o"></i> {{alertCntrl.severityList.warningAlerts.length}}
                </div>
                <div class="severity-counts" ng-show="alertCntrl.severityList.errorAlerts.length" ng-click="alertCntrl.setSeverity('error')">
                    <i class="pficon pficon-error-circle-o"></i> {{alertCntrl.severityList.errorAlerts.length}}
                </div>
                <div class="severity-counts" ng-show="alertCntrl.severityList.infoAlerts.length" ng-click="alertCntrl.setSeverity('info')">
                    <i class="pficon pficon-info"></i> {{alertCntrl.severityList.infoAlerts.length}}
                </div>
                <div class="severity-counts">
                    <a href="" ng-click="alertCntrl.clearAllFilters()">Clear All Filters</a>
                </div>
            </div>
        </div>
    </div>
    <center ng-if="!alertCntrl.isDataLoading && alertCntrl.alertList.length === 0">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-cluster"></i>
            </div>
            <h1>No Alerts Detected</h1>
        </div>
    </center>
    <center ng-if="!alertCntrl.isDataLoading && alertCntrl.filteredAlertList.length === 0 && alertCntrl.alertList.length !== 0" class="empty-filter-list">
        <div class="blank-slate-pf">
            <div class="message">No results match the filter criteria</div>
            <div class="suggestion">
                <div class="title">Suggestions</div>
                <div>Please try selecting other filter criteria.</div>
            </div>
            <a href="" class="clear-filter-link" ng-click="alertCntrl.clearAllFilters()">Clear All Filters</a>
        </div>
    </center>
    <div ng-if="alertCntrl.isDataLoading" class="spinner spinner-lg"></div>
    <div class="flex-table list-group list-view-pf list-view-pf-view alert-list-table" ng-show="!alertCntrl.isDataLoading">
        <div class="ft-row list-group-item " ng-repeat="alert in alertCntrl.filteredAlertList = (alertCntrl.alertList | filter: alertCntrl.filterByCreatedDate| filter: alertCntrl.filterBySeverity | filter: alertCntrl.searchByDesc | filter: alertCntrl.searchBy | orderBy: ['-timeStamp', 'alertId'])">
            <div class="ft-column ft-icon">
                <i ng-class="{'pficon pficon-error-circle-o': (alert.severity === 'error'), 'pficon pficon-info': (alert.severity === 'info'), 'pficon pficon-warning-triangle-o': (alert.severity === 'warning')}"></i>
            </div>
            <div class="ft-column alert-type">
                {{alert.severity | capitalize}}
            </div>
            <div class="ft-column">
                <div>{{alert.desc || "NA"}}</div>
            </div>
            <div class="ft-column">
                <p>{{alert.timeStamp| date: 'dd MMM yyyy HH:mm:ss'}}</p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="alertCntrl.filteredAlertList.length !== 0">
        <div class="col-md-12 horizontal-line"></div>
    </div>
</div>
