.tendrl-alert-list-view-container {
    .status-options {
        padding-top: 10px;
        input[type=checkbox] {
            vertical-align: bottom;
            height: 20px;
            width: 20px;
        }
    }
    .alert-list-table {
        max-height: 65vh;
        overflow: auto;
        .list-group-item {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .date-selector {
        position: relative;
        .from-selector + .pficon,
        .to-selector + .pficon {
            position: absolute;
            top: 27px;
            right: 48px;
            z-index: 10;
            font-size: 13px;
            cursor: pointer;
        }
    }
    .disable-picker {
        pointer-events: none;
    }
    .severity-counts {
        padding: 10px 0;
        font-size: 14px;
        .counts {
            cursor: pointer;
        }
    }
    .filter-section {
        margin-top: 20px;
    }
    .toolbar-pf-action-right {
        margin-top: 20px;
        margin-right: 12px;
        position: relative;
        .btn-find {
            position: absolute;
            right: 1px;
            top: 0;
        }
    }
    .to-date-calendar {
        border-right: none;
    }
    .invalid-msg {
        margin-top: 21px;
    }
}
