<div ng-if="clusterData === null && !isAPINotFoundError" class="spinner spinner-lg"></div>
<div ng-if="clusterData !== null" class="tendrl-home-view-container">
    <div class="blank-slate-pf centered">
        <div class="blank-slate-pf-icon">
            <i class="pficon pficon-cluster"></i>
        </div>
        <div>
        	<h1><label>Welcome to the Tendrl Universal Storage Manager</label></h1>
        	<small> Create or import a cluster to get started. </small>
        </div>
        <div class="blank-slate-pf-main-action">
            <button class="btn btn-default btn-lg" ng-click="homeCntrl.importCluster()">Import Cluster</button>
            <button class="btn btn-default btn-lg" ng-click="homeCntrl.createCluster()">Create Cluster</button>
        </div>
    </div>
</div>
