.tendrl-login-view-container {
    .login-page {
        height: 100%;
    }
    .login-page #brand {
        position: relative;
        top: -60px;
        left: -50px;
    }
    .login-page #brand img {
        display: block;
        height: 25px;
        margin: 0 auto;
        max-width: 100%;
    }
    @media (min-width: 768px) {
        .login-page #brand img {
            margin: 0;
            text-align: left;
        }
    }
    .login-page #badge {
        display: block;
        margin: 20px auto 70px;
        position: relative;
        text-align: center;
    }
    @media (min-width: 768px) {
        .login-page #badge {
            float: right;
            margin-right: 64px;
            margin-top: 50px;
        }
    }
    .help-block{
        color: $color-red;
    }
    .login-page {
        background-image: url(../../images/bg-login.jpg);;
        background-size: auto;
        color: $color-white;
    }
    @media (min-width: 768px) {
        .login-page {
            background-size: 100% auto;
        }
    }
    .login-page .container {
        background-color: $color-nero-grey;
        background-color: rgba(255, 255, 255, 0.055);
        clear: right;
        padding-bottom: 40px;
        padding-top: 20px;
        width: auto;
    }
    @media (min-width: 768px) {
        .login-page .container {
            bottom: 13%;
            padding-left: 80px;
            position: fixed;
            width: 100%;
        }
    }
    .login-page .container .details p:first-child {
        border-top: 1px solid #474747;
        padding-top: 25px;
        margin-top: 25px;
    }
    @media (min-width: 768px) {
        .login-page .container .details {
            border-left: 1px solid #474747;
            padding-left: 40px;
        }
        .login-page .container .details p:first-child {
            border-top: 0;
            padding-top: 0;
            margin-top: 0;
        }
    }
    .login-page .container .details p {
        margin-bottom: 2px;
    }
    .login-page .container .form-horizontal .control-label {
        font-size: 13px;
        font-weight: 400;
        text-align: left;
    }
    .login-page .container .form-horizontal .form-group:last-child,
    .login-page .container .form-horizontal .form-group:last-child .help-block:last-child {
        margin-bottom: 0;
    }
    .login-page .container {
        color: $color-white;
    }
    @media (min-width: 768px) {
        .login-page .container .login {
            padding-right: 40px;
        }
    }
    .login-page .container .submit {
        text-align: right;
    }
    img.adjusted {
        position: fixed;
        z-index: -1;
        width: 100%;
        top: 0;
        left: 0;
    }
    .red-font {
        color: $color-red;
    }
    .text-heading {
        color: $color-white;
        font-size: large;
    }
    #brand{
        padding-left:30px;
    }
}
