<div class="tendrl-login-view-container">
    <img src="/images/bg-login.jpg" alt="" class="adjusted">
    <div class="login-page">
        <span id="badge">
            <img src="/images/logo.png" alt="Tendrl logo">
        </span>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="brand">
                        <img class="nav-brand-name brand-name-img" src="/images/name.png" alt="tendrl | Unified Storage Manager" />
                    </div>
                    <!--/#brand-->
                </div>
                <!--/.col-*-->
                <div class="col-sm-6 col-md-5 col-lg-3 login">
                    <div class="alert alert-danger" ng-if="loginCntrl.errorMsg.length > 0">
                        <span class="pficon pficon-error-circle-o"></span>
                        <label ng-bind="loginCntrl.errorMsg"></label>
                    </div>
                    <form class="form-horizontal" name="loginCntrl.signInForm" ng-submit="loginCntrl.login()">
                        <div class="form-group" ng-class="{'has-error': loginCntrl.signInForm.username.$dirty && loginCntrl.signInForm.username.$error.required }">
                            <label for="inputUsername" class="col-sm-3 col-md-3">Username</label>
                            <div class="col-sm-8 col-md-8">
                                <input class="form-control" id="username" tabindex="1" type="text" ng-model="loginCntrl.user.username" ng-trim="false" name="username" placeholder="Username" required />
                            </div>
                            <div>
                                <div class="col-sm-3 col-md-3"></div>
                                <span class="col-sm-8 col-md-8 help-block" ng-show="loginCntrl.signInForm.username.$dirty && loginCntrl.signInForm.username.$error.required">Username is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': loginCntrl.signInForm.username.$dirty && loginCntrl.signInForm.username.$error.required }">
                            <label for="inputPassword" class="col-sm-3 col-md-3">Password</label>
                            <div class="col-sm-8 col-md-8">
                                <input class="form-control" type="password" name="password" id="password" tabindex="2" placeholder="Password" ng-model="loginCntrl.user.password" required />
                            </div>
                            <div>
                                <div class="col-sm-3 col-md-3"></div>
                                <span class="col-sm-8 col-md-8 help-block" ng-show="loginCntrl.signInForm.password.$dirty && loginCntrl.signInForm.password.$error.required">Password is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4 col-md-offset-7 col-xs-offset-7 col-sm-offset-7 col-sm-4 col-md-4 submit">
                                <button type="submit" class="btn btn-primary btn-lg">
                                <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden" data-ng-class="{'hidden': loginCntrl.formSubmitInProgress !== true }">
                                </i>
                                <span class="submit-button-text">Log In</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/.col-*-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
</div>
