.tendrl-volume-bricks-view-container {
    .alert {
        margin-top: 10px;
    }

    .table-class {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ffont {
        font-size: 13px;
    }

    .toolbar-pf .form-group {
        border-right: 1px solid #d1d1d1;
        span {
            a {
                cursor: pointer;
            }
        }
    }
    .toolbar-pf .form-group:last-child {
        padding-left: 0;
        border-right: 0;
    }
    .toolbar-pf-results>span {
        display: none;
    }
    .collapse-link {
        margin-right: 10px;
    }
    margin-bottom: 10px;
    .sub-volume,
    .host-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
    }
    .container-fluid {
        .list-group {
            margin-bottom: 0px;
            .list-group-item {
                .list-group-item-header {
                    .list-view-pf-expand {
                        margin-top: 16px;
                        margin-bottom: 16px;
                        .fa-angle-down {
                            cursor: pointer;
                            font-size: 17px;
                            margin-right: 5px;
                            margin-top: 2px;
                            width: 10px;
                        }
                    }
                    .display {
                        display: block;
                    }
                    .list-group-item-heading {
                        width: 100% !important;
                    }
                }
                &.list-view-pf-expand-active {
                    border-color: $color-silver;
                }
                .list-view-pf-main-info {
                    .list-view-pf-description {
                        width: 20%;
                        flex: 1 0 15%;
                        @media screen and (max-device-width: 1024px) {
                            float: left;
                        }
                        .list-group-item-heading {
                            width: calc(25% - 20px);
                            text-transform: capitalize;
                        }
                        .list-group-item-text {
                            width: calc(65% - 125px);
                            text-overflow: ellipsis;
                        }
                    }
                    .list-view-pf-additional-info {
                        flex: 1 0 50%;
                        width: 123%;
                        @media screen and (max-device-width: 1024px) {
                            width: 80%;
                        }
                        .list-view-pf-additional-info-item {
                            flex: 1 0;
                            display: block;
                            max-width: 400px;
                            overflow: hidden;
                            text-align: left;
                        }
                    }
                }
                .list-group-item-container {
                    max-height: 242px;
                    overflow: auto;
                    border-top-color: $color-silver;
                    .list-group-item {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                    .list-header {
                        font-weight: bold;
                        margin-top: 20px;
                        .list-group-item {
                            padding-top: 0;
                            padding-bottom: 0;
                            height: 40px;
                        }
                        .hide-btn {
                            visibility: hidden;
                        }
                    }
                    .list-view-pf-main-info {
                        padding-top: 13px;
                        padding-bottom: 13px;
                        .list-view-pf-description {
                            flex: 1 0 1%;
                            @media screen and (max-device-width: 1024px) {
                                float: left;
                            }
                            .list-group-item-heading {
                                text-transform: none;
                                @media screen and (max-device-width: 1024px) {
                                    width: 85px;
                                    font-size: 12px;
                                }
                                @media screen and (min-width: 1024px) and (max-device-width: 1540px) {
                                    width: 85px;
                                    font-size: 12px;
                                }
                            }
                        }
                        .list-view-pf-additional-info {
                            @media screen and (max-device-width: 1024px) {
                                width: 80%;
                                height: 25px;
                            }
                            .disk-label {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .utilisation-chart {
                            flex: 1.5 !important;
                            display: block;
                            padding-left: 20px;
                        }
                    }
                    .brick-path {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-left: 0;
                        padding-right: 0;
                        text-align: start;
                    }
                }
            }
        }
    }
    .container-fluid {
        .list-view-pf-view {
            margin-top: 0;
        }
        .list-view-pf-description {
            flex: 1;
            max-width: 320px;
            @media screen and (min-width: 1024px) and (max-device-width: 1224px) {
                flex: 1 0 0%;
                max-width: 277px;
            }
        }
        .brick-table {
            padding-top: 6px;
        }
        .dashboard-button {
            border: 1px solid $color-silver;
        }
        .status-icons {
            font-size: 18px;
            vertical-align: sub;
            margin-right: 5px;
        }
    }
}
