<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="about">
                <button type="button" class="btnclose pficon pficon-close" ng-click="$hide()"></button>
                <div class="image">
                    <img src="images/about.png" alt="">
                </div>
                <div class="aboutContent">
                    <div class="aboutTitle">
                        <img class="nav-brand-name brand-name-img" src="images/name.png" alt="tendrl | Unified Storage Manager" />
                    </div>
                    <div>
                        <span class="aboutLabel">Version:  </span>&nbsp;
                        <span class="aboutText" ng-bind="request.about.ProductVersion"></span>
                    </div>
                    <div ng-repeat="(key, value) in request.about.StorageProviderDetails">
                        <span class="aboutLabel">Provider:  </span>&nbsp;
                        <span class="aboutText" ng-bind="key"></span>&emsp;
                        <span class="aboutLabel">Version:  </span>&nbsp;
                        <span class="aboutText" ng-bind="value"></span>
                    </div>
                    <div>
                        <span class="aboutLabel">Monitoring:  </span>&nbsp;
                        <span class="aboutText" ng-bind="request.about.MonitoringSoftware"></span>&emsp;
                        <span class="aboutLabel">Version:  </span>&nbsp;
                        <span class="aboutText" ng-bind="request.about.MonitoringSoftwareVer"></span>
                    </div>
                    <div>
                        <span class="aboutLabel">Database:  </span>&nbsp;
                        <span class="aboutText" ng-bind="request.about.DbSoftware"></span>&emsp;
                        <span class="aboutLabel">Version:  </span>&nbsp;
                        <span class="aboutText" ng-bind="request.about.DbSoftwareVersion"></span>
                    </div>
                    <div class="tradeMark">
                        <span ng-bind="request.about.copyright"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>