<ul class="dropdown-menu admin-dropdown">
 <li class="header pic-height">
    <div style="text-align: center;">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-user fa-stack-1x"></i>
    </span>
    </div>
 </li>
 <li class="dropdown-footer">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
          <a href="" class="btn btn-sm btn-primary" ng-click="request.mySettings()">
            <i class="fa fa-key"></i>
            change password
          </a>
      </div>
      <div class="btn-group">
          <a href="" class="btn btn-sm btn-success" ng-click="request.logoutUser()">
            <i class="fa fa-sign-out"></i>
            signout
          </a>
      </div>
    </div>
  </li>
</ul>
