<ul class="dropdown-menu alert-dropdown"> 
	<li class="header">
    <i class="fa fa-bell"></i> Events
    <span class="badge pull-right count">{{request.events.length}}</span>
  </li>
	<li>
    <div class="content" ng-class="request.events.length > 5 ? 'div-with-scroll': ''">
      <ul class="list-unstyled">
      	<li class="task-item" ng-repeat="event in request.events">
                    <span class="pficon pficon-error-circle-o critical " ng-if="event.severity===1 || event.severity===2"></span>
                    <span class="pficon pficon-warning-triangle-o warning" ng-if="event.severity===0  || event.severity===3 || event.severity===4"></span>
          <div class="task-item-text"><a ng-href="#/events/{{event.event_id}}">{{event.message}} </a></div>
        </li>
      </ul>
    <div>
  </li>
  <li class="dropdown-footer"></li>
</ul>
