<ul class="dropdown-menu progress-dropdown">
  <li class="header"><i class="fa fa-desktop"></i> Discovered Hosts </li>
  <li>
    <div class="content">
      <ul class="list-unstyled">
        <li class="task-item main-navigation" ng-repeat="discoveredHost in discoveredHosts" ng-click="$event.stopPropagation()">
          <div>
            <label ng-bind="discoveredHost.hostname"></label>
              <span  class="fa fa-lg fa-check-circle-o verified-col-icon left-check-icon" ng-show="discoveredHost.state === 'ACCEPTED'"></span>
            <button class="btn btn-default pull-right" type="button" ng-show="discoveredHost.state === 'UNACCEPTED' || discoveredHost.state === 'ACCEPTING'"ng-click="acceptHost(discoveredHost);" ng-disabled="discoveredHost.state === 'ACCEPTING'"> 
              <span class="fa fa-check" ng-show="discoveredHost.state==='UNACCEPTED'">    Accept
              </span>
              <div class="ng-hide" ng-show="discoveredHost.state==='ACCEPTING'">
              <span class="fa fa-spinner fa-spin"></span> Accepting</div>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="dropdown-footer">
    <div class="btn-group btn-group-justified">
      <div class="btn-group" ng-click="$event.stopPropagation()">
          <a href="" class="btn btn-sm btn-primary" ng-click="acceptAllHosts();">
            <i class="fa fa-check"></i>
            Accept All
          </a>
      </div>
      <div class="btn-group">
         <button class="btn btn-sm btn-success" ng-click="openDiscoveredHostsModel();">
          See All
          <i class="fa fa-arrow-right"></i>
         </button>
      </div>
    </div>
  </li>
</ul>
