.cluster-detail-osd {

    margin-top: 15px;

    .scroll-for-filter {
        height: 325px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .search-by-hidden {
        visibility: hidden;
    }

    .panel-group-expand {
        display: block;
    }

    .panel-group-collapse {
        display: none;
    }

    .left-sidebar {
        border-right: 1px solid #000000;
        position: fixed;
        top: 219px;
        bottom: 0;
        height: 100%;
        overflow: visible;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1,1);
        z-index: 1000;
        padding: 2px;
        margin-left: -21px;
    }

    .left-sidebar-expand {
        width: 250px;
    }

    .left-sidebar-collapse {
        width: 16px;
    }

    /* For different screen resulation */
    @media(max-width: 1780px) {
        .left-sidebar-expand {
            width: 200px;
        }
    }

    @media(max-width: 1400px) {
        .left-sidebar-expand {
            width: 150px;
        }
    }

    @media(max-width: 1200px) {
        .left-sidebar-expand {
            display: none;
        }
    }

    .separator {
        margin-top: 15px !important;
    }

    .selected-osd-detail {
        margin-top: 12px;
        .detail-content {
            margin-top: -8px;
        }
    }

    .nested-checkbox {
        margin-left: 18px;
    }

    .radio-button-separator {
        margin-left: 5px;
    }

    .down-color {
        color: #cc0000;
    }

    .right-sidebar {
        border-left: 1px solid #000000;
        margin-left: 43px;
        margin-top: -120px;
    }

    .right-sidebar-contain {
        padding-left: 28px;
    }

    .osd-box {
        display: inline-block;
        min-width: 130px;
        width: 100%;
        border-radius: 2px;
        box-shadow: 3px 3px 11px black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .osd-box .osd-box-content {
        padding: 10px 10px;
    }

    .osd-box .osd-box-osd-name {
        font-size: 15px;
        margin: 2px;
        word-wrap: break-word;
    }

    .osd-box .osd-box-osd-weight {
        display: block;
        font-size: 15px;
        line-height: 26px;
        margin: 2px;
        word-wrap: break-word;
        height: 38px;
    }

    .osd-box .custom-progress {
        margin-bottom: 0px;
    }

    .osd-box .progress-bar-full {
        background-color: #cc0000;
    }

    .osd-box .progress-bar-near-full {
        background-color: #ec7a08;
    }

    .osd-box .progress-bar-average {
        background-color: #00659c;
    }

    .osd-box .progress-bar-normal {
        background-color: #7dc3e8;
    }

    .selected-osd {
        border: 3px solid #199dde;
        height: 85px;
    }

    .show-inline {
        display: flex;
    }

    .custom-panel-heading {
        margin-top: 10px;
    }

}
