.form-page {
    height: 100%;
    margin-left: -20px;
    padding-left: 20px;
    .form-header {
        margin-left: -20px;
        margin-top: -40px;
        margin-right: -20px;
        margin-bottom: 20px;
        height: 100px;
        padding: 20px;
        background-color: #F5F5F5;
        border-bottom: 1px solid;
        border-color: #DDD;
    }
    .form-body {
        padding-top: 20px;
    }
    .form-footer{
    }
}

.storage-new {
    .storage-group {
        padding-bottom: 20px;
        padding-right: 20px;
    }
    .storage-item {
        background-color: #F5F5F5;
        padding-left: 5px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        .header {
            font-size: 14px;
            max-width: 300px;
            .title {
                margin-left: 2px;
                text-transform: capitalize;
            }
            .desc {
                margin-left: 20px;
            }
        }
        .disabled {
            opacity: 0.4;
        }
    }
    .storage-pool {
        background-color: #F5F5F5;
        border: 1px solid #DDD;
        margin-bottom: 10px;
        .title {
            margin-top: 10px;
            margin-left: 10px;
            font-weight: 600;
            display: block;
        }
        .value {
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 5px;
            font-size: 15px;
            font-weight: 500;
        }
        .replica-edit {
            max-width: 120px;
            transition: none;
        }
        .capacity-edit {
            max-width: 120px;
            .size-selector {
                min-width: 50px;
            }
        }
        .actions {
            margin-top: 15px;
            font-size: 20px;
            text-align: center;
            span {
                margin-right: 10px;
                cursor: pointer;
                &:hover {
                    font-size: 22px;
                }
            }
        }
    }
    .size-selector {
        min-width: 50px;
    }

    [data-ttip] {
      position: absolute;
      z-index: 2;
    }

    [data-ttip]:before {
      position: absolute;
      bottom: 120%;
      left: 50%;
      margin-bottom: 5px;
      margin-left: -80px;
      padding: 7px;
      width: 100px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #000;
      background-color: rgba(51, 51, 51, 0.9);
      color: #fff;
      content: attr(data-ttip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
    }

    [data-ttip]:after {
      position: absolute;
      bottom: 120%;
      left: 50%;
      margin-left: -5px;
      width: 0;
      border-top: 5px solid #000;
      border-top: 5px solid rgba(51, 51, 51, 0.9);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }

    [data-ttip]:before, [data-ttip]:after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }

    .tooltipped:hover [data-ttip]:before, .tooltipped:hover [data-ttip]:after {
      visibility: visible;
      opacity: 1;
    }

}
