<div class="cluster-overview-detail">
    <div class="row">
        <!-- Card Part -->
        <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="card-pf card-pf-with-action custom-height">
                        <div class="row card-pf-heading">
                            <h2 class="card-pf-title">
                                Utilization
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-pf-body">
                                    <center><div ng-if="clusterdetail.isLoading.clusterUtilizationData" class="spinner"></div></center>
                                    <div ng-if="!clusterdetail.isLoading.clusterUtilizationData">
                                        <div ng-if="clusterdetail.clusterUtilization.data.total === 0" class="empty-chart-content no-data-available">
                                            <span class="pficon pficon-info"></span>
                                            <span>No data available</span>
                                        </div>
                                        <div ng-if="clusterdetail.clusterUtilization.data.total > 0">
                                            <div pf-donut-pct-chart-fixed>
                                                <div pf-donut-pct-chart config="clusterdetail.clusterUtilization.config" data="clusterdetail.clusterUtilization.data" center-label="clusterdetail.clusterUtilization.label">
                                                </div>
                                            </div>
                                            <p><small class="cluster-size-label"><label>{{clusterdetail.capacity.used | bytes }}</label> of {{clusterdetail.capacity.total | bytes}} Used</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 cluster-utilization">
                                <div class="row margin-for-storage-profile">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <center><div ng-if="clusterdetail.isLoading.trendsChartsData" class="spinner"></div></center>
                                        <div ng-if="!clusterdetail.isLoading.trendsChartsData">
                                            <div ng-if="clusterdetail.trendsCharts.overall.data.total>0" pf-trends-chart config="clusterdetail.trendsCharts.overall.config" chart-data="clusterdetail.trendsCharts.overall.data">
                                            </div>
                                            <div class="pull-left" ng-if="clusterdetail.trendsCharts.overall.data.dataAvailable">Last 24 hours</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="card-pf custom-height">
                                <div class="card-pf-heading">
                                    <h2 class="card-pf-title">
                                        Most Used Storage Profiles
                                    </h2>
                                </div>
                                <div class="card-pf-body">
                                    <center><div ng-if="clusterdetail.isLoading.summaryData" class="spinner"></div></center>
                                    <div ng-if="!clusterdetail.isLoading.summaryData" ng-repeat="profile in clusterdetail.utilizationByProfile.profiles"
                                    pf-utilization-bar-chart chart-data="profile.usage" chart-title="profile.subtitle"
                                    threshold-error="clusterdetail.utilizationByProfile.threshold.critical" threshold-warning="clusterdetail.utilizationByProfile.threshold.warning"
                                    footer-label-format='percent'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second row -->
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <span ng-if="!clusterdetail.isLoading.summaryData">{{clusterdetail.hosts.total}}</span> Hosts
                        </h2>
                        <div class="card-pf-body">
                            <center><div ng-if="clusterdetail.isLoading.summaryData" class="spinner"></div></center>
                            <p ng-if="!clusterdetail.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.hosts.error>0" class="card-pf-aggregate-status-notification"><a ng-href="#/clusters/{{clusterdetail.id}}?status=error&status=warning&tab=Hosts" title="{{clusterdetail.hosts.error}} hosts down">
                                    <span class="fa fa-arrow-circle-o-down"></span>
                                    <span>{{clusterdetail.hosts.error}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.hosts.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?alarmstatus=critical&alarmstatus=major&tab=Hosts" title="{{clusterdetail.hosts.criticalAlerts}} active alerts">
                                    <span class="pficon pficon-warning-triangle-o"></span>
                                    <span>{{clusterdetail.hosts.criticalAlerts}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.hosts.error===0 && clusterdetail.hosts.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                    <span class="pficon pficon-ok"></span>
                                </span>
                                <span ng-if="clusterdetail.hosts.unaccepted>0" class="card-pf-aggregate-status-notification"><a ng-href="/#/clusters/new/accept-hosts?from={{currentURI}}" title="{{clusterdetail.hosts.unaccepted}} hosts discovered">
                                    <span class="pficon pficon-add-circle-o"></span>
                                    <span>{{clusterdetail.hosts.unaccepted}}</span></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <span ng-if="!clusterdetail.isLoading.summaryData">{{clusterdetail.monitors.total}}</span> Monitors
                        </h2>
                        <div class="card-pf-body">
                            <center><div ng-if="clusterdetail.isLoading.summaryData" class="spinner"></div></center>
                            <p ng-if="!clusterdetail.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.monitors.down>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?status=error&status=warning&role=MON&tab=Hosts" title="{{clusterdetail.monitors.down}} monitors down">
                                    <span class="fa fa-arrow-circle-o-down"></span>
                                    <span>{{clusterdetail.monitors.down}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.monitors.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?alarmstatus=critical&alarmstatus=major&role=MON&tab=Hosts" title="{{clusterdetail.monitors.criticalAlerts}} active alerts">
                                    <span class="pficon pficon-warning-triangle-o"></span>
                                    <span>{{clusterdetail.monitors.criticalAlerts}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.monitors.down===0 && clusterdetail.monitors.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                    <span class="pficon pficon-ok"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <span ng-if="!clusterdetail.isLoading.summaryData">{{clusterdetail.pgs.total}}</span> PGs
                        </h2>
                        <div class="card-pf-body">
                            <center><div ng-if="clusterdetail.isLoading.summaryData" class="spinner"></div></center>
                            <p ng-if="!clusterdetail.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.pgs.error>0" class="card-pf-aggregate-status-notification" ng-attr-title="There are {{clusterdetail.pgs.error}} Placement Groups that are in an error state that require your attention.  Please refer to Red Hat Ceph Storage documentation on troubleshooting placement groups.">
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <span>{{clusterdetail.pgs.error}}</span>
                                </span>
                                <span ng-if="clusterdetail.pgs.warning>0" class="card-pf-aggregate-status-notification" ng-attr-title="There are {{clusterdetail.pgs.warning}} Placement Groups that are degraded.  Ceph is currently working to resolve any inconsistencies it finds (if possible).  Ceph will replay, split, scrub, repair, recover, backfill, and remap placement groups as applicable.  No actions needed.">
                                    <span class="pficon pficon-warning-triangle-o"></span>
                                    <span>{{clusterdetail.pgs.warning}}</span>
                                </span>
                                <span ng-if="clusterdetail.pgs.error===0 && clusterdetail.pgs.warning===0" class="card-pf-aggregate-status-notification" title="All Placement Groups are clean and OK.">
                                    <span class="pficon pficon-ok"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- Second row end -->

            <!-- Third row -->
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <span ng-if="!clusterdetail.isLoading.summaryData">{{clusterdetail.pools.total}}</span> Pools
                        </h2>
                        <div class="card-pf-body">
                            <center><div ng-if="clusterdetail.isLoading.summaryData" class="spinner"></div></center>
                            <p ng-if="!clusterdetail.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.pools.down>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?status=error&status=warning&tab=Pools" title="{{clusterdetail.pools.down}} pools down">
                                    <span class="fa fa-arrow-circle-o-down"></span>
                                    <span>{{clusterdetail.pools.down}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.pools.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?alarmstatus=critical&alarmstatus=major&tab=Pools" title="{{clusterdetail.pools.criticalAlerts}} active alerts">
                                    <span class="pficon pficon-warning-triangle-o"></span>
                                    <span>{{clusterdetail.pools.criticalAlerts}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.pools.down===0 && clusterdetail.pools.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                    <span class="pficon pficon-ok"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <span ng-if="!clusterdetail.isLoading.summaryData">{{clusterdetail.osds.total}}</span> OSDs
                        </h2>
                        <div class="card-pf-body">
                            <center><div ng-if="clusterdetail.isLoading.summaryData" class="spinner"></div></center>
                            <p ng-if="!clusterdetail.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.osds.down>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?active_filter=osd_status&filter_name=Down-In&filter_name=Down&tab=OSDs" title="{{clusterdetail.osds.down}} OSDs down">
                                    <span class="fa fa-arrow-circle-o-down"></span>
                                    <span>{{clusterdetail.osds.down}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.osds.nearfull>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?active_filter=utilization&filter_name=Full&tab=OSDs" title="{{clusterdetail.osds.nearfull}} OSDs full or near full">
                                    <span class="pficon pficon-resources-almost-full"></span>
                                    <span>{{clusterdetail.osds.nearfull}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.osds.criticalAlerts>0" class="card-pf-aggregate-status-notification"><a href="#/clusters/{{clusterdetail.id}}?active_filter=osd_status&filter_name=Up-Out&filter_name=Down-In&filter_name=Down&tab=OSDs" title="{{clusterdetail.osds.criticalAlerts}} active alerts">
                                    <span class="pficon pficon-warning-triangle-o"></span>
                                    <span>{{clusterdetail.osds.criticalAlerts}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.osds.down===0 && clusterdetail.osds.nearfull===0 && clusterdetail.osds.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                    <span class="pficon pficon-ok"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <span ng-if="!clusterdetail.isLoading.summaryData">{{clusterdetail.objects.total}}</span> Objects
                        </h2>
                        <div class="card-pf-body">
                            <center><div ng-if="clusterdetail.isLoading.summaryData" class="spinner"></div></center>
                            <p ng-if="!clusterdetail.isLoading.summaryData" class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.objects.criticalAlerts>0" class="card-pf-aggregate-status-notification">
                                    <span class="pficon pficon-warning-triangle-o"></span>
                                    <span>{{clusterdetail.objects.criticalAlerts}}</span>
                                </span>
                                <span ng-if="clusterdetail.objects.criticalAlerts===0" class="card-pf-aggregate-status-notification">
                                    <span class="pficon pficon-ok"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- Third row end-->

            <!-- Fourth row -->
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <h3 class="pull-left system-performance">System Performance</h3>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7">
                                <span class="pull-right time-slot">
                                    <span class="add-cursor-pointer" data-animation="am-flip-x" data-template="views/clusters/cluster-time-slot-dropdown.tpl.html" bs-dropdown="ellipsis">{{clusterdetail.selectedTimeSlot.name}}<b class="caret"></b>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card-pf-body">
                                    <center><label>CPU</label></center>
                                    <div ng-if="clusterdetail.systemUtilization.cpu.data.total === 0">
                                        <div class="empty-chart-content no-data-available">
                                            <span class="pficon pficon-info"></span>
                                            <span>No data available</span>
                                        </div>
                                    </div>
                                    <div ng-if="clusterdetail.systemUtilization.cpu.data.total > 0">
                                        <div pf-donut-pct-chart-fixed>
                                            <div pf-donut-pct-chart config="clusterdetail.systemUtilization.cpu.config" data="clusterdetail.systemUtilization.cpu.data" center-label="clusterdetail.systemUtilization.cpu.label">
                                            </div>
                                        </div>
                                    </div>
                                    <center><div ng-if="clusterdetail.isLoading.trendsChartsData" class="spinner"></div></center>
                                    <div ng-if="!clusterdetail.isLoading.trendsChartsData" pf-trends-chart config="clusterdetail.trendsCharts.cpu.config" chart-data="clusterdetail.trendsCharts.cpu.data">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card-pf-body">
                                    <center><label>Memory</label></center>
                                    <div ng-if="clusterdetail.systemUtilization.memory.data.total === 0">
                                        <div class="empty-chart-content no-data-available">
                                            <span class="pficon pficon-info"></span>
                                            <span>No data available</span>
                                        </div>
                                    </div>
                                    <div ng-if="clusterdetail.systemUtilization.memory.data.total > 0">
                                        <div pf-donut-pct-chart-fixed>
                                            <div pf-donut-pct-chart config="clusterdetail.systemUtilization.memory.config" data="clusterdetail.systemUtilization.memory.data" center-label="clusterdetail.systemUtilization.memory.label">
                                            </div>
                                        </div>
                                    </div>
                                    <center><div ng-if="clusterdetail.isLoading.trendsChartsData" class="spinner"></div></center>
                                    <div ng-if="!clusterdetail.isLoading.trendsChartsData" pf-trends-chart config="clusterdetail.trendsCharts.memory.config" chart-data="clusterdetail.trendsCharts.memory.data">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="card-pf-body">
                                    <center><div ng-if="clusterdetail.isLoading.trendsChartsData" class="spinner"></div></center>
                                    <div ng-if="!clusterdetail.isLoading.trendsChartsData" pf-trends-chart config="clusterdetail.trendsCharts.iops.config" chart-data="clusterdetail.trendsCharts.iops.data"></div>
                                </div>
                                <div class="card-pf-body">
                                    <center><div ng-if="clusterdetail.isLoading.trendsChartsData" class="spinner"></div></center>
                                    <div ng-if="!clusterdetail.isLoading.trendsChartsData" pf-trends-chart config="clusterdetail.trendsCharts.throughput.config" chart-data="clusterdetail.trendsCharts.throughput.data"></div>
                                </div>
                                <div class="card-pf-body">
                                    <center><div ng-if="clusterdetail.isLoading.trendsChartsData" class="spinner"></div></center>
                                    <div ng-if="!clusterdetail.isLoading.trendsChartsData" pf-trends-chart config="clusterdetail.trendsCharts.latency.config" chart-data="clusterdetail.trendsCharts.latency.data"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Fourth row end -->
        </div>

        <!-- Utilization SideBar -->
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="card-pf" ng-if="clusterdetail.mostUsedPools.length>0">
                        <div class="card-pf-heading">
                            <h2 class="card-pf-title">
                                Most Used Pools
                            </h2>
                        </div>
                        <div class="card-pf-body">
                            <div ng-repeat="data in clusterdetail.mostUsedPools" pf-utilization-bar-chart chart-data="data.data" chart-title="data.title" threshold-error="85" threshold-warning="60" layout=layoutInline footer-label-format='percent'>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- End of Fisrt Big row -->
</div>
