<div class="cluster-volumes-panel">
  <h3>
    Pools
    <button class="btn btn-primary pull-right" ng-click="isAddPool = true;">Add</button>
  </h3>
</div>

<div class="row cluster-add-host-row" ng-show="isAddPool">
  <div class="col-md-3">
    <input type="text" class="form-control" ng-model="cluster.newPool.name" placeholder="Name"> </input>
  </div>
  <div class="col-md-3">
    <select pf-select ng-model="cluster.newPool.copyCount" id="" class="form-control" ng-options="copyCount for copyCount in cluster.newPool.copyCountList" ng-change=""></select>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" ng-model="cluster.newPool.pgNum" placeholder="Placement Groups"> </input>
  </div>
  <div class="col-md-3">
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="cluster.addNewPool(cluster.newPool)">
        Ok
      </button>
      <button class="btn btn-default" ng-click="isAddPool = false;">Cancel</button>
    </div>
  </div>
</div>

<table class="table table-hover table-bordered table-volumes">
  <thead>
    <tr>
      <th> Pool Name </th>
      <th> No.of Copies (Size)</th>
      <th> Placement Groups</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="pool in cluster.pools">
        <td>{{pool.name}}</td>
        <td>{{pool.copyCount}}</td>
        <td>{{pool.pgNum}}</td>
      </tr>
  </tbody>
</table>
