<div class="cluster-configuration">
  <form name="form" class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="col-md-2 control-label" for="textInput">Name</label>
      <div class="col-md-6">
        <input type="text" id="textInput" name="clusterName" ng-class="form.clusterName.$error.required && form.clusterName.$touched ? 'form-control textbox-with-red-border': 'form-control'" ng-model="cluster.clusterName" autofocus required=""></input>
      </div>
      <div ng-show="form.clusterName.$touched">
        <div ng-show="form.clusterName.$error.required" class="error-validation-msg">Cluster name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="journalSizeValue">Journal Size</label>
      <div class="col-md-3">
        <div class="input-group">
          <input type="number" id="journalSizeValue" name="journalSizeValue" ng-model="cluster.journalSize.value" min="1" max="10240" required class="journal-size-value">
          <div class="input-group-btn journal-size-unit">
            <select pf-select="" ng-model="cluster.journalSize.unit" id="journalSizeUnit" name="journalSizeUnit" class="form-control"
              ng-options="unit for unit in cluster.sizeUnits"></select>
          </div>
        </div>
      </div>
      <div ng-show="!form.journalSizeValue.$valid">
        <div ng-show="form.journalSizeValue.$error.min || form.journalSizeValue.$error.max" class="error-validation-msg">Invalid journal size. Specify a journal size value between 1 and 10240.</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-2">
        <p class="text-info">
           <label class="fa fa-exclamation-circle"></label>
           Automatic cluster expansion will be enabled, whenever new disks or host added to this cluster, it will expand automatically.
        </p>
      </div>
    </div>
  </form>
</div>
