<div class="container-fluid padding clusters">
    <div class="page-header page-header-bleed-right">
        <h1>Clusters</h1>
    </div>
    <div class="row" ng-if="clusters.clusterList.length > 0">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
        <div class="col-md-6">
            <ul>
                <span class="list-inline" ng-repeat="(key, value) in clusters.paramsObject">
                    <li ng-if="clusters.isArray(value)" ng-repeat="subdata in value">
                        <span class="label label-info">
                        {{key}} : {{subdata}}
                         <a href="" ng-click="clusters.clearSearchQuery(key,$index)"><span class="pficon pficon-close cross-button"></span></a>
                        </span>
                    </li>
                    <li ng-if="!clusters.isArray(value)">
                        <span class="label label-info">
                        {{key}} : {{value}}
                         <a href="" ng-click="clusters.clearSearchQuery(key,null)"><span class="pficon pficon-close cross-button"></span></a>
                        </span>
                    </li>
                </span>
            </ul>
        </div>
        <div class="col-md-3">
            <span class="pull-right">
            <button class="btn btn-primary btn-lg" ng-click="clusters.createNewCluster()">Create</button>
            <button class="btn btn-default btn-lg" ng-click="clusters.importCluster()">Import</button>
            </span>
        </div>
    </div>
    <center ng-if="clusters.clusterList.length == 0">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="pficon pficon-cluster"></i>
            </div>
            <h1>Create or Import a Cluster to get Started</h1>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" ng-click="clusters.createNewCluster()">Create Cluster</button>
                <button class="btn btn-default btn-lg" ng-click="clusters.importCluster()">Import Cluster</button>
            </div>
        </div>
    </center>
    <div class="list-group list-view-pf" ng-repeat="cluster in clusters.clusterList | filter:search">
        <div class="list-group-item">
            <div class="list-view-pf-actions">
                <div class="dropdown pull-right dropdown-kebab-pf">
                    <button aria-expanded="false" aria-haspopup="true" bs-dropdown="dropdown" id="dropdownKebabRight" type="button" class="btn btn-link dropdown-toggle">
                        <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul aria-labelledby="dropdownKebabRight" role="menu" class="dropdown-menu dropdown-menu-right" ng-if="cluster.state !== 4">
                        <li ng-if="clusters.isExpandAvailable(cluster.state)"><a ng-click="clusters.expandCluster(cluster.clusterid, cluster.state)"><i class="fa fa-plus"></i> Expand</a></li>
                        <li ng-if="clusters.isManageAvailable(cluster.state)"><a ng-click="clusters.enableCluster(cluster.clusterid, cluster.state)"><i class="fa fa-check"></i> Manage</a></li>
                        <li ng-if="clusters.isUnManageAvailable(cluster.state)"><a ng-click="clusters.disableCluster(cluster.clusterid, cluster.state)"><i class="fa fa-times"></i> UnManage</a></li>
                        <li class="divider" role="separator"></li>
                        <li ng-if="clusters.isForgetAvailable(cluster.state)"><a ng-click="clusters.removeCluster(cluster.clusterid, cluster.state)"><i class="fa fa-trash"></i> Forget</a></li>
                    </ul>
                </div>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="pficon-running fa-spin fa-2x" ng-if="cluster.state === 0" title="Creating"></span>
                    <span class="pficon-error-circle-o fa-2x" ng-if="cluster.state === 1" title="Failed"></span>
                    <span class="fa fa-wrench fa-2x" ng-if="cluster.state === 3" title="Unmanaged"></span>
                    <span class="fa fa-refresh fa-2x" ng-if="cluster.state === 4" title="Syncing"></span>
                    <span class="pficon-ok fa-2x" ng-if="cluster.state === 2 && cluster.status == 0" title="Ok"></span>
                    <span class="pficon-warning-triangle-o fa-2x" ng-if="cluster.state === 2 && cluster.status === 1" title="Warning"></span>
                    <span class="pficon-error-circle-o fa-2x" ng-if="cluster.state === 2 && cluster.status === 2" title="Error"></span>
                    <span class="pficon-warning-triangle-o fa-2x" ng-if="cluster.state === 2 && cluster.status === 3" title="Unknown"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-additional-info justify-equal-space-around">
                        <div class="list-view-pf-additional-info-item">
                            <strong>
                                <a ng-if="cluster.state === 2" ng-href="#/clusters/{{cluster.clusterid}}" ng-bind="cluster.cluster_name"></a>
                                <p ng-if="cluster.state !== 2" ng-bind="cluster.cluster_name"></p>
                            </strong>
                        </div>
                            <div class="list-view-pf-additional-info-item" ng-if="cluster.state === 0">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        <span>Creating</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info-item" ng-if="cluster.state !== 0">
                                <c3chart bindto-id="donut-pool-usage-chart-{{$index}}" ng-if="cluster.total_size>0" sort-data="null">
                                    <chart-column column-id="Free" column-values="{{100 - cluster.percent_used | number:1}}" column-color="#CCCCCC" column-type="donut"
                                    />
                                    <chart-column column-id="Using" column-values="{{cluster.percent_used | number:1}}" column-color="{{cluster.percent_used >= 90 ? '#CC0000' : cluster.percent_used >= 75 ? '#EC7A08' : '#3F9C35'}}"
                                    column-type="donut" />
                                    <chart-donut title="{{cluster.percent_used | number:1}}%" width="5" show-label="false" />
                                    <chart-legend show-legend="false"></chart-legend>
                                    <chart-size chart-height="80"></chart-size>
                                    <chart-tooltip show-tooltip="false"></chart-tooltip>
                                </c3chart>
                                <div ng-class="{'overlap-donut-left' : (cluster.percent_used > 0)}">
                                <strong ng-bind=" cluster.total_size - cluster.free_size | bytes "></strong> of {{ cluster.total_size | bytes
                                }} used</div>
                            </div>
                        <div class="list-view-pf-additional-info-item">
                            <strong ng-bind="cluster.iops | bytes"></strong> IOPS
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-container-node"></span>
                            <strong>
                                <a ng-if="cluster.state === 2" ng-href="#/clusters/{{cluster.clusterid}}?tab=Hosts" ng-bind="cluster.no_of_hosts"></a>
                                <p ng-if="cluster.state !== 2" ng-bind="cluster.no_of_hosts"></p>
                            </strong> Hosts
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="fa  fa-database"></span>
                            <strong>
                                <a ng-if="cluster.state === 2" ng-href="#/clusters/{{cluster.clusterid}}?tab=Pools" ng-bind="cluster.no_of_volumes_or_pools"></a>
                                <p ng-if="cluster.state !== 2" ng-bind="cluster.no_of_volumes_or_pools"></p>
                            </strong> Pools
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon" ng-class="(cluster.almwarncount + cluster.almcritcount)>0? ((cluster.almcritcount > 0)?'pficon-error-circle-o' : 'pficon-warning-triangle-o' ):'pficon-ok'"></span>
                            <a ng-href="#/events?clustername={{cluster.cluster_name}}" ng-if="(cluster.almwarncount + cluster.almcritcount) > 0"><strong>{{cluster.almwarncount + cluster.almcritcount}} </strong>Alerts</a>
                            <strong ng-if="(cluster.almwarncount + cluster.almcritcount) < 1">0 Alerts</strong>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>