<div class="row wizard-top">
  <div class="col-sm-12 col-md-12">
    <h1>Create Cluster</h1>
    <div class="wizard">
      <div ng-class="cluster.step == 1 ? 'active' : (cluster.step > 1 ? 'visited' : 'default')">
        <div class="wizard-step-dot"><i class="fa fa-circle"></i></div>
        <div class="step-text">1. Configure Cluster</div>
      </div>
      <div ng-class="cluster.step == 2 ? 'active' : (cluster.step > 2 ? 'visited' : 'default')">
        <div class="wizard-step-dot"><i class="fa fa-circle"></i></div>
        <div class="step-text">2. Select Hosts</div>
      </div>
      <div ng-class="cluster.step == 3 ? 'active' : (cluster.step > 3 ? 'visited' : 'default')">
        <div class="wizard-step-dot"><i class="fa fa-circle"></i></div>
        <div class="step-text">3. Provision Storage</div>
      </div>
      <div ng-class="cluster.step == 4 ?  'active' : (cluster.step > 4 ? 'visited' : 'default')">
        <div class="wizard-step-dot-last"><i class="fa fa-circle"></i></div>
        <div class="step-text">4. Review Summary</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="content no-left-padding" ng-switch on="cluster.step">
      <div ng-switch-when="1" >
        <div ng-include src="'views/clusters/clusters-new-configure.html'"> </div>
      </div>
      <div ng-switch-when="2">
        <div ng-include src="'views/clusters/clusters-new-hosts.html'"> </div>
      </div>
      <div ng-switch-when="3">
        <div ng-include src="'views/clusters/clusters-new-options.html'"> </div>
      </div>
      <div ng-switch-when="4">
        <div ng-include src="'views/clusters/clusters-new-summary.html'"> </div>
      </div>
    </div>
    <div>
     <div ng-class="(cluster.step === 1) ? 'row wizard-buttons':''">
       <div ng-class="(cluster.step === 1) ? 'col-md-12' : ''">
          <button type="button" class="btn btn-default" ng-show='cluster.isCancelAvailable()' ng-click='cluster.cancel()'>Cancel</button>
          <button type="button" class="btn btn-default" ng-show='!cluster.isCancelAvailable()' ng-click='cluster.moveStep(-1)'>&lt;&nbsp;&nbsp;Back</button>
          <button type="button" class="btn btn-default" ng-show='!cluster.isSubmitAvailable()' ng-click='cluster.moveStep(1)' ng-disabled=" cluster.step === 2 && cluster.deploymentType.nodeCount > cluster.filtered.length">Next&nbsp;&nbsp;&gt;</button>
          <button type="button" class="btn btn-primary" ng-show='cluster.isSubmitAvailable()' ng-click='cluster.submit()'>Create Cluster</button>
       </div>
     </div>
   </div>
  </div><!-- /col -->
</div> <!-- /row -->
