<div class="cluster-detail">
    <div>
        <ol class="breadcrumb custom-breadcrumb">
            <li><a ng-href="#/clusters">Clusters</a></li>
            <li>
                <span ng-if="clusterdetail.cluster.enabled && clusterdetail.cluster.status===0" class="pficon pficon-ok"></span>
                <span ng-if="clusterdetail.cluster.enabled && clusterdetail.cluster.status===1" class="pficon pficon-warning-triangle-o"></span>
                <span ng-if="clusterdetail.cluster.enabled && clusterdetail.cluster.status===2" class="pficon pficon-error-circle-o"></span>
                <span ng-if="clusterdetail.clusterList.length > 1" class="add-cursor-pointer" data-animation="am-flip-x" data-template="views/clusters/cluster-list-menu-dropdown.tpl.html" bs-dropdown="ellipsis">
                    {{clusterdetail.cluster.name}}  <b class="caret"></b>
                </span>
                <span ng-if="clusterdetail.clusterList.length === 1">
                    {{clusterdetail.cluster.name}}
                </span>
            </li>
        </ol>
        <ul class="nav nav-tabs">
            <li ng-repeat="(key,value) in clusterdetail.tabList" ng-class="clusterdetail.isSet(value)? 'active':''">
                <a href="" ng-click="clusterdetail.setTab(value)" ng-bind="key">
                </a>
            </li>
        </ul>
    </div>

    <!-- FIRST TAB CONTENT -->
    <div ng-if="clusterdetail.isSet(clusterdetail.tabList.Overview)" ng-include src="'views/clusters/clusters-detail-overview.html'" class="cluster-contain container-fluid cards-pf">
    </div>

     <!-- SECOND TAB CONTENT -->
    <div ng-if="clusterdetail.isSet(clusterdetail.tabList.Hosts)">
        <host-list cluster-id="clusterdetail.id"></host-list>
    </div>

    <!-- THIRD TAB CONTENT -->
    <div ng-if="clusterdetail.isSet(clusterdetail.tabList.Pools)">
        <object-storage-list cluster-id="clusterdetail.id"></object-storage-list>
    </div>

    <!-- FOURTH TAB CONTENT -->
    <div ng-if="clusterdetail.isSet(clusterdetail.tabList.RBDs)" ng-include src="'views/clusters/clusters-detail-rbds.html'">
    </div>

    <!-- FIVTH TAB CONTENT -->
    <div ng-if="clusterdetail.isSet(clusterdetail.tabList.OSDs)">
        <osd-detail cluster-id="clusterdetail.id"></osd-detail>
    </div>

</div>
