<div class="cluster-overview-detail">
    <div class="row">
        <!-- Card Part -->
        <div class="col-xs-12 col-sm-6 col-md-9" style="min-height: 896px;">
            <!-- First row -->
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <h2 class="card-pf-title">
                                    <a href="">{{clusterdetail.capacity.used | bytes }} Used</a>
                                    <p><small>of {{clusterdetail.capacity.total | bytes}} Total</small></p>
                                </h2>
                                <div class="card-pf-body">
                                    <div ng-if="clusterdetail.clusterUtilization.data.total > 0">
                                        <div pf-donut-pct-chart config="clusterdetail.clusterUtilization.config" data="clusterdetail.clusterUtilization.data" center-label="clusterdetail.clusterUtilization.label"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-7">
                                <div class="cluster-utilization">
                                    <div class="margin-for-storage-profile">
                                        <div pf-utilization-bar-chart chart-data="clusterdetail.utilizationByProfile.data" chart-title="clusterdetail.utilizationByProfile.title" layout="clusterdetail.utilizationByProfile.layout"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- First row end-->

            <!-- Second row -->
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <a href="">{{clusterdetail.hosts.total}} Hosts</a>
                        </h2>
                        <div class="card-pf-body">
                            <p class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.hosts.error>0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <span>{{clusterdetail.hosts.error}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.hosts.error===0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-ok"></span></a>
                                </span>
                                <span class="card-pf-aggregate-status-notification" ng-if="clusterdetail.hosts.unaccepted>0"><a href="">{{clusterdetail.hosts.unaccepted}}
                                </a><small class="status-notification">To Accept</small></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <a href="">{{clusterdetail.monitors.total}} Monitors</a>
                        </h2>
                        <div class="card-pf-body">
                            <p class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.monitors.error>0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <span>{{clusterdetail.monitors.error}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.monitors.error===0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-ok"></span></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <a href="">{{clusterdetail.pgs.total}} PGs</a>
                        </h2>
                        <div class="card-pf-body">
                            <p class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.pgs.error>0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <span>{{clusterdetail.pgs.error}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.pgs.error===0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-ok"></span></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- Second row end -->

            <!-- Third row -->
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <a href="">{{clusterdetail.pools.total}} Pools</a>
                        </h2>
                        <div class="card-pf-body">
                            <p class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.pools.down>0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon-error-circle-o"></span>
                                    <span>{{clusterdetail.pools.down}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.pools.down===0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-ok"></span></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <a href="">{{clusterdetail.osds.total}} OSDs</a>
                        </h2>
                        <div class="card-pf-body">
                            <p class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.osds.error>0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <span>{{clusterdetail.osds.error}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.osds.error===0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-ok"></span></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <h2 class="card-pf-title">
                            <a href="">{{clusterdetail.objects.total}} Objects</a>
                        </h2>
                        <div class="card-pf-body">
                            <p class="card-pf-aggregate-status-notifications">
                                <span ng-if="clusterdetail.objects.error>0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <span>{{clusterdetail.objects.error}}</span></a>
                                </span>
                                <span ng-if="clusterdetail.objects.error===0" class="card-pf-aggregate-status-notification"><a href="">
                                    <span class="pficon pficon-ok"></span></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- Third row end-->

            <!-- Fourth row -->
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <span class="pull-left system-performance">System Performance</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7">
                                <span class="pull-right time-slot">
                                    <span class="add-cursor-pointer" data-animation="am-flip-x" data-template="views/clusters/cluster-time-slot-dropdown.tpl.html" bs-dropdown="ellipsis">{{clusterdetail.selectedTimeSlot.name}}<b class="caret"></b>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card-pf-body">
                                    <center><label>CPU</label></center>
                                    <div ng-if="clusterdetail.systemUtilization.cpu.data.total > 0">
                                        <div pf-donut-pct-chart config="clusterdetail.systemUtilization.cpu.config" data="clusterdetail.systemUtilization.cpu.data" center-label="clusterdetail.systemUtilization.cpu.label">
                                        </div>
                                    </div>
                                    <div pf-sparkline-chart config="clusterdetail.trendsCharts.cpu.config" chart-data="clusterdetail.trendsCharts.cpu.data">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card-pf-body">
                                    <center><label>Memory</label></center>
                                    <div ng-if="clusterdetail.systemUtilization.memory.data.total > 0">
                                        <div pf-donut-pct-chart config="clusterdetail.systemUtilization.memory.config" data="clusterdetail.systemUtilization.memory.data" center-label="clusterdetail.systemUtilization.memory.label">
                                        </div>
                                    </div>
                                    <div pf-sparkline-chart config="clusterdetail.trendsCharts.memory.config" chart-data="clusterdetail.trendsCharts.memory.data">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="card-pf-body">
                                    <div pf-trends-chart config="clusterdetail.trendsCharts.iops.config" chart-data="clusterdetail.trendsCharts.iops.data"></div>
                                </div>
                                <div class="card-pf-body">
                                    <div pf-trends-chart config="clusterdetail.trendsCharts.throughput.config" chart-data="clusterdetail.trendsCharts.throughput.data"></div>
                                </div>
                                <div class="card-pf-body">
                                    <div pf-trends-chart config="clusterdetail.trendsCharts.latency.config" chart-data="clusterdetail.trendsCharts.latency.data"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Fourth row end -->

        </div>

        <!-- Utilization SideBar -->
        <div class="col-xs-12 col-sm-6 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 896px;">
            <div class="row row-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="card-pf" ng-if="clusterdetail.mostUsedPools.length>0">
                        <div class="card-pf-heading">
                            <h2 class="card-pf-title">
                                Most Used Pools
                            </h2>
                        </div>
                        <div class="card-pf-body">
                            <div ng-repeat="data in clusterdetail.mostUsedPools" pf-utilization-bar-chart chart-data="data.data" chart-title="data.title" threshold-error="85" threshold-warning="60" layout=layoutInline footer-label-format='percent'>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- End of Fisrt Big row -->
</div>
