<div class="cluster-detail">
    <div>
        <ol class="breadcrumb custom-breadcrumb">
            <li><a ng-href="#/clusters">Clusters</a></li>
            <li>
                <span ng-if="clusterdetail.cluster.enabled && clusterdetail.cluster.status===0" class="pficon pficon-ok"></span>
                <span ng-if="clusterdetail.cluster.enabled && clusterdetail.cluster.status===1" class="pficon pficon-warning-triangle-o"></span>
                <span ng-if="clusterdetail.cluster.enabled && clusterdetail.cluster.status===2" class="pficon pficon-error-circle-o"></span>
                <span ng-if="clusterdetail.clusterList.length > 1" class="add-cursor-pointer" data-animation="am-flip-x" data-template="views/clusters/cluster-list-menu-dropdown.tpl.html" bs-dropdown="ellipsis">
                    {{clusterdetail.cluster.name}}  <b class="caret"></b>
                </span>
                <span ng-if="clusterdetail.clusterList.length === 1">
                    {{clusterdetail.cluster.name}}
                </span>
            </li>
        </ol>
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in clusterdetail.tabList" ng-class="clusterdetail.isSet($index)? 'active':''">
                <a href ng-click="clusterdetail.setTab($index)" ng-bind="tab.tabName">
                </a>
            </li>
        </ul>
    </div>

    <!-- FIRST TAB CONTENT -->
    <div ng-show="clusterdetail.isSet(0)" class="cluster-contain container-fluid cards-pf">
        <!-- Fisrt Big row -->
        <div class="row">
            <!-- Card Part -->
            <div class="col-xs-12 col-sm-6 col-md-9" style="min-height: 896px;">
                <!-- First row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    <h2 class="card-pf-title">
                                        <a href="#">{{clusterdetail.capacity.used}} Used</a>
                                        <p><small>of {{clusterdetail.capacity.total}} Total</small></p>
                                    </h2>
                                    <div class="card-pf-body">
                                        <div ng-if="clusterdetail.clusterUtilization.data.total > 0">
                                            <div pf-donut-pct-chart config="clusterdetail.clusterUtilization.config" data="clusterdetail.clusterUtilization.data" center-label="clusterdetail.clusterUtilization.label"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-7">
                                    <div class="cluster-utilization">
                                        <div class="margin-for-storage-type">
                                            <div pf-utilization-bar-chart chart-data="clusterdetail.utilizationByType.data" chart-title="clusterdetail.utilizationByType.title" layout="clusterdetail.utilizationByType.layout"></div>
                                        </div>
                                        <div class="margin-for-storage-profile">
                                            <div pf-utilization-bar-chart chart-data="clusterdetail.utilizationByProfile.data" chart-title="clusterdetail.utilizationByProfile.title" layout="clusterdetail.utilizationByProfile.layout"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- First row end-->

                <!-- Second row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="#">{{clusterdetail.hosts.total}} Hosts</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="clusterdetail.hosts.critical>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{clusterdetail.hosts.critical}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.hosts.warning>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{clusterdetail.hosts.warning}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.hosts.critical===0 && clusterdetail.hosts.warning===0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                    <span class="card-pf-aggregate-status-notification"><a href="#">{{clusterdetail.discoveredHostsLength}}
                                    </a><small class="status-notification">To Accept</small></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="#">{{clusterdetail.monitors.total}} Monitors</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="clusterdetail.monitors.critical>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{clusterdetail.monitors.critical}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.monitors.warning>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{clusterdetail.monitors.warning}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.monitors.critical===0 && clusterdetail.monitors.warning===0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="#">{{clusterdetail.pgs.total}} PGs</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="clusterdetail.pgs.critical>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{clusterdetail.pgs.critical}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.pgs.warning>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{clusterdetail.pgs.warning}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.pgs.critical===0 && clusterdetail.pgs.warning===0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- Second row end -->

                <!-- Third row -->
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="#">{{clusterdetail.pools.total}} Pools</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="clusterdetail.pools.critical>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon-error-circle-o"></span>
                                        <span>{{clusterdetail.pools.critical}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.pools.warning>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{clusterdetail.pools.warning}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.pools.critical===0 && clusterdetail.pools.warning===0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                    <span class="card-pf-aggregate-status-notification"><a href="#">1 
                                    </a><small class="status-notification">Near Full</small></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="#">{{clusterdetail.osds.total}} OSDs</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="clusterdetail.osds.critical>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{clusterdetail.osds.critical}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.osds.warning>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{clusterdetail.osds.warning}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.osds.critical===0 && clusterdetail.osds.warning===0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="card-pf card-pf-aggregate-status card-pf-with-action">
                            <h2 class="card-pf-title">
                                <a href="#">{{clusterdetail.objects.total}} Objects</a>
                            </h2>
                            <div class="card-pf-body">
                                <p class="card-pf-aggregate-status-notifications">
                                    <span ng-if="clusterdetail.objects.critical>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>{{clusterdetail.objects.critical}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.objects.warning>0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>{{clusterdetail.objects.warning}}</span></a>
                                    </span>
                                    <span ng-if="clusterdetail.objects.critical===0 && clusterdetail.objects.warning===0" class="card-pf-aggregate-status-notification"><a href="#">
                                        <span class="pficon pficon-ok"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- Third row end-->

            </div>

            <!-- Utilization SideBar -->
            <div class="col-xs-12 col-sm-6 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 896px;">
                <div class="row row-cards-pf">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="card-pf">
                            <div class="card-pf-heading">
                                <h2 class="card-pf-title">
                                    Open Stack
                                </h2>
                            </div>
                            <div class="card-pf-body">
                                <div ng-repeat="data in clusterdetail.openStackPools" pf-utilization-bar-chart chart-data="data.data" chart-title="data.title" units="data.units" threshold-error="85" threshold-warning="60">
                                </div>
                            </div>
                        </div>

                        <div class="card-pf">
                            <div class="card-pf-heading">
                                <h2 class="card-pf-title">
                                    Most Used Pools
                                </h2>
                            </div>
                            <div class="card-pf-body">
                                <div ng-repeat="data in clusterdetail.mostUsedPools" pf-utilization-bar-chart chart-data="data.data" chart-title="data.title" units="data.units" threshold-error="85" threshold-warning="60">
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- /row -->
            </div>
        </div><!-- End of Fisrt Big row -->
    </div>

    <!-- TODO -->
    <!-- SECOND TAB CONTENT -->
    <div ng-show="clusterdetail.isSet(1)">
        Second tab
    </div>

    <!-- THIRD TAB CONTENT -->
    <div ng-show="clusterdetail.isSet(2)">
        Third tab
    </div>

    <!-- FOURTH TAB CONTENT -->
    <div ng-show="clusterdetail.isSet(3)">
        Fourth tab
    </div>

</div>
